/* This css is based on a MORE (5 for the moment) IN ONE principle*/
/******************************************/
/* Active-css:GREEN; /*BROWN*/ /* DARK GREEN*/ /* BLUE-WHITE*/ /*INDIGO*/

	body {
		margin:0em;
		padding:0em;
		font-family:verdana, sans-serif, arial;
		color:#333333; /*#333333*/ /*#333333*/ /*#666666*/ /*#333333*/
		background-color:#ffffff; /*#ffffff*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/
		font-size: 95%;
	}

	a {
		color:#336633; /*#003366*/ /*#003399*/ /* #0f75b3*/ /*#286185*/
		text-decoration: underline;
	}
	a:hover {
		text-decoration: none;
	}

	a:visited {
		color:#883746; /*#878756*/ /*#883746*/ /* #5C9B98*/ /*#54386B*/
	}

	/* Table styles */

	table {
		empty-cells: show;
	}

	table.bordered {
		border:3px solid #F3F3F3;
	}

	caption {
		text-align: left;
		text-transform: capitalize;
		padding-left: 1em;
		padding-bottom: 1px;
		border-bottom: 2px solid white;
		color: #666666;
	}

	caption span {
		font-weight: bold; 
	}

	th{
		background-color: #cfe0b4; /*#d5d7be*/ /*#d5d7bf*/ /*#6dabd0*/ /* #e5e5e5*/
		color:#333333; /*#333333*/ /* #333333*/ /*#ffffff*/ /*#333333*/
		padding: 0.3em 0.2em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
	}

	thead {
		height: 1.6em;
	}

	thead tr { 
		height: 2em;
	}

	thead td {
		border-bottom: 0px;
	}

	tbody {}
	tfoot {}

	#content_info td {
		/*border-bottom:1px solid #E8E8E8;*/
		vertical-align:top;
	}

	/* End table styles */

	legend {
		font-weight: bold;
	}

	a img{
		border:0em;
	}

	h1{
		margin-top: 0.8em;
	
		color:#ff8800; /*#7e8c37*/ /*#7e8c37*/ /* #ff9900*/ /*#8da559*/
		font-family: arial, sans-serif;
		font-size: 1.9em;
		font-weight: bold;
	}

	h1 img{
		vertical-align: middle;
	}

	h2{
		
		color:#ff8800; /*#7e8c37*/ /*#7e8c37*/ /* #ff9900*/ /*#8da559*/
		font-family: arial, sans-serif;
		font-size: 1.6em;
		font-weight: bold;
	}

	h3{
		
		color:#ff8800; /*#7e8c37*/ /*#7e8c37*/ /* #ff9900*/ /*#8da559*/
		font-family: arial, sans-serif;
		font-size: 1.3em;
	}

	a.skiplink {
		display: none;
	}

	a.but:hover {
	
	}

	#header {
		/*background-color:#eeeeee; #eeeff0*/ /*#edf1e4*/ /*#edf1e4*/ /*#d5d7bf*/
	}


	#f_header {
		display: none;
	}

	#log_lang {
			clear:both; 
	
			background-color:#edf1e4; /*#edf1e4*/ /*#d5d7bf*/ /*#f0f0f0*/ /*#eeeff0*/
		/*	vertical-align: middle;*/
			padding-top: 2px;

			margin-bottom: 10px;
	}

	#nav1{
		/**/
		background-color: #ffffff;  /* #ffffff*/ /* #ffffff*/ /* #ffffff*/ /*#ffffff*/
		margin-bottom: 2px; 
		padding-bottom:3px;
		border-bottom: 4px solid #ff8800; /* 4px solid #7e8c37*/ /* 4px solid #cccccc*/ /* 4px solid #cccccc*/ /* 4px solid #99cc33*/
		font-size:0.75em;
		}

		#nav1 ul {
		width: 100%;
		margin:0;
		padding:0;
		border-bottom: 1px solid #ff8800; /* 1px solid #7e8c37*/ /* 1px solid #cccccc*/ /* 1px solid #cccccc*/ /* 1px solid #99cc33*/
		padding-bottom: 10px;
		}

		#nav1 li {

		display: inline;
		border-right: 1px solid #cccccc;
		padding:0em 0.2em 0 0.4em;
		line-height: 1.7em;
			/*	padding-left: 0px;
			margin-left: 40px;*/
			color:#ffffff; /*#66732d*/ /*#999999*/ /* #006cad*/ /* #ffffff*/
		}

		#nav1 acronym {
					border-bottom: 0;
				}

			#nav1 a {
				font-family:arial, sans-serif, verdana;
				color:#336633; /*#334400*/ /* */ /* #006cad*/ /*#53646e*/
				text-decoration: underline;
	

			}

			#nav1 a:hover {
				color:#666666; /*#666666*/ /*#666666*/ /* #666666*/ /*#6a8144*/
				text-decoration: underline;
			}



	#nav2{
		/**/
			clear: both;
		/*background-color:#ff9900;*/ /*#d3e188*/ /*transparent*/ /*#006cad*/ /* #99cc33*/
		background-color: #EDF1E4; /* #d9d8b9*/ /* */ /* #b8d6e8*/ /* #eeeff0*/
		margin-bottom: 2px; 
		padding-bottom:3px;

		
		}
		#nav2 ul {
		margin:0.5em 0;
		padding:0;
		}

		#nav2 li {
		margin-left: 20px;
			color: #637048; /* #343434*/ /* */ /* #006CAE*/ /* #637785*/
		}

		#nav2 acronym {
					border-bottom: 0;
				}

			#nav2 a {
				font-family:arial, sans-serif, verdana;
				font-size:0.8em;
				color: #637048; /* #343434*/ /* */ /* #006CAE*/ /* #637785*/
				text-decoration: underline;
	

			}

			#nav2 a:hover {
				color:#444444; /*#444444*/ /*#444444*/ /* #444444*/ /*#444444*/
			}

		#banner_logo{
			padding:0.2em;
			/*margin-top:0.3em;*/
			margin-top: 0;
			/*margin-right: 0.3em;
			margin-left: 0.3em;*/
			margin-right: 2px;
			margin-left: 2px;
		}

			#logo {
				float:left;
				margin-right: 1.5em;
			}
				#logo img{
					
					width:9.06em;
					
				}
			#banner{
				
				margin-left: 0em;
				background-color:#ffffff; /*#ffffff*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/
				
			}
				#banner_image{
					display: none;
				}

						

				#site-title{
					
					
					margin-top: 1em;
					padding:0.3em;
					font-family:arial, sans-serif;
					font-weight:bold;
					
				}
					#title_content{
						font-size:1.3em;
						color: #637048; /* #7e8c37*/ /* */ /* #006cad*/ /* #637785*/
					}

				#site-subtitle{
					
					
					padding:0.2em;
					color:#637048;; /* #7e8c37*/ /*#d5d7bf*/ /*#004066*/ /*#4e5f69*/
					font-family: arial, sans-serif;
					font-weight: bold;
					white-space: nowrap;
				}
					#subtitle_content{
						font-size:1em;
						color:#637048;; /* #7e8c37*/ /*#d5d7bf*/ /*#004066*/ /*#4e5f69*/
					}

		#user_id {
			
			
			padding: 0.5em 0em;
			font-size:0.7em;

		}
			#log1{
				color:#6a8144; /*#7e8c37*/ /*#7e8c37*/ /*#005a91*/ /* #637785*/
				font-weight:bold;
			}

			#log2{
				background-color:#6a8144; /*#7e8c37*/ /*#7e8c37*/ /*#ffaf5e*/ /*#637785*/
				
				padding: 0em 0.5em; /*0.1em 0.5em*/ /*0.1em 0.5em*/ /*0.1em 0.5em*/ /*0.1em 0.5em*/
				font-weight:bold;
				color:#ffffff; /*#ffffff*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/
			}
			#log3 a{
				color:#666666; /*#666666*/ /*#000000*/ /*#666666*/ /*#666666*/
				text-decoration:none;
			}
			#log3 a:hover{
				color:#333333; /*#333333*/ /*#333333*/ /*#333333*/ /*#333333*/
			}
		#language {
			background-color: #a6c574; /* #d3e188*/ /**/ /* #eaeaea*/ /* #abb8c1*/
			padding: 0.5em 0;
			border-bottom: 1px solid white;
		}
		
	
			#language label{
				
				color:#ffffff; /*#343434*/ /*#000000*/ /*#004499*/ /*#ffffff*/
				font-size:0.75em;
			}
			#language input{
				
				font-size:0.75em;
				border:1px solid #7f9db9; /*1px solid #999999*/ /*1px solid #7e8c37*/ /*1px solid #999999*/ /*1px solid #7f9db9*/
				margin-right:0.7em;
				background-color: #ffffff; /*#c6c6a5*/ /*#7e8c37*/ /*#ffffff*/ /* #ffffff*/
			}
			#language form{
				display:inline;
				margin-right:0.5em;
			}
			#language select{
				font-size:0.7em;
				width:12em;
				margin:0px;
			}
			#language div{
				display:inline;
			}

	td#center_cell {
		/*border-bottom:1px solid #d8d8d8; 1px solid #acb9c1*/ /*1px solid #cfe0b4*/ /*1px solid #d4e28c*/ /*1px solid #d3e189*/
		/*border-left:1px solid #d8d8d8; 1px solid #acb9c1*/ /*1px solid #cfe0b4*/ /*1px solid #d4e28c*/ /*1px solid #d3e189*/
		/*border-right:1px solid #d8d8d8; 1px solid #acb9c1*/ /*1px solid #cfe0b4*/ /*1px solid #d4e28c*/ /*1px solid #d3e189*/
		padding-bottom:4em;
		background-color:#ffffff; /*#ffffff*/ /*#EDF1E2*/ /*#ffffff*/ /*#ffffff*/
		padding-left: 1em;
	}

	#content{

	
		border-top:0px solid #637048; /*0px solid #ffffff*/ /*0px solid #ffffff*/ /*0px solid #ffffff*/ /* 0px solid #637785*/
		margin-right: 1px;
		padding:0em;
		background-color:#ffffff; /*#ffffff*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/
		/*old backgrounds*/		/*#eeeff0*/ /*#ecf2e1*/ /*#e4e4d6*/ /*#6a685b*/
	}



	#content_table{
		width: 99%;
	}

		#location-bar{
			
			right:0px;
			/*height:4em;*/
			/*height:2.2em;*/
			margin: 0.5em 0px 2em 0px;
			color:#333333; /*#343434*/ /*#dddddd*/ /*#666666*/ /*#333333*/
			/*background-color:#ffffff;*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/
			/*old backgrounds*/ /*#eeeff0*/ /*#ecf2e1*/ /*#e4e4d6*/ /*#6a685b*/
			font-size:0.65em;
			font-weight:bold;
			padding-bottom: 0.3em;
			border-bottom:1px dashed #ff9900; /*1px dashed #d3e188*/ /*1px dashed transparent*/ /* 1px dashed #006cad*/ /* 1px dashed #99cc33*/

		}

			
	#width_forcer{
		width:0px;
	}

	#location-bar a{
		color:#6a8144; /*#343434*/ /*#eef0ee*/ /*#0d679c*/ /*#6a8144*/
		text-decoration: none;
	}

	#location-bar a:hover{
		color:#99cc66; /*#676767*/ /*#ffffff*/ /*#004488*/ /*#99cc66*/
	}

	#location1{
		
		bottom: 0.3em;
		font-size:1.1em;
	/*	background-color:#ffffff;*/ /*#ffffff*/ /*#ffffff*/ /* #ffffff*/ /*#ffffff*/
		/*old background-colors */ /*#eeeff0*/ /*#ecf2e1*/ /*#e4e4d6*/ /*#6a685b*/
	}

	#location1 span {
		color:#A6C574; /*#7E8C37*/ /**/ /* #999999*/ /*#637785*/
		font-weight: normal;
		font-size: 105%;
		padding: 0px 2px;
	}

	#location_border_cover{
	display: none;


	}

	#content_info{
		font-size: 0.8em;
		/*border-top: 1px solid #d8d8d8; 1px solid #acb9c1*/ /*1px solid #cfe0b4*/ /*1px solid #d4e28c*/ /*1px solid #d3e189*/
		background-color:#ffffff; /*#ffffff*/ /*#EDF1E3 */ /* #ffffff*/ /*#ffffff*/
		padding-top: 0em;
		padding-left: 0em;
		padding-right: 0.8em;
	}


	td#left_cell1{
		height: 1px;
		width:9em;
	}
	td#left_cell2{
		width:9em;
		padding-top:0.2em;
		border-right: 1px dashed #bbd293; /* 1px dashed #d3e188*/ /* 1px dashed #cccccc*/ /* 1px dashed #cccccc*/ /* 1px dashed #cccccc*/
	}

	#search{
		/*float: right;*/
		clear: both;
		background-color: #a6c574; /* #d3e188*/ /**/ /* #eaeaea*/ /* #abb8c1*/
		padding: 0.5em 0;
	}

		#search form{
			display: inline;
			margin-right:0.5em;
		}

			#search label{
				
				color:#ffffff; /*#343434*/ /*#000000*/ /*#004499*/ /*#ffffff*/
				font-size:0.75em;
			}

			#search input{
				
				font-size:0.75em;
				border:1px solid #7f9db9; /*1px solid #999999*/ /*1px solid #7e8c37*/ /*1px solid #666666*/ /*1px solid #7f9db9*/
				margin-right:0.7em;
				background-color: #ffffff; /*#ffffff*/ /*#7e8c37*/ /*#ffffff*/ /* #ffffff*/
			}
			#search #sub{
			}

			#search #query{
				width:11em;
			}

	.title_story {
		left: 0px;
		top: 0px;
		padding-left: 7px;
			padding-top:3px;
			padding-bottom:8px;
		margin-bottom: 7px;
		border-left: 1px dashed #205295;
		font-weight: bold;
	}

	.title_story a {
		text-decoration: none;
	}

	.release_story {
		height: 12px;
		padding: 3px 5px;
		background-color: #E1E1E1;
		color: #333333;
		font-size: 0.9em;
		text-align: right;
	}

	.content_story {
		border-right: 1px solid #E1E1E1;
		margin-right: 2%;
	}

	.text_story {
		padding: 0.2em 0.2em 0.2em 0;
		text-align: justify;
		color: #333333;
	}
	*:first-child+html .text_story p {margin: 0 0 0.5em 0; }

	.bottom_border {
		margin-left: 2em;
		border-bottom: 1px solid #E1E1E1;
		clear: left;
	}

	.portlet_folder{
		display:block;
		background-color: #ffffff; /* #ffffff*/ /* #ffffff*/ /*#ffffff*/ /*#ffffff*/
		/*border-bottom:2px solid #cccccc; */ /**/ /**/ /**/
		padding:0em;
	}

	.portlet_folder div{
		/*background-color:#ffcc66; #abb8c1*/ /*#ff9900*/ /*#343434*/ /*#343434*/
		
		color: #637048; /* #343434*/ /* */ /* #006cad*/ /* #637785*/
		border-top:0px solid #ffffff; /*0px solid #ffffff*/ /*1px solid #343434*/ /*1px solid #ffffff*/ /*1px solid #ffffff*/
		
		font-size:0.8em;
		font-weight: bold;
		padding:0.1em 0em 0.1em 5px;
	}

	.portlet_folder div a {
			text-transform: uppercase;
	}
	.portlet_folder a{
		color: #637048; /* #7e8c37*/ /* */ /* #006cad*/ /* #637785*/
		text-decoration: underline;
	}

	.portlet_folder a:visited{
		color:#666666; /*#666666*/ /*#666666*/ /*#666666*/ /*#666666*/
	}

	.sub_folder ul{
		padding:0em;
		margin:0 0 0 1em ;
	}

	.sub_folder li{
		list-style-type: none;
		font-size:0.7em;
		/* border-bottom:1px solid #d8d8d8; 1px solid #aebac3*/ /*1px solid #cfe0b4*/ /*1px solid #d3e188*/ /*1px solid #d3e189*/
	}

	.sub_folder a{
		color:#494949; /*#2f2d21*/ /*#2f212d*/ /*#494949*/ /*#637785*/
		text-decoration: underline;
}

	.sub_folder a:hover{
		color:#666666; /*#555555*/ /*#58712f*/ /*#666666*/ /*#555555*/
	}

	.sub_folder a:visited{
		color:#999999; /*#666666*/ /*#999999*/ /* #999999*/ /*#999999*/
	}
/* right portlets used to stay here*/
	.middle-portlet{
		display: block;
		/*border: 2px solid #ffffff;*/
		padding: 0em;
		padding-bottom: 0.2em;
		margin-bottom: 1em;
	}

	.middle-portlet-footer{
		text-align: right;
		font-size: 0.9em;
		margin-right: 20px;
		padding-right: 16px;
	}
	.middle-portlet-footer a{
		text-decoration:none;
		color: #999999;
	}
	.middle-portlet-footer a:visited{
		color: #999999;
	}

	.middle-portlet h4{
		background-color:#dae4c5;  /*#d3e188*/ /*#edf1e3*/ /*#dcebf4*/ /*#abb8c1*/
		color:#637048; /*#66732d*/ /*#edf1e3*/ /* #006cad*/ /*#ffffff*/
		font-size: 1.1em;
		padding-top: 0em;
		padding-left: 18px;
		padding-right: 0.6em;
		margin-top: 0em;
		margin-bottom: 0.4em;
		font-weight: bold;
		line-height: 1.6em;
		border-bottom: 2px solid #ffffff;
		background-image: url("portlet-middle-bullet.gif");
		background-repeat: no-repeat;
		background-position: 5px 40%;
	}

	.center-portlet-content{
		padding: 0em 0em;
	}

	.middle-portlet ul{	
		list-style-type: none;
		margin: 0.5em 0em 0em 0em;
		padding: 0em;
	}
	.middle-portlet li{
		margin: 0.4em 0em;
		padding: 0;
	}

	#copyright{
		background-color:#ffffff; /*#ffffff*/ /*#ffffff*/ /*#ffffff*/ /*#ffffff*/
		/*old backgrounds*/ /*#eeeff0*/ /*#ecf2e1*/ /*#e4e4d6*/ /*#6a685b*/
		color:#333333;/*#847f44*/ /*#edf1e3*/ /*#666666*/ /*#333333*/
		font-size:0.7em;
		padding:1em 0em;
	}

	#footer{
		font-size:0.8em;
		padding:0.5em 0em;
		border-top: 1px solid #637048; /*1px solid #ffffff*/ /*0px solid #ffffff*/ /*1px solid #cccccc*/ /*1px solid #ffffff*/
		background-color:#bbd293; /*#c1c19d*/ /*#d5d7bf*/ /*#eeeeee*/ /*#abb8c1*/
		color:#666666; /*#ffffff*/ /*#6a685b*/ /*#333333*/ /*#ffffff*/
	}

	#footer a{
		color:#333333; /*#ffffff*/ /*#333333*/ /*#333333*/ /* #ffffff*/
	}

	#footer a:visited{
		color:#333333; /*#ffffff*/ /*#333333*/ /*#333333*/ /* #ffffff*/
	}

	.horizlist{
		padding-bottom:0.5em;
	}

	.horizlist ul {
	
	}

	.horizlist li {
	
	}

	.horizlist a {
		font-size:0.85em;
		color:#666666; /*#ffffff*/ /*#576226*/ /*#333333*/ /*#ffffff*/
	}

	.horizlist a:hover {
		color:#333333; /*#ffffff*/ /*#223300*/ /*#777777*/ /*#eeeeee*/
		text-decoration:none;
	}








