#tagCloud {
  text-align: center;
  padding: 5px;
  overflow: auto;
  font-size: 70%;
}

#tagCloud h2 {
  font-size: 2.5em;
  margin: 0 0 10px 0;
  padding: 15px 0 15px 0px;
}

#tagList {
  margin: 0;
  padding: 0;
}

#tagList li {
  list-style-type: none;
  float: left;
  margin: 0 10px;
  height: 35px;
}

#tagList li a { text-decoration: none; }
#tagList li a:hover { text-decoration: underline; }
