<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>

body {
}

.topleft {
	float: left;
}

.topleft img {
	margin-right: 20px;
}
.logobis {
	float: right;
}
.logobis img { 
	margin: 5px;
	width: 190px; 
	height: 50px;
}
.sitetitle {
	font-size: 1.3em;
	color:#4b7db2;
	font-weight:bold;
	}
.sitesubtitle {
	font-size: 0.7em;
	position:relative;
	left:0;
	color:#666666;
	font-weight:bold;
	padding-bottom: 1em;
	}

.topmenu {display: none;}
#nav_upper {display: none;}
#bread_crumb_trail {display: none;}
#admin_this_folder, #toolbar { display: none;}


th{
	background-color:#6dabd0;
	color:#ffffff;
	padding: 0.3em 0.2em;
	border-right: 1px solid #ddebf4;
	}

a.skiplink {
	display: none;
	}

td#center_cell {
	border:none;
	padding: 0em;
	background-color: #ffffff;
	}

#content{
	clear: both;
	margin-right: 1em;
	padding-right:0em;
	background-color: #ffffff;
	}

#content_table{
	margin-right:0.0em;
	}

#location-bar{
	display: none;
	}

#content_info{
	font-size:0.8em;
	border: 0em;
	padding: 0em;
	background-color:#ffffff;
	}

td#left_cell1{
	}

td#left_cell2{
	}
#search{
	display:none;
	}

#left_port{
	display:none;
	}

td#right_cell2{
}

#right_location{
	display:none;
	}

#copyright{
	background-color:#ffffff;
	color:#666666;
	font-size:0.7em;
	padding:5em 0em 0.6em 0em;
	}
	

#footer{
	display:none;
	}

.skiplink,#nav_upper,#banner_images,#nav_main,#bar_divided,.right_forcer {
	display: none;
}

#middle_right_port {
	/*top: 170px;*/
	}

.middle_port {
	background-color: white;
	}

.pbreak {
	page-break-before: always;
	border: 1px solid white;
	background-color: white;
	}

#right_port {
	display: none; 
	}


#calendar-container a:visited {
	color: white;
	text-decoration: none;
	}

.middle-portlet {
	border:1px solid white;
	margin-top: 10px;
}

.middle-portlet h4 {
	color:#557595;
}

.middle-portlet ul {
	list-style:none;
	margin: 5px 0px 5px 10px;
	padding: 0;
}

.message-information {display: none;}
