<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>
/* COMMENT VAR  indicates that the following style attributes are to be changed for the ARABIC version */
#main_structure {
	position: absolute;
	padding:0;
	top: 0;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	margin: 0;
	width: 100%;
}
#main_structure_ie_fixer{ position: relative; }

body {
	padding: 0 2%;
	margin: 0;
	background-color: white;
	font-size: 75%;
	font-family: Verdana, Arial, Helvetica,sans-serif, "MS sans serif";
}
th {
	background-color: #f0f0f0;
	text-align:left;
	vertical-align: top;
}
td input {
	margin:0;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
}
table h1 {
	position:relative;
}
h1 {
	margin-top: 0px;
	position:relative;
	font-family: "Times New Roman", Times, serif;
	font-size: 260%;
	color: #227AAB;
	font-weight: normal;
	border-bottom: 1px solid #DEEAF3;
	padding-bottom: 5px;
}
h1 span {color: #7CAE31;}
h1 img {
	display: none;
}
h4 {
	position: relative;
	margin: 0;
}
h5 {
	position: relative;
	margin: 0;
}
a img {
	border: 0;
}
a {
	/* color: #557ba1;*/
}
a:visited {
	/* color: #557ba1;*/
}
input, select {
	font-size: 90%;
	vertical-align: middle;
}
fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding: 0 10px;
	color: #444;
}
.skiplink {
	display: none;
}
/* First navigation menu */
#nav_upper {
	text-align: right;
	height: 30px;
	width: 100%;
	font-size: 80%;
	color: #000;
	background-color: #ffffff;
	border-bottom: 4px solid #6f7072;
	vertical-align: middle;
}
#nav_upper a, #nav_upper a:visited {
	display:inline-block;
	height: 16px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	padding: 3px 0.5em 1px 0.5em;
	border-right: 1px dotted #6f7072;
}
#nav_upper form {
	display:inline;
	vertical-align: middle;
}
#nav_upper label {
	display:inline-block;
	height: 16px;
	padding: 3px 0 1px 0;
	vertical-align: middle;
}
#nav_upper div {
	margin: 0;
	margin-right:4px;
	padding:0;
	list-style:none;
	display:block;
	position:relative;
}
#nav_upper img {
	vertical-align: middle;
}
#nav_upper input {
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
#nav_upper_log img {
	vertical-align:middle;
}
#nav_upper_log {
	float: left;
	z-index: 1000;
}
.clearing_div_top {
	display: none; /* define only for RTL */
}
.clearing_div {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}
/* EW specific classes */
#outer_wrapper {
}
#container {
	width: 100%;
	height: auto;
	/*background: url(dot-bg.gif) repeat-y 81.5%;*/
	margin: 0px auto;
	padding-top: 5px;
	color: #333;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
/* Switch to/from full screen mode */
#fs_hide {
	display: none;
}
#outer_wrapper_fs {
	background-image: none;
}
.fullscreen #left_port {
	display: none;
}
.fullscreen #main_structure {
	/*width: 98.2%;
	margin-left: 0.8%;*/
}
.fullscreen #nav_upper span #fs_show {
	background:transparent url(misc_/Naaya/fullscreencollapse_icon.gif) no-repeat scroll left center;
	padding:3px 0.5em 1px 16px;
	width: 30px;
}
#nav_upper span #fs_show {
	background:transparent url(misc_/Naaya/fullscreenexpand_icon.gif) no-repeat scroll left center;
	padding:5px 0.5em 1px 16px;
	margin-top: 2px;
}
#middle_right_port_fs {
	margin:0px 0px 10px 10px;
}
/* End full screen mode */
/* blue banner - logos and site title(s) */
.topban {
	height: 102px;
	background-color: #3978ac;
	color: #ffffff;
	border-top: 1px solid #4b5257;
	background: #3978ac url('ew-header.jpg') repeat-y top right;
}
.topban a {
	border: none;
}
.topleft {
	float: left;
	margin: 2em;
}
.topright {
	margin-right: 1em;
	position: relative;
}
.toptitle {
	border: 0;
}
.sitetitle {
	color: #feffff;
	padding-left: 25px;
	padding-top: 10px;
	font-size: 200%;
	font-weight: bold;
	font-variant: small-caps;
	margin-top: 0.7em;
}
.sitesubtitle {
	color: #feffff;
	/*padding-left: 25px;*/
	font-weight: bold;
	font-size: 120%;
	margin: 0;
	padding-top: 0;
}
#site_logo {
	float: left;
	width: 170px;
	margin-top: 10px;
}
#site_logo img {
	margin-left: 21px;
}
.logobis {
	float: right;
	margin-right: 0;
	margin-top: 0;
	vertical-align: middle;
}
/* end blue banner */
/* main categories and search bar */
#menunav {
	background: url("menunav-bg.jpg") repeat-y top right #7cae31;
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:100%;
	height: 2.3em;
	padding: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	white-space: nowrap;
}
#menunav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menunav a {
	position: relative;
	text-transform: uppercase;
	padding: 0 0.5em;
	/*border-right: 1px dotted #ffffff;*/
	color: #feffff;
	z-index: 11; /* Bug in IE6, IE7 */
	display: inline; /**/
}
#menunav a, #menunav a:visited {
	display: block;
	text-decoration: none;
	padding: 0.1em 0.5em;
	color: #feffff;
	height: 2.3em;
	line-height: 2.3em;
	font-weight: bold;
	display: inline; /**/
}
.topmenu .menuitem {
	float: left;
	border-left: 1px solid #DFF0C6;
	display: inline; /**/
}
#menunav .menuitem a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px 9px 0px 6px;
	display: inline; /**/
}
/* Top drop down menu */
ul.topnav_menu {
	position: absolute;
	top: auto;
	left: auto;
	background-color: #87aac6;
	color: white;
	display: none;
	list-style-type: none;
	padding: 0;
	margin-top: 2em;
	margin-left: 0;
	z-index: 101;
}
ul.topnav_menu li {
	border-bottom: 1px dotted #9bc0dd;
	border-left: 1px dotted #9bc0dd;
	border-right: 1px dotted #9bc0dd;
}
ul.topnav_menu li:hover, ul.topnav_menu li.sfhover {
	background-color: #7cae31;
}
ul.topnav_menu li a {
	display: block;
	border-right: 0;
}
div.menuitem:hover ul, div.menuitem.sfhover ul, div.menuitem a {display: block;}
/* end Top drop down menu */
#search {
	padding:  0.1em 0 0 0;
	margin: 0;
	display: inline;
}
#search label {
	padding-left: 1.2em;
	color: #333;
}
* html #search label {
	margin-top: -1em;
}
* html #search input {
	font-size: 100% !important;
}
#search input {
	width: 19em;
	height: 13px;
	z-index: 12;
}
#go_search {
	width: 3em !important;
	height: 16px !important;
	margin-right: 0.5em;
	text-align: center;
	border: 1px solid #333;
	background:#fff;
}
#search form {
	margin:0;
	float: right;
}
/* left portlets */
#left_port {
	position: absolute;
	left:0px;
	width: 180px;
	font-size: 95%;
	top: 2.5em;
	/* ew
	margin: 0;
	padding: 0;
	width: 17%;
	float: left;
	*/
}
#left_port ul {
	list-style: none;
	padding: 0;
	color: #222;
/* var */
	margin:0px 5px 0px 8px;
}
#left_port ul a {
	text-decoration: none;
	color: #227AAB;
}
#left_port ul li {
	background-repeat: no-repeat;
	background-image: url(bck_li.gif);
	border-bottom: 1px solid white;
/* var */
	margin:0 0 5px 0;
	padding: 0 0 5px 29px;
	background-position: left 2px;
}
.left_port_title {
	font-family: Verdana, Arial, sans-serif;
	border: 1px solid #ddd;
	font-weight: bold;
	background: #f3f3f3;
	color: #7CAE31;
	font-size: 90%;
	margin: 0px 7px 12px 6px;
	padding: 0.6em 0.5em 0.6em 0.5em;
	text-transform: uppercase;
	border-right: 1px dotted #666666;
}
.left_port_title a {
	color: #222; /*#7CAE31;*/
	text-decoration: none;
}
.left_port_title a:visited{
	color: #7CAE31;
	text-decoration: none;
}
.portlet_folder {
	border-right: 1px dotted #666666;
}
.left_port ul {
	background: #fff;
	list-style-type: none;
	list-style-image: none;
	padding-left: 0;
	margin: 0 0 5px 0;
}
.left_port ul li{
	padding: 0.3em;
	color: #084173;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 90%;
	line-height: 100%;
	vertical-align: bottom;
	margin: 0px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #ddd;
	display: inline-block; /* fix for IE peek-a-boo bug */
}
/* Left side navigation dropdown menu */
ul.left_side_navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px; /* Width of Menu Items */
	}
ul.left_side_navigation li:hover {
	background: #9bc0dd !important;
	color: white !important;
	}
/* IE6 Fix*/
ul.left_side_navigation li.sfhover {
	background: #9bc0dd !important;
	color: white !important;
}
ul.left_side_navigation li.sfhover a {color: white !important;}
ul.left_side_navigation li:hover a {color: white !important;}
ul.left_side_navigation ul li {
	position: relative;
}
ul.left_side_navigation li ul {
	position: absolute;
	left: 153px;
	top: auto;
	display: none;
	background: #9bc0dd;
	margin-top: -13px !important;
}
ul.left_side_navigation li ul li {
	background-image: none !important;
	padding-left: 1.5em !important;
	padding-right: 1em !important;
}
/* Styles for Menu Items */
ul.left_side_navigation ul li a {
	display: block;
	text-decoration: none;
	background: #9bc0dd;
	font-weight: normal;
	color: white !important;
}
/* Holly Hack. IE Requirement \*/
ul.left_side_navigation html ul li { float: left; height: 1%; }
ul.left_side_navigation html ul li a { height: 1%; }
ul.left_side_navigation li:hover ul, ul.left_side_navigation li.sfhover ul { display: block; } /* The magic */
/* End left side navigation dropdown menu */
/*breadcrumbs */
#bread_crumb_trail {
	color: #7d7d7d;
	padding: 1px 0px 1px 1em;
	line-height: 2.3em;
	border-bottom: 1px dotted rgb(143,167,113);
	background: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	clear:left;
}
#bread_crumb_trail a{
	font-weight: bold;
	color: #888;
	text-decoration: none;
}
#bread_crumb_trail a:hover{
	font-weight: bold;
	color: black;
	text-decoration: underline;
}
/* the actual content part */
#middle_right_port {
	margin:0px 0px 10px 193px;
	min-height: 45em;
	/*width: 100%;*/
}
.middle-portlet {
	border:1px solid white;
	margin-top: 2px;
}
.middle-portlet h4 {
	border-bottom:1px solid #cbcbcb;
	padding-bottom: 2px;
	color:#557595;
}
.middle-portlet ul {
	list-style:none;
	margin: 5px 0px 5px 10px;
	padding: 0;
}
.middle-portlet li {
	padding-bottom: 2px;
}
ul.nostyle {
	list-style:none;
	margin: 0;
	padding: 0;
}
ul.nostyle li {
	margin: 0;
	padding: 0;
}
.list_of_images {
	list-style:none;
	margin:0;
	padding:0;
}
.list_of_images li {
	display:inline;
}
.list_of_images .image_block {
	white-space:nowrap;
}
.list_of_images input {
	vertical-align:top;
}
.list_of_images img {
	vertical-align:middle;
	width: 91px;
	height: 69px;
	margin: 0px 10px 10px 0px;
}
/* Right portlets */
#right_port {
	position:relative;
	top: 0px;
	right: 2px;
	float: right;
	clear: right;
	background-color: white;
	width: 157px; /* to be changed */
	font-size: 95%;
	min-height: 50em;
}
.right_portlet {
	margin-bottom: 10px;
	border: 1px solid white;
	width: 157px;
}
.right_portlet_tile {
	position: relative;
	background-color: #9BC0DD;
	color: white;
	font-weight: bold;
	font-size: 95%;
	padding: 2px 0px 3px 0px;
	text-indent: 14px;
}
/*.right_portlet_tile img {
	display: none;
}*/
.right_portlet_body {
	position: relative;
	z-index: 1;
	background-color: #EAF1F7;
	border-top: 2px solid white;
	padding: 5px 0px;
}
.right_portlet ul {
	list-style: none;
	padding: 0;
	color: #227AAB;
/* var */
	margin:0px 13px 5px 7px;
}
.right_portlet li {
	background-repeat: no-repeat;
	background-image: url(bck_li.gif);
	border-bottom: 1px solid white;
/* var */
	margin:0px 0 5px 0;	
	padding: 0 0 5px 21px;
	background-position: -4px 2px;
}
.right_portlet li img {
	display: none;
}
.right_portlet a {
	text-decoration: none;
	color: #227AAB;
}
.right_portlet a:visited {
}
.right_portlet .icoxml {
/* var */
	margin: 6px 12px 4px 12px;
	text-align: right;
}
/* End right portlets */
/* footer */
.right_forcer {
	float:right;
	font-size:0.1em;
	line-height:0;
	height:0;
	border:1px solid white;
}
#site_footer {
	clear: both;
	margin-top: 60px;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #C0D8E9;
	text-align: left;
	vertical-align: middle;
	padding:0 0 0.5em 0;
	background: #eee;
	font-size: 90%;
}
#footer {
	padding: 4px 5px 0px 0px;
	margin: 10px 10px 15px 15px;
}
#footer ul {
	list-style-type: none;
	margin:0;
	padding:0px;
	padding-left:5px;
	text-indent: 0em;
	color: #3978AC;
}
#footer li {
	display: inline;
	border-right: 1px solid white;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
#footer a {
	color: #3978AC;
}
#site_update{
	margin-bottom:5px;
	margin-top: 3em;
	padding-left:5px;
	font-size: 90%;
}
/* request role styles */
.request_role {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding-bottom: 1em;
	background: #fff;
}
.request_role h2 {
	color: #669933;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.request_role div p {
	border: 1px solid #ddd;
	padding: 0.5em;
}
.request_role .input_submit {
	padding: 0.2em 0.5em;
	border: 1px solid #ccc;
	background: #fafafa;
}
* html .request_role .input_submit {
	padding: 0 !important;
}
.request_role h3 {	
	color: #000;
	font-weight: bold;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
* html .request_role form {
	padding: 0;
	margin: 0;
}
.request_role fieldset {
	margin: 0;
	padding: 0;
}
.request_role .existing_acc {
	border-top: 1px solid #eee;
	margin: 0;
	padding: 0;
}
.request_role .nonexisting_acc {
	margin: 0;
	padding: 2em 0 0 0;
}
.request_role .existing_acc p, .request_role .nonexisting_acc p {
	font-size: 0.9em;
	border: none;
	margin: 0;
	padding: 0.4em;
}
.request_role .existing_acc td, .request_role .nonexisting_acc td  {
	padding: 0.4em;
	font-size: 0.9em;
}
.request_role .existing_acc td input, .request_role .nonexisting_acc td input, .request_role .nonexisting_acc td textarea {
	margin-right: 0.3em;
	font-size: 1em;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
}
.request_role .existing_acc td input, .request_role .nonexisting_acc td input {
	height: 1.4em;
}
.request_role .mandatory {
	color: #990000;
}
/* End request role */
/* still needed? */
.sitemap {
	margin-top: 0.5em;
}
.sitemap div{
	padding: 0.3em 0em;
}
.cell_info{
	float: right;
	font-size: 80%;
}
.message {
	margin-bottom: 0.5em;
}
.message ul{
	margin-top:0;
	margin-bottom:0.4em;
}
.error li{
	color: #990000;
}
.error fieldset{
	border: 1px solid #990000;
}
.error legend{
	border: 1px solid #990000;
	padding: 1px 3px;
	color: #990000;
}
.search_field {
	margin-bottom: 1em;
}
.search_field .field{
	float:left;
	margin-right:1em;
	margin-top:0;
}
.search_field form,.search_field input,.search_field select,.search_field label {
	margin:0!important;
	vertical-align: middle;
	color:#444;
}
.search_field label {
	border-bottom:1px solid white;
}
.search_language {
	font-weight:normal!important;
}
.clear_float {
	clear:left;
	border:1px solid white;
}
.hlighted {
	font-weight: bold;
	background-color: #ffffcc;
}
.checklist {
	list-style: none;
	margin-top: 0;
	padding: 0;
	margin: 0;
}
.checklist li {
	margin: 0;
	padding: 0;
}
.checklist, .columns_more input {
	vertical-align: middle;
	position: relative;
	top: -3px;
}
.columns_more {
	float:left;
	margin: 0px 10px 15px 10px;
}
.columns_more .columns_more{
	width: auto;
}
div ul.proj_projects {
	border:1px dashed #999999;
	height: 9.6em;
	overflow: scroll;
	overflow: auto;
}
div>ul.proj_projects {
	height: auto;
	max-height: 16.2em;
}
.mandatory_field {
	color:red;
}
.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}
.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
font-size: 1.1em;
}
.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(misc_/SMAP/closed.gif) no-repeat left 1px;
cursor: pointer !important;
}
.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}
.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
padding-left: 5px;
font-size: 1em;
cursor: default;
}
/* center content */
#center_content {
	float: left;
	width: 100%;
	background: #fff;
}
.middle_port {
	margin-right: 165px; 
}
/* #nav_main {
	position:relative;
	z-index: 1;
	clear:both;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}
#nav_main_language {
	position:relative;
	float: right;
	margin-top: 7px;
	z-index:1000;
}
#nav_main_language form {
	margin:0;
}
#nav_main_language select {
	font-family: Arial,sans-serif;
	margin-right: 5px;
	font-size: 85%;
}
#nav_main_links {
	background-color: #eaeaea;
}
#nav_main_links ul {
	position:relative;
	display: inline;
	margin:0;
	padding:0;
}
#nav_main_links li {
	position:relative;
	display: inline;
	margin: 0 5px 0 0;
	padding: 0 8px 0 0;
}
#nav_main_links a {
	white-space: nowrap;
	text-decoration: none;
}
#nav_main_links a:visited {
}*/
