div.consultation_right_box {
	float: right;
	width: 15%;
	border: 1px solid black;
	padding: 0.5em;
	background-color:#FAFAFA;
}

a.consultation-button {
	display: block;
	border: 1px outset black;
	padding: 0.3em;
	background-color: #EDE9E3;
	text-decoration: none;
	text-align: center;
	margin-top: 0.1em;
	color: #042D5D;

}

a.consultation-special-button {
	display: block;
	border: 1px outset black;
	padding: 0.3em;
	background-color: #D2DFFF;
	text-decoration: none;
	text-align: center;
	margin-top: 0.5em;
	color: #042D5D;
}

div.consultation_right_box a, div.consultation_right_box a:visited { color: #042D5D; }

fieldset.consultation-comments {
	width: 80%;
	border: 1px solid black;

}

span.consultation_day_counter {
	color: blue;
	font-weight: bold;
}

div.talkback-comment_floating_box {
	position: absolute;
	width: 600px;
	max-height: 500px;
	overflow: hidden;
	background-color: white;
	border: 2px solid green;
	padding: 10px;
}

a.talkback-comment_close_box {
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 20px;
	background-color: white;
	padding: 3px;
}

div.talkback-js_comment_window {
	overflow: auto;
	width: 600px;
	max-height: 500px;
}

p.talkback-cannot_comment {
	margin-top: 1.5em;
}
.talkback-section *{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
	line-height: 1.3;
	clear: both;
}

#middle_port div.talkback-section div h1 {
	background: transparent;
	border: none;
}

.talkback-section h2 {
	font-size: 130%;
	margin: 1em 0;
	font-weight: bold;
}
.talkback-section h3 {
	font-size: 110%;
	margin: 1em 0;
	font-weight: bold;
}
.talkback-section div {
	margin: 0.5em 0;
}
.talkback-section input, .talkback-section textarea {
	border: 1px solid #ccc;
}
.talkback-add_comment_form input,.talkback-add_comment_form textarea {
	border: 1px solid #ccc;
}
.talkback-comments_list {
	margin: 0.5em 0;
}
.talkback-comments_list fieldset legend {
	border: 1px solid #ccc;
	padding: 0 0.5em;
	background: white;
	position: absolute;
	top: -1em;
	left: .2em;
}
.talkback-comments_list fieldset {
	padding: 0.5em;
	margin-top: 2em;
	margin-bottom: 0.3em;
	border: 1px solid #ccc;
	background: #E5E5E5;
	position: relative;
}

.talkback-add_comment, .button_sect_edit{
	margin: 0.5em 0;
	padding: 3px;
	border: 1px solid #ccc;
	font-size: 85%;
	color: #000;
	text-decoration: none;
	background: #eee;
}
.talkback-add_comment:hover, .button_sect_edit:hover {
	border: 1px solid #eee;
}
