/*
 *
 * Updates listing
 *
 */

#updates-list_wrapper {
    font-family: Arial, sans-serif;
    margin-top: 15px;
}

/**
 * DataTables customization
*/
.dataTables_length,
.dataTables_filter,
.dataTables_info {
    font-size: 12px;
}

.paging_full_numbers a.paginate_active,
.paging_full_numbers a.paginate_button:hover {
    background: #999;
    border: 1px solid #333;
    color: #FFF;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
	    border-radius: 0px;
    font-size: 75%;
    border: 1px solid #666;
}

.paging_full_numbers a.paginate_button {
    background: #FFF;
}

.dataTables_paginate {
    text-align: center;
    float: none;
}

.dataTables_info {
    float: none;
    clear: none;
    margin-bottom: 10px;
    text-align: center;
}

table.listing {
  width: 100%;
}

table.listing td, table.listing th {
  padding-left: 0.5em;
}

table.listing a {
  color: #b00;
}

.priority0-even {
  background: #fdc !important;
}
.priority0-even td {
  border: 1px dotted #e88 !important;
}
.priority0-odd {
  background: #fed !important;
}
.priority0-odd td{
  border: 1px dotted #e88 !important;
}

.priority1-even {
  background: #ffb !important;
}
.priority1-even td {
  border: 1px dotted #eea !important;
}
.priority1-odd {
  background: #ffd !important;
}
.priority1-odd td {
  border: 1px dotted #eea !important;
}

.priority2-even {
  background: #F6F6F6 !important;
}
.priority2-even td {
  border: 1px dotted #ccc !important;
}

.priority2-odd {
  background: #fbfbfb !important;
}

.priority2-odd td {
  border: 1px dotted #ddd !important;
}

td.details {
  color: #76797c;
}

.list-header th {
  text-align: left;
}

.list-header {
    background: #FFF;
}


/**
 *
 *  Logs
 *
 */

/**
 *
 *  Update script
 *
 */

.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

.clean-gray:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

.cupid-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

.cupid-green:hover {
  background: #76b347;
  background: -moz-linear-gradient(top, #76b347 0%, #5e9e2e 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
}

.help-text {
    font-size: 11px;
}
.date-column {
    color: #A22 !important;
}

#updates-list tr:hover {
    background: #FFF !important;
}

label {
    cursor: pointer;
}

.red-label {
    color: red;
}

.no-margin {
    margin: 0;
}

.clear {
    display: inline-block;
    clear: both;
    width: 100%;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#portals-files-list {
    height: 250px;
    width: 480px;
    overflow: auto;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sortable li {
    margin: 0 5px 2px 5px;
    padding: 3px;
    cursor: move;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.ui-state-highlight { height: 14px;}

.sortable li.ui-state-disabled {
    opacity: 0.6;
}

html>body .sortable li {
    line-height: 1.2;
}


.sortable li {
    border: 1px solid lightGrey;
    background: #E6E6E6;
    font-weight: normal;
    color: #555 !important;
}

.sortable li.ui-state-highlight {
    line-height: 1.2 !important;
    border: 1px solid #FCEFA1 !important;
    background: #FBF9EE !important;
    color: #363636 !important;
}

.sections-holder,
.portals-holder {
    width: 250px;
}

.instructions-holder {
    width: 350px;
}