a {
	color: #004a80;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	border: 1px solid #004a80;
}


@media screen{
	body {
		background: url("bg-header1.jpg") repeat-x top center;
	}
	h1{
		color: #004A80;
	}
	h2{
		color: #0076a3;
	}
	h3{
		color: #0076a3;
	}
	#nav1 ul {
		background-image: url("images/separ_1.gif");
	}
	#nav1 li {
		background-image: url("images/separ_1.gif");
	}
	#nav1 a:hover {
		color: #ddddff;
	}
	#nav2 ul {
		background-image: url("images/separ_2.gif");
	}
	#nav2 li {
		background-image: url("images/separ_2.gif");
	}
	#nav2 a:hover {
		color:#005588;
	}
	#nav2 a.expandable_links {
		background: url('images/ddown-arrow.gif') no-repeat center right;
	}
	#linkgroups li li a:hover span, #linkgroups li li a:active span{
		background-color: #e4eff3;
	}
	#location-bar a{
		color:#0076a3;
	}
	#language a {
		background: url("images/bg-lang-btns.gif") no-repeat bottom left;
	}
	#language a:hover, #language a.current {
		background: url("images/bg-lang-btns.gif") no-repeat top left;
	}
	#content{
		background: url("images/bg-content.gif") repeat top left;
	}
	#location-bar{
		background: url("images/icon-home.gif") no-repeat center left #fff;
	}
	#search #query{
		background: url("images/icon-search.gif") no-repeat center left #fff;
	}
	.portlet_folder div.portlet_folder_title {
		color: #004a80;
	}
	.portlet_folder div.portlet_folder_title a:visited {
		color: #004a80;
	}
	.portlet_folder a {
		color:#004a80;
	}
	.portlet_folder .portlet_content a {
		color:#004a80;
	}
	.middle-portlet h4 {
		background-image: url("images/portlet-middle-bullet.gif");
	}
	.middle-portlet h4 a {
		color: #19699f;
	}
	.horizlist ul {
		background-image: url("images/separ_1.gif");
	}
	.horizlist li {
		background-image: url("images/separ_2.gif");
	}
	.title_story {
		color:#004a80;
	}
	.title_story a {
		color:#004a80;
	}
	.bottom_border {
		border-bottom: 1px solid #b2c8d9;
	}
	#footer{
		border-top:1px solid #b9cad4;
	}
	#footer a{
		color:#19699f;
	}
	#footer a:visited{
		color:#19699f;
	}
}
