<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')" />
/* Map styles */
#div.marker {
	display: none;
}
div.marker-body {
	width: 290px;
	margin-top: 0;
}
div.marker-more {
	padding: 10px 5px 5px 30px;	/* T   R   B   L */
}
div.marker-body h3 {
	font-weight: bold;
	font-size: 1em;
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
}
.map-button {
color: #fff;
font-size: 90%;
border: 1px solid white;
background-color: #336699;
padding: 0.3em 0.2em;
}

#record_counter_message {
font-size: x-small;
}
#portalmap {
width: 19%;
font-size: 90%;
float: left;
padding: 7px;
background: #fff;
border: 1px solid #ccc;
margin: 0 0 0 10px;
white-space: normal;
}
.portalmap_portlet {
padding: 10px;
margin: 0;
background: #f3f3f3;
line-height: 1.5;
}
#address {
	width: 60%;
}
.landscape_list, .map_legend li, .administrative_list {
	width: 90%;
}
.category_img {
	float: right;
	margin-top: 6px;
}
.portalmap_portlet .portalmap_portlet_title p{
border-top:none; /*2px solid #BBBBBB;*/
font-size:1.3em;
font-weight:bold;
margin:0 0 0.2em;
padding:0.3em 0;
}
.portalmap_portlet_content {
	margin-bottom:0.5em;
}
.portalmap_portlet_header {
	color: #0061A2;
	font-size: 1.3em;
	font-weight:bold;
	margin:0 0 0.2em;
	padding:0.3em 0;
}
.portalmap_portlet_header p {
	border-top:2px solid #BBBBBB;
	margin:0 0 0 0;
}
.portalmap_portlet_title {
	color: #0061A2;
	font-size: 1em !important;
	font-weight:bold;
	border-bottom:none !important;
	padding:0.3em 0;
}
.portalmap_portlet_box {
	border-top:2px solid #BBBBBB;
	padding:0.5em 0;
}
.portalmap_portlet div input[type="text"]:focus {
	border: 1px solid #000;
	padding: 1px;
}
.portalmap_portlet .portalmap_portlet_title small a{
color: #000;
text-decoration: underline;
font-weight: bold;
margin: 0.5em 0;
}
.portalmap_portlet .portalmap_portlet_title small a:hover{
color: #bbb;
}
.portalmap_portlet .map_filters {
margin: 0;
padding: 0;
}
.portalmap_portlet .map_filters div {
margin: 0.5em 0 0 0;
padding: 0;
}
.portalmap_portlet .map_filters ul {
margin: 0.7em 0 0.7em 0.2em;
padding: 0;
list-style: none;
font-size: 90%;
}
.portalmap_portlet .map_filters ul ul {
padding: 0 0 0 1.5em;
}
.maptypes {
	margin: 0;
	padding: 0;
	list-style: none;
}

.maptypes li {
	margin: 2px;
	padding: 2px;
	display: inline;
}
/* End map styles */
/* Load Naaya Content custom styles */
<span tal:replace="python:here.getLayoutTool().getNaayaContentStyles()" />

h2 {border-bottom: 4px solid #CCCCCC;}

/* Operations buttons */
a img {
	border: none;
}
.floated-buttons {
	float: right;
	margin-right: 0.5em;
}
.buttons {
	font-weight: bold;
}
.buttons a {
	text-decoration: none;
	background: #ffffff; 
	color: #666;
	line-height: 2em;
	border-left:2px solid #EEEEEE;
	border-top:2px solid #EEEEEE;
	border-bottom:2px solid #2F6C91;
	border-right:2px solid #2F6C91;
	padding:0.2em 0.5em;
	margin: 0em 0.3em;
	font-size: 90%;
	font-weight: bold;
}
.buttons a:visited {
	color: #000;
}
/* folder index styles */
#admin_this_folder{
	padding: 0.5em;
	border: 1px solid #eee;
	background-color: #fafafa;
	text-align: left;
	text-indent: 0.3em;
}
#admin_this_folder #submission {
	font-weight: bold;
}
#admin_this_folder a {
	text-decoration: none;
	background-color: #fff;
	color: #000;
	line-height: 2em;
	border-left:1px solid #bbb;
	border-top:1px solid #bbb;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	padding:2px 2px; 
	font-size: 90%;
}
#admin_this_folder span {
	padding:0em 0.4em;
	margin: 0em 0.3em;
}
#admin_this_folder img {
	vertical-align: middle;
	padding-right: 4px;
}
#admin_this_folder select {
	vertical-align: middle;
}
#toolbar{
	padding: 0.6em;
	padding-left: 0.6em;
	margin-top: 0.9em;
	background-color: #eee;
}
#toolbar a{
	text-decoration: none;
}
#toolbar span{
	white-space: nowrap;
	font-size: 0.85em;
	font-weight: bold;
	background-color: #e6e6e6;
	border-top: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-bottom: 1px solid #303030;
	border-right: 1px solid #303030;
	margin-right: 0.4em;
	padding:0.15em;
	padding-left: 0.3em;
	color: #333333;
}
#toolbar img{
	position: relative;
	top:1px;
}
table#folderfile_list{
/*
<tal:block tal:condition="python: len(here.get_right_portlets_locations_objects(here)) > 0">
	width: 79%;
</tal:block>
<tal:block tal:condition="python: len(here.get_right_portlets_locations_objects(here)) == 0">
	width: 100%;
</tal:block>
*/
}
#folderfile_list th{
	background-color: #eeeeee;
	padding: 0.1em;
	color: #303030;
	font-size: 0.9em;
	font-weight: normal;
	border-right: 1px solid #c7c7c7;
}
#folderfile_list td{
	color: #999999;
	padding: 0.4em 0.1em;
	border-bottom: 1px solid #eeeeee;
}
#folderfile_list .checkbox{
	vertical-align: top;
	text-align: left;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
#folderfile_list th.checkbox{
	vertical-align: middle;
}
#folderfile_list .type{
	vertical-align: top;
	text-align: center;
	width: 0.5em;
}
#folderfile_list .type img{
	margin-top: 4px;
}
#folderfile_list th.type{
	vertical-align: middle;
	width: 0.5em;
}
#folderfile_list .title-column{
	vertical-align: middle;
	text-align: left;
}
td.title-column a{
	color: #0f75b3;
}
td.title-column a:hover{
	text-decoration: none;
}
#folderfile_list th.title-column{
	vertical-align: middle;
	padding-left: 0.3em;
}
#folderfile_list .checkin{
	vertical-align: top;
	text-align: center;
}
#folderfile_list th.checkin{
	vertical-align: middle;
}
#folderfile_list .checkout{
	vertical-align: top;
	text-align: center;
}
#folderfile_list th.checkout{
	vertical-align: middle;
}
#folderfile_list .edit{
	vertical-align: top;
	text-align: center;
}
#folderfile_list th.edit{
	vertical-align: middle;
}
/*______- sortables columns -_____ */
/* -------ASC SORT--------- */
.sort_asc_th {
	padding: 0em;
	background-color: #DEECF4;
	border-top: 2px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px solid white;
	vertical-align: middle;
	color: #6d6d6d;
	text-align: left;
	text-indent: 1em;
}
.sort_asc_th img {
	display: none;
}
.sort_asc_th a {
	background-color: #DEECF4;
	display: block;
	width: 100%;
	padding: 0.6em 0em;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #1578B0;
	background-image: url('sort_asc.gif');
	background-repeat: no-repeat;
	background-position: right center;
}
/* ----------DESC SORT---------- */
.sort_desc_th {
	padding: 0em;
	background-color: #DEECF4;
	vertical-align: middle;
	color: #6d6d6d;
	text-align: left;
	text-indent: 1em;
	border-top: 2px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px solid white;
	font-weight: normal;
}
.sort_desc_th img {
	display: none;
}
.sort_desc_th a {
	background-color: #DEECF4;
	display: block;
	width: 100%;
	padding: 0.6em 0em;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #1578B0;	
	background-image: url('sort_desc.gif');
	background-repeat: no-repeat;
	background-position: right center;
}
/* -----------SORTABLE------------- */
.sort_th {
	padding: 0em;
	background-color: #DEECF4;
	vertical-align: middle;
	color: #6d6d6d;
	text-align: left;
	text-indent: 1em;
	border-top: 2px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px solid white;
}
.sort_th a {
	background-color: #DEECF4;
	display: block;
	width: 100%;
	padding: 0.6em 0em;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #1578B0;
}
/* Object language availability */

.available_langs {
	font-size: x-small;
}

.available_langs a{
	border-right: 1px solid #0F75B3;
	padding-right: 0.3em;
	padding-left: 0.3em;
}

.available_langs a:first-child {
	border-left:1px solid #0F75B3;
}
/* Tabbed menus  */
#tabbedmenu {
	float:left;
	width:100%;
	border-bottom: 1px solid #346d9f;
	font-size: 0.8em;
	line-height: 1.5em;
}
#tabbedmenu ul {
	margin:0;
	padding: 1em 1em 0;
	list-style:none;
}
#tabbedmenu li {
	float:left;
	margin: 0;
	padding:0;
	white-space: nowrap;
}
#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	background: url('tabbg.gif') repeat-x top left #F0F5FB;
	padding: 0.3em 1em 0.3em 1em;
	margin: 0.3em 0.1em 0 0.1em;
	border: 1px solid #346d9f;
	border-bottom: none;
	text-transform: uppercase;
}
#tabbedmenu a:hover {
	background: #A8C7EC;
	color: #000;
}
#tabbedmenu #currenttab {
	/*background: #F0F5FB;*/
}
#tabbedmenu #currenttab a {
	text-decoration: none;
	font-weight: bold;
	background: url('tabbg_on.gif') repeat-x top left #454545;
	margin: 0em 0.1em 0 0.1em;
	padding: 0.5em 1em 0.4em 1em;
	color: #fafafa;
	border: 1px solid #fff;
	border-bottom: none;
}
#tabbedmenu #currenttab span {
	display:block;
	text-decoration: none;
	
}
/* warning box for active versions of items */
.version_box {
	background-color: #f4fff4;
	color: red;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: center;
}

/* Content translation boxes */
.edit-holder {
	margin: 1.5em 0 0 0;
}
div.translate-top {
	line-height: 2.29em;
}
.translate {
	background: #fff;
	color: #333;
	font-size: 95%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 2.3em;
}
*html .translate {
	padding: 0;
}
*:first-child+html .translate {
	padding: 0;
}
.translate span {
	padding: 0.5em;
}
*html .translate span {
	padding: 0;
}
*:first-child+html .translate span {
	padding: 0;
}
.translate a {
	color: #000;
	background: #def2cc;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em;
	margin: 0 0 0 0.7em;

}
.translate .current {
	margin: 0 0 0 0.7em;
	padding: 0.5em;
	display: inline;
	background: #def2ff;

}
.translate .current span {
	color: #444444;
	font-weight: normal;
	padding: 0 3px 0 3px;
}
.translate a:hover {
	background: #def299;
	color: #666666;
}
.translate_bar_right {
	display: inline;
	float: right;
	width: 30em;
	text-align: right;
	position: relative;
	margin: 1em;
	font-size: 95%;
}

.edit_right_box {
	clear: both;
	background-color: #f4fff4;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: right;
	margin: 0.5em 1em 0.5em 0;
}

.edit_right_box p {
	font-size: 90%;
	text-align: justify;
	border-top: 1px dotted #000;
	padding-top: 0.5em;
}

/* styles for forms */
.field {
	margin: 1em;
}

.field-inline {
	margin: 1em 0 0 1em;
}
		
.field label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
}
.field-inline label {
	font-weight: bold;
	margin-bottom: 0.3em;
}
.field .invisible {
	display: none;
}
.field-inline .invisible {
	display: none;
}
/*  Comment box form */
.comment_box {
	background-color:#FAFAFA; 
	border: 1px dashed #cccccc; 
	margin:1em;
	padding:1em;
	}
.deletecomment {
	font-size: 90%;
	float:right;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(trash.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
	/*text-indent: 17px;*/
}
.addcomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(addcomment.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}
.logincomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(logintoadd.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}
.commentbox_title {
	font-weight: bold;
	font-size: 110%;
	/*text-indent: 17px;*/
	padding-left: 17px;
	background-image: url(comment.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.commentbox_content {
	color:#666666; 
	font-size: 80%;
}
.commentbox_add {
	margin: 1em;
	/*padding-left:1em;*/
}
.hr_addcomment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white;
}
.hr_inside_comment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white; 
	margin-top:0.5em;
}
/* +++++++++++++++++++++++  modified on febr 19 2006 +++++++++++++++++*/
.tabs_admin {
	float:left;
	width:100%;
	font-size: 1em;
	line-height:normal;
	margin-bottom: 1em;
	font-size: 80%;
}
.tabs_admin ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
.tabs_admin li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 0 0 9px;
	white-space: nowrap;
	border-top: 1px solid #879AA7; /* custom-color-border*/
	border-left: 1px solid #879AA7; /* custom-color-border*/
	border-right: 1px solid #879AA7; /* custom-color-border*/
}
.tabs_admin a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #637785; /* custom-color-a.font */
	padding: 5px 15px 4px 6px;
}
.tabs_admin .currenttab {
	background-color: #879AA7; /* custom-color-border*/
}
.tabs_admin .currenttab a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}
.tabs_admin .currenttab span {
	display: block;
	text-decoration: none;
	font-weight: bold;
}
.tabs_admin a:visited {
	color: #637785; /* custom-color-a.font */
}
.tabs_admin .currenttab a:visited {
	color: white;
}
/*  ++++++++++++++++++++++++++++++++++++++++++ */
.tabs_firstlevel {
	float:left;
	width:100%;
	border-bottom: 1px solid #879AA7; /* custom-color-border*/
	font-size: 1em;
	line-height:normal;
	margin-bottom: 1em;
	font-size: 80%;
}
.tabs_firstlevel ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
.tabs_firstlevel li {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 0 0 9px;
	white-space: nowrap;
	border-top: 1px solid #879AA7; /* custom-color-border*/
	border-left: 1px solid #879AA7; /* custom-color-border*/
	border-right: 1px solid #879AA7; /* custom-color-border*/
}
.tabs_firstlevel a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #637785; /* custom-color-a.font */
	padding: 5px 15px 4px 6px;
}
.tabs_firstlevel .currenttab {
	background-color: #879AA7; /* custom-color-border*/
}
.tabs_firstlevel .currenttab a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}
.tabs_firstlevel .currenttab span {
	display: block;
	text-decoration: none;
	font-weight: bold;
}
.tabs_firstlevel a:visited {
	color: #637785; /* custom-color-a.font */
}
.tabs_firstlevel .currenttab a:visited {
	color: white;
}
/*  ++++++++++++++++++++++++++++++++++++++++++ */
.hr_invisible {
	clear: both; 
	border: 1px solid white;
}
.second_tab_set {
/*	background-color: red; */
	margin-right: 10px; 
/*	border-right: 1px solid green; */
	padding:0;
}
.second_tab_set .tabs_admin {
	background-color: white; 
	padding: 0; 
	margin: 0;
	border-bottom: 1px solid #879AA7; /* custom-color-border*/
}
.second_tab_set .tabs_admin ul {
	background-color: white; 
	padding: 0; 
	margin: 0;
}
.second_tabset_content {
	background-color: #F6F6F7; /* custom-color-mainbackground*/
	padding: 0px 10px 10px 10px;
	border-top-width: 0.01em;
}
.second_tabset_content h2 {
	clear: both;
	margin: 0px;
	padding-top: 15px;
}
.role_name_row label { /* css only */
	vertical-align: middle;
	display: block;
	margin-top: 2px;
}
.role_name_row input { /* css only */
	border: 1px solid #666666;
	font-size: 110%;
	margin-bottom: 14px;
}
.submission_button {
	margin-top: 20px;
	padding: 1px 2px 0px 2px;
	background-color: #8194A0; /* custom-color-submit */
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #637785; /* custom-color-a.font */
	border-bottom: 1px solid #637785; /* custom-color-a.font */
	font-size: 100%;
	color: white;
}
/* +++++++++++++++++++++++ END  modified on febr 19 2006 +++++++++++++++++*/
/* SORTABLE TABLES second, to be merged with the existing one */
.sortable {
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 1px outset #fff;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}
.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}
/* +++++++++ modified on february 21 USERS-ROLES listing #############*/
.roles_per_folder {
	
}
.roles_per_folder ul {
	margin: 0 0 0 1px;
	padding: 0px 3px 0px 3px;
	list-style: none;
	color: #555555;
	border: 1px solid #97A7B0;
}
.roles_per_folder li {
	margin: 3px 0 3px 0px;
	background-color: #eaeaea; 
	padding: 4px;
}
.folder_of_roles {
	display: inline; 
}
.list_of_roles {
	display: inline; 
}
/* +++++++++ END modified on february 21 USERS-ROLES listing #############*/
/* END STYLE */
/* Thesaurus style */
.h2term {
	font-family: Arial, Verdana;
	margin-bottom: 20px;  
}
.bar {
	background-color: #EFF6FA;
	color: #006CAE;
	text-align: center;
	font-weight: bold;
	padding: 3px 0px;
	margin: 10px 0px;
	font-size: 85%;
}
/*================= SEMIDE ======================*/
/* TABLES WITH DUPLICATES */
tr.duplicate {
	color: #ff0000;
}
tr.duplicate a {
	color: #ff0000;
}
tr.not-duplicate {
}

/* administration table */
.admin_table {
	border: none;
	margin: 0; padding: 0;
}
.admin_table th {
	border: 1px solid #fff;
	background: #5f7f7e;
	color: #fff;
	font-weight: normal;
	line-height: 1.8em;
}
.admin_table th a {
	color: #fff;
	text-decoration: underline;
}
.admin_table th a:hover {
	text-decoration: none;
}
.admin_table td {
	border-bottom: 1px solid #eee;
	padding-left: 3px;
}
.admin_table tr.odd {
	background: #fff;
}
.admin_table tr.even {
	background: #fafafa;
}
/* Media file style sheet 
*/
.flvPlayer {
}

.flvPlayerBroken, .flvPlayerNotReady, .flashPlayerNotInstalled  {
  width: 450px;
  min-height: 10em;
  overflow: auto;
  background: url('flv-bg.jpg') no-repeat top left #555;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #777;
  padding-top: 5em;
  margin: 0 auto;
}
* html .flvPlayerBroken, * html .flvPlayerNotReady, * html .flashPlayerNotInstalled  {
	height: 10em;
}
.flvPlayerBroken p, .flvPlayerNotReady p, .flashPlayerNotInstalled p {
	margin: 0;
	padding: 0.5em;
	background: #000;
	font-size: 0.90em;
}

/*	editor style	*/
.mceEditor {
	width: 600px;
	height: 250px;
}
.mceEditor-small {
	width: 300px;
	height: 150px;
}
.mceEditor-big {
	width: 700px;
	height: 400px;
}
.mceStatusbarPathText { visibility: hidden; }

table .number {
	text-align: right;
}
table .sum {
	font-weight: bold;
}
table .center {
	text-align: center;
}

/* Data tables */
.datatable caption {
	font-weight: bold;
}
.datatable th {
	text-align: center;
	background-color: #f6f6f6;
	font-weight: bold;
/*	border-top:    1px solid white;*/
	border-bottom: 2px solid white;
}
.datatable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: right;
	vertical-align:top;
}
.datatable th[scope="row"] {
	text-align: right;
	vertical-align:top;
}

.datatable td, .datatable th  {
	margin:0;
	padding: 0.3em;
	vertical-align: top;
}
.datatable td {
/*	border-top:    2px solid #f6f6f6;*/
	border-bottom: 2px solid #f6f6f6;
}
/*
.datatable tr.zebraeven {
	background-color: #f6f6f6;
}
*/
/*
.datatable tr:hover, .datatable tr:hover th {
	background-color: #e4f1bc;
}
*/
table.datatable {
	border: 1px solid #b6b6b6;
	color: #666666;
	margin: 1em 0em;
}

/* site search page */
.searchQuery {
	float: left;
	width: 59%;

}

.searchQuery li {
	float: left;
	margin: 0.3em;
	width: 15em;
}

.searchQuery ul {
	float: left;
	padding: 1em;
}

.tooltip {
	float: right;
	border: 1px dashed black;
	font-size: 0.88em;
	width: 35%;
	background-color: #F3F3F3;
	padding: 0.5em;
}

.tip_item {padding:0.3em 0.3em 0.3em 0pt;}

/* styles for the main sections page */
ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 30em;
}
ul.boxy li {
	cursor:move;
	padding: 4px;
	border: 1px solid #ccc;
	background-color: #eee;
}
#maintopicslist {
	margin-bottom: 1em;
}
#maintopicslist li {
	margin-bottom: 0px;
	margin-top: 4px;
}
#maintopicslist .chk {
	margin: 0px;
}