HOSTNAME = "http://localhost:8000"
STATIC_URL = "/questionnaire-transport-adaptation/static/"
STATIC_ROOT = "/path/to/eea.tavl/tach/static/"
ALLOWED_HOSTS = ['localhost', '127.0.0.1']

DATABASES = {
    'default': {
        'ENGINE': 'django_hstore.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'tach',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

DEBUG = True
SENTRY_DSN = ''

DEFAULT_USER = {
    'phone': '',
    'first_name': 'Admin',
    'last_name': 'Admin',
    'email': 'admin@example.com',
}

DEFAULT_USER_ID = 'edwe8tes' # ldap uid of default user

