#menunav {
    background: url(menunav-bg.jpg) repeat-y top right #ee7f00;
}
#menunav li a, #menunav li a:link, #menunav li a:visited {
    color: #232323;
}
#dropdowns li ul li a:link, #dropdowns li ul li a:visited {
	background: transparent url('arrow-normal.png') 3px center no-repeat;
}
#outer_wrapper {
	background: url(dot-bg.gif) repeat-y 17.5%;
}
#container {
	background: url(dot-bg.gif) repeat-y 81.5%;
}
* html #container { 
	background: url(dot-bg.gif) repeat-y 82%;
}
a#eealink {
	background: url("eeaicon.gif") no-repeat left center;
}
#header {
	background: #5f7f7e url('ew-header.jpg') repeat-y top right;
}
/* change language links */
#language a {
    background: url("bg-lang-btns.gif") no-repeat bottom left;
}
#language a:hover, #language a.current {
    background: url("bg-lang-btns.gif") no-repeat top left;
}