h1, h2, h3, h4{
  margin: 1em 0 0 0;
  background-color: transparent !important;
  color: #315076 !important;
  border-bottom: none !important;
}

h1 {
  font-size: 135% !important;
  padding: 0.2em 0em;
  font-weight: bold !important;
}
h2 {font-size: 125% !important;}
h3 {
  font-size: 115% !important;
  font-weight: normal !important;
}
h4 {font-size: 105% !important;}

ul.notes {
  list-style: none;
  list-style-image: none;
  margin-left: 20px;
  padding: 0;
}

ul.notes li {
  line-height: 1.5;
}

table.account-table {
  font-size: 0.9em;
  border-collapse: collapse;
  background-color: #F4F5ED;
  margin-left: 20px;
}

table.account-table label {
  font-weight: bold;
  text-align: right !important;
  vertical-align: middle;
  font-size: 1.2em !important;
  cursor: pointer;
}

table.account-table input[type=text] {
  width: 200px;
  background-color: #FFFFFF;
  border: 1px solid #A5CED1;
  font-size: 1.1em !important;
  padding: 0.5em;
}

table.account-table select {
  max-width: 200px !important;
  background-color: #FFFFFF;
  border: 1px solid #A5CED1;
  font-size: 1.1em !important;
  padding: 0.5em;
}

table.account-table th {
  text-align: left;
  width: 10em;
}

table.account-table tr {
  border-top: 1px solid #EAEAEA;
}

table.account-table td {
  padding: 0.5em 0.5em 0.5em 1em;
}

table.account-table ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

table.account-table ul li label{
  font-weight: normal !important;
}

input.primary-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #BBBBBB !important;
  color: #333333 !important;
  padding: 5px !important;
  text-decoration: none !important;
  display: inline !important;
  /* Mozilla: */
  background: -moz-linear-gradient(top, #FFFFFF, #EFEFEF);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
    left top, left bottom, from(#FFFFFF), to(#EFEFEF));
  -webkit-box-shadow: 0px 1px 0px #000;
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(
    StartColorStr='#FFFFFF', EndColorStr='#EFEFEF', GradientType=0);
  box-shadow: 0px 1px 0px #000;
  font-weight: bold;
}

input.primary-button:hover {
  border-top: 1px solid #EAEAEA;
  cursor: pointer;
  background: -moz-linear-gradient(top, #EFEFEF, #FFFFFF);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
    left top, left bottom, from(#EFEFEF), to(#FFFFFF));
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(
    StartColorStr='#EFEFEF', EndColorStr='#FFFFFF', GradientType=0);
}

.error-msg {
  border: 1px solid #B50000 !important;
  background-color: #FFCECE !important;
  color: #333333 !important;
  font-size: 0.9em !important;
  font-weight: bold;
  padding: 0.5em 0em 0.5em 1em !important;
  margin: 1em 0em 0em 0.5em !important;
  width: 100%;
}

.system-msg {
  border: 1px solid #FFAE00 !important;
  background-color: #FFF5CE !important;
  color: #333333 !important;
  font-size: 0.9em !important;
  font-weight: bold;
  padding: 0.5em 0em 0.5em 0.3em !important;
  margin: 1em 0em 0.5em 0em !important;
  width: 100%;
}

.system-msg, .error-msg {
  text-indent: 2em;
}

ul.errorlist {
  margin: 0;
  padding: 0;
  color: red;
}

p.description, div.help p{
    margin-left: 20px;
    font-size: 0.9em;
}

.answers-container a.add {
  margin-left: 20px;
  color: #0088cc;
  text-decoration: none;
  background-color: #EBF4FA;
  cursor: pointer;
}

div.hide-answer{
  background-color: #EBF4FA;
  cursor: pointer;
  color: #0088cc;
  display: inline-block;
}

a.preview{
  cursor: pointer;
}
.cancel{
  cursor: pointer;
}

div.preview-container {
  margin-left: 20px;
  padding: 0 0 0.5em 0;
}

div.answer div.icon, 
div.answer div.response,
div.answer div.author {
  display: inline;
}

div.answer div.response a {
  color: #0088cc;
  text-decoration: underline;
  cursor: pointer;  
}

.hover {
  background: #FFFFD3;
}

div.view-answer{
/*  background-color: #FDFDFD;*/
  border-left: 2px solid #36c;
  padding: 6px 8px 6px 10px;
  font-size: 100%;
  font-family: Arial,sans-serif;
}

div.view-answer ul.entry {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

div.view-answer ul.entry li {
  line-height: 1.4em;
  margin-top: 0.5em;
}

div.view-answer ul.entry li ul li {
  line-height: 1.5em;
  margin-top: 0;
  list-style-type: disc;
}

div.view-answer ul.entry li span.key{
  color: #007000;
  font-size: 95%;
}
