[submodule "eggs/Products.CHM2BE"]
	path = eggs/Products.CHM2BE
	url = git@github.com:eaudeweb/naaya.Products.CHM2BE.git
    	branch = master
[submodule "eggs/Products.NaayaContent.NyBlogEntry"]
	path = eggs/Products.NaayaContent.NyBlogEntry
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyBlogEntry.git
    	branch = master
[submodule "eggs/Products.NaayaContent.NyConsultation"]
	path = eggs/Products.NaayaContent.NyConsultation
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyConsultation.git
	branch = master
[submodule "eggs/Products.NaayaContent.NyPublication"]
	path = eggs/Products.NaayaContent.NyPublication
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyPublication.git
	branch = master
[submodule "eggs/Products.NaayaContent.NySimpleConsultation"]
	path = eggs/Products.NaayaContent.NySimpleConsultation
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NySimpleConsultation.git
	branch = master
[submodule "eggs/Products.NaayaContent.NyStudy"]
	path = eggs/Products.NaayaContent.NyStudy
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyStudy.git
	branch = master
[submodule "buildout/chm-be"]
	path = buildout/chm-be
	url = git@github.com:eaudeweb/naaya.buildout.chm-be.git
	branch = master
[submodule "buildout/chm-eu"]
	path = buildout/chm-eu
	url = git@github.com:eaudeweb/naaya.buildout.chm-eu.git
	branch = master
[submodule "buildout/destinet"]
	path = buildout/destinet
	url = git@github.com:eaudeweb/naaya.buildout.destinet.git
	branch = master
[submodule "buildout/eionet"]
	path = buildout/eionet
	url = git@github.com:eaudeweb/naaya.buildout.eionet.git
	branch = master
[submodule "buildout/enisa-privacy-forum"]
	path = buildout/enisa-privacy-forum
	url = git@github.com:eaudeweb/naaya.buildout.enisa-privacy-forum.git
	branch = master
[submodule "buildout/groupware"]
	path = buildout/groupware
	url = git@github.com:eaudeweb/naaya.buildout.groupware.git
	branch = master
[submodule "bundles/NaayaBundles-CHMBE-cop10"]
	branch = master
	path = bundles/NaayaBundles-CHMBE-cop10
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-CHMBE-cop10.git
[submodule "bundles/NaayaBundles-CHMBE-training"]
	path = bundles/NaayaBundles-CHMBE-training
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-CHMBE-training.git
	branch = master
