.overview_current_settings {
	margin: 50px 0px;
}

.overview_current_settings h1 img {
	padding-right: 0px;
  /*padding-bottom: 5px;*/
}

.overview_current_settings table {
	width: 720px; /*760px;*/
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.overview_current_settings table td {
	border: 1px solid #ddd;
	padding: 5px 10px;
}

.overview_current_settings table th {
	background: rgb(238, 238, 238);
	padding: 10px;
	text-align: left;
}

.overview_current_settings .roles {
	max-width: 150px;
 }
 
 .overview_current_settings .list_users {
	max-width: 100px;
 }

 .overview_current_settings .restrict_obs{
	max-width: 240px;
 }
