dl.resource-properties dt {
    width: 10em;
    float: left;
    clear: left;
    text-align: right;
    overflow: hidden;
}
dl.resource-properties dd {
    margin: 0 0 .5em 11em;
    border-bottom: 1px dashed #aaa;
}
dl.resource-properties dd ul {
    padding-left: 2em;
    margin: 0;
}
dl.resource-links {
    margin-left: 2em;
    clear: left;
}
dl.resource-links ul {
    margin: 0;
}
