#!/bin/bash
ABSPATH="/path/here/to/eea.tavl-checkout/"
if [ "$1" = "start" ]; then
    "$ABSPATH"bin/python "$ABSPATH"manage.py runfcgi method=threaded daemonize=true socket="$ABSPATH"django.sock pidfile="$ABSPATH"django.pid
    chmod 777 "$ABSPATH"django.sock
fi
if [ "$1" = "stop" ]; then
    kill -KILL `cat $ABSPATH"django.pid"`
fi
if [ "$1" = "status" ]; then
    ps `cat $ABSPATH"django.pid"`
fi
