<p>
    For questions related to this survey, please contact:
</p>
<ul>
<li>Birgit Georgi (project manager - regional vulnerability and adaptation) <a href="mailto:Birgit.Georgi@eea.europa.eu">Birgit.Georgi@eea.europa.eu</a> <a href="/questionnaire-transport-adaptation/library/mailto:" style=""></a></li>
<li>Alfredo Sánchez Vicente (project manager - transport) <a href="mailto:Alfredo.Sanchez@eea.europa.eu">Alfredo.Sanchez@eea.europa.eu</a></li>
</ul>

<p>For technical issues or suggestions, please contact <a href="mailto:helpdesk@eaudeweb.ro">HelpDesk@eaudeweb.ro</a></p>
