{% extends "frame.html" %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block content %}

{% include "overview_header.html" %}

<h2>Please indicate the contact details of the person who has completed this questionnaire.</h2>

<form action="" method="POST">

  <table class="account-table">
    <tbody>
    {% for field in form %}
      <tr>
        <th>
          {{ field.label_tag }}
          {% if field.field.required %}
            <img src="/static/images/mandatory.gif" />
          {% endif %}
        </th>
        <td>
          {{ field }}
          {{ field.errors }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <input type="submit" class="primary-button" value="Save and continue" />
          <img src="/static/images/mandatory.gif" /> <em>required fields</em> 
        </td>
      </tr>
  </table>
  <p>
    <strong>Note:</strong>
    additional contact names can be provided at the end of the questionnaire
  </p>
</form>

{% endblock %}