{% extends 'frame.html' %}
      <script>
        //Overwrite the came_from value for a correct redirect
        $(function(){
            $('a[href^="http://projects.eionet.europa.eu/questionnaire-transport-adaptation/login_html?came_from"]')
            .attr('href', 'http://projects.eionet.europa.eu/questionnaire-transport-adaptation/login/login_form?disable_cookie_login__=1&came_from='+$(location).attr('href'));
        });
    </script>

{% block content %}

<h3>Restricted</h3>

{% if request.user_id %}
  <p class="alert alert-error">Your account doesn't have edit credentials.</p>
{% else %}
  <p class="alert">This page is restricted. Please logon to check credentials.</p>
{% endif %}

{% endblock %}