a.feed_link,
a.facebook_link,
a.twitter_link,
a.download_link {
	padding: 0;
	line-height: 1.8;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-decoration: none !important;
}

a.feed_link {
	background: transparent url('misc_/Naaya/rss.png') no-repeat scroll left center;
}

a.facebook_link {
	background: transparent url('misc_/Naaya/facebook.png') no-repeat scroll left center;
}

a.twitter_link {
	background: transparent url('misc_/Naaya/twitter.png') no-repeat scroll left center;
}

a.download_link {
	background: transparent url('misc_/Naaya/download.png') no-repeat scroll left center;
	float: right;
	width: auto;
	padding-left: 25px;
}

.folder_social {
	width: 100%;
	display: inline-block;
	clear: both;
	position: relative;
}

#ratings {
	float: left;
	text-align: left;
	display: block;
}

#user-rating-edit {
	float: left;
}

.ratings_message {
	float: left;
	display: inline-block;
	margin-left: 10px;
	border: 1px solid #FFD06D;
	background: #FFFDE5;
	padding: 3px;
	position: relative;
	top: -3px;
}

.folder_social_icons {
	display: block;
	float: right;
}

.hidden{
	display: none;
}

/* tip boxes */
.tips_box {
    float: right;
    width: 30%;
    background-color: #FFFFE1;
}

.tips_box_title {
     background-color: #a0a0a0;
     font-weight: bold;
     color: white;
     line-height: 2em;
     text-align: center;
}

/* maintopics styles */
ul.boxy {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 30em;
}
ul.boxy li {
    cursor:move;
    padding: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
}
dd#admin_textarea{
	margin-top: 3px;
	margin-left: 3px;
	width: 650px;
}
#maintopicslist {
    margin-bottom: 1em;
}
#maintopicslist li {
    margin-bottom: 0px;
    margin-top: 4px;
}
#maintopicslist .chk {
    margin: 0px;
}

.mainsection_title {
    text-indent: 0;
}

/* end maintopics styles  */
/* Map styles */
#div.marker {
    display: none;
}
div.marker-body {
    width: 290px;
    margin-top: 0;
}
div.marker-more {
    padding: 10px 5px 5px 30px;    /* T   R   B   L */
}
div.marker-body h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
}
.map-button {
color: #fff;
font-size: 90%;
border: 1px solid white;
background-color: #336699;
padding: 0.3em 0.2em;
}

#record_counter_message {
font-size: x-small;
}
#portalmap {
width: 19%;
font-size: 90%;
float: right;
padding: 4px;
background: #fff;
border: 1px solid #ccc;
margin: 4em 0 0 10px;
white-space: normal;
}
#portalmap_center{
padding: 0px;
border: 1px solid #ccc;
}
#portalmap_top{
font-size: 90%;
padding: 4px;
background: #fff;
margin: 0 0 10px 10px;
white-space: normal;
}
#js_links{
font-size: 15px;
margin: 0 0 8px 0;
}
#filter_map{
}
#map_collapsable_filters{
	display: none;
}
.portalmap_location_filters{
	float:left;
	width: 50%;
}
.portalmap_location_filters input.text_input {
	width: 75%;
}
.portalmap_portlet {
padding: 6px;
margin: 0;
line-height: 1.5;
color: black;
}

.portalmap_portlet .portalmap_portlet_title p{
border-bottom:2px solid #BBBBBB;
font-size:1.3em;
font-weight:bold;
margin:0 0 1em;
padding:0.3em 0;
}
.portalmap_portlet div input[type="text"]:focus {
    border: 1px solid #000;
    padding: 1px;
}
.portalmap_portlet .portalmap_portlet_title small a{
color: #000;
text-decoration: underline;
font-weight: bold;
margin: 0.5em 0;
}
.portalmap_portlet .portalmap_portlet_title small a:hover{
color: #bbb;
}
.portalmap_portlet .map_filters {
margin: 0;
padding: 0;
}
.portalmap_portlet .map_filters div {
margin: 0.5em 0 0 0;
padding: 0;
}
.portalmap_portlet .map_filters ul {
padding: 0;
margin-left: 0;
list-style: none;
font-size: 13px;
font-weight: bold;
}
.portalmap_portlet .map_filters ul ul {
margin-bottom: 1em;
padding: 0;
margin-left: 0;
font-size: 11px;
font-weight: normal;
}
.portalmap_portlet .map_filters ul ul li {
margin-top: 0;
}
.portalmap_portlet .map_filters ul .pin {
	margin-right: -2px;
	/*vertical-align: 1px;*/
	width: 12px;
	height: 12px;
}


/* Filtering categories in legend */
.portalmap_portlet .map_filters ul li.unchecked_categ,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li.unchecked_categ,
.portalmap_portlet .map_filters ul li ul li.unchecked_categ{
	color: #999999;
}
.portalmap_portlet .map_filters ul li,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li,
.portalmap_portlet .map_filters ul li ul li{
	color: black;
}

.portalmap_portlet .map_filters ul li.unchecked_categ img,
.portalmap_portlet .map_filters ul li ul li.unchecked_categ img,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li.unchecked_categ img{
	display: none;
}
.portalmap_portlet .map_filters ul li img,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li img,
.portalmap_portlet .map_filters ul li ul li img{
	display: inline;
}


.pin_text{
	cursor: pointer;
}
.portalmap_portlet .map_right_control{
	font-size: 10px;
	float: right;
}
.maptypes {
    margin: 0;
    padding: 0;
    list-style: none;
}

.maptypes li {
    margin: 2px;
    padding: 2px;
    display: inline;
}

#map-container{
	display: inline-block;
}

/* End map styles */

hr.hr_addcomment {
    clear: both;
}
/* other styles */
a.skiplink {
	display: none;
}
.clearer, .cleaner {
	clear:both;
}
.b_download {
	float:right;
	font-size:0.5em;
	padding-right:0.3em;
	text-decoration:none;
}

/**
 * Added
 *
 * Bogdan Tanase - Eau de Web
 * 14 Oct 2010
 *
 * NaayaForumStyle
*/

/* forum styles */
.forum_message_top a {
	margin-right: 0px;
	padding: 0.3em 0.4em;
	text-decoration: none;
	color: white;
	background-color: #638FBC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #416B96;
	border-bottom: 1px solid #416B96;
	position: relative;
	color: #41ad00;
}
.forum_message_top a:visited {
	color: white;
}
.message_top_buttons {
	float: right;
	margin-top: 2px;
	position: relative;
}
.message_top_buttons2 {
	padding: 2px;
}
.forum_topic {
	margin-bottom: 15px;
	border: 1px solid #eeeeee;
	padding: 5px;
	color: #333333;
}
.forum_topic_top {
	background-color: #eeeeee;
	padding: 2px 5px 6px 2px;
	font-size: 90%;
}
.forum_topic_author {
	padding: 10px 0 5px 4px;
	border-bottom: 1px dashed #dddddd;
	font-size: 90%;
}
.forum_topic_content {
	margin-top: 10px;
}
.forum_topic_bottom {
	padding:5px;
	border-top: 1px dashed #dddddd;
	font-size: 90%;
}
.forum_messages_slot {
	margin-top: 15px;
}
.forum_message {
	margin-bottom:5px;
	background-color: #F7F7F7;
}
.forum_message_top {
	background-color:#E9E9E9;
	border-bottom: 1px solid #E4E4E4;
	padding: 5px;
	font-size: 90%;
	position: relative;
}
.forum_message_top a {
	color: white;
}
.forum_message_top a:visited {
	color: white;
}
.forum_message_top img {
	margin-right: 3px;
	border-left: 3px solid #E4E4E4;
	vertical-align: middle;
}
.forum_message_author {
	padding:5px;
	border-bottom:1px dashed #E4E4E4;
	font-size: 90%;
	color: #444444;
}
.forum_message_description {
	padding: 5px;
	color: #111111;
}
.forum_message_bottom {
	padding:5px;
	border-top: 1px dashed #E4E4E4;
	color: #666666;
	font-size: 90%;
}

/**
 * Added
 * Bogdan Tanase 21 Sep 2010
*/

div#name_filter, .filters {
	float: left;
	margin: 0.5em 0.5em 0em 0em;
}

#name_filter {
	text-align: right;
}

div#role_filter {
	float: left;
	vertical-align: middle;
}

img.ajax-loader {
	vertical-align: middle;
}

.loader {
		display: none;
		font-style: italic;
		color: #346d9f;
		vertical-align: 12px;
		padding-left: 15em;
}

/**
 * Subtabs style
*/

.second_tab_set {
	font-family: tahoma,verdana,sans-serif;
	font-size: 90%;
	background-color: #F2F2F2;
	padding: 5px 7px 7px 7px;
	clear: both;
}

.second_tab_set ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
	height: 1.1em;
}

.second_tab_set li {
	float: left;
	padding: 0 8px 0 8px;
	border-left: 1px solid #444444;
	white-space: nowrap;
}

.second_tab_set li:first-child {
    border-left: none;
    padding-left: 0px;
    margin-left: 0px;
}

.second_tab_set li a {
	color: #444444 !important;
}

.second_tab_set li a:hover {
	text-decoration: none !important;
}

.second_tab_set ul li a.current_sub {
	font-weight: bold;
	text-decoration: none;
	background: transparent url('misc_/Naaya/arrow.png') no-repeat left center;
	padding-left: 12px;
}

.second_tabset ul li a.current_sub:first-child {
    padding-left: 0 !important;
}

.second_tabset_content {
	background-color: #F6F6F7; /* custom-color-mainbackground*/
	padding: 0px 10px 10px 10px;
	border-top-width: 0.01em;
}

.second_tabset_content h2 {
	clear: both;
	margin: 0px;
	padding-top: 15px;
}

/**
 * Update 19 Oct 2010
 * Bogdan Tanase - Eau de Web
 */

#tabbedmenu, .tabbedmenu {
    margin-bottom: 0em !important;
	margin-left: 1em;
}

#tabbedmenu ul {
		padding: 1em 0em 0em !important;
}

tr.row-odd, tr.row-odd-sub {
    background-color: #F7F7F7;
}

.user-role-revoke {
    text-align: center;
}

.datatable tr.tr-messages td {
	border-bottom: none;
	border-right: none;
}

.datatable tr.row-even td:last-child, .datatable tr.row-odd td:last-child, .datatable tr.row-odd-sub td:last-child {
	border-right: none !important;
}

.datatable th:hover {
	color: #333333;
	background-color: #EFEFEF;
}

.datatable a, .table-message a, .message-empty a {
	color: #346D9F;
	text-decoration: underline;
}

.datatable a:hover, .table-message a:hover, .message-empty a:hover {
		text-decoration: none;
}

.table-message, .message-empty {
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
}

td.checkbox {
		text-align: center;
}

th.th-left {
	text-align: left;
}

.sortable th a:link, .sortable th a:visited, .sortable th span {
	display: inline;
}

/**
 * IE does no support first(last)-child
*/
td.td-center {
	text-align: center;
}

.datatable tr.row-odd:hover, .datatable tr.row-even:hover {
	background-color: #F6FCE3;
}

label {
    vertical-align: 2px;
}

label:hover {
		cursor: pointer;
}

.search-box {
	background-color: #F0F5FB;
    padding: 0.5em 1em 0.5em 1em;
	border: 1px dotted #999999;
	margin-top: 1.5em;
}

.search-box:hover {
	background-color: #FFFFDD;
}

/* search page refine search */
.searchQuery  {
	background:#fff;
	padding: 0;
	margin: 1em 0;
	border: none;
	width: 60%;
	float: left;
	margin-right: 2%;
}
.searchQuery  h2 {
	background: none;
}
.searchQuery input, .searchQuery select  {
	color:#555555;
}
.searchQuery input {
	height: 1.3em;
	padding-top: 0.1em;
}
.searchQuery .styled_button {
	height: 2em;
	padding-top: 0;
	border: 1px solid #ccc;
	background: #ddd;
	cursor: pointer;
}
.searchQuery label {
	margin-bottom: 0.5em;
}
.searchQuery ul {
	margin: 0; padding: 0;
}
.searchQuery ul li {
	padding: 0.3em 0;
	float: left;
	width: 15em;
}
/**
 * Paginator
*/

.paginator {
	margin-top: 1em;
	padding: 0.5em 0;
	clear: both;
}

.paginator-head {
		float: right;
		
}

.paginator-footer {
		float: right;
		clear: both;
}

.paginator-body {
		float: left;
}

.paginator span a {
	border: 1px solid #c8dcf2;
	line-height: 18px;
	padding: 3px 5px 3px 5px;
	background: #f0f5fb;
	color: #333;
	text-decoration: none;
}
.paginator span span {
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
	color: #36669d;
}

.paginator-details {
	float: right;
	display: none;
}

/**
 * Other
*/
.icon-image {
		vertical-align: 0;
}

.form-buttons {
		float: left;
}

.form-buttons a {
	background-color: #FFFFFF;
	color: #000000;
	border-left:1px solid #BBBBBB;
	border-top:1px solid #BBBBBB;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	padding:0.2em 0.4em 0.3em 0.4em;
	font-size: 11px;
	line-height: 11px;
	vertical-align: 3px;
	text-decoration: none;
}

img {
		vertical-align: middle;
}

a.context-link {
		color: #346D9F;
		text-decoration: underline;
}

a.context-link:hover {
		text-decoration: none;
}

.sort-image {
		width: 12px;
		height: 12px;
		border: 0;
}

.section-subtitle, .title-inline {
	display: inline;
}

.section-subtitle {
	font-size: 1.2em;
	font-weight: bold;
	color: #4E7CB0;
}

.groups-roles-list {
	margin-bottom: 1em;
}

div.separator {
	height: 1px;
	background-color: #F6F6F6;
	width: 100%;
	clear: both;
	margin: 0.5em 0em;
}

tr.tr-hover {
	padding: 0.5em;
}

tr.tr-hover:hover {
	background-color: #FFFFDD;
}

.assign-form .field, .assign-form .field-inline, .assign-form input[type="checkbox"], .assign-form input[type="submit"] {
	margin-left: 0em !important;
}

/**
 * Temp style
*/

.datatable table {
		width: 100% !important;
}

#center_content {
		float: left;
		overflow-x: visible !important;
		overflow-y: visible !important;
		overflow: visible !important;
		width: 78%;
}

#folderfile_list {
                width: 100%;
}

#folder_footer {
		margin: 10px auto;
		position: relative;
		width: 100%;
}

#folder_listing {
	padding: 0 !important;
}

select.more_actions {
	float: right;
}

/**
 * Action form
 *
 * Notes: Action forms are edit/add forms. Tables may exists in forms but not with .action-form class
*/
.action-form {
		border-top: 1px dotted #333333;
		margin: 0 auto;
		margin-top: 1em;
		padding: 1em;
}

.action-form table {
		margin-bottom: 1em;
}

.action-form td.form-label {
		text-align: right !important;
		vertical-align: top !important;
}

.action-form tr:hover {
		background-color: #FFFFDD;
}

.action-form select {
		min-width: 8em;
}

.action-form-buttons {
		margin: 0 auto;
}

.action-form fieldset {
		border: 1px dotted #333333;
		padding: 1em;
}

.action-form fieldset legend {
		color: #346D9F;
}

.action-form dl dt {
		color: #333333;
}

.action-form input, .action-form select {
	margin: 0 !important;
}

/**
 * Roles
*/

.roles-list table {
	width: 350px !important;
}

.roles-list table th:first-child {
	text-align: left;
}

#add-role-form input[type="submit"], #add-role-form input[type="reset"] {
	margin: 0 !important;
}

/**
 * Description text
*/

.description-text {
	margin-top: 1em;
}

.description-text p {
	margin: 0;
	padding: 0;
	line-height: normal;
}

/**
 * Tip/'Note' box
*/

.tip {
	padding: 0.5em 1em !important;
	background-color: #FFFFEF !important; /* Overwrite for site update */
}

.tip p {
	margin: 0 !important;
	line-height: 1.5em;
}

.tip img {
	margin-right: 0.5em;
}

/**
 * All Users LDAP Groups
*/

table.ldap_groups th {
	text-align: left;
}

table.ldap_groups td.checkbox {
	text-align: left;
}

/**
 * Add user form
*/

form.user-form .field-inline, form.user-form .field {
	margin-left: 0em !important;
}

form.user-form .field-inline input[type="text"]:focus, form.user-form .field-inline input[type="password"]:focus {
	background-color: #FFFFDD;
}

/* search page refine search */
.searchQuery  {
	background:#fff;
	padding: 0;
	margin: 1em 0;
	border: none;
	width: 60%;
	float: left;
	margin-right: 2%;
}
.searchQuery  h2 {
	background: none;
}
.searchQuery input, .searchQuery select  {
	color:#555555;
}
.searchQuery input {
	height: 1.3em;
	padding-top: 0.1em;
}
.searchQuery .styled_button {
	height: 2em;
	padding-top: 0;
	border: 1px solid #ccc;
	background: #ddd;
	cursor: pointer;
}
.searchQuery label {
	margin-bottom: 0.5em;
}
.searchQuery ul {
	margin: 0; padding: 0;
}
.searchQuery ul li {
	padding: 0.3em 0;
	float: left;
	width: 15em;
}

.naaya-openlayers .olControlAttribution {
	bottom: 5px;
}
.naaya-openlayers .olControlZoomPanel {
	top: 14px;
}
.naaya-openlayers .olControlZoomPanel .olControlZoomInItemInactive {
	width: 36px;
	height: 36px;
	background: url(www/zoom-in.png) no-repeat;
}
.naaya-openlayers .olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	display: none;
}
.naaya-openlayers .olControlZoomPanel .olControlZoomOutItemInactive {
	top: 38px;
	width: 36px;
	height: 36px;
	background: url(www/zoom-out.png) no-repeat;
}

/**
 * Admin comments list
 *
 * Added:  21 Mar 2012
 * Author: Bogdan Tanase
*/
#comments-list .actions-label {
    position: relative;
    top: 0px;
    font-weight: bold;
}

#comments-list .comment-actions {
    opacity: 0;
    -webkit-transition: opacity .1s ease-in-out;
       -moz-transition: opacity .1s ease-in-out;
            transition: opacity .1s ease-in-out;
}

#comments-list tr:hover .comment-actions {
    opacity: 1;
}

.comment-actions a.toggle-spam-status .icon {
    display: inline-block;
    width: 24px;
    height: 16px;
}

a.toggle-spam-status.spam-status .icon {
    background: transparent url('/++resource++Products.Naaya/spam-icon.png') no-repeat scroll center center;
}

a.toggle-spam-status.ham-status .icon{
    background: transparent url('/++resource++Products.Naaya/ham-icon.png') no-repeat scroll center center;
}

a.delete-comment .icon {
    display: inline-block;
    height: 16px;
    width: 15px;
    background: transparent url('/++resource++Products.Naaya/trash-icon.png') no-repeat scroll center center;
}

.akismet-loading {
    display: none;
}

.akismet-loading .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url('/++resource++Products.Naaya/ajax-loader-small.gif') no-repeat scroll center center;
    position: relative;
    top: 3px;
    margin-top: -4px;
}

#comments-list tr.spam-comment {
    /*background: #FEE;*/
}

#comments-list tr.spam-comment a.comment-title {
    color: red;
}

#comments-list tr.ham-comment a.comment-title {
    color: blue;
}

#comments-list tr.spam-comment .spam-status,
#comments-list tr.spam-comment .ham-status-label {
    display: none;
}

#comments-list tr.ham-comment .ham-status,
#comments-list tr.ham-comment .spam-status-label {
    display: none;
}

#comments-list tr {
    background: #FFF;
}
/**
 * END Admin comments list
*/

/**
 * Admin API Keys status
 *
 * Added: 23 Mar 2012
 * Author: Bogdan Tanase
*/
.api-keys-list tr.invalid {
    background-color: #FFF9F9;
}
/**
 * END Admin API Keys status
*/

/**
 * Comments style enhancement
 *
 * Added: 29 Mar 2012
 * Author: Bogdan Tanase
*/
.comment-holder {
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.comment-holder-blocked {
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
}
.comment-label-blocked {
    color: red;
}
.commentbutton:hover {
    color: #333;
}
.commentbutton {
    font-size: 90%;
    float:right;
    padding: 3px;
    text-decoration: none;
    margin-bottom: 0.5em;
    margin-left: 10px;
}
/**
 * END Comments style enhancement
*/