.skiplink {
	display: none;
}


#language {
	float: right;
	margin-right: 1em;
}

#language form {
	margin:0;
}

#header {
	position: relative;
	border: 1px solid #000000;
}

#header img {
	margin-left: 1%;
}

#breadcrumbtrail {
	clear: both;
	margin: 1% 0% 1% 20%;
}

#middle_port {
	padding-left: 1%; padding-right: 1%;
	padding-bottom: 4%;
	margin-bottom: 10px;
	margin-left: 20%;
	border: 1px solid #000000;
}

.center_portlet {
	margin-bottom: 10px;
}
.center_portlet .center_portlet_title {
	background-color: #dddddd;
}
.center_portlet .center_portlet_content {
	border: 1px solid #dddddd;
}

#left_port {
	float: left;
	width: 18%;
	margin-bottom: 10px;
	border: 1px solid #000000;
}

.left_portlet {
	margin-bottom: 10px;
}
.left_portlet .left_portlet_title {
	background-color: #cccccc;
}
.left_portlet .left_portlet_content {
	border: 1px solid #cccccc;
}

#right_port {
	float: right;
	width: 25%;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
}

.right_portlet {
	margin-bottom: 10px;
}
.right_portlet .right_portlet_title {
	background-color: #eeeeee;
}
.right_portlet .right_portlet_content {
	border: 1px solid #eeeeee;
}

#footer {
	clear: both;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 5px;
	border: 1px solid #000000;
}

#toptitle {
	margin-left: 20%;
	margin-top: 0.5em;
}
	
#last_modified {
	margin: 1% 0% 1% 20%;
}

#topnav {
}
#topnav ul {
	margin:0;
	padding:0;
	display: inline; 
	list-style-type: none;
}
#topnav li {
	margin-right:1em;
	padding:0;
	display: inline;
}

#menunav {
	clear: both;
}
#menunav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	display:inline;
}
#menunav li {
	margin-right:1em;
	padding:0;
	display:inline;
}

#search {
	float: right;
}

#search form {
	margin:0;
}

#tabbedmenu {
	float:left;
	width:100%;
	border-bottom: thin solid #E3E2D3;
	font-size: 0.8em;
	line-height:normal;
}
#tabbedmenu ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
#tabbedmenu li {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	white-space: nowrap;
}
#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 10px 4px 6px;
}
#tabbedmenu #currenttab {
	background-image:url("tableft_on.gif");
}
#tabbedmenu #currenttab a {
	text-decoration: none;
	font-weight: bold;
	background-image:url("tabright_on.gif");
	padding-bottom: 5px;
}
#tabbedmenu #currenttab span {
	display:block;
	text-decoration: none;
	font-weight: bold;
	background:url("tabright_on.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
}

.page_title {}
.page_subtitle {}


/*	EPOZ buttons	*/
#epoz_button_strikethrough {display:none;}
#epoz_button_subscript {display:none;}
#epoz_button_superscript {display:none;}
#epoz_button_unformat {display:none;}
#epoz_button_anchor {display:none;}
#epoz_button_undo {display:none;}
#epoz_button_redo {display:none;}


/*	Comment Box Form Styles	*/
.comment_box {
	background-color:#FAFAFA; 
	border: 1px dashed #cccccc; 
	margin:1em;
	padding:1em;
	}

.deletecomment {
	font-size: 90%;
	float:right;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(trash.gif);
	background-repeat: no-repeat;
	background-position: left center;

	margin-bottom: 0.5em;
	/*text-indent: 17px;*/
}

.addcomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(addcomment.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}

.logincomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(logintoadd.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}

.commentbox_title {
	font-weight: bold;
	font-size: 110%;
	/*text-indent: 17px;*/
	padding-left: 17px;
	background-image: url(comment.gif);
	background-repeat: no-repeat;
	background-position: left center;
	
}

.commentbox_content {
	color:#666666; 
	font-size: 80%;
}

.commentbox_add {
	margin: 1em;
	/*padding-left:1em;*/
}

.hr_addcomment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white;
}

.hr_inside_comment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white; 
	margin-top:0.5em;
}

/*	sortable tables	*/
.sortable {
	border: 1px solid black;
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 2px outset #999;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a {
	height: 100%;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

.fieldset_div {
	margin: 5px 0px;
}

/* Media file style sheet 
*/
.flvPlayer {
}

.flvPlayerBroken {
}

.flvPlayerNotReady {
}

.flashPlayerNotInstalled {
  width: 450px;
  overflow: auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 107%;
  font-weight: bold;
  padding: 200px 0 200px 0;
}
