<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>
	/* errors and messages box */
.system-msg {
	border: 1px solid black;
	padding: 1em;
	margin-bottom: 1em;
	}

	/* Operations buttons */
.floated-buttons {
	float: right;
	margin-right: 0.5em;
	}
.buttons a:visited {
	color:white;
	}

.buttons a {
		text-decoration: none;
		font-size: 90%;
		font-family: Verdana, arial;
		border: 1px solid #4E8EC2;
		color: #7CAE31!important;
		background-color: white;
		margin: 1px;
		padding: 2px 4px;
		line-height: 2em;
		font-weight: bold;
}
	/* folder index styles */
#admin_this_folder{
		background-color: #E7F0F7; 
		height: 2em;
		padding: 7px 2px 0px 5px;
		border-bottom: 4px solid #E7F0F7;
		margin-bottom: 0;
		color: #01669E;
		font-size: 100%;  /*"11px;"*/
	}
	
#admin_this_folder #submission {
		display: block;
		float: right;
		margin-top: -2px;
		margin-right: 2px;
	}

	#admin_this_folder #submission select {
		font-size: 100%;/*11px;*/
		font-family: Verdana, Arial;
		padding: 0;
		color: #01669E;
		/* border: 1px solid red; *//*#4E8EC2;*/
}

#admin_this_folder a,input.administrative-button,button.administrative-button {
		border: 1px solid #4E8EC2;
		color: #4E8EC2; /* #3A79AD;*/
		background-color: white;
		margin: 3px 1px 1px 1px;
		padding: 2px 4px;
		text-decoration: none;
		font-weight: bold;
		font-size: 90%;  "font-size: 10px;"
	}

#admin_this_folder a {
	line-height: 2em;
	padding:2px 0px; 
	font-size: 90%;
	}

#admin_this_folder span {
	padding:0em 0.4em;
	margin: 0em 0.3em;
	white-space:nowrap;
	}

#admin_this_folder img {
	vertical-align: middle;
	padding-right: 4px;
	}

#admin_this_folder select {
	vertical-align: middle;
	}

#toolbar{
	padding: 7px 0px 10px 0px;
	padding-left: 8px;
	margin-top:0.4em;
	background-color: #E7F0F7;
	height: 1.2em;
	}

#toolbar a{
	text-decoration: none;
	}

#toolbar input,#toolbar button,#toolbar span{
		border: 1px solid #4E8EC2;
		color: #7CAE31; /* #3A79AD;*/
		background-color: white;
		margin: 3px 1px 1px 1px;
		padding: 2px 4px;
		text-decoration: none;
		font-weight: bold;
		font-size: 90%;  "font-size: 10px;"
	}
#toolbar img{
	display: none;
	}

	table#folderfile_list{
	/*width: 98%;*/
	}

#folderfile_list th{
	background-color: #eeeeee;
	padding: 0.1em;
	color: #303030;
	font-size: 0.9em;
	font-weight: normal;
	border-right: 1px solid #c7c7c7;
	}

#folderfile_list td{
	color: #999999;
	padding: 0.4em 0.1em;
	border-bottom: 1px solid #eeeeee;
	}

#folderfile_list .checkbox{
	vertical-align: top;
	text-align: left;
	padding-left: 0.3em;
	padding-right: 0.3em;
	}

#folderfile_list th.checkbox{
	vertical-align: middle;
	}

#folderfile_list .type{
	vertical-align: top;
	text-align: center;
	width: 0.5em;
	}

#folderfile_list .type img{
	margin-top: 4px;
	}

#folderfile_list th.type{
	vertical-align: middle;
	width: 0.5em;
	}

#folderfile_list .title-column{
	vertical-align: middle;
	text-align: left;
	}

	td.title-column a{
	color: #0f75b3;
	}
	td.title-column a:hover{
	text-decoration: none;
	}

#folderfile_list th.title-column{
	vertical-align: middle;
	padding-left: 0.3em;
	}

#folderfile_list .checkin{
	vertical-align: top;
	text-align: center;
	}
#folderfile_list th.checkin{
	vertical-align: middle;
	}

#folderfile_list .checkout{
	vertical-align: top;
	text-align: center;
	}
#folderfile_list th.checkout{
	vertical-align: middle;
	}

#folderfile_list .edit{
	vertical-align: top;
	text-align: center;
	}
#folderfile_list th.edit{
	vertical-align: middle;
	}
/* Object language availability */

.available_langs {
	font-size: x-small;
}

.available_langs a{
	border-right: 1px solid #0F75B3;
	padding-right: 0.3em;
	padding-left: 0.3em;
}

.available_langs a:first-child {
	border-left:1px solid #0F75B3;
}

	/* Tabbed menus  */

/* @@@@@@@@@@@@@@@@ Tabbed menus @@@@@@@@@@@@@@ */

/*  +++++++++++++++++++ #tabbedmenu +++++++++++++++++++++++ */

	#tabbedmenu {
		float:left;
		width:100%;
		border-bottom: 1px solid #4E8EC2;
		line-height: normal;
		font-size: 100%;
		margin-bottom: 20px;
	}

	#tabbedmenu ul {
		margin:0;
		padding:10px 10px 0 0;
		list-style:none;
	}

	#tabbedmenu li {
		float: left;
		margin: 0 0 0 5px;
		padding: 0 0 0 9px;
		white-space: nowrap;
		border-top: 1px solid #4E8EC2;
		border-left: 1px solid #4E8EC2;
		border-right: 1px solid #4E8EC2;
	}

	#tabbedmenu a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #2F618A; 
		padding: 5px 15px 4px 6px;
		color: #7CAE31;
	}

	#tabbedmenu #currenttab {
		background-color: #E7F0F7; 
	}
	#tabbedmenu #currenttab a {
		text-decoration: none;
		font-weight: bold;
		color: #227AAB;
	}

	#tabbedmenu #currenttab span {
		display: block;
		text-decoration: none;
		font-weight: bold;
	}

	#tabbedmenu a:visited {}

	#tabbedmenu #currenttab a:visited {}

/*  END  +++++++++++++++++++ #tabbedmenu +++++++++++++++++++++++ */

	/* @@@@@@@@@@@@@@ END Tabbed menus @@@@@@@@@@@@@@ */



	/* warning box for active versions of items */
	.version_box {
	background-color: #f4fff4;
	color: red;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: center;
	}

/* Content translation boxes */
	.edit-holder {
		margin: 1.5em 0 0 0;
	}
	div.translate-top {
		line-height: 2.29em;
	}
	.translate {
		background: #fff;
		color: #333;
		font-size: 95%;
		font-weight: normal;
		font-family:Arial, Helvetica, sans-serif;
		line-height: 2.3em;
	}
	*html .translate {
		padding: 0;
	}
	*:first-child+html .translate {
		padding: 0;
	}
	.translate span {
		padding: 0.5em;
	}
	*html .translate span {
		padding: 0;
	}
	*:first-child+html .translate span {
		padding: 0;
	}
	.translate a {
		color: #000;
		background: #def2cc;
		text-decoration: none;
		font-weight: bold;
		padding: 0.5em;
		margin: 0 0 0 0.7em;

	}
	.translate .current {
		margin: 0 0 0 0.7em;
		padding: 0.5em;
		display: inline;
		background: #def2ff;

	}
	.translate .current span {
		color: #444444;
		font-weight: normal;
		padding: 0 3px 0 3px;
	}
	.translate a:hover {
		background: #def299;
		color: #666666;
	}
	.translate_bar_right {
		display: inline;
		float: right;
		width: 30em;
		text-align: right;
		position: relative;
		margin: 1em;
		font-size: 95%;
	}

	.edit_right_box {
		clear: both;
		background-color: #f4fff4;
		padding: 1em;
		float: right;
		border: 1px solid black;
		width: 200px;
		text-align: right;
		margin: 0.5em 1em 0.5em 0;
	}

	.edit_right_box p {
		font-size: 90%;
		text-align: justify;
		border-top: 1px dotted #000;
		padding-top: 0.5em;
	}

	/* styles for forms */
	.field {
		margin: 1em;
	}

	.field-inline {
		margin: 1em 0 0 1em;
	}

	.field label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	}

	.field-inline label {
	font-weight: bold;
	margin-bottom: 0.3em;
	}

	.field .invisible {
	display: none;
	}

	.field-inline .invisible {
	display: none;
	}

	/*  Comment box form */
	.comment_box {
	background-color:#FAFAFA; 
	border: 1px dashed #cccccc; 
	margin:1em;
	padding:1em;
	}

	.deletecomment {
	font-size: 90%;
	float:right;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	margin-bottom: 0.5em;
	/*text-indent: 17px;*/
	}

	.addcomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	margin-bottom: 0.5em;
	}

	.logincomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	margin-bottom: 0.5em;
	}

	.commentbox_title {
	font-weight: bold;
	font-size: 110%;
	/*text-indent: 17px;*/
	padding-left: 17px;	
	}

	.commentbox_content {
	color:#666666; 
	font-size: 80%;
	}

	.commentbox_add {
	margin: 1em;
	/*padding-left:1em;*/
	}

	.hr_addcomment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white;
	}

	.hr_inside_comment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white; 
	margin-top:0.5em;
	}
	.idented_block {
	margin-left: 20px;
	}

.pick_pop_up {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
}

.pick_pop_up h1 { 
	font-family:  Arial, Helvetica, sans-serif;
	color: #557595; 
	font-weight: bold;
	font-size: 190%;
}

.pick_pop_up p { 
background-color: #f0f0f0;
padding: 10px;
color: #444444; 
font-size: 90%;
}

.pick_pop_up td {
	padding: 1px;
}

.pick_pop_up table a {
	color: #3C6691;
}

.expand_collapse_row td {
	background-color: #F9F9F9;
	border-bottom: 3px solid white;
}

.expand_collapse_letter div {
	margin-left: 5px;
	color: #3C6691; 
	font-weight: bold;
	text-transform: capitalize;
	font-weight: 110%;
}

/* SORTABLE TABLES */
.sortable {
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 1px outset #fff;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

/*	TABLES WITH DUPLICATES	*/
tr.duplicate {
	color: #ff0000;
}
tr.duplicate a {
	color: #ff0000;
}
tr.not-duplicate {
}

/* FLOATED BOXES */
.float_me {
	float: right;
	width: 30%;
	background-color: #FFFFE1;
}

.float_me div {
	background-color: #a0a0a0;
	font-weight: bold;
	color: white;
	line-height: 2em;
	text-align: center;
}

/*	FORUM STYLE	*/
.forum_message_top a {
	margin-right: 0px;
	padding: 0px 2px 0px 3px;
	text-decoration: none;
	color: white;
	background-color: #638FBC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #416B96;
	border-bottom: 1px solid #416B96;
	position: relative;
}

.forum_message_top a:visited {
	color: white;
}
.message_top_buttons {
	float: right;
	margin-top: 2px;
	position: relative;
}

.message_top_buttons2 {
	padding: 5px;
}

.message_top_buttons2 .buttons {
	padding: 1px 3px;
}

.forum_topic {
	margin-bottom: 15px;
	border: 1px solid #eeeeee;
	padding: 5px;
	color: #333333;
}

.forum_topic a {
	color: #416B96;
}

.forum_message a:visited {
	color: #416B96;
}
.forum_topic_top {
	background-color: #eeeeee;
	padding: 2px 5px 6px 2px;
	font-size: 90%;
}

.forum_topic_author {
	padding: 10px 0 5px 4px;
	border-bottom: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_topic_content {
	margin-top: 10px;
}

.forum_topic_bottom {
	padding:5px;
	border-top: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_messages_slot {
	margin-top: 15px;
}

.forum_message {
	margin-bottom:5px;
	background-color: #F7F7F7;
}

.forum_message a {
	color: #416B96;
}

.forum_message a:visited {
	color: #416B96;
}

.forum_message_top {
	background-color:#E9E9E9;
	border-bottom: 1px solid #E4E4E4;
	padding: 2px;
	font-size: 90%;
	color: #416B96;
	position: relative;
}

.forum_message_top a {
	color: white;
}
.forum_message_top a:visited {
	color: white;
}

.forum_message_top img {
	margin-right: 3px;
	border-left: 3px solid #E4E4E4;
}

.forum_message_author {
	padding:5px;
	border-bottom:1px dashed #E4E4E4;
	font-size: 90%;
	color: #444444;
	}

.forum_message_description {
	padding: 5px;
	color: #111111;
}

.forum_message_bottom {
	padding:5px;
	border-top: 1px dashed #E4E4E4;;
	color: #666666;
	font-size: 90%;
}


	/*______- sortables columns -_____ */


	/* -------ASC SORT--------- */
	.sort_asc_th {
		padding: 0em;
		background-color: #DEECF4;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
	}

		.sort_asc_th img {
			display: none;
		}

	.sort_asc_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;
		background-image: url('sort_asc.gif');
		background-repeat: no-repeat;
		background-position: right center;
	}

	/* ----------DESC SORT---------- */
	.sort_desc_th {
		padding: 0em;
		background-color: #DEECF4;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
		font-weight: normal;
	}

		.sort_desc_th img {
			display: none;
		}

	.sort_desc_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;	
		background-image: url('sort_desc.gif');
		background-repeat: no-repeat;
		background-position: right center;
	}

	/* -----------SORTABLE------------- */
	.sort_th {
		padding: 0em;
		background-color: #DEECF4;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
	}

	.sort_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;
	}

.edit_right_box {
	clear: both;
	background-color: #f4fff4;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: right;
	margin-bottom: 0.5em;
}

.edit_right_box p {
  font-size: 90%;
  text-align: justify;
  border-top: 1px dotted #000;
  padding-top: 0.5em;
}

 /*	editor style	*/
.mceEditor {
	width: 600px;
	height: 250px;
}
.mceEditor-small {
	width: 300px;
	height: 150px;
}
.mceEditor-big {
	width: 700px;
	height: 400px;
}
.mceStatusbarPathText { visibility: hidden; }
 /* CALENDARS & CLOCKS */ 
 .calendarbox, .clockbox { 
 	margin:5px auto; 
	font-size:11px; 
	width:16em; 
	text-align:center; 
	background:white; 
	position:relative; 
	border: 1px solid #ccc;
 } 
 .clockbox { 
 	width:9em; 
 } 
 .calendar { 
 	margin:0; padding: 0; 
 } 
 .calendar table { 
 	margin:0; padding:0; 
	border-collapse:collapse; 
	background:white; 
	width:99%; 
 } 
 .calendar caption, .calendarbox h2 { 
	 margin: 0; 
	 font-size:11px; 
	 text-align:center; 
	 border-top:none; 
 } 
 .calendar th { 
	 font-size:10px; 
	 color:#666; 
	 padding:2px 3px; 
	 text-align:center; 
	 background:#e1e1e1 url(misc_/Naaya/nav-bg.gif) 0 50% repeat-x; 
	 border-bottom:1px solid #ddd; 
 } 
 .calendar td { 
	 font-size:11px; 
	 text-align: center; 
	 padding: 0; 
	 border-top:1px solid #eee; 
	 border-bottom:none; 
 } 
 .calendar td.selected a { 
	 background: #C9DBED; 
 } 
 .calendar td.nonday { 
	 background:#efefef; 
 }
 .calendar td.today a { 
	 background:#ffc; 
 } 
 .calendar td a, .timelist a { 
	 display: block; 
	 font-weight:bold; 
	 padding:4px; 
	 text-decoration: none; 
	 color:#444; 
 } 
 .calendar td a:hover, .timelist a:hover { 
	 background: #5b80b2; 
	 color:white; 
 } 
 .calendar td a:active, .timelist a:active { 
	 background: #036; 
	 color:white; 
 } 
 .calendarnav { 
	 font-size:10px; 
	 text-align: center; 
	 color:#ccc; margin:0; 
	 padding:1px 3px; 
 } 
 .calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { 
 	color: #999; 
	text-decoration: none;
	font-weight: bold;
	padding: 3px;
 } 
 .calendar-shortcuts { 
 	background:white; 
	font-size:10px; 
	line-height:11px; 
	border-top:1px solid #eee; 
	padding:3px 0 4px; 
	color:#ccc; 
 } 
 .calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { 
	 display:block; 
	 position:absolute; 
	 font-weight:bold; 
	 font-size:12px; 
	 background:#C9DBED url(misc_/Naaya/default-bg.gif) bottom left repeat-x; 
	 padding:1px 4px 2px 4px; 
	 color:white; 
	 text-decoration: none;
 } 
 .calendarnav-previous:hover, .calendarnav-next:hover { 
	 background:#036; 
 } 
 .calendarnav-previous { 
	 top:0; left:0; 
 } 
 .calendarnav-next { 
	 top:0; right:0; 
 } 
 .calendar-cancel { 
	 margin:0 !important; 
	 padding: 4px 0;
	 color: #000 !important; 
	 font-size:10px; 
	 background:#e1e1e1; 
	 border-top:1px solid #ddd; 
 } 
 .calendar-cancel a { 
	 padding:2px; color:#999; 
 } 
 ul.timelist, .timelist li { 
 	list-style-type:none; 
	margin:0; padding:0; 
 } 
 .timelist a { 
	 padding:2px; 
 } 
 .vDateField { 
	 margin-left:4px; 
 }