<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>

html,div,h1,th,td,li,ul,fieldset,legend { direction:rtl; }

#main_structure { direction:ltr; position:absolute; padding-left:3px; top: 0; }
#main_structure_ie_fixer{ position:relative; }

body {
	margin:0;
	padding:0;
	background-repeat: repeat-y;
	background-position: right top;
	background-image: url('bckg_left.jpg');
	font-size: 85%;
	background-color: white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.skiplink {
	display: none;
}

th {
	background-color: #f0f0f0;
	text-align:left;
	vertical-align: top;
}

td input {
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
}

table h1 {
	position:relative;
}

h1 {
	margin-top: 0px;
	position:relative;
	font-family: "Times New Roman", Times, serif;
	font-size: 260%;
	color: #227AAB;
	font-weight: normal;
	border-bottom: 1px solid #DEEAF3;
	padding-bottom: 5px;
}

h2 {
}

h3 {
}

h4 {
	position: relative;
	margin: 0;
}

h5 {
	position: relative;
	margin: 0;
}

p{
}

a img {
	border: none;
}

a {
	/* color: #557ba1;*/
}

a:visited {
	/* color: #557ba1;*/
}

input {
	font-size: 100%;
	vertical-align: middle;
}

div.fieldset_div {
}

legend {
	font-weight: bold;
}

.sitemap {
	margin-top: 0.5em;
}

.sitemap div{
	padding: 0.3em 0em;
}

.white_backgrounded {
	background-color: white;
}

/* ------------ NAV_UPPER ---------- */
#nav_upper {
	text-align: left;
	background-color: #7CAE31;
	color: white;
}
#nav_upper a {
	color: white;
}
#nav_upper div {
	margin: 0;
	margin-left:4px;
	padding:0;
	list-style:none;
	display:block;
	position:relative;
}
#nav_upper span a {
	display: block;
	padding: 0px 6px;
	border-right: 1px solid #cccccc;
	float: left;
	text-decoration: none;
}
#nav_upper a:visited {
	color: white!important;
}
#nav_upper_log {
	float: right;
}
#nav_upper_log img {
	margin-top: 1px;
	display: none; /* to be changed */
}
.clearing_div_top {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	background-color: #7CAE31; /*ERROR*/
}

/* Top drop down menu */
ul.topnav_menu {
	position: absolute;
	top: auto;
	left: auto;
	/*right: auto;*/
	background-color: #87aac6;
	color: white;
	display: none;
	list-style-type: none;
	padding: 0;
	margin-top: 1em;
	margin-right: 0;
	z-index: 1000;
}
ul.topnav_menu li {
	border-bottom: 1px dotted #9bc0dd;
	border-left: 1px dotted #9bc0dd;
	border-right: 1px dotted #9bc0dd;
}
ul.topnav_menu li:hover, ul.topnav_menu li.sfhover {
	background-color: #7cae31;
}
ul.topnav_menu li a {
	display: inline;
}
div.menuitem:hover ul, div.menuitem.sfhover ul, div.menuitem a {display: block;}

/* ------------ END NAV_UPPER ---------- */

#top_banner {
	height: 75px;/* to be changed */
	border-top: 1px solid #3978AC;
	background-color: #3978AC;
}

#site_logo {
	float: right;
	width: 170px;
	margin-top: 10px;
}
#site_logo img {
	margin-right: 21px;
}
.logobis {
	float: left;
}
.logobis img { 
	margin: 5px;
	padding-left: 15px;
	width: 190px;
	height: 50px;
}
#site_title {
	font-family: "Times New Roman", Times, serif;
	border: 1px solid white;
	padding-left: 20px;
	font-size: 170%;
	margin: 15px 0px 0px 160px;
	color: #DFF0C6;
	padding-top: 0px;
	height: 2.4em;
}
#top_banner>#site_title {
	height: auto;
}
#site_title span{
}
#site_subtitle {
}

#nav_main {  /* GENERATES HORIZ SCROLLBAR in AR!!! TO FIX */
	position:relative;
	z-index: 1;
	clear:both;
/* for the lang select bug fixer */
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}
#nav_main_language {
	position:relative;
	float: left;
	margin-left: 1px;
	margin-top: 7px;
	z-index:1000;
}
#nav_main_language form {
	margin:0;
}
#nav_main_language select {
	font-family: Arial,sans-serif;
	margin-right: 5px;
	font-size: 85%;
}
#nav_main_links {  /* GENERATES HORIZ SCROLLBAR in AR!!! TO FIX */
	background-color: #eaeaea;
}
#nav_main_links ul {
	position:relative;
	display: inline;
	margin:0;
	padding:0;
}
#nav_main_links li {
	position:relative;
	display: inline;
	margin: 0 5px 0 0;
	padding: 0 8px 0 0;
}
#nav_main_links a {
	white-space: nowrap;
	text-decoration: none;
/*	vertical-align:middle;*/
}
#nav_main_links a:visited {
}

.clearing_div {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

#search_area {
}
#search_area form {
	margin: 0;
	padding: 0;
}
#search_area label {
	display: block;
	background-color: white;
	border: 1px solid #ACCBE3;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #7CAE31;
	font-size: 90%;
	margin: 37px 6px 12px 7px;
	padding: 2px 12px 2px 0px;
	background-position: left top;
}
#search_area #query {
	position: relative;
	width: 10em;
	border: 1px solid #CEE1EE;
	color: #227AAB;
	font-size: 95%;
	font-family: Verdana, Arial;
	margin: 0px 4px 0px 5px;
}
#search_area #go_search {
	width: 2.5em;
	border: 1px solid #CEE1EE;
	color: #227AAB;
	background-color: white;
	font-family: Verdana, Arial;
}
#search_area #sub {
	margin:0;
	border:0;
	display: none;
}

#bread_crumb_trail {
	color: #7CAE31;
	margin: 5px 0 8px 0;
}
div#bread_crumb_trail a {
	color: #4E8EC2;
	direction: rtl;
	unicode-bidi: embed;
	text-decoration:none;
	font-size: 120%;
}
div#bread_crumb_trail a:visited{
}

#left_port {
	position: absolute;
/*	background-repeat: repeat-y;
	background-position: left top;
	background-image: url('bckg_left.jpg');*/
	right:0px;
	width: 173px;
}

#middle_right_port {
	margin:0px 193px 10px 0px;
}
.middle_port {
	margin-left: 165px; /* to be changed */
	background-color: white;
}

*:first-child+html .middle_port ul {
	padding-right: 0px;
}

.middle_port ul {
	padding-right: 14em;
}

#right_port {
	position:relative;
	border-right: 6px solid white;
	float: left;
	clear: left;
	background-color: white;
	width: 157px; /* to be changed */
}
.right_forcer {
	float:left;
	font-size:0.1em;
	line-height:0;
	height:0;
	border:1px solid white;
}

/* Right side navigation dropdown menu */
ul.left_side_navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px; /* Width of Menu Items */
}
ul.left_side_navigation li:hover {
	background: #9bc0dd !important;
	color: white !important;
}
/* IE6 Fix*/
ul.left_side_navigation li.sfhover {
	background: #9bc0dd !important;
	color: white !important;
}
ul.left_side_navigation li.sfhover a {color: white !important;}
ul.left_side_navigation li:hover a {color: white !important;}
ul.left_side_navigation ul li {
	position: relative;
}
ul.left_side_navigation li ul {
	position: absolute;
	right: 153px;
	top: auto;
	display: none;
	background: #9bc0dd;
	margin-top: -13px !important;
}
ul.left_side_navigation li ul li {
	background-image: none !important;
	padding-left: 1em !important;
	padding-right: 1.5em !important;
}
/* Styles for Menu Items */
ul.left_side_navigation ul li a {
	display: block;
	text-decoration: none;
	background: #9bc0dd;
	font-weight: normal;
	color: white !important;
	}
/* Holly Hack. IE Requirement \*/
ul.left_side_navigation html ul li { float: right; height: 1%; }
ul.left_side_navigation html ul li a { height: 1%; }
ul.left_side_navigation li:hover ul, ul.left_side_navigation li.sfhover ul { display: block; } /* The magic */
/* End Right side navigation dropdown menu */

#site_footer {
	clear: both;
	margin-top: 60px;
}

.left_port_title {
	background-color: white;
	border: 1px solid #ACCBE3;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #7CAE31;
	font-size: 90%;
	margin: 0px 6px 12px 7px;
	padding: 2px 12px 2px 0px;	
	background-repeat: no-repeat;
	background-position: left top;
}
.left_port_title a {
	color: #7CAE31;
	text-decoration: none;
}
.left_port_title a:visited{
	color: #7CAE31;
	text-decoration: none;
}
.left-logos {
}
.portlet_folder {
}
#left_port ul {
	width: 155px;
	list-style: none;
/* var */
	/*margin:0px 10px 0px 10px;*/
	margin:0px 7px 0px 13px;
	padding: 0;
	/*color: white;*/
	color: #227AAB;
	font-size: 105%;
	font-family:/*s40*/'Arabic Transparent', Arial, Helvetica, sans-serif/*e40*/;
}
#left_port ul a {
	text-decoration: none;
	color: #227AAB;
}
#left_port ul li {
	background-repeat: no-repeat;
	background-image: url(bck_li.gif);
	border-bottom: 1px solid white;
/* var */
	margin:0px 0 5px 0;	
	padding: 0 29px 5px 0px;
	background-position: right 2px;
}
#left_port ul a.inactive_link:hover {
}
#left_port ul a.inactive_link:visited {
}
#left_port ul a.active_link {
}
#left_port ul a.active_link:visited {
}

/* Right portlets */
.right_portlet {
	background-color:#EAF1F7;
	border: 0px solid white;
	margin-bottom: 10px;
	width: 157px;
}
.right_portlet_tile {
	position: relative;
	background-color: #9BC0DD;
	color: white;
	font-weight: bold;
	font-size: 90%;
	padding: 2px 0px 3px 0px;
/*	text-indent: 14px; */ /* must not! */
	background-repeat: no-repeat;	
	background-position: left top;
	border-bottom: 2px solid white;
}
.right_portlet_body {
	background-color: #EAF1F7;
	/*position: relative;*/ /* MUST NOT APPEAR!! */
}
.right_portlet ul {
	list-style:none;
	margin:0;
	padding:0;
	border: 10px solid #EAF1F7;
}
.right_portlet li {
	text-indent:0;
	display: block;
	margin:0;
	padding:3px 0px;
	color: #227AAB;
	font-family:'Arabic Transparent', Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}
.right_portlet li img {
	display: none;
}
.right_portlet a {
	text-decoration: none;
	color: #227AAB;
}
.right_portlet a:visited {
}
.right_portlet .icoxml {
/* var */
	padding: 2px 12px 4px 12px;
	text-align: left;
}
/* End right portlets */

#footer {
	padding: 4px 5px 0px 0px;
	margin: 10px 10px 15px 15px;
	background-color:white;
}

#site_update{
	margin-bottom:5px;
	padding-left:5px;
}

#footer ul {
	border-top: 1px solid #C0D8E9;
	list-style-type: none;
	margin:0;
	padding:0px;
	padding-left:5px;
	text-indent: 0em;
	color: #3978AC;
}
#footer li {
	display: inline;
	border-right: 1px solid white;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
#footer a {
	color: #3978AC;
}

/* ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ */
.middle-portlet {
	border:1px solid white;
	/*margin-top: 10px;*/
}
.middle-portlet h4 {
	border-bottom:1px solid #cbcbcb;
	padding-bottom: 2px;
	color:#557595;
}
.middle-portlet ul {
	list-style: none;
	margin: 5px 0px 5px 10px;
	padding: 0;
}

*:first-child+html .middle-portlet li {
	padding-bottom: 2px;
	padding-right: 0px;
	/* RTL hack 
	position: relative;
	padding-right: 145px;*/
}

.middle-portlet li {
	padding-bottom: 2px;
	padding-right: 12em;
	/* RTL hack 
	position: relative;
	padding-right: 145px;*/
}

.middle-portlet li {
	padding-bottom: 2px;
	/* RTL hack 
	position: relative;
	padding-right: 145px;*/
}
ul.nostyle {
	list-style:none;
	margin: 0;
	padding: 0;
}
ul.nostyle li {
	margin: 0;
	padding: 0;
}

.list_of_images {
	list-style: none;
	margin:0;
	padding:0;
}
.list_of_images li {
	display:inline;
}
.list_of_images .image_block {
	white-space:nowrap;
}
.list_of_images input {
	vertical-align:top;
}
.list_of_images img {
	vertical-align:middle;
	width: 91px;
	height: 69px;
	margin: 0px 10px 10px 0px;
}

.cell_info{
	float: right;
	font-size: 80%;
}

.mandatory_field {
	color:red;
}
.message {
	margin-bottom: 0.5em;
}
.message ul{
	margin-top:0;
	margin-bottom:0.4em;
}
.error li{
	color: #990000;
}
.error fieldset{
	border: 1px solid #990000;
}
.error legend{
	border: 1px solid #990000;
	padding: 1px 3px;
	color: #990000;
}

.search_field {
	margin-bottom: 1em;
}
.search_field .field{
	float:left;
	margin-right:1em;
	margin-top:0;
}
.search_field form,.search_field input,.search_field select,.search_field label {
	margin:0!important;
	vertical-align: middle;
	color:#444;
}
.search_field label {
	border-bottom:1px solid white;
}
.search_language {
	font-weight:normal!important;
}
.clear_float {
	clear:left;
	border:1px solid white;
}

.hlighted {
	font-weight: bold;
	background-color: #ffffcc;
}

.checklist {
	list-style: none;
	margin-top: 0;
	padding: 0;
	margin: 0;
}
.checklist li {
	margin: 0;
	padding: 0;
}
.checklist,.columns_more input {
	vertical-align: middle;
	position: relative;
	top: -3px;
}
.columns_more {
	float:left;
	margin: 0px 10px 15px 10px;
}
.columns_more .columns_more{
	width: auto;
}

div ul.proj_projects {
	border:1px dashed #999999;
	height: 9.6em;
	overflow: scroll;
	overflow: auto;
}
div>ul.proj_projects {
	height: auto;
	max-height: 16.2em;
}

/* --------- THE FANCY NEW BLUE BANNER------------ */

.topban {
	background-color: #3978AC;
	background-image: url(bck_top.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	clear: both;
	color: #ffffff;
}
.topleft {
	float: right; 
	width: 165px; 
	height: 95px;
}
.topright {
	margin-right: 172px;
	height: 95px; 
	position: relative;
}
.topmenu {
	position: absolute; 
	top: 59px; 
	right:0; 
	width: 99%;
}
.topleft img {
	margin: 13px 21px 0 0px;
}
.topmenu .menuitem {
	float: right;
	height: 31px;
	border-right: 1px solid #DFF0C6;
}
.topmenu .menuitem a {
	display: block; /* added for RTL */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 6px 0px 9px;
}
.toptitle {
	border: 1px solid #3978AC; /* FIXEX Firefox BUG */
}
.sitetitle {
	margin-top: 20px;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	color: #DFF0C6;
	
}
.sitesubtitle {
	display: none;
	color: #DFF0C6;
}
.toplanguage {
	float: left;
	margin: 0 0px 0 5px;
	
}
.toplanguage select {
	font-size: 11px;
	color: #478AC0;
}
/* --------- END THE FANCY NEW BLUE BANNER------------ */

.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}
.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
font-size: 1.1em;
}
.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(misc_/SMAP/closed.gif) no-repeat left 1px;
cursor: pointer !important;
}
.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}
.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
padding-left: 5px;
font-size: 1em;
cursor: default;
}

/* center content */
#center_content {
	float: right;
	width: 100%;
	background: #fff;
}

/* EW skin */
.fullscreen #left_port {
	display: none;
}
.fullscreen .middle_port {
	width: 98.2%;
	margin-left: 0.8%;
}
.fullscreen #nav_upper li #fs_show {
	background:transparent url(misc_/Naaya/fullscreencollapse_icon.gif) no-repeat scroll left center;
	padding:3px 0.5em 1px 16px;
}
