a {
	color: #462c61;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	border: 1px solid #462c61;
}


@media screen{
	body {
		background: url("bg-header1.jpg") repeat-x top center;
	}
	h1{
		color: #462c61;
	}
	h2{
		color: #462c61;
	}
	h3{
		color: #462c61;
	}
	#nav1 a:hover {
		color: #b9b9d4;
	}
	#nav2 a:hover {
		color:#462c61;
	}
	#linkgroups li li a:hover span, #linkgroups li li a:active span{
		background-color: #b9b9d4;
	}
	#location-bar a{
		color:#462c61;
	}
	.portlet_folder div.portlet_folder_title {
		color: #462c61;
	}
	.portlet_folder div.portlet_folder_title a:visited {
		color: #462c61;
	}
	.portlet_folder a {
		color:#462c61;
	}
	.portlet_folder .portlet_content a {
		color:#462c61;
	}
	.middle-portlet h4 a {
		color: #318200;
	}
	.title_story {
		color:#462c61;
	}
	.title_story a {
		color:#462c61;
	}
	.bottom_border {
		border-bottom: 1px solid #c5d9b2;
	}
	#footer{
		border-top:1px solid #b9b9d4;
	}
	#footer a{
		color:#318200;
	}
	#footer a:visited{
		color:#318200;
	}
}
