/**********************************************************
Data tables
*/

.left {
    float: left;
}

.right {
    float: right;
}

table.datatable {
	margin: 1em 0em;
	width: 95%;
}

.datatable caption {
	font-weight: bold;
}

.datatable th {
	text-align: center;
	border-top: none;
	background: #ccc;
}

.datatable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: right;
	vertical-align:top;
}

.datatable th[scope="row"] {
	text-align: right;
	vertical-align:top;
}

.datatable td,
.datatable th  {
	margin:0;
	padding: 0.3em;
	vertical-align: top;
}

.datatable td {
	border-bottom: 2px solid #f6f6f6;
}

.datatable tr.zebraeven,
tr.row-even {
	background-color: #f6f6f6;
}

.datatable tr:hover {
	background-color: #f0f0f0;
}

.datatable tr.tr-messages td {
	border-bottom: none;
	border-right: none;
}

.datatable tr.row-odd:hover,
.datatable tr.row-even:hover {
	background-color: #F6FCE3;
}


/**********************************************************
Tabbed menu. Used in admin pages with multiple sub-pages.
We provide rules for both classes and IDs because legacy
markup used IDs.
*/

#tabbedmenu,
.tabbedmenu {
	line-height:normal;
	margin: 20px 0;
	overflow: hidden;
	margin-bottom: 0px;
	background: transparent;
}

#tabbedmenu ul,
.tabbedmenu ul {
	margin:0;
	padding: 0;
}

#tabbedmenu li,
.tabbedmenu li {
	float: left;
	margin: 5px 0 0;
	padding: 0 5px 0 0;
	white-space: nowrap;
	list-style-image: none;
	list-style:none;
	border-bottom: 1px solid #039749;
}

#tabbedmenu li#currenttab,
.tabbedmenu li.currenttab {
}

#tabbedmenu li:last-child,
.tabbedmenu li:last-child {
	padding: 0;
}

#tabbedmenu a,
.tabbedmenu a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 6px 10px;
	color: #777; /*#335C9E;*/
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #039749;
	background-color: #888;
	margin-bottom: -1px;
}

.tabbedmenu a:visited,
#tabbedmenu a:visited {
	color: #888;
}

.tabbedmenu a:hover,
#tabbedmenu a:hover  {
  color: #555;
}

#tabbedmenu li a,
.tabbedmenu li a{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #F0F0F0;
}

body #tabbedmenu #currenttab a,
body .tabbedmenu .currenttab a {
	text-decoration: none;
	font-weight: bold;
	color: #039749;
	background: #fff;
	border: 1px solid #039749;
	border-bottom: 1px solid #fff;
}

.tabbedmenu .currenttab a:visited,
#tabbedmenu .currenttab a:visited {
	color: #039749;
}

#tabbedmenu #currenttab span,
.tabbedmenu .currenttab span {
	display: block;
	text-decoration: none;
	font-weight: bold;
}

/**********************************************************
Buttons, links, bars with buttons
*/

.floated-buttons {
	float: right;
	margin-top: -5px;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

.buttons a {
	display: block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	background-color: #888;
	color: #fff;
	font-weight: bold;
	border: none;
}

.buttons a:visited {
	color: #fff;
}

a.button-like,
a.button-like:visited {
	text-decoration: none;
	background-color: #fff;
	color: #000;
	line-height: 2em;
	border: 1px solid #bbb;
	padding: 0.1em 0.4em;
	margin: 0em 0.3em;
	font-size: 90%;
}



/**********************************************************
Comment box
*/

.comment_box {
	background-color:#FAFAFA;
	border: 1px dashed #cccccc;
	margin:1em;
	padding:1em;
}

.addcomment,
.logincomment,
.deletecomment {
	padding: 0.1em 0.4em;
	margin: 0em 0.3em;
	font-size: 90%;
	border: 1px solid #7ba400;
	background-color:#fff;
	color:#000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
}

.addcomment {
	background-image: url('addcomment.gif');
}

.logincomment {
	background-image: url('logintoadd.gif');
}

.deletecomment {
	float:right;
	background-image: url('trash.gif');
}

.commentbox_title {
	font-weight: bold;
	font-size: 110%;
	padding-left: 17px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url('comment.gif');
}

.commentbox_content {
	color:#666666;
	font-size: 80%;
}

.commentbox_add {
	margin: 1em;
}

.hr_addcomment {
	border-top: 1px solid #eaeaea;
	border-bottom:1px solid white;
}

.hr_inside_comment {
	border-top: 1px solid #eaeaea;
	border-bottom:1px solid white;
	margin-top:0.5em;
}



/**********************************************************
Translate to portal's languages (edit content object,
edit site metadata, edit html portlet ...)
*/

.translate {
	background: #fff;
	color: #333;
	font-size: 95%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 2.2em;
}

*html .translate {
	padding: 0;
}

*:first-child+html .translate {
	padding: 0;
}

.translate span {
	padding: 0.5em;
}

*html .translate span {
	padding: 0;
}

*:first-child+html .translate span {
	padding: 0;
}

.translate a {
	color: #000;
	background: #def2cc;
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em;
	margin: 0 0 0 0.7em;

}

.translate .current {
	margin: 0 0 0 0.7em;
	padding: 0.5em;
	display: inline;
	background: #def2ff;

}

.translate .current span {
	color: #444444;
	font-weight: normal;
	padding: 0 3px 0 3px;
}

.translate a:hover {
	background: #def299;
	color: #666666;
}

.translate_bar_right {
	display: inline;
	float: right;
	width: 30em;
	text-align: right;
	position: relative;
	margin: 1em;
	font-size: 95%;
}

.edit_right_box {
	clear: both;
	background-color: #f4fff4;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: right;
	margin: 0.5em 1em 0.5em 0;
}

.edit_right_box p {
	font-size: 90%;
	text-align: justify;
	border-top: 1px dotted #000;
	padding-top: 0.5em;
}



/**********************************************************
Pop up windows used as pickers
*/

.pick_pop_up {
	font-family: Verdana, Arial;
	font-size: 70%;
	color: #333333;
}

.pick_pop_up a {
	color: #286185;
}

.pick_pop_up h1 {
	margin-top: 0.8em;
	position: relative;
	color:#8da559;
	color: #666666;
	font-family: arial, sans-serif;
	font-size: 1.9em;
	font-weight: bold;
}

.pick_pop_up input {
	font-size: 100%;
	vertical-align: middle;
}

.pick_pop_up table {
	font-size: 100%;
}

.pick_pop_up table img {
	border: 3px solid #eaeaea;
}

.pick_pop_up th {
	text-align: left;
	color: #333333;
	font-weight: normal;
	background-color: #eaeaea;
	padding-right: 20px;
	border-bottom: 5px solid white;
}

.pick_pop_up td {
	padding-right: 20px;
}



/**********************************************************
Form fields, used in lots of places (edit content, various
admin pages, anywhere a complex form is displayed)
*/

.field label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
}

.field-inline label {
	font-weight: bold;
	margin-bottom: 0.3em;
}

.field .invisible {
	display: none;
}

.field-inline .invisible {
	display: none;
}



/**********************************************************
Menu bar with "edit" button, used by all content objects, not
just folder
*/

#admin_this_folder {
	text-align: left;
}

#admin_this_folder #submission {
	font-weight: bold;
}

#admin_this_folder a,
body .g-box-button input,
.upload_photos {
	line-height: 2em;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	border: none;
	background-color: #41A04B;
	color: #FFFFFF;
	cursor: pointer;
	margin-left: 7px;
	padding: 3px;
	border-radius: 0px;
	width: auto; /* instead of 12em for body .g-box-button input */
}

.upload_photos,
.upload_photos:hover,
.upload_photos:visited {
  margin-left: 61px;
  color: #fff;
}

#admin_this_folder a,
#admin_this_folder a:hover {
	text-decoration: none;
}

#admin_this_folder span {
	padding: 0em 0.4em;
	margin: 0em 0.3em;
}

#admin_this_folder img {
	vertical-align: middle;
	padding-right: 4px;
}

#admin_this_folder select {
	vertical-align: middle;
}

#admin_this_folder select.more_actions {
	float: right;
}



/**********************************************************
Second menu bar with "cut", "copy", etc. Used by folder, survey,
forum
*/

/* second menu */
#toolbar {
	padding: 5px 0 12px;
}

#toolbar a {
	text-decoration: none;
}

#toolbar span {
	font-size: 0.85em;
	margin-right: 0.4em;
	padding: 0.15em;
	padding-left: 0.3em;
	border: 1px solid #bbb;
	background-color: #eee;
	color: #333;
	white-space: nowrap;
	font-weight: bold;
}

#toolbar img {
	position: relative;
	top:1px;
}

div#toolbar input {
	border: 1px solid #CCC;
	background: #F6F6F6;
	overflow: visible;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
}



/**********************************************************
Folder contents listing
*/

table#folderfile_list {
	width: 100%;
}

#folderfile_list th {
	background-color: #eeeeee;
	padding: 0.1em;
	color: #303030;
	font-size: 0.9em;
	font-weight: normal;
	border-right: 1px solid #c7c7c7;
}

#folderfile_list td {
	color: #999999;
	padding: 0.4em 0.1em;
	border-bottom: 1px solid #eeeeee;
}

#folderfile_list .checkbox {
	vertical-align: top;
	text-align: left;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

#folderfile_list th.checkbox {
	vertical-align: middle;
}

#folderfile_list .type {
	vertical-align: top;
	text-align: center;
	width: 0.5em;
}

#folderfile_list .type img {
	margin-top: 4px;
}

#folderfile_list th.type {
	vertical-align: middle;
	width: 0.5em;
}

#folderfile_list .title-column {
	vertical-align: middle;
	text-align: left;
}

#folderfile_list th.title-column {
	vertical-align: middle;
	padding-left: 0.3em;
}

#folderfile_list .checkin {
	vertical-align: top;
	text-align: center;
}

#folderfile_list th.checkin {
	vertical-align: middle;
}

#folderfile_list .checkout {
	vertical-align: top;
	text-align: center;
}

#folderfile_list th.checkout {
	vertical-align: middle;
}

#folderfile_list .edit {
	vertical-align: top;
	text-align: center;
}

#folderfile_list th.edit {
	vertical-align: middle;
}

#folderfile_list .rating {
	width: 100px;
}

td.title-column a {
	color: #3F5967;
}

td.title-column a:hover {
	text-decoration: none;
}

#folder_footer {
	margin: 10px auto;
	position: relative;
	width: 100%;
	display: inline-block;
}



/**********************************************************
Object language availability
*/

.available_langs {
	font-size: x-small;
}

.available_langs a {
	padding-right: 0.3em;
	padding-left: 0.3em;
	border-right: 1px solid #41ad00;
}

.available_langs a:first-child {
	border-left:1px solid #41ad00;
}



/**********************************************************
Links to feeds and social networks. Used on index page of folder,
news, event, story.
*/

a.feed_link,
a.facebook_link,
a.twitter_link,
a.download_link {
	padding: 0;
	line-height: 1.8;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-decoration: none;
}

a.feed_link {
	background: transparent url('misc_/Naaya/rss.png') no-repeat scroll left center;
}

a.facebook_link {
	background: transparent url('misc_/Naaya/facebook.png') no-repeat scroll left center;
}

a.twitter_link {
	background: transparent url('misc_/Naaya/twitter.png') no-repeat scroll left center;
}

a.download_link {
	background: transparent url('misc_/Naaya/download.png') no-repeat scroll left center;
	float: right;
	width: auto;
	padding-left: 25px;
}

.folder_social {
	width: 100%;
	display: inline-block;
	clear: both;
	position: relative;
}

.folder_social_icons {
	display: block;
	float: right;
}

.folder-feeds {
	margin-top: 0.5em;
}

/* xmlExportButtons only used in Semide and CHM2BE */
div.xmlExportButtons {
	padding-top: 1em;
}

div.xmlExportButtons a {
	border: 1px outset #ff6600;
	background: #fff;
	color: #f60;
	font: bold 85% 'Lucida Grande', Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0.1em 0.5em 0.2em 2em;
	margin: 0 0.1em 0 0.1em;
}

div.xmlExportButtons a.pdf {
	background-image: url("pdf.gif");
	background-position: left center;
	background-repeat: no-repeat;
}

div.xmlExportButtons a.xml {
	background-image: url("misc_/NaayaCore/xml.png");
	background-position: left center;
	background-repeat: no-repeat;
}



/**********************************************************
contentratings
*/

#ratings {
	float: left;
	text-align: left;
	display: block;
}

#user-rating-edit {
	float: left;
}

.ratings_message {
	float: left;
	display: inline-block;
	margin-left: 10px;
	border: 1px solid #FFD06D;
	background: #FFFDE5;
	padding: 3px;
	position: relative;
	top: -3px;
}



/**********************************************************
Pagination
*/

.paginator {
	margin-top: 1em;
	padding: 0.5em 0;
	clear: both;
}

body .paginator {
	font-size: 12px;
}

.paginator-head {
	float: right;
}

.paginator-footer {
	float: right;
	clear: both;
}

.paginator-body {
	float: left;
}

.paginator span a {
	border: 1px solid #c8dcf2;
	line-height: 18px;
	padding: 3px 5px 3px 5px;
	background: #f0f5fb;
	color: #333;
	text-decoration: none;
}

.paginator span span {
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
	color: #36669d;
}

.paginator-details {
	float: right;
	display: none;
}

.pagination {
	padding: 1em 0;
}

.pagination span a {
	border: 1px solid #c8dcf2;
	line-height: 18px;
	padding: 3px 5px 3px 5px;
	background: #f0f5fb;
	color: #333;
	text-decoration: none;
}

.pagination span span {
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
	color: #36669d;
}



/**********************************************************
User administration
*/

.roles-list table th:first-child {
	text-align: left;
}

.groups-roles-list {
	margin-bottom: 1em;
}

table.ldap_groups th {
	text-align: left;
}

table.ldap_groups td.checkbox {
	text-align: left;
}

.description-text {
	margin-top: 1em;
}

.description-text p {
	margin: 0;
	padding: 0;
	line-height: normal;
}

.section-subtitle {
	font-size: 1.2em;
	font-weight: bold;
	color: #4E7CB0;
}

.section-subtitle,
.title-inline {
	display: inline;
}

form.user-form .field-inline input[type="text"]:focus,
form.user-form .field-inline input[type="password"]:focus {
	background-color: #FFFFDD;
}

.middle-label {
	vertical-align: middle;
	line-height: 1.9
}

.info-link {
	background: url("misc_/Naaya/info.png") no-repeat scroll 6px center transparent;
	font-size: 1px;
	-moz-outline: none;
	outline: none;
	text-indent: -9999px;
	padding: 10px;
	text-decoration: none;
}

.admin-info-text {
	display: none;
	clear: both;
	margin: 0;
	border-top: 1px dashed #DFDFDF;
	padding: 5px;
	color: #333;
	background: #FFFAE2;
}

div.separator {
	height: 1px;
	background-color: #F6F6F6;
	width: 100%;
	clear: both;
	margin: 0.5em 0em;
}

.search-box {
	background-color: #F0F5FB;
	padding: 0.5em 1em 0.5em 1em;
	border: 1px dotted #999999;
	margin-top: 1.5em;
}

.second_tab_set {
	font-family: tahoma,verdana,sans-serif;
	font-size: 90%;
	background-color: #F2F2F2;
	padding: 5px 7px 7px 7px;
	clear: both;
}

.second_tab_set ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both;
	height: 1.1em;
}

.second_tab_set li {
	float: left;
	padding: 0 8px 0 8px;
	border-left: 1px solid #444444;
	white-space: nowrap;
}

.second_tab_set li:first-child {
	border-left: none;
	padding-left: 0px;
	margin-left: 0px;
}

.second_tab_set li a {
	color: #444444;
}

.second_tab_set li a:hover {
	text-decoration: none;
}

.second_tab_set ul li a.current_sub {
	font-weight: bold;
	text-decoration: none;
	background: transparent url('misc_/Naaya/arrow.png') no-repeat left center;
	padding-left: 12px;
}

.submission_button {
	margin-top: 20px;
	padding: 1px 2px 0;
	background-color: #8194A0;
	border: 1px solid #637785;
	font-size: 100%;
	color: white;
}



/**********************************************************
Administration - arrange portlets
*/

td.portlet_arrange_left {
	background-color: #fdd;
}

td.portlet_arrange_right {
	background-color: #ddf;
}

td.portlet_arrange_center {
	background-color: #dfd;
}



/**********************************************************
Administration for main topics
*/

#maintopicslist {
	margin-bottom: 1em;
}

#maintopicslist li {
	margin-bottom: 0px;
	margin-top: 4px;
}

#maintopicslist .chk {
	margin: 0px;
}

ul.boxy {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 30em;
}

ul.boxy li {
	cursor:move;
	padding: 4px;
	border: 1px solid #ccc;
	background-color: #eee;
}



/**********************************************************
Administration - other
*/

.admin-content .logo-preview {
	max-width: 128px;
	max-height: 128px;
}

.admin-content .admin-logos {
	background: transparent;
	border: none;
}

.edit-holder {
	background: #DEE6FF;
	border: 1px solid #ccc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	padding: 5px; /* 5px everywhere, otherwise tabbedmenu and edit-holder do not touch */
	margin: 0;
}

.admin-content select {
	width: 150px;
}

.admin-content #portlet-sortorder {
	display: none; 
	margin-bottom: 2em;
}

.admin-content .field,
.admin-content .field-inline {
	margin-top: 10px;
}

.admin-content .field p {
  margin: 3px 0px 0px 5px;
}

.admin-content .field-inline div:empty {
	clear: both;
}

.admin-content .field label,
.admin-content .field-inline label {
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 5px;
  color: #555;
}

.admin-content #ajax-loader,
.admin-content #description_styleselect_voiceDesc {
	display: none;
}

.admin-content .portlet ul {
	padding: 0px 5px;
}

.admin-content .portlet ul ul {
	padding: 0px;
}

.admin-content .edit-holder {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px solid #335C9E; /*  override a style from above*/
}

.admin-content #description {
  margin: 0;
  padding: 0;
}

.admin-content #right_port {
	width: 230px;
}

h3 {
   line-height: 18px;
}

.portlet > h3 {
	line-height: 20px;
}

.admin-content #right_port h3 {
	padding: 10px 0px 5px 5px;
}

.admin-content #right_port a {
	color: #000;
}

.admin-content #center_content {
	width: 730px;
}

.admin-content h3 {
	margin: 0px !important;
}

.admin-content #center_content h3 {
	color: #039749;
}

.admin-content #center_content .separator {
	display: none;
}

.admin-content #center_content .clear:empty {
	display: none;
}

.admin-content #center_content img {
	text-align: center;
}

.admin-content #right_port li {
	list-style: none;
	margin-bottom: 0;
	padding: 2px;
}

.admin-content .error {
	margin: 10px 0px;
	font-size: 12px;
}

.admin-content .cleaner  {
	margin-top: 10px;
}

#admin-content form input[type="submit"] {
	margin-bottom: 5px;
}

.admin-content .second_tab_set {
	border-bottom: 1px solid #039749;
	border-left: 1px solid #039749;
	border-right: 1px solid #039749;
	padding-bottom: 10px;
	background: #ddd;
}

.admin-content .roles-list table {
	border: 1px solid #ddd;
}

body .admin-content .left-logo,
body .admin-content .right-logo {
	float: left !important;
	width: 98%;
	margin-bottom: 10px;
}

.admin-content .left-logo input,
.admin-content .right-logo input {
margin-left: 0;
}

.admin-content .left-logo .delete,
.admin-content .right-logo .delete {
	margin-top: 10px;
	display: inline;
}

.delete label {
  margin-left: 20px;
}

.admin-content #left-logo {
	display: block;
}

.admin-content .logos img {
	border: 1px solid #ddd;
	background: #fff; /* in case the logo has transparent background */
	width: auto;
	height: auto;
}

/* admin_assignroles_html */
.admin-content .assign-form select {
	margin-left: 10px;
}

.admin-content #assigned-portlets td.sort-handle { 
	margin: 5px;
	border: 1px dashed #335C9E; /* visually indicate that the cells support drag&drop */
}

.admin-content .portlet-assign-form label {
	display: inline-block;
	width: 55px;
}

.admin-content .translation-search {
	margin: 15px 0px;
	background: #CDEADB;
}

.admin-content .pagination span {
	display: inline-block;
	margin-bottom: 6px;
}

.admin-content #jstree_container {
	margin-top: 15px;
}

/*.admin-content*/ fieldset {
	margin-top: 10px;
}

.admin-content fieldset legend {
	padding: 0px 5px;
	color: #039749;
}

.admin-content #skip_notifications fieldset:nth-child(2n) {
	max-height: 70px;
}

body .admin-content #addSubscriptionForm .search fieldset {
	max-width: 400px;
}

.admin-content label[for="notif_type"],
.admin-content label[for="lang"] {
	display: inline-block;
	width: 80px;
}

.admin-content #addSubscriptionForm input[type="submit"]{
	margin-top: 10px;
}

body .admin-content .pagination span span {
	color: #555;
	font-weight: normal;
}

/* the following two blocks should have a second selector */
.admin-content .form-fieldset legend {
	padding: 0px 5px !important;
}

.admin-content .form-fieldset pre {
	background: #fff;
	border: 1px solid #ccc;
	font-size: 11px;
}

.admin-content #sortorder {
	min-width: 30px;

}

/* admin_topcontent_html */
.admin-content #admin_this_folder {
	margin: 10px 0px;
}

body .admin-content #toolbar {
	background: #fff;
}

/* portal_i18n/admin_basket_translations_html */
.admin-content .translation-basket-search {
	margin-bottom: 20px;
	padding: 5px 0px;
}

.admin-content .translation-basket-search label {
	width: 170px;
	margin-left: 5px;
}

.admin-content .translation-basket-search~h2 {
	border-top: 2px solid #ccc; /* separator between different categories of items */
}

/* admin_maintopics_html */
.admin-content .maintopics-drag-drop-form {
	margin: 10px 0px;
}

.admin-content .maintopics-drag-drop-form ul {
	padding-left: 10px;
	padding-top: 5px;
}

body .admin-content ul.boxy li {
	cursor: move;
	padding: 4px;
	margin-top: 3px;
	border: 1px dashed #039749; /* visually indicate that the cells support drag&drop */
	background-color: #fff;
}

.admin-content .maintopics-drag-drop-form input {
	margin-bottom: 10px;
	margin-left: 10px;
}

.admin-content .maintopics-drag-drop-form~p,
.admin-content #add-role-form p.cleaner {
	color: #039749;
}

body .admin-content blockquote {
	font-size: 11px;
	padding-left: 12px;
}

.admin-content ul.validation-results {
	margin: 0;
	list-style-type: square;
}

.admin-content .admin-users-roles-form input[type="submit"] {
	display: block;
	clear: both;
}

.admin-content .sitemap_tree {
	overflow: hidden;
}

/**********************************************************
Schema & widgets
*/

.schema-widget-geo {
	background-color: #ecf5fa;
	border: 1px solid #b6cde1;
	margin-top: 0.5em;
	padding: 0.5em;
	width: 430px;
}

.schema-widget-geo #map {
	width: 400px;
	height: 400px;
	position: relative;
}



/**********************************************************
Site search
*/

.searchQuery  {
	background:#fff;
	padding: 0;
	margin: 1em 0;
	border: none;
	width: 60%;
	float: left;
	margin-right: 2%;
}

body .searchQuery {
  background: transparent;
}

.searchQuery  h2 {
	background: none;
}

.searchQuery input,
.searchQuery select {
	color: #555;
}

.searchQuery input {
	height: 1.3em;
	padding-top: 0.1em;
}

.searchQuery .styled_button {
	height: 2em;
	padding-top: 0;
	cursor: pointer;
}

body .searchQuery .styled_button {
  border: none;
  background:  #41A04B;
}

.searchQuery label {
	margin-bottom: 0.5em;
}

.searchQuery ul {
	margin: 0;
	padding: 0;
}

.searchQuery ul li {
	padding: 0.3em 0;
	float: left;
	width: 15em;
}


/**********************************************************
Portal map
*/

#div.marker {
	display: none;
}

div.marker-body {
	width: 290px;
	margin-top: 0;
}

div.marker-more {
	padding: 10px 5px 5px 30px;
}

div.marker-body h3 {
	font-weight: bold;
	font-size: 1em;
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
}

.map-button {
	color: #fff;
	font-size: 90%;
	border: 1px solid white;
	background-color: #336699;
	padding: 0.3em 0.2em;
}

#portalmap {
	width: 19%;
	font-size: 90%;
	float: right;
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 4em 0 0 10px;
	white-space: normal;
}

body #minimap {
 width: auto !important; /* overrides an inline style */
}

#portalmap_center {
	padding: 0px;
	font-size: 12px;
}

#portalmap_top {
	font-size: 90%;
	padding: 4px;
	background: transparent;
	margin: 0 0 10px -10px;
	white-space: normal;
}

#js_links {
	font-size: 15px;
	margin: 0 0 8px 0;
}

#filter_map {
}

#map_collapsable_filters {
	display: none;
}

.portalmap_location_filters {
	float:left;
	width: 50%;
}

.portalmap_location_filters .text_input {
	width: 260px;
}

.portalmap_portlet {
	padding: 6px;
	margin: 0;
	line-height: 1.5;
	color: black;
}

.portalmap_portlet .portalmap_portlet_title p {
	border-bottom:2px solid #BBB;
	font-size:1.3em;
	font-weight:bold;
	margin:0 0 1em;
	padding:0.3em 0;
}

.portalmap_portlet div input[type="text"]:focus {
	border: 1px solid #000;
	padding: 1px;
}

.portalmap_portlet .portalmap_portlet_title small a {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
	margin: 0.5em 0;
}

.portalmap_portlet .portalmap_portlet_title small a:hover {
	color: #bbb;
}

.portalmap_portlet .map_filters {
	margin: 0;
	padding: 0;
}

.portalmap_portlet .map_filters div {
	margin: 0.5em 0 0 0;
	padding: 0;
}

.portalmap_portlet .map_filters ul {
	padding: 0;
	margin-left: 0;
	font-size: 13px;
	font-weight: bold;
}

.portalmap_portlet .map_filters ul li {
	font-size: 13px;
	list-style: none;
}

.portalmap_portlet .map_filters ul ul {
	margin-bottom: 1em;
	padding: 0;
	margin-left: 0;
	font-weight: normal;
}

.portalmap_portlet .map_filters ul ul li {
	margin-top: 0;
}

.portalmap_portlet .map_filters ul .pin {
	margin-right: -2px;
	/*vertical-align: 1px;*/
	width: 12px;
	height: 12px;
}


/* Filtering categories in legend */
.portalmap_portlet .map_filters ul li.unchecked_categ,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li.unchecked_categ,
.portalmap_portlet .map_filters ul li ul li.unchecked_categ {
	color: #999999;
}

.portalmap_portlet .map_filters ul li,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li,
.portalmap_portlet .map_filters ul li ul li {
	color: black;
}

.portalmap_portlet .map_filters ul li.unchecked_categ img,
.portalmap_portlet .map_filters ul li ul li.unchecked_categ img,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li.unchecked_categ img {
	display: none;
}

.portalmap_portlet .map_filters ul li img,
.portalmap_portlet .map_filters ul li.unchecked_categ ul li img,
.portalmap_portlet .map_filters ul li ul li img {
	display: inline;
}


.pin_text {
	cursor: pointer;
}

.portalmap_portlet .map_right_control {
	font-size: 10px;
	float: right;
}

.maptypes {
	margin: 0;
	padding: 0;
	list-style: none;
}

.maptypes li {
	margin: 2px;
	padding: 2px;
	display: inline;
}

#map-container {
	display: inline-block;
}

/** Map styles / Open Layers **/
.naaya-openlayers .olControlAttribution {
	bottom: 5px;
}

.naaya-openlayers .olControlZoomPanel {
	top: 14px;
}

.naaya-openlayers .olControlZoomPanel .olControlZoomInItemInactive {
	width: 36px;
	height: 36px;
	background: url(www/zoom-in.png) no-repeat;
}

.naaya-openlayers .olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	display: none;
}

.naaya-openlayers .olControlZoomPanel .olControlZoomOutItemInactive {
	top: 38px;
	width: 36px;
	height: 36px;
	background: url(www/zoom-out.png) no-repeat;
}

.marker-balloon {
	position: absolute;
}



/**********************************************************
Naaya Calendar
*/

.calendar {
	margin:0; padding: 0;
}

.calendar table {
	margin:0; padding:0;
	border-collapse:collapse;
	background:white;
	width:99%;
}

.calendar caption,
.calendarbox h2 {
	margin: 0;
	font-size:11px;
	text-align:center;
	border-top:none;
}

.calendar th {
	font-size:10px;
	color:#000;
	padding:2px 3px;
	text-align:center;
	background:#999 url(misc_/Naaya/nav-bg.gif) 0 50% repeat-x;
	border: none; 
	font-weight: bold;
}

.calendar td {
	font-size:11px;
	text-align: center;
	padding: 0;
	border:1px solid #f3f3f3;
	border-bottom:none;
}

.calendar td.selected a {
	background: #C9DBED;
}

.calendar td.nonday {
	 background:#efefef;
}

.calendar td.today a {
	background:#ffc;
}

.calendar td a,
.timelist a {
	 display: block;
	 font-weight:bold;
	 padding:4px;
	 text-decoration: none;
	 color:#444;
}

.calendar td a:hover,
.timelist a:hover {
	 background: #5b80b2;
	 color:white;
}

.calendar td a:active,
.timelist a:active {
	background: #036;
	color:white;
}

/**********************************************************
Naaya discussion Forum
*/

.forum_message_top a {
	margin-right: 0px;
	padding: 0px 3px;
	text-decoration: none;
	color: white;
	background-color: #638FBC;
	border: 1px solid #416B96;
	position: relative;
}

.forum_message_top a:visited {
	color: white;
}

.message_top_buttons {
	float: right;
	margin-top: 2px;
	position: relative;
}

.message_top_buttons2 {
	padding: 2px;
}

.forum_topic {
	margin-bottom: 15px;
	border: 1px solid #eeeeee;
	padding: 5px;
	color: #333333;
}

.forum_topic_top {
	background-color: #eeeeee;
	padding: 2px 5px 6px 2px;
	font-size: 90%;
}

.forum_topic_author {
	padding: 10px 0 5px 4px;
	border-bottom: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_topic_content {
	margin-top: 10px;
}

.forum_topic_bottom {
	padding:5px;
	border-top: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_messages_slot {
	margin-top: 15px;
}

.forum_message {
	margin-bottom:5px;
	background-color: #F7F7F7;
}

.forum_message_top {
	background-color:#E9E9E9;
	border-bottom: 1px solid #E4E4E4;
	padding: 2px;
	font-size: 90%;
	position: relative;
	color: #41ad00;
}

.forum_message_top a {
	color: white;
}

.forum_message_top a:visited {
	color: white;
}

.forum_message_top img {
	margin-right: 3px;
	border-left: 3px solid #E4E4E4;
}

.forum_message_author {
	padding:5px;
	border-bottom:1px dashed #E4E4E4;
	font-size: 90%;
	color: #444444;
}

.forum_message_description {
	padding: 5px;
	color: #111111;
}

.forum_message_bottom {
	padding:5px;
	border-top: 1px dashed #E4E4E4;
	color: #666666;
	font-size: 90%;
}

.forum_message_top a {
	margin-right: 0px;
	padding: 0.3em 0.4em;
	text-decoration: none;
	color: white;
	background-color: #638FBC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #416B96;
	border-bottom: 1px solid #416B96;
	position: relative;
	color: #41ad00;
}

.forum_message_top a:visited {
	color: white;
}

.message_top_buttons {
	float: right;
	margin-top: 2px;
	position: relative;
}

.message_top_buttons2 {
	padding: 2px;
}

.forum_topic {
	margin-bottom: 15px;
	border: 1px solid #eeeeee;
	padding: 5px;
	color: #333333;
}

.forum_topic_top {
	background-color: #eeeeee;
	padding: 2px 5px 6px 2px;
	font-size: 90%;
}

.forum_topic_author {
	padding: 10px 0 5px 4px;
	border-bottom: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_topic_content {
	margin-top: 10px;
}

.forum_topic_bottom {
	padding:5px;
	border-top: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_messages_slot {
	margin-top: 15px;
}

.forum_message {
	margin-bottom:5px;
	background-color: #F7F7F7;
}

.forum_message_top {
	background-color:#E9E9E9;
	border-bottom: 1px solid #E4E4E4;
	padding: 5px;
	font-size: 90%;
	position: relative;
}

.forum_message_top a {
	color: white;
}

.forum_message_top a:visited {
	color: white;
}

.forum_message_top img {
	margin-right: 3px;
	border-left: 3px solid #E4E4E4;
	vertical-align: middle;
}

.forum_message_author {
	padding:5px;
	border-bottom:1px dashed #E4E4E4;
	font-size: 90%;
	color: #444444;
}

.forum_message_description {
	padding: 5px;
	color: #111111;
}

.forum_message_bottom {
	padding:5px;
	border-top: 1px dashed #E4E4E4;
	color: #666666;
	font-size: 90%;
}



/**********************************************************
Naaya Thesaurus
*/

.item_term {
	margin-bottom: 10px;
	font-size: 80%;
}

.item_term a {
	font-weight: bold;
	color: #005A91;
}

.tab_term {
	font-size: 90%;
	color: #333333;
	margin-bottom: 10px;
}

.tab_term td {
	vertical-align: middle;
	border-bottom: 1px solid white;
}

.th_cat {
	vertical-align: middle;
	width: 100px;
	text-align: left;
	font-weight: normal;
	background-color: white;
	color: #333333;
}

.h2term {
	font-family: Arial, Verdana;
	margin-bottom: 20px;
}

.bar {
	background-color: #EFF6FA;
	color: #006CAE;
	text-align: center;
	font-weight: bold;
	padding: 3px 0px;
	margin: 10px 0px;
	font-size: 85%;
}



/**********************************************************
Various other rules
*/

.sortable {
  background: #fff;
}

.cleaner {
	clear: both;
}

/* glossary widget (javascript picker) */
.icon-image {
	vertical-align: 0;
}

/* bulk download */
.b_download {
	float:right;
	font-size:0.5em;
	padding-right:0.3em;
	text-decoration:none;
}

/* date field with javascript widget */
.vDateField {
	 margin-left:4px;
}

/* login page */
.right-floated-tip {
	width: 20%;
	float: right;
	position: relative;
	background: #FFFFDD none repeat scroll 0 0;
	border: 1px outset #999966;
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 95%;
}

/* flvPlayer */
.flvPlayer {
}

.flvPlayerBroken,
.flvPlayerNotReady,
.flashPlayerNotInstalled  {
	width: 450px;
	min-height: 10em;
	overflow: auto;
	background: url('flv-bg.jpg') no-repeat top left #555;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #777;
	padding-top: 5em;
	margin: 0 auto;
}

* html .flvPlayerBroken,
* html .flvPlayerNotReady,
* html .flashPlayerNotInstalled  {
	height: 10em;
}

.flvPlayerBroken p,
.flvPlayerNotReady p,
.flashPlayerNotInstalled p {
	margin: 0;
	padding: 0.5em;
	background: #000;
	font-size: 0.90em;
}

/* JCROP - crop images in javascript. Used on site_admin_maintopics
and in naaya.content.municipality */
.jcrop-holder {
	text-align: left;
}

.jcrop-vline,
.jcrop-hline {
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
}

.jcrop-vline {
	height: 100%;
	width: 1px !important;
}

.jcrop-hline {
	width: 100%;
	height: 1px !important;
}

.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker {
	width: 100%;
	height: 100%;
}

.custom .jcrop-vline,
.custom .jcrop-hline {
	background: yellow;
}

.custom .jcrop-handle {
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/**
 * Admin comments list - Akismet spam protection
*/
#comments-list .actions-label {
    position: relative;
    top: 0px;
    font-weight: bold;
}

#comments-list .comment-actions {
    opacity: 0;
    -webkit-transition: opacity .1s ease-in-out;
       -moz-transition: opacity .1s ease-in-out;
            transition: opacity .1s ease-in-out;
}

#comments-list tr:hover .comment-actions {
    opacity: 1;
}

.comment-actions a.toggle-spam-status .icon {
    display: inline-block;
    width: 24px;
    height: 16px;
}

a.toggle-spam-status.spam-status .icon {
    background: transparent url('/++resource++Products.Naaya/spam-icon.png') no-repeat scroll center center;
}

a.toggle-spam-status.ham-status .icon{
    background: transparent url('/++resource++Products.Naaya/ham-icon.png') no-repeat scroll center center;
}

a.delete-comment .icon {
    display: inline-block;
    height: 16px;
    width: 15px;
    background: transparent url('/++resource++Products.Naaya/trash-icon.png') no-repeat scroll center center;
}

.akismet-loading {
    display: none;
}

.akismet-loading .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url('/++resource++Products.Naaya/ajax-loader-small.gif') no-repeat scroll center center;
    position: relative;
    top: 3px;
    margin-top: -4px;
}

#comments-list tr.spam-comment {
    /*background: #FEE;*/
}

#comments-list tr.spam-comment a.comment-title {
    color: red;
}

#comments-list tr.ham-comment a.comment-title {
    color: blue;
}

#comments-list tr.spam-comment .spam-status,
#comments-list tr.spam-comment .ham-status-label {
    display: none;
}

#comments-list tr.ham-comment .ham-status,
#comments-list tr.ham-comment .spam-status-label {
    display: none;
}

#comments-list tr {
    background: #FFF;
}
/**
 * END Admin comments list
*/

/**
 * Admin API Keys status
*/
.api-keys-list tr.invalid {
    background-color: #FFF9F9;
}
/**
 * END Admin API Keys status
*/

/**
 * Comments style enhancement
*/
.comment-holder {
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.comment-holder-blocked {
    background: #F9F9F9;
    border: 1px solid #DFDFDF;
}
.comment-label-blocked {
    color: red;
}
.commentbutton:hover {
    color: #333;
}
.commentbutton {
    font-size: 90%;
    float:right;
    padding: 3px;
    text-decoration: none;
    margin-bottom: 0.5em;
    margin-left: 10px;
}
/**
 * END Comments style enhancement
*/



/* ********************************************
    OVERRIDE from photo_archive.css 
   ********************************************* */
body div.g-main-content dd {
	float: none; 
	margin: 0;
}

body div.g-main-content dt {
	width: auto; 
	text-align: left; 
	padding-right: 5px;
}

body .toolbar span,
body .toolbar span:hover {
	background: #41A04B;
	border: 1px solid #41A04B;
	color: #fff;
	font-size: 13px;
	font-weight: normal; 
}

body .album-image-details {
	height: 36px; 
}

body .album-image-holder {
	width: 220px; 
	height: 220px; 
	background: none;
	border: 1px solid #DDD;
}

body .album-image-holder img {
	padding: 10px;
	background: white;
}

body .album-thumbnail {
	width: 220px;
}


/* ONE SINGLE BLOCK FOR BORDER-RADIUS  */
.admin-content .portlet,
.admin-content fieldset,
 .admin-content .form-fieldset,
.admin-content ul.validation-results,
.admin-content .maintopics-drag-drop-form,
.add-object-form,
.subobjects-management-form,
.photo-upload-form,
.edit-object-form,
.forum-delete-attachments-form,
.forum-add-attachment-form,
.meeting-send-email-form,
.admin-content .translation-basket-search,
.buttons a,
.calendarbox,
.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next,
#toolbar input[type="submit"],
.marker-body,
div.boxes-right,
form fieldset,
.g-box,
.tips_box,
dl {
	border-radius: 4px;
	-moz-border-radius: 4px;
}






/********* OTHER ************/
span#submission select {
	width: 100px;
}

a.skiplink {
	display: none;
}

.hidden {
	display: none;
}

.clearer,
.cleaner {
	clear:both;
}

div#name_filter,
.filters {
	margin: 0.5em 0.5em 0em 0em;
}

div#role_filter {
	float: left;
	vertical-align: middle;
}

img.ajax-loader {
	vertical-align: middle;
}

.loader {
	display: none;
	font-style: italic;
	color: #346d9f;
	vertical-align: 12px;
	padding-left: 15em;
}

tr.row-odd {
	background-color: #F7F7F7;
}

.user-role-revoke {
	text-align: center;
}

.table-message,
.message-empty {
	font-size: 1em;
	line-height: 1em;
}

td.checkbox {
	text-align: center;
}

th.th-left {
	text-align: left;
}

img {
	vertical-align: middle;
}

tr.tr-hover {
	padding: 0.5em;
}

tr.tr-hover:hover {
	background-color: #FFFFDD;
}

/* Tip/'Note' box */
.tip {
	background: #FFFFDD;
	border: 1px solid #ccc;
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 95%;
	width: 91%;
}

.tip p {
	margin: 0 !important;
	line-height: 1.5em;
}

.tip img {
	margin-right: 0.5em;
}

.right {
	float: right;
}


/* IE does no support first(last)-child */
td.td-center {
	text-align: center;
}

label:hover {
	cursor: pointer;
}

/*BEGIN-TINYMCE-STYLESELECT*/
.infobox {
	background: #000080;
	color: #FFFFFF;
	float: right;
}

.mainparagraph {
	background-color: #f0f0f0;
	border: 1px dotted #BED492;
	padding: 0.5em 0.7em;
}
/*END-TINYMCE-STYLESELECT*/

/* image from News item form */
div.news_picture {
  margin-top: 20px;
  display:inline;
}

div.news_picture img {
  float: right;
}

.field {
   margin: 1em 0;
}
