#container {
    min-width: 1152px;
}

#pagefoot {
    width: 1152px;
}

#leftcolumn {
        position: relative;
        border-right: 1px dotted rgb(143,167,113);
}

#leftcolumn, #workarea {
float: left;
position: relative;
}

#workarea {
margin-left: 0;
max-width: 920px;
border-left: none;
}

.ie-clear {
    clear: both; 
    display: inline-block; 
    width: 100%; 
    height: 1px;
}