/* styles only for IE7 */

body {
	padding: 0px 5px;
	width: 974px;
	margin: 0px auto;
}

body #container {
	width: 971px;
	margin: 0px auto;
	background: white;
	color: #333;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

body #pagefoot {
	width: 971px;
	margin: 0px auto;
}

body #leftcolumn {
	position: static;
	float: left;
}

body #workarea {
	position: static;
	width: 760px;
	height: auto;
	padding: 15px 0px 15px 10px;
}

body #workarea form[action="logged_in"] {
	width: 560px;
	margin: 0;
	padding: 0;
}

body .right-floated-tip {
	margin-right: 10px;
}

body label.for-checkbox {
	display: inline;
}
