body {
	margin: 0 3%;
	padding: 0;
	background: #fff;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.75em;
	border: 1px solid #8d8b8d;
	border-top: none;
}
.skiplink {
	display: none;
}
#language {
	float: right;
	margin-right: 0.5em;
	background: url("langsel-bg.gif") no-repeat top right;
	width: 17.5em;
	display: inline;
	z-index: 100;
	position: relative;
	top: 0;
	left: 0;
}
#language label {
	background: url("langsel-left.gif") no-repeat top left;
	font-size: 0.75em;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	padding: 1.7em 0.5em 2.3em 2.2em;
	display: inline;
}
#language select {
	float: right;
	margin-top: 0.7em;
	margin-right: 1.4em;
}
#language form {
	margin:0;
}

#header {
	margin: 0;
	padding: 0;
}

#header img {
	margin-left: 1%;
	margin-top: 0;
}

#breadcrumbtrail {
	clear: both;
	padding: 0 0 1% 20%;
	height: 1em;
	background: #fff;
}
#breadcrumbtrail a {
	color: #000;
}

#middle_port {
	/*padding-left: 1%;*/
	padding-right: 1%;
	padding-bottom: 4%;
	margin-bottom: 10px;
	margin-left: 20%;
	border-left: 1px dotted #555;
}

#middle_port h1 {
	background: #f2f2f2;
	color: #444;
	padding: 5px 0 0 5px;
	border-bottom: 4px solid #ccc;
	font-size: 1.5em;
	font-weight: normal;
}
#middle_port a {
	color: #44464B;
	text-decoration: underline;
}

.center_portlet {
	margin-bottom: 10px;
}
.center_portlet .center_portlet_title {
	background-color: #dddddd;
}
.center_portlet .center_portlet_content {
	border: 1px solid #dddddd;
}



#left_port {
	float: left;
	width: 17%;
	margin-bottom: 10px;
	padding: 8px;
	margin-left: 10px;
	display: inline;
	background: #fff;
}

.left_portlet {
	background: #fff;
	padding: 0;
}
.left_portlet .left_portlet_title {
	height: 2em;
	border-bottom: 1px solid #353535;
	padding: 0.8em 0.5em 0 0.5em;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: Verdana, Arial, sans-serif;
}
.left_portlet .left_portlet_content {
}
.left_portlet ul {
	background: #fff;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
}
.left_portlet ul li{
	padding: 0.3em;
	background: #fff;
	color: #084173;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #ccc;
}
.left_portlet ul li:hover { 
	background: #f2f2f2;
}
.left_portlet ul li a {
	color: #44464B;
	text-decoration: none;
}
.left_portlet ul li a:hover {
	color: #000;
}
#right_port {
	float: right;
	width: 25%;
	margin-bottom: 10px;
	padding: 8px;
	border-left: 1px dotted #555;
	background: #fff;
}

.right_portlet {
	background: #fff;
	padding: 0;
}
.right_portlet .right_portlet_title {
	height: 2em;
	border-bottom: 1px solid #353535;
	padding: 0.8em 0.5em 0 0.5em;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: Verdana, Arial, sans-serif;
}
.right_portlet .right_portlet_content {
	/* border: 1px solid #eeeeee;*/
}

.right_portlet ul {
	background: #fff;
	border-top: 1px solid #fefefe;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.right_portlet ul li{
	padding: 0.3em 0.5em;
	background: #fff;
	color: #000;
}
.right_portlet ul li:hover { 
	background: #f2f2f2;
}
.right_portlet ul li a {
	color: #6b6b6b;
	text-decoration: none;
}
.right_portlet ul li a:hover {
	color: #000;
}

#footer {
	clear: both;
	text-align: left;
	vertical-align: middle;
	padding:0 0.5em 0.5em 0.5em;
	border-top: 1px solid #333;
	background: #d8d700;
}
#footer p {
	padding: 0.5em;
	margin: 0;
	font-size: 0.9em;
}
#footer p.righted {
	float: right;
}
#footer a {
	color: #333;
	padding: 0.3em;
}

#toptitle {
	margin-top: 0;
	margin-left: 0.3em;
	float: left;
	color: #f1f1f1;
	font-size: 1.5em;
}
#toptitle .page_subtitle {
	font-size: 0.7em;
}
	
#last_modified {
	margin: 1% 0% 1% 20%;
}

#topnav {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #6f7072;
	height: 2.1em;
}
#topnav ul {
	margin:0;
	padding: 0.3em 0 0 0;
	display: inline; 
	list-style-type: none;
	float: right;
}
#topnav li {
	padding: 0 0.3em 0 0.6em !important;
	margin: 0;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 1px solid #333;
}
#topnav li a {
	color: #333;
	text-decoration: none;
	font-size: 0.9em;
	line-height: 1.5em;
}
#topnav li a:hover {
	color: #000;
	text-decoration: underline;
	font-size: 0.9em;
}

#menunav {
	clear: both;
	background: url("menunav-bg.jpg") repeat-y top right #f6a600;
	border-bottom: 1px solid #44464B;
	border-top: 1px solid #44464B;
	padding: 0;
	height: 2.1em;
}
#menunav ul {
	margin: 0 0 0 0.6em;
	padding: 0;
	list-style-type:none;
	white-space: nowrap;
}
#menunav li {
	float: left;
	line-height: 1.6em;
	padding: 2px 0;
}
#menunav li a {
	margin:0;
	color: #fefefe;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 0.3em 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 2em;
	border-right: 2px dotted #f3f3f3;
}
#menunav li a:hover {
	background: #fff;
	color: #000;
}

#search {
	float: right;
	padding-top: 0.2em;
}
#search label {
	padding-left: 1.2em;
}
#search input[type="text"] {
	background: #f6f6f6;
	border: 1px solid #1a171b;
	color: #666;
	margin-right: 0.5em;
}
#search input[type="submit"] {
	background: #d8d700;
	border: 1px solid #1a171b;
	color: #333;
	margin-right: 0.5em;
}
#search form {
	margin:0;
}

/* Site logo, title and subtitle box */
.SiteTitles {
	height: 7em;
	clear: both;
	background: url('ew-header.jpg') no-repeat top right #5f7f7e; /* different for each theme */
}

#tabbedmenu {
	float:left;
	width:100%;
	border-bottom: 1px solid #346d9f;
	font-size: 0.8em;
	line-height: 1.5em;
}
#tabbedmenu ul {
	margin:0;
	padding: 1em 1em 0;
	list-style:none;
}
#tabbedmenu li {
	float:left;
	margin: 0;
	padding:0;
	white-space: nowrap;
}
#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	background: url('tabbg.gif') repeat-x top left #F0F5FB;
	padding: 0.3em 1em 0.3em 1em;
	margin: 0.3em 0.1em 0 0.1em;
	border: 1px solid #346d9f;
	border-bottom: none;
	text-transform: uppercase;
}
#tabbedmenu a:hover {
	background: #A8C7EC;
	color: #000;
}
#tabbedmenu #currenttab {
	/*background: #F0F5FB;*/
}
#tabbedmenu #currenttab a {
	text-decoration: none;
	font-weight: bold;
	background: url('tabbg_on.gif') repeat-x top left #0072bc;
	margin: 0em 0.1em 0 0.1em;
	padding: 0.5em 1em 0.4em 1em;
	color: #fafafa;
}
#tabbedmenu #currenttab span {
	display:block;
	text-decoration: none;
	
}

/* style for inputs submit&button */
input[type="submit"] {
	border: 1px solid #6f6f6f;
	height: 2em;
	font-size: 0.8em;
	background: url('input_bg.gif') repeat-x top left;
}

.page_title {
	font-size: 2em;
}
.page_subtitle {
}


/*	EPOZ buttons	*/
#epoz_button_strikethrough {display:none;}
#epoz_button_subscript {display:none;}
#epoz_button_superscript {display:none;}
#epoz_button_unformat {display:none;}
#epoz_button_anchor {display:none;}
#epoz_button_undo {display:none;}
#epoz_button_redo {display:none;}


/*	Comment Box Form Styles	*/
.comment_box {
	background-color:#FAFAFA; 
	border: 1px dashed #cccccc; 
	margin:1em;
	padding:1em;
	}

.deletecomment {
	font-size: 90%;
	float:right;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(trash.gif);
	background-repeat: no-repeat;
	background-position: left center;

	margin-bottom: 0.5em;
	/*text-indent: 17px;*/
}

.addcomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(addcomment.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}

.logincomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(logintoadd.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}

.commentbox_title {
	font-weight: bold;
	font-size: 110%;
	/*text-indent: 17px;*/
	padding-left: 17px;
	background-image: url(comment.gif);
	background-repeat: no-repeat;
	background-position: left center;
	
}

.commentbox_content {
	color:#666666; 
	font-size: 80%;
}

.commentbox_add {
	margin: 1em;
	/*padding-left:1em;*/
}

.hr_addcomment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white;
}

.hr_inside_comment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white; 
	margin-top:0.5em;
}

/*	sortable tables	*/
.sortable {
	border: 1px solid black;
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 2px outset #999;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a {
	height: 100%;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

.fieldset_div {
	margin: 5px 0px;
}
.message ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.information fieldset {
	background: #f0f5fb !important;
	border: 1px solid #cddff4;
	color: #3d8101;
}
.error fieldset {
	background: #f0f5fb !important;
	border: 1px solid #cddff4;
	color: #f40000;
}

.additem-left {
	background: url("arrow-right.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.additem-right {
	background: url("arrow-left.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.moveitem-up {
	background: url("arrow-up.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.moveitem-down {
	background: url("arrow-down.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}

.cleaner {
	clear: both;
}
