html,div,h1,th,td,li,ul,fieldset,legend {
	direction:rtl;
}

#main_structure {
	direction:ltr;
}

#center_content {
    float: right;
}

body {
	margin:0;
	padding:0;
	background-repeat: repeat-y;
	background-position: right top;
	background-image: url('bckg_left_ar.jpg');
	font-size: 85%;
	background-color: white;

	font-family:/*s36*/'Arabic Transparent',verdana, arial, sans-serif/*e36*/;
}


th {
	background-color: #f0f0f0;
	text-align:left;
	vertical-align: top;
}

td input {
	margin:0;
}

th input {
  margin-left: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0.7em 0em 0.3em 0em;
	font-family:/*s37*/'Arabic Transparent', Arial, verdana, sans-serif/*e37*/;
}

h1 {
	margin-top: 0px;
}

table h1 {
	position:relative;
}

h1 {
	font-size: 200%;
	font-weight: bold;
	color: #557595;
	
}

h2 {
	font-size: 160%;
	color: #666666;
	font-weight: bold;
	
}

h3 {
	font-size: 140%;
	color: #666666;
	font-weight: bold;
	
}

h4 {
	margin: 0;
	color: #444444;
	font-size: 120%;
	font-weight: bold;
}

h5 {
	margin: 0;
	color: #444444;
	font-size: 100%;
	font-weight: bold;
}

p{
	margin: 0em 0em 0.5em 0em;
}

a img {
	border: 0;
}

a {
	color: #557ba1;
}

a:visited {
	color: #557ba1;
}

.itemsPerPage {
        margin-top: 7px;
        vertical-align:middle;
}

input {
	margin-top: 7px;
	margin-left: 4px;
	font-size: 100%;
	vertical-align: middle;
}

fieldset {
	border:1px solid #cccccc;
	padding: 0px 10px;
}

/* required for IE and Opera */
div.fieldset_div {
	padding: 10px 0px;
}

legend {
	font-weight: bold;
}

ul, dl, ol {
	margin: 0 1.6em 0 0;
	padding: 0;
}

li {
	margin: 0;
        margin-left: 30px;
	padding: 0;
}

/* Position */

.sitemap {
	margin-top: 0.5em;
}

.sitemap div{
	padding: 0.3em 0em;
}

.white_backgrounded {
	background-color: white;
}

.skiplink {
	display: none;
}

/* upper bar */
#nav_upper {
	border-top: 3px solid white;
	text-align: left;
	background-color: white; /*!*/
	color: #666666;
	}
#nav_upper div{
	
	margin: 0;
	margin-left:4px;
	padding:0;
	list-style:none;
	display:block;   /*must be block*/
	position:relative;
	}

#nav_upper li{
	display:inline;
	}

	.clearing_div_top {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	background-color: white; /*ERROR*/
	}


#nav_upper span a {
	color: #666666;
	display: block;
	padding: 0px 6px;
	border-right: 1px solid #cccccc;
	float: left;
	}

#nav_upper a:visited {
	color: #666666;
	}


#nav_upper_log {
	float: right;
	}

#nav_upper_log img {
	margin-top: 1px;
	}

/* top banner */
#top_banner {
	height: 75px;
	margin-top: 4px;
	border-top: 1px solid #cccccc;
	background-repeat: no-repeat;
	background-image: url('europe_ar.jpg');
	background-position: left top;
	}

#banner_images {
	float: left;
	margin-top: 3px;
	}

#banner_images img { 
	border-left: 2px solid white; 
	width: 91px;
	height: 69px;
	}

#site_logo {
	float: right;
	width: 170px;
	margin-top: 10px;
	}

#site_logo img {
	margin-right: 30px;
	}

#site_title {
	font-family: /*s45*/'Arabic Transparent', Arial, Helvetica, sans-serif/*e45*/;
	border-right: 1px solid #cccccc;
	padding-right: 20px;
	font-size: 130%;
	margin: 12px 160px 0px 0px;
	color: #4B7DB2;
	font-weight: bold;
	padding-top: 0px;
	height: 2.4em;
	}

#top_banner>#site_title {
	height: auto;
	}

#site_title span{
	font-size: 120%;
	}

#site_subtitle {
	font-weight: normal;
	color: #666666;
	font-size: 85%;
	line-height: 1.6em;
	}

#nav_main {
	position:relative;
	background-color: white;
	background-image: url('bck_topmenu.jpg');
	background-position: left top;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	z-index: 1;
	clear:both;
	}

#nav_main_language {
	position:relative;
	float: left;
	margin-left: 1px;
	margin-top: 7px;
	z-index:1000;
	}

#nav_main_language form {
	margin:0;
	}

#nav_main_language select {
	font-size: 85%;
	}

#nav_main_links {
	padding: 0 10px 0 0;
	text-transform: capitalize;
	font-family:/*s38*/'Arabic Transparent', arial, sans-serif/*e38*/;
	}

#nav_main_links ul {
	font-weight:bold;
	font-size:115%;
	line-height: 30px;
	margin:0;
	padding:0;
	}


#nav_main_links li {
	display: inline;
	}

#nav_main_links span{
	/*vertical separator for arabic style*/
	font-weight:normal;
	color: #eaeaea; /*#666666;*/
	font-size: 10px; /*for navigation menu separator*/
	vertical-align:middle;
	}


#nav_main_links a {
	color: #557ba1;
	text-decoration: none;
	vertical-align:middle;
	}


#nav_main_links a:visited {
	}


/*  quick_accces- bread_crumb - search_area  */

	.clearing_div {
	clear: both;
	height: /*s29*/1px/*e29*/;
	font-size: /*s29*/1px/*e29*/;
	line-height: /*s29*/1px/*e29*/;
	background-color: /*s30*/#5C9BD5/*e30*/;
	border-top: /*s31*/1px solid white/*e31*/;
	border-bottom: /*s32*/1px solid white/*e32*/;
	}


#bar_divided {
	background-color: /*s25*/#6995C1/*e25*/;
	color: white;
	height: 30px;
	overflow:hidden;
	/*s48*/background-image: url('bck_search_ar.jpg');/*e48*/
	background-position: left top;
	background-repeat: no-repeat;
	}

#search_area {
	background-color: /*s26*/transparent/*e26*/;
	font-size: 80%;
	float: left;
	width: 164px;
	border-right: /*s49*/1px solid white/*e49*/;

	/*s46*/ /*e46*/
	background-position: left top;
	height: 30px;
	}

#search_area form {
	margin: 0;
	padding: 0 5px 0 1px;
	}

#search_area label {
	display:none;
	}

#search_area #query {
	position:relative;
	top:-1px;
	width: 112px;
	border: 1px solid #3F89C3;
	}

#search_area #sub {
	margin:0;
	border:0;
	}


#quick_acces {
	font-size: 80%;
	float: right;
	width: 169px;
	border-left: /*s28*/1px solid white/*e28*/;
	margin-left: 10px;

	/*s47*/ /*e47*/
	background-position: left top;

	background-color: /*s27*/transparent/*e27*/;
	height: 30px;
	}

#quick_acces form {
	margin: 0;
	padding: 0 10px;
	}

#quick_acces label {
	display:none;
	}

#quick_acces #query1 {
	position:relative;
	top:-2px;
	width: 122px;
	margin-top: 7px;
	font-size: 100%;
	vertical-align: middle;
	}

#quick_acces #sub1 {
	margin:0;
	border:0;
	}


#bread_crumb_trail {
	padding-top: 4px;
	color:inherit;
	}

	div#bread_crumb_trail a{
	direction: rtl;
	unicode-bidi: embed;
	text-decoration:none;
	font-size: /*s42*/120%/*e42*/;
	color: /*s9*/white/*e9*/;
	}

	div#bread_crumb_trail a:visited{
	color: /*s9*/white/*e9*/;
	}


#main_structure_ie_fixer{
	position:relative;
}

#main_structure {
	position:relative;
	padding-left:5px;
	top: 0;
}

#left_port {
	position: absolute;
	background-repeat: repeat-y;
	background-position: right top;
	background-image: url('bckg_left_ar.jpg');
	right:0px;
	width: 170px;
	}


#middle_right_port {
	margin:20px 190px 10px 0px;
	}

	.middle_port {
	margin-left: 165px;
	background-color: white;
	}

	/* this style applies only to folders within countries */

	.country_folder .country_flag {
	float:left;
	padding-left: 160px;
	}
	.country_folder .right_port {
	border-right: 6px solid white;
	float: left;
	background-color:white;
	width: 157px;
	}

	.country_folder .middle_port_head {
	float:right;
	width:100%;
	margin-left:-165px;
	}

	.country_folder .middle_port_head2 {
	margin-left: 210px; /* !!! */
	}

	.country_folder #right_port {
	width:157px;
	float:left;
	clear:left;
	}
	.country_folder .middle_port {
	clear:right;
	margin-left: 165px;
	height:1px; /*IE 100% tables fix, overwriten below for browsers which support the > selector*/
	}

	.country_folder>.middle_port { /* override for IE tables fix above */
	height:auto;
	}


	/*end style for country folders*/


#right_port {
	border-right: 6px solid white;
	float: left;
	clear: left;
	background-color:white;
	width: 157px;
	}

	.right_forcer {
	float:left;
	font-size:0.1em;
	line-height:0;
	height:0;
	border:1px solid white;
	}

#site_footer {
	clear: both;
	margin-top: 60px;
	margin-right: 10px;
	font-size: 100%;
	}
/* END MAIN POSTION  */

/* non-position STYLES */

	.left_port_title {
	width: 148px;
	text-align: center;
	margin:0 10px 10px 10px;
	padding: 7px 0px 7px 0px;
	background-color: /*s11*/#9BC1DD/*e11*/;
	color: /*s12*/#355B82/*e12*/;
	font-size: 110%;
	font-family:/*s39*/'Arabic Transparent', Arial, sans-serif/*e39*/;
	font-weight: bold;
	
	border: /*s22*/1px solid white/*e22*/;
	}

	.left_port_title a{
	color: #355B82;
	}

	.left_port_title a:visited{
	color: #355B82;
	}

	.left-logos {
	text-align:right;
	margin: 50px 10px 0px 0px;
	}


.portlet_folder {
	margin-bottom: 3em;
}

#left_port ul {
	width: 155px;
	list-style: none;
	margin:0px 10px 0px 10px;
	padding: 0;
	color: white;
	font-size: 105%;
	font-family:/*s40*/'Arabic Transparent', Arial, Helvetica, sans-serif/*e40*/;
}
#left_port ul a {
	  color: white;
	  text-decoration: none;
}

#left_port ul li {
	  background-repeat: no-repeat;
	  margin:4px 0 0 0;
	  background-position: left bottom;
	  background-image: url(bck_li_ar.gif);
	  padding: 0 10px 7px 0;
	  font-weight: bold;
}

#left_port ul ul {
	margin: 8px 25px 8px 25px;
	width: auto;
	list-style-image: url(bullet_submenu.gif);
	padding: 0 0 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family:/*s41*/'Arabic Transparent', Verdana, Arial, Helvetica, sans-serif/*e41*/;
}

#left_port ul ul li {
	background-image: none;
	  font-weight: normal;
	  font-size: 90%;
	  margin: 0 0 6px 0;
	  padding: 0 0 0 0;
}

#left_port ul a {
	color:white;
	}


#left_port ul a.inactive_link:hover {

	}

#left_port ul a.inactive_link:visited {
	color: white;

	}


#left_port ul a.active_link {
	background-color: /*s13*/#9BC1DD/*e13*/;
	color: /*s14*/#355B82/*e14*/;
	font-size:/*s15*/100%/*e15*/;
	}

#left_port ul a.active_link:visited {
	color: /*s14*/#355B82/*e14*/;
	}


.right_portlet {
	background-color: /*s16*/#F4F4F4/*e16*/;
	border: /*s2*/0px solid white/*e2*/;
	margin-bottom: 10px;
	padding: 10px;
}

	.right_portlet_tile {
	position:relative;
	font-size: /*s17*/105%/*e17*/;
	color: /*s18*/#666666/*e18*/;
	margin:3px 0 8px 0;
	text-transform: uppercase;
	font-family:/*s44*/'Arabic Transparent', Arial, Helvetica, sans-serif/*e44*/;
	font-weight: bold;
	}

	.right_portlet_body {
	}

	.right_portlet ul {
	list-style:none;
	margin:0;
	padding:0;
	}


	.right_portlet li {
	text-indent:0;
	display: block;
	margin:0;
	padding:3px 0px;
	color: /*s20*/#343443/*e20*/;
	font-family:/*s43*/'Arabic Transparent', Verdana, Arial, Helvetica, sans-serif/*e43*/;
	font-size: /*s21*/100%/*e21*/;
	}

	.right_portlet a {
	color: #557BA1;
	}

	.right_portlet a:visited {
	}

#right_calendar {
	background-image: url('ico_calendar.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#right_event {
	background-image: url('ico_event.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#right_news {
	background-image: url('ico_news.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

#right_flash {
	background-image: url('ico_calendar.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	width:100%;
}

#footer {
	padding: 4px 5px 0px 0px;
	margin: 10px 15px 15px 10px;
	color: #999999;
	background-color:white;
	}
	
#site_update{
	margin-bottom:5px;
	padding-left:5px;
	}


#footer ul {
	border-top: 1px solid #cccccc;
	list-style-type: none;
	margin:0;
	padding:0px;
	padding-right:5px;
	text-indent: 0em;
	}

#footer li {
	display: inline;
	border-right: 1px solid white;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	}
	
#footer a {
	color: #666666;
	}
	
#bread_crumb_trail a {
	color: white;
	}


.right_portlet_tile {
	border-bottom:1px solid #cccccc;
	padding-bottom:3px;
}

.right_portlet_body {
	font-size:90%;
}

.flash_register {
	background-color: #e8e8e8;
	text-align: center;
	border:1px solid #999999;
}

.flash_register a {
	text-decoration:none;
	color:#343434;
}
.flash_register a:visited {
	color:#343434;
}

.right_news{
}

.right_news li{
	margin-bottom: 5px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 6px;
}

.right_date_title {
	margin-bottom:3px;
}

.right_date {
}

.right_title_or_id {
	font-weight: bold;
}

.right_by {
	color: #666666;
}

.right_contributor {
	color:#343434;
}

.right_more {
	text-align:right;
}

.right_location {
	font-weight:bold;
}

#calendar-container a:visited {
	color: #557BA1;
	text-decoration: none;
	}


.middle-portlet {
	border:1px solid white;
	margin-top: 10px;
}

.middle-portlet h4 {
	border-bottom:1px solid #cbcbcb;
	padding-bottom: 2px;
	color:#557595;
}

.middle-portlet ul {
	list-style:none;
	margin: 5px 0px 5px 10px;
	padding: 0;
}

.middle-portlet li {
	padding-bottom: 2px;
}

ul.nostyle {
	list-style:none;
	margin: 0;
	padding: 0;
}

ul.nostyle li {
	margin: 0;
	padding: 0;
}


/*list of images*/
.list_of_images {
	list-style:none;
	margin:0;
	padding:0;
}

.list_of_images li {
	display:inline;
}

.list_of_images .image_block {
	white-space:nowrap;
}

.list_of_images input {
	vertical-align:top;
}

.list_of_images img {
	vertical-align:middle;
	width: 91px;
	height: 69px;
	margin: 0px 0px 10px 10px;
}

.cell_info{
	float: right;
	font-size: 80%;
}

.mandatory_field {
	color:red;
}
.message {
	margin-bottom: 0.5em;
}
.message ul{
	margin-top:0;
	margin-bottom:0.4em;
}
.error li{
	color: #990000;
}

.error fieldset{
	border: 1px solid #990000;
}
.error legend{
	border: 1px solid #990000;
	padding: 1px 3px;
	color: #990000;
}

/* SEARCH BOX STYLE */
.search_field {
	margin-bottom: 1em;
}
.search_field .field{
	float:right;
	margin-left:1em;
	margin-top:0;
}
.search_field form,.search_field input,.search_field select,.search_field label {
	margin:0!important;
	vertical-align: middle;
	color:#444;
}
.search_field label {
	border-bottom:1px solid white;
}
.search_language {
	font-weight:normal!important;
}
.clear_float {
	clear:right;
	border:1px solid white;
}

.hlighted {
	font-weight: bold;
	background-color: #ffffcc;
}

/* END STYLE */


/*search styles*/

.checklist {
	list-style: none;
	margin-top: 0;
	padding: 0;
	margin: 0;
}

.checklist li {
	margin: 0;
	padding: 0;
}

.checklist,.columns_more input {
	vertical-align: middle;
	position: relative;
	top: -3px;
}
.columns_more {
	float:right;
	margin: 0px 10px 15px 10px;
/*	width: 15%;*/
}

.columns_more .columns_more{
	width: auto;
}

div ul.proj_projects {
	border:1px dashed #999999;
	height: 9.6em;
	overflow: scroll;
	overflow: auto;
}

div>ul.proj_projects {
	height: auto;
	max-height: 16.2em;
}

