#src_list, #over_list, #out_list {width:280px;}
.mceActionPanel {margin-top:7px;}
.alignPreview {border:1px solid #000; width:140px; height:140px; overflow:hidden; padding:5px;}
.checkbox {border:0;}
#prev {margin:0; border:1px solid #000; width:428px; height:150px; overflow:auto;}
#align, #classlist {width:150px;}
#width, #height {vertical-align:middle; width:50px; text-align:center;}
#vspace, #hspace, #border {vertical-align:middle; width:30px; text-align:center;}
#class_list {width:180px;}
input {width: 280px;}
#constrain, #onmousemovecheck {width:auto;}
#id, #dir, #lang, #usemap, #longdesc {width:200px;}

#fe_preview input { width: 5em; }
#fe_preview ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}
#fe_preview li { margin: .5em 0 0 0; }
.cleaner {
	clear: both;
}
.propfield {
	width: 10em;
	float: left;
}

#browse_panel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#browse_panel .selected {
	font-weight: bold;
}

#browse_panel .thumbnail {
	border: 1px solid black;
	width: 120px;
	height: 90px;
}
.tabs {
	margin-left: 10em;
}

#source ul {
	line-style-image: none;
	line-style-position: outside;
	line-style-type: none;
	margin: 0;
	padding: 0;
}
#source ul li {
	border: 1px solid #8094a4;
	float: feft;
	position: relative;
	background-color: #d2dcdf;
	margin: 0 1em;
	padding: 0.2em 0.7em;
}
#source ul li a {
	text-decoration: none;
}
