#log-plain-text-holder,
#table-switch {
    display: none;
}

#plain-text-box {
    border: 1px solid #EBEBEB;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    padding: 15px;
    height: 395px;
    overflow: auto;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 12px;
    background: #eee;
}
#log-download-button {
    float: right;
}
#log-enabled {
    color: green;
}
#log-enabled img {
    vertical-align: -3px;
}
#log-disabled {
    color: red;
}

/**
 * DataTables customization
*/
.dataTables_length,
.dataTables_filter,
.dataTables_info {
    font-size: 12px;
}

.paging_full_numbers a.paginate_active,
.paging_full_numbers a.paginate_button:hover {
    background: #999;
    border: 1px solid #333;
    color: #FFF;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
	    border-radius: 0px;
    font-size: 75%;
    border: 1px solid #666;
}

.paging_full_numbers a.paginate_button {
    background: #FFF;
}

.dataTables_paginate {
    text-align: center;
    float: none;
}

.dataTables_info {
    float: none;
    clear: none;
    margin-bottom: 10px;
    text-align: center;
}

table.listing {
  width: 100%;
}

table.listing td, table.listing th {
  padding-left: 0.5em;
}

table.listing a {
  color: #b00;
}

.priority0-even {
  background: #fdc !important;
}
.priority0-even td {
  border: 1px dotted #e88 !important;
}
.priority0-odd {
  background: #fed !important;
}
.priority0-odd td{
  border: 1px dotted #e88 !important;
}

.priority1-even {
  background: #ffb !important;
}
.priority1-even td {
  border: 1px dotted #eea !important;
}
.priority1-odd {
  background: #ffd !important;
}
.priority1-odd td {
  border: 1px dotted #eea !important;
}

.priority2-even {
  background: #F6F6F6 !important;
}
.priority2-even td {
  border: 1px dotted #ccc !important;
}

.priority2-odd {
  background: #fbfbfb !important;
}

.priority2-odd td {
  border: 1px dotted #ddd !important;
}

td.details {
  color: #76797c;
}

.list-header th {
  text-align: left;
}

.list-header {
    background: #FFF;
}

/**
 * Morris charts
*/

.graph-container {
    float: right;
}

.graph-container .caption {
    margin-left: 100px;
    font-weight: bold;
}

.graph-container .graph {
    width: 500px;
    height: 250px;
}

