.description {
    color: #8DA559;
    font-size: 100%;
    padding-bottom: 1em;
}

.boxes-right {
    float: right;
    width: 20em;
}

.box {
    margin-bottom: 1em;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px;
}

.link-box {
    margin-bottom: 1em;
}

.gray {
    color: gray;
    font-weight: bold;
    font-size: 80%;
}

.link-box a {
    font-weight: bold;
    display: block;
    margin: 0 0 1em 0;
}

.topic-box a {
    text-decoration: none;
}

.topic-box span.object-count {
    font-size: 80%;
}

.topic-box li {
    margin: 0 0 0.5em 0;
}

.topic-box ul {
    padding-left: 1.5em;
}

.box .minimap {
    margin: -0.5em;
}

.box .body {
    margin: 0.5em;
}

.main-content {
    margin: 0.5em 0 0.5em 0;
    padding-right: 21em;
}

.main-content ul {
    margin-top: -0.5em;
    padding-left: 2.5em;
}

.picture {
    float: left;
    margin-right: 0.5em;
}

td#center_cell {
    padding-bottom: 1em;
}

.footer_link {
    font-weight: bold;
    margin-top: 5em;
}

.hr {
    color: gray;
}
