.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.country-flag {
  vertical-align: -1px;
  max-width: 30px;
}

input.input-text {
  -webkit-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  -moz-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  -o-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  background: none repeat scroll 0 0 #FFFFFF;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 12px;
  height: 22px;
  padding: 2px;
  border: 1px solid #CCCCCC;
  color: Black;
  font-family: Verdana;
  vertical-align: middle;
  visibility: visible;
}

input.input-text:focus {
  font-style: normal;
  -webkit-box-shadow: 1px 1px 1px #ECECEC;
  -moz-box-shadow: 1px 1px 1px #ECECEC;
  box-shadow: 1px 1px 1px #ECECEC;
  border-color: #B1C748;
  -webkit-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  -moz-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  -o-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
  transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, border-color 0.218s, background-color 0.218s;
}

input#search-text {
  width: 220px;
}

select#search-theme {
  width: 210px;
  height: 28px;
  padding: 5px 3px 5px 0;
}

input#search-year {
  width: 70px;
}

div#filters-form-holder form {
  line-height: 2.5;
}

.fields-separator {
  clear: both;
  display: block;
  height: 1px;
  margin: 5px 0;
}

label {
  vertical-align: middle;
}

div#search-geolevel-box {
  height: 65px;
  overflow: hidden;
}

.loading-animation {
  margin: 15px 0 0 15px;
}

#aoa-search-map {
  clear: both;
  display: block;
  width: 995px;
}

div#filters {
  clear: both;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  display: inline-block;
  width: 100%;
  position: relative;
  top: 3px;
  left: -1px;
}

div#selection-info {
  float: right;
  height: 220px;
  width: 273px;
  overflow: auto;
  border-bottom: 1px solid #BABBB8;
  padding: 5px 10px 0;
}

div#selection-info a:hover {
  text-decoration: none;
  border: none;
}

div#filters-form-holder {
  float: right;
  clear: right;
  width: 273px;
  padding: 5px 10px 10px;
}

div.country-info-box {
}

div#countries-map {
  width: 700px;
  height: 400px;
}

div#countries-map .olControlLayerSwitcher {
  width: auto;
}

div#countries-map .olControlLayerSwitcher .layersDiv {
  padding-right: 1em;
}

div#countries-map .olControlLayerSwitcher .minimizeDiv {
  display: none;
}

div#results-holder {
  height: 400px;
  border: 1px solid #ececec;
  border-top: none;
  overflow-y: auto;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

div#results {
  padding-top: 1px; /* avoid collapsing margins with first child */
}

div#results ul {
  list-style-type: none;
  list-style-image: none;
  line-height: 16px;
  margin: 0;
  /*margin: 15px 10px;*/
  padding-left: 0;
}

div#results ul li {
  margin: 0;
  border-bottom: 1px solid #ececec;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.218s;
  -moz-transition: background-color 0.218s;
  -o-transition: background-color 0.218s;
  transition: background-color 0.218s;
}

div#results ul li a.title {
  display: inline-block;
  padding: 7px 15px;
  margin-left: 10px;
  text-shadow: 0xp 1px 0px #FFFFFF;
}

div#results ul li a,
.ui-widget-content a {
  text-decoration: none;
  border: none;
}

div#results ul li a:hover,
.ui-widget-content a:hover {
  text-decoration: none;
  border: none;
}

div#results ul li:hover {
  background-color: #F3F3F3;
  -webkit-transition: background-color 0.218s;
  -moz-transition: background-color 0.218s;
  -o-transition: background-color 0.218s;
  transition: background-color 0.218s;
}

.document .title {
  font-weight: bold;
}

div#document-info {
  display: none;
}

.jquery-template {
  display: none;
}

#filters-form .input-select {
  margin-right: 20px;
}

.template-section {
  clear: both;
  overflow: hidden;
  padding: 0;
  font-size: 11px;
  line-height: 1.6;
}

.inline-block {
  float: left;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.label {
  font-weight: bold;
}

li.document a.title {
  background: transparent url('expand.png') no-repeat scroll left center;
}

li.document.expanded a.title {
  background: transparent url('collapse.png') no-repeat scroll left center;
}

#document-map {
  width: 300px;
  height: 200px;
  border: 2px solid #888;
  float: right;
  background: #eee;
}

div.document-info {
  padding-left: 25px;
  padding-bottom: 10px;
}

#filter-button {
  -webkit-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  -moz-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  -o-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#478EA5),to(#346F83));
  background: -moz-linear-gradient(270deg, #478EA5, #346F83) repeat scroll 0 0 transparent;
  border: 1px solid #346F83;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  display: inline-block;
  font: bold 12px Verdana,Arial,sans-serif;
  padding: 4px 12px;
  position: relative;
  text-shadow: 0 1px 0 #000000;
}

#filter-button:hover {
  background-color: #FF9123;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(orange),to(#FF9123));
  background: -moz-linear-gradient(270deg, orange, #FF9123) repeat scroll 0 0 transparent;
  -webkit-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  -moz-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  -o-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  color: #FFFFFF;
  cursor:pointer;
  border-color: #999999;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  text-shadow: none;
}

#reset-button {
  background-color: whiteSmoke;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid gainsboro;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font: bold 12px Verdana,Arial,sans-serif;
  padding: 4px 12px;
  border-radius: 2px 2px 2px 2px;
  text-shadow: 0 1px 0 #FFFFFF;
}

#reset-button:hover {
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  -moz-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  -o-transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  transition: -webkit-box-shadow 0.218s ease 0s, -moz-box-shadow 0.218s ease 0s, box-shadow 0.218s ease 0s, background 0.218s ease 0s;
  border-color: #999999;
  -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  text-shadow: none;
}

div.olControlZoomPanel {
  top: 14px;
}

div.olControlZoomPanel div.olControlZoomInItemInactive {
  width: 36px;
  height: 36px;
  background: url(zoom-in.png) no-repeat;
}

div.olControlZoomPanel div.olControlZoomToMaxExtentItemInactive {
  display: none;
}

div.olControlZoomPanel div.olControlZoomOutItemInactive {
  top: 38px;
  width: 36px;
  height: 36px;
  background: url(zoom-out.png) no-repeat;
}

#content div#plone-document-byline {
  display: none;
}
