#header {
	background: url(header-bg.gif) repeat-x top left #c8dcf2;
}
.left_portlet ul li{
	background: url('left-li-bg.gif') repeat-x center center;
}
#menunav {
	background: url("menunav-bg.gif") repeat-x top left;
}
#menunav li a:hover {
	color: #fff;
	background: url("menunav-a-hover.gif") repeat-x top left;
}
