{% extends "frame.html" %}

{% block content %}

<form action="{% url survey:edit category.id %}" method="POST">
  <table cellpadding="0" cellspacing="0" class="datatable">
    <tbody>

    {% for field in form %}
      {% if field %}
      <tr>
        <th style="text-align: left; width: 220px;">{{ field.label_tag }}</th>
        <td>
          {{ field }}
          {{ field.errors }}
        </td>
      </tr>
      {% endif %}
    {% endfor %}

    </tbody>
  </table>

  <button type="submit">Submit</button>
</form>

{% endblock %}
