{% load static %}

<div class="preview-container">

  <div class="options" style="display: none;">
    {% if survey and account == survey.user %}
    <span class="edit-answer"
          data-href="{% url survey:edit category.id survey.id %}"
          data-opentext="[ edit ]"
          data-closetext="[ close ]">
          [ edit ]</span>
    {% endif %}
    <span class="hide-answer">[ hide ]</span>
    <i class="loading">
      <img src="http://forum.eionet.europa.eu/++resource++naaya.groupware/ajax-loader.gif" alt="loading" width="16" height="16" /></i>
  </div>

  <div class="answer">

    <div class="icon">
      <img src="{% static "images/ok.png" %}" />
    </div>

    <div class="response">
      <a data-href="{% url survey:view category.id survey.id %}"
               class="preview">Answer</a> by
    </div>

    <div class="author">
      {% if survey.user == account %}you{% else %}
        {{ survey.user }}
      {% endif %} on {{ survey.date|date:"l, jS" }} of {{survey.date|date:"N"}}, at {{survey.date|date:"H:i" }}

      <i class="loading">
        <img src="http://forum.eionet.europa.eu/++resource++naaya.groupware/ajax-loader.gif" alt="loading" width="16" height="16" /></i>

    </div>
  </div>

</div>
