<h1>
  Questionnaire transport and adaptation to climate change in EEA member countries
</h1>

<p class="system-msg">
  Reporting <strong>deadline 15 March 2013</strong>
  <a href="#">(further explanations)</a>
</p>

<h2>In the following scheme we will ask you to answer <u>five questions</u> in a structured way:</h2>

<ul class="notes">
  <li><strong>A.</strong> How is the transport sector adapting to climate change in your country?</li>
  <li><strong>B.</strong> What is the information base in your country on climate change impacts on transport sector?</li>
  <li><strong>C.</strong> How is adaptation in the transport sector organised in your country?</li>
  <li><strong>D.</strong> What do you consider as barriers to better adaptation of transport to climate change impacts and are there areas where EU policy could help to overcome these?</li>
  <li><strong>E.</strong>  How could the EEA tailor the analysis to better fit your needs?</li>
</ul>

<h2>General notes to assist with completing the questionnaire:</h2>

<ul class="notes">
  <li>- We ask explicitly for <u>adaptation</u> activities. Adaptation efforts serve to manage unavoidable climate change impacts. Adaptation thus complements climate change mitigation efforts, such as reducing greenhouse gas emissions, which focus on reducing climate change impacts.</li>
  <li>- We would prefer information on action at the national level. Yet, and depending on the situation per country, subnational action may also be of relevance as it could support or even substitute national action. In tdis respect please provide such information where relevant.</li>
</ul>
