body {
	margin-left: 5%; 
	margin-right: 5%;
	/* the margin used to be 10% */
	margin-top: 2em;
	margin-bottom: 2em;
	border: 1px solid gray;
	padding: 0;
	font-family: Arial, Verdana;
	font-size: 80%;
}

legend {
font-weight: bold;
}

#middle_port table {   /* !!!! */
	width: 99%;
}

#topnav, #search {display: none;}

#toptitle {
	padding-top: 20px;
	height: 75px;
	margin-left: 15%;
	margin-top: 0; /*0.5em;*/
}

.page_title {
	padding: 0px 0 0 0px;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
}

.page_subtitle {
	padding: 10px 0 0 60px;   /* T R B L */
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}

h1 {
	font-size: 170%;
	padding: 0;
	margin: 0px 0px 20px 0px;
}

.h1_parent {
	font-weight: normal;
	background-color: #f0f0f0;
	font-size: 70%;
	padding: 5px 10px ;
}
.h1_commented_ch {
	font-size: 70%;
	font-weight: normal;
}

.h1_parent a {
	color: #0061A2;
}

.draft {
	vertical-align: 15%;
	padding:0;
	margin:0;
}
.draft span {
	vertical-align: 20%;
	font-size: 60%;
	font-weight: normal;
	color: red;
	padding:0 2px;
	margin:0;
}



	

.skiplink {
	display: none;
}


#language {
	/*float: right;
	margin-right: 1em;
	margin-top: 30px;*/
	float: right;
	margin-right: 6px;
	white-space: nowrap;
}

#language form {
	margin:0;
	display: inline;
}
.lang_label {
	font-size: 90%;	
	line-height: 2em;
	margin-top: 10px;
}

#language select {
	/*background-color: #FFE2B6;*/
	font-family: Arial,Verdana;
	font-size: 90%;
	color: black;
	border: 1px solid black;
	vertical-align: middle;
	margin-top: 3px;
}

#header {
	position: relative;
	background-image: url(bck_header.jpg); 
	background-repeat: repeat-x;
	background-position: left top;

/*	margin-top: -5px;*/
}

#header img {
	margin-left: 1em;
	position: relative;
	margin-top: 5px;
/* */
}

#breadcrumbtrail {
	clear: both;
	margin: 10px 5px 13px 12px; 
	font-size: 80%;
/*	border: 1px solid red;*/
}

#breadcrumbtrail a {
	color: #0061A2;
}

#middle_port {
	padding-left: 1%; padding-right: 1%;
	padding-bottom: 4%;
	margin-bottom: 10px;
/*	margin-left: 22%;*/
margin-left: 180px;



}
#page_content {
	margin-top: 0px;
}

.center_portlet {
	margin-bottom: 10px;
}
.center_portlet .center_portlet_title {
	background-color: #dddddd;
}
.center_portlet .center_portlet_content {
	border: 1px solid #dddddd;
}

#left_port {
	float: left; 
/*	width: 18%;*/
	margin-left: 7px;
	margin-top: 2px;
/* 	margin-bottom: 10px; */
}


#right_port {
/*float: right;
	width: 25%;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	width: 20%; 
*/
	float: right; 
	word-wrap: break-word;
	margin-top: 10px;
}
.right_portlet_content ul {
	margin: 0; /* 4px 0 16px 0; */
	padding: 0; /* 4px 0 16px 0;*/
	text-indent: 0;
}

#footer {
/*	clear: both;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 5px;
	border: 1px solid #000000;
*/
	clear: both;
	background-image: url('footer_b.jpg');
	height: 38px;
	text-align: center;
	line-height: 38px;
	font-size: 80%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#footer a {
	color: #666666;
	text-decoration: none;
}

#footer a:hover {
	color: #000000;
	text-decoration: underline;
}

/* ##################### LEFT PORTLETS STYLE #################### */

.left_portlet_content {
/*	background: url('bg_box00.gif');
	border-top: 1px solid black; /* added */
/*	margin-top: 2px; */

	border: 1px solid #000000;
	background-color: #f0f0f0;
	
}

.left_portlet {
	/* ackground: url('top_box0.gif') no-repeat left top; */
	width: 158px;
	text-align: right;
	font-size: 110%;
	margin-bottom: 10px;
}

.left_portlet span { /* left_portlet-title */
	font-weight: bold;
	background-color: #FEE3B8;
	padding: 3px 5px 0 0; 
	padding: 3px 5px 0px 5px; 
	margin: 3px 5px 0 0;  
	font-size: 12px;
	display: block;
	text-align: left;
}

.left_portlet ul {
	text-align: left;
/*	margin: 4px 0 16px 0;  
	padding: 4px 0 16px 0; */ 
	padding: 4px 0 3px 0;
	margin: 4px 0 3px 0;
	list-style-position: outside;
	list-style-image: url('cat_bull.jpg');
/*	background: url('bottom_b.gif') no-repeat left bottom; */
}

.left_portlet li {
	margin: 1px 4px 0px 20px;  
	padding: 1px 4px 0px 0px;  
	font-size: 0.85em;
	border-bottom: 1px dotted #C0C0C0;
}

.left_portlet a {
	padding: 0 0 0 0;  
	color : #575757;
	color: #111111;
	text-decoration : none;
}

.left_portlet a:hover {
	text-decoration : underline;
}

/* ##################### END LEFT PORTLETS STYLE #################### */

/* ##################### RIGHT PORTLETS STYLE #################### */
.right_portlet_content {
	background: url('bg_box00.gif');
	border-top: 1px solid black; /* added */
	margin-top: 2px; /* added */
}

.right_portlet {
	background: url('top_box0.gif') no-repeat left top;
	width: 143px;
	text-align: right;
}

.right_portlet span { /* right_portlet-title */
	font-weight: bold;
	padding: 3px 5px 0 0;
	margin: 3px 5px 0 0;
	font-size: 12px;
}

.right_portlet ul {
	text-align: left;
	margin: 4px 0 16px 0;
	padding: 4px 0 16px 0;
	list-style-position: outside;
	list-style-image: url('cat_bull.jpg');
	background: url('bottom_b.gif') no-repeat left bottom;
}

.right_portlet li {
	margin: 1px 4px 0px 20px;
	padding: 1px 4px 0px 0px;
	font-size: 0.85em;
	border-bottom: 1px dotted #C0C0C0;
}

.right_portlet a {
	padding: 0 0 0 0;
	color : #575757;
	text-decoration : none;
}

.right_portlet a:hover {
	text-decoration : underline;
}

/* ##################### END RIGHT PORTLETS STYLE #################### */

#last_modified {
	margin: 1% 0% 1% 20%;
}

#topnav {
}
#topnav ul {
	margin:0;
	padding:0;
	display: inline; 
	list-style-type: none;
}
#topnav li {
	margin-right:1em;
	padding:0;
	display: inline;
}

#menunav {
	clear: both;
	/**/
	background-image: url(bck_nav.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 26px;
}

#menunav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	display:inline;
}
#menunav li {
	margin-right:0.2em;
	padding:0;
	display:inline;
	
	background-image: url(nav_drag.jpg);
	background-repeat: no-repeat;
	background-position: left 1px;
	height: 26px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
#menunav li a {
	line-height: 26px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 90%;
/*	border-left: 1px solid white;*/
	padding-left:0.8em;

}

#search {
	float: right;
}

#search form {
	margin:0;
}

#tabbedmenu {
	float:left;
	width:100%;
	border-bottom: thin solid #E3E2D3;
	font-size: 0.8em;
	line-height:normal;
}
#tabbedmenu ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
#tabbedmenu li {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	white-space: nowrap;
}
#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 10px 4px 6px;
}
#tabbedmenu #currenttab {
	background-image:url("tableft_on.gif");
}
#tabbedmenu #currenttab a {
	text-decoration: none;
	font-weight: bold;
	background-image:url("tabright_on.gif");
	padding-bottom: 5px;
}
#tabbedmenu #currenttab span {
	display:block;
	text-decoration: none;
	font-weight: bold;
	background:url("tabright_on.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
}

.page_title {}
.page_subtitle {}


/*	EPOZ buttons	*/
#epoz_button_strikethrough {display:none;}
#epoz_button_subscript {display:none;}
#epoz_button_superscript {display:none;}
#epoz_button_unformat {display:none;}
#epoz_button_anchor {display:none;}
#epoz_button_undo {display:none;}
#epoz_button_redo {display:none;}

body.visualFontSizeCorrection {
	border: 0;
	margin: 0;
	padding: 0;
}

/*	Comment Box Form Styles	*/
.comment_box {
	background-color:#FAFAFA; 
	border: 1px dashed #cccccc; 
	margin:1em;
	padding:1em;
	clear: right;
}

.deletecomment {
	font-size: 90%;
	float:right;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(trash.gif);
	background-repeat: no-repeat;
	background-position: left center;

	margin-bottom: 0.5em;
	/*text-indent: 17px;*/
}

.addcomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(addcomment.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}

.logincomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	background-image: url(logintoadd.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 0.5em;
}

.commentbox_title {
	font-size: 100%;
	/*text-indent: 17px;*/
	padding-left: 17px;
	background-image: url(comment.gif);
	background-repeat: no-repeat;
	background-position: left top;
	
}

.commentbox_content {
	color:#666666; 
	font-size: 85%;
}

.commentbox_add {
	margin: 1em;
	/*padding-left:1em;*/
}

.hr_addcomment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white;
}

.hr_inside_comment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white; 
	margin-top:0.5em;
}

/*	sortable tables	*/
.sortable {
	border: 1px solid black;
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 2px outset #999;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a {
	height: 100%;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

.fieldset_div {
	margin: 5px 0px;
}

/* ############################### */



/* Link used in displaying the top folders */
#manunav a {
	color : black;
	text-decoration : none;
	font-weight : bold;
}

#manunav a:visited {
	color : black;
	text-decoration : none;
	font-weight : bold;
}

#manunav a:hover {
	color : black;
	text-decoration : underline;
	font-weight : bold;
}

/* ######################## */

/* ########## ARTICLE NAVIGATION BARS ############## */

.nav_art {
	margin-top: 0;
	text-align: center;
	background-color: #f0f0f0;
	color: #000;
	border-top: 2px solid white;
	border-bottom: 1px solid #f0f0f0;
	font-size: 85%;
	line-height: 1.8em;
}

.nav_art_down {
	padding-top: 15px;
	border-top: 1px solid white;
	clear: right;
}

.nav_art_links {
	margin: 0px 0px;
}

.nav_art a {
	color: #008B99;
	padding: 3px 10px;
	text-decoration: none;
	font-weight: bold;
}

.nav_art span span {
	padding: 3px 10px;
	font-weight: bold;
	color: #999;
}

.report_h1 {
	margin: 10px 0 0 0;
	padding:0;
}

.comm_art {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 5px;
/*	height: 1.2em;*/
}
.comm_art a {
/*	border: 1px dashed #bbbbbb;
	background-color: white;
	color: black; */
	text-decoration: underline;
	font-size: 85%;
	color: #444;
}
.comments_counter {
	font-size: 75%;
}
.comments_counter a {
	text-decoration: none;
	font-size: 110%;
	/* background-color:#FEEED4; #f0f0f0;*/
	color: #0061A2; /*#008B99;*/


}

/* to be added at comments */

.comm_but {
	margin: 8px 0 3px 0;
	background:#FEE3B8; /* #FEEAB2;*/
	padding: 5px 10px 5px 10px;
	font-size: 85%;
	border: 1px dashed #999999;
	width: 155px;
}
.comm_but .comm_link {
	display: block;
	text-decoration: none;
	
	padding: 1px 3px;
	white-space: nowrap;
	margin-bottom: 3px;
	text-align: center;
	color: white;
	background-color: #0061A2; /*#666666; */
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.added_comm {
	margin: 5px 0px 2px 0px;
}

.clearing_right {
	clear: right;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.comm_showhide {
	font-size: 100%; width: 130px; margin:0px;
	text-align: center;
	color: white;
	background-color: #0061A2; /*#666666; */
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
/* ########## END ARTICLE NAVIGATION BARS ############## */

/* @@@@@@@@@@@@@@@@@@@@---------COMMON STYLE-------@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* errors and messages box */
	.system-msg {
		border: 1px solid black;
		padding: 1em;
		margin-bottom: 1em;
	}

	/* Operations buttons */
	.floated-buttons {
		float: right;
		margin-right: 0.5em;
	}
/* button-like links */

	.buttons a {
		text-decoration: none;
		line-height: 2em;
		color: white; 
		background-color: #0061a2;
		border-left:2px solid #fff;
		border-top:2px solid #fff;
		border-bottom:2px solid #000; 
		border-right:2px solid #000; 
		padding:1px 4px; 
		margin: 3px;
	}

	.buttons span {
		padding:0.4em 0.4em;
		margin: 0.4em 0.3em;
	}

	.buttons a:visited {
		color:#fff;
	}


	.buttons-rate a {
		text-decoration: none;
		line-height: 2em;
		color: white; 
		background-color: #f4a52d;
		border-left:2px solid #fff;
		border-top:2px solid #fff;
		border-bottom:2px solid #999; 
		border-right:2px solid #999; 
		padding:1px 10px; 
		margin: 3px;
		font-size: 90%;
	}

	.buttons-rate a:visited {
		color:#fff;
	}


	/* folder index styles */
	#admin_this_folder{
		padding: 2px 2px 4px 2px; /*0.2em;*/
		border:1px solid #f0f0f0; /*#E1E1E1; */
		background-color: #f0f0f0; /*#E1E1E1; */
		text-align: left;
		text-indent: 0.3em;
		font-size: 95%;
	}
	
	#admin_this_folder #submission {
		/*font-weight: bold;*/
	}
	
	#admin_this_folder a {
		text-decoration: none;
		/*font-weight: bold;*/
		line-height: 2em;

		color: white; 
		background-color: #666666;
		border-left:1px solid #fff;
		border-top:1px solid #fff;
		border-bottom:1px solid #000; 
		border-right:1px solid #000; 
		/*color:#fff; 
		background-color: #008B99;
		border-left:1px solid #00C9DF;
		border-top:1px solid #00C9DF;
		border-bottom:1px solid #006571; 
		border-right:1px solid #006571;*/
		padding:1px 2px; 
		font-size: 90%;
	}

	#admin_this_folder span {
		padding:0em 0.4em;
		margin: 0em 0.3em;
	}

	#admin_this_folder img {
		vertical-align: middle;
		padding-right: 4px;
	}

	#admin_this_folder select {
		vertical-align: middle;
		font-size: 95%;
	}
	


	#toolbar{
		padding: 0.5em;
		padding-left: 0.5em;
		margin-top: 0.9em;
		background-color:#f0f0f0;
	}

	#toolbar a{
		text-decoration: none;
	}

	#toolbar span{
		white-space: nowrap;
		font-size: 85%;
	/*	font-weight: bold;*/
		background-color:#e6e6e6; 
		border-top:1px solid white;  
		border-left:1px solid white; 
		border-bottom:1px solid #333333; 
		border-right:1px solid #333333; 
		margin-right: 0.4em;
		padding: 1px 6px;
		padding-left: 0.3em;
		color:#000; /*#333333*/ /*#333333*/ /* #333333*/ /* #333333*/
	}
		#toolbar img{
			position: relative;
			top:1px;
			display: none;
		}

	div.folderfile_container {
		margin-right:200px;
	}

	table#folderfile_list{
	/*
	<tal:block tal:condition="python: len(here.get_right_portlets_locations_objects(here)) > 0">
		width: 79%;
	</tal:block>
	<tal:block tal:condition="python: len(here.get_right_portlets_locations_objects(here)) == 0">
		width: 100%;
	</tal:block>
	*/
	}

	#folderfile_list th{
		background-color:#e5e5e5; /*#eeeeee*/ /*#d5d7be*/ /*#d5d7bf*/ /* #eeeeee*/
		padding: 0.1em;
		color:#000000; /*#000000*/ /*#000000*/ /*#000000*/ /* #303030*/
		font-size: 0.9em;
		font-weight: normal;
		border-right:1px solid #c2c2c2; /*1px solid #c7c7c7*/ /*1px solid #b9bbad*/ /*1px solid #b9b9b9*/ /* 1px solid #c7c7c7*/
	}

	#folderfile_list td{
		color:#333333; /*#333333*/ /*#333333*/ /*#333334*/ /* #999999*/
		padding: 0.4em 0.1em;
		border-bottom:1px solid #eeeeee; /*1px solid #eeeeee*/ /*1px solid #e4e5d5*/ /*1px solid #d5d7bf*/ /* 1px solid #eeeeee*/
	}

	#folderfile_list .checkbox{
		vertical-align: top;
		text-align: left;
		padding-left: 0.3em;
		padding-right: 0.3em;
	}

	#folderfile_list th.checkbox{
		vertical-align: middle;
	}

	#folderfile_list .type{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.type{
		vertical-align: middle;
	}

	#folderfile_list .title-column{
		vertical-align: middle;
		text-align: left;
	}

		td.title-column a{
			color:#286185; /*#336633*/ /*#003366*/ /*#003399*/ /* #0f75b3*/
		}
		td.title-column a:hover{
			text-decoration: none;
		}

	#folderfile_list th.title-column{
		vertical-align: middle;
		padding-left: 0.3em;
	}

	#folderfile_list .checkin{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.checkin{
		vertical-align: middle;
	}

	#folderfile_list .checkout{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.checkout{
		vertical-align: middle;
	}

	#folderfile_list .edit{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.edit{
		vertical-align: middle;
	}

	/*______- sortables columns -_____ */


	/* -------ASC SORT--------- */
	.sort_asc_th {
		padding: 0em;
		background-color: #DEECF4;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
	}

		.sort_asc_th img {
			display: none;
		}

	.sort_asc_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;
		background-image: url('sort_asc.gif');
		background-repeat: no-repeat;
		background-position: right center;
	}

	/* ----------DESC SORT---------- */
	.sort_desc_th {
		padding: 0em;
		background-color: #DEECF4;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
		font-weight: normal;
	}

		.sort_desc_th img {
			display: none;
		}

	.sort_desc_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;	
		background-image: url('sort_desc.gif');
		background-repeat: no-repeat;
		background-position: right center;
	}

	/* -----------SORTABLE------------- */
	.sort_th {
		padding: 0em;
		background-color: #DEECF4;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
	}

	.sort_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;
	}

	/* Tabbed menus  */
	#tabbedmenu {
		float:left;
		width:100%;
		border-bottom: thin solid #E3E2D3;
		font-size: 1em;
		line-height:normal;
		margin-bottom: 1em;
	}
	#tabbedmenu ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
	}
	#tabbedmenu li {
		float:left;
		background:url("tableft.gif") no-repeat left top;
		margin:0;
		padding:0 0 0 9px;
		white-space: nowrap;
	}
	#tabbedmenu a {
		display:block;
		text-decoration: none;
		font-weight: bold;
		color: black;
		background:url("tabright.gif") no-repeat right top;
		padding:5px 15px 4px 6px;
	}
	#tabbedmenu #currenttab {
		background-image:url("tableft_on.gif");
	}
	#tabbedmenu #currenttab a {
		text-decoration: none;
		font-weight: bold;
		background-image:url("tabright_on.gif");
		padding-bottom: 5px;
	}
	#tabbedmenu #currenttab span {
		display:block;
		text-decoration: none;
		font-weight: bold;
		background:url("tabright_on.gif") no-repeat right top;
		padding:5px 15px 4px 6px;
	}

	/* warning box for active versions of items */
	.version_box {
		background-color: #f4fff4;
		color: red;
		padding: 1em;
		float: right;
		border: 1px solid black;
		width: 200px;
		text-align: center;
	}

	/* Content translation boxes */
	.translate {
	/*	width: 90%;*/
		padding:  4px 3px 4px 32px;
		margin: 1% 2% 0% 0%;
		background-color: #e8e8e8;
		color: #666666;
		font-size: 85%;
		font-weight: bold;
		line-height: 1.8em;
		background-image: url(translate.gif);
		background-repeat: no-repeat;
		background-position: left top;
	}

	.translate a {
		background-color: #888888;
		border: 2px solid #888888;
		color: white;
		text-decoration: none;
		font-weight: bold;
		padding: 0px 4px;
		margin: 2px 0px 2px 1px;
	}

	.translate .current {
		background-color: white;
		color: #444444;
		font-weight: bold;
		border-bottom: 2px solid #888888;
		border-left: 2px solid #888888;
		border-right: 2px solid #888888;
		border-top: 2px solid white;
	}

	.translate a:hover {
		background-color: #CCCCCC;
		color: #444444;
	}

	/* styles for forms */
	.field {
		margin-top: 1em;
	}

	.field-inline {
		margin-top: 1em;
	}

	.field label {
		display: block;
		font-weight: normal;
		margin-bottom: 0.3em;
	}

	.field-inline label {
		font-weight: normal;
		margin-bottom: 0.3em;
	}

	.field .invisible {
		display: none;
	}

	.field-inline .invisible {
		display: none;
	}

	/*EPOZ widget*/
	body.visualFontSizeCorrection { /*do not display bg-image in EPOZ*/
		background-image: none;
		background-color: transparent;
		font-size: 80%;
	}

	/*	EPOZ buttons	*/
	.epoz_button_strikethrough {display:none;}
	.epoz_button_subscript {display:none;}
	.epoz_button_superscript {display:none;}
	.epoz_button_unformat {display:none;}
	.epoz_button_anchor {display:none;}
	.epoz_button_undo {display:none;}
	.epoz_button_redo {display:none;}

	

/* +++++++++++++++++++++++  modified on febr 19 2006 +++++++++++++++++*/

	.tabs_admin {
		float:left;
		width:100%;
		/* border-bottom: thin solid #E3E2D3; */
		font-size: 1em;
		line-height:normal;
		margin-bottom: 1em;
		font-size: 80%;
	}

	.tabs_admin ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
	}

	.tabs_admin li {
		float: left;
	/*	background: url("tableft.gif") no-repeat left top;*/
		margin: 0 0 0 5px;
		padding: 0 0 0 9px;
		white-space: nowrap;
		border-top: 1px solid #879AA7; /* custom-color-border*/
		border-left: 1px solid #879AA7; /* custom-color-border*/
		border-right: 1px solid #879AA7; /* custom-color-border*/
	}


	.tabs_admin a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #637785; /* custom-color-a.font */
/*		background: url("tabright.gif") no-repeat right top;*/
		padding: 5px 15px 4px 6px;
	}

	.tabs_admin .currenttab {
	/*	background-image: url("tableft_on.gif");*/
		background-color: #879AA7; /* custom-color-border*/ /*#F6F6F7;*/
	}
	.tabs_admin .currenttab a {
		text-decoration: none;
		font-weight: bold;
	/*	background-image: url("tabright_on.gif"); padding-bottom: 5px;*/
		color: white;
	}

	.tabs_admin .currenttab span {
		display: block;
		text-decoration: none;
		font-weight: bold;
	/*	background: url("tabright_on.gif") no-repeat right top; padding: 5px 15px 4px 6px;*/
	}


	.tabs_admin a:visited {
		color: #637785; /* custom-color-a.font */
	}
	.tabs_admin .currenttab a:visited {
		color: white;
	}
/*  ++++++++++++++++++++++++++++++++++++++++++ */

	.tabs_firstlevel {
		float:left;
		width:100%;
	/*	border-bottom: thin solid #E3E2D3; */
		border-bottom: 1px solid #879AA7; /* custom-color-border*/
		font-size: 1em;
		line-height:normal;
		margin-bottom: 1em;
		font-size: 80%;
	}

	.tabs_firstlevel ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
	}

	.tabs_firstlevel li {
		float: left;
	/*	background: url("tableft.gif") no-repeat left top;*/
		margin: 0 0 0 5px;
		padding: 0 0 0 9px;
		white-space: nowrap;
		border-top: 1px solid #879AA7; /* custom-color-border*/
		border-left: 1px solid #879AA7; /* custom-color-border*/
		border-right: 1px solid #879AA7; /* custom-color-border*/
	}


	.tabs_firstlevel a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #637785; /* custom-color-a.font */
/*		background: url("tabright.gif") no-repeat right top;*/
		padding: 5px 15px 4px 6px;
	}

	.tabs_firstlevel .currenttab {
	/*	background-image: url("tableft_on.gif");*/
		background-color: #879AA7; /* custom-color-border*/ /*#F6F6F7;*/
	}
	.tabs_firstlevel .currenttab a {
		text-decoration: none;
		font-weight: bold;
	/*	background-image: url("tabright_on.gif"); padding-bottom: 5px;*/
		color: white;
	}

	.tabs_firstlevel .currenttab span {
		display: block;
		text-decoration: none;
		font-weight: bold;
	/*	background: url("tabright_on.gif") no-repeat right top; padding: 5px 15px 4px 6px;*/
	}


	.tabs_firstlevel a:visited {
		color: #637785; /* custom-color-a.font */
	}
	.tabs_firstlevel .currenttab a:visited {
		color: white;
	}
/*  ++++++++++++++++++++++++++++++++++++++++++ */
.hr_invisible {
	clear: both; 
	border: 1px solid white;
}

.second_tab_set {
/*	background-color: red; */
	margin-right: 10px; 
/*	border-right: 1px solid green; */
	padding:0;
}
.second_tab_set .tabs_admin {
	background-color: white; 
	padding: 0; 
	margin: 0;
	border-bottom: 1px solid #879AA7; /* custom-color-border*/
	/*#776655; under tabs line !!! */

}

.second_tab_set .tabs_admin ul {
	background-color: white; 
	padding: 0; 
	margin: 0;
}

.second_tabset_content {
	background-color: #F6F6F7; /* custom-color-mainbackground*/
	
	/*	background-color: #F0F0F0;  border: 2px solid blue; border: 1px solid #776655;*/
	padding: 0px 10px 10px 10px;
	
	border-top-width: 0.01em;
}

.second_tabset_content h2 {
	clear: both;
	margin: 0px;
	padding-top: 15px;
}

.role_name_row label {
	vertical-align: middle;
	display: block;
	margin-top: 2px;
}

.role_name_row input {
	border: 1px solid #666666;
	font-size: 110%;
	margin-bottom: 14px;
}

.submission_button {
	margin-top: 20px;
	padding: 1px 2px 0px 2px;
	background-color: #8194A0;  /* custom-color-submit */
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #637785; /* custom-color-a.font */
	border-bottom: 1px solid #637785; /* custom-color-a.font */
	font-size: 100%;
	color: white;
}

/* +++++++++++++++++++++++ END  modified on febr 19 2006 +++++++++++++++++*/

/* SORTABLE TABLES second, to be merged with the existing one */
.sortable {
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 1px outset #fff;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

/* Table of contents */

.toc0 {
	margin-top:15px;
	font-size: 100%;
}

.toc {
	margin-top:15px;
}

.toc_ul {
	list-style-type: none;
	margin: 0px 0 0 0; 
	padding: 0;
}
.toc li {
	border: 1px solid white;
	border-right: 0px solid white;
	color: #666666;
}

.toc a {
	color: #004471;
	text-decoration: none;

}
/*
.toc a:hover {
	color: #004471;
	text-decoration: none;
	background-color: #f0f0f0;
}
*/
.toc_chapter {
	border-bottom: 1px solid white; 
	padding: 10px 0px 3px 0px;	
	font-weight: bold;
}

.toc_section {
	border-bottom: 1px solid white; 
	padding: 3px 0px;
	margin-left: 20px;
}

.toc_section2 {
	border-bottom: 1px solid white; 
	padding: 3px 0px;
	margin-left: 25px;
}

.toc0 .toc_section {
	margin-left: 0px;
}

.toc_edit_button {
	float: right;
	margin-right: 20px;
}


/* +++++++++ modified on february 21 USERS-ROLES listing #############*/
.roles_per_folder {
	
}
.roles_per_folder ul {
	margin: 0 0 0 1px;
	padding: 0px 3px 0px 3px;
	list-style: none;
	color: #555555;
	border: 1px solid #97A7B0;
}

.roles_per_folder li {
	margin: 3px 0 3px 0px;
	background-color: #eaeaea; 

	padding: 4px;
	
}

.folder_of_roles {
	display: inline; 

}

.list_of_roles {
	display: inline; 

}


/* @@@@@@@@@@@@@@@@@@@@---------END COMMON STYLE-------@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* @@@@@@@@@@ */

#menu,#comp{
	position: absolute;
	top: 3px;  /* to be set in JS also 3px=ex30px*/
/*	left: 50%;*/
	font: 12px verdana,arial,helvetica;
	color: #ffffff;
	background: #000000;
/*	padding: 10px;*/
	border: none;
	z-index: 5;
	width: 300px;
}

#comp {
	position: fixed;
/*	left: 50px;*/
	visibility: hidden;
	z-index: 2;
}

/* :visited necessary because the menu is used for internal links
	and Explorer sees them as already visited */

div#menu a, div#menu a:visited {color: #ffffff;}

/* @@@@@@@@@@@@@@@@@@@ */

.nav_report_right {
		height: 25px;
		background-color: #FEE3B8;
		float: right;
		width: 152px;
		border-left: 1px solid white
		
	}
	.nav_report_main {
		height: 25px;
		background-color: #008B99;
	}
	.nav_toc {
		text-decoration: none;
		float: right;
		display: block;
		
		height: 25px;
		line-height: 25px;
	}
	.nav_toc span {
		display: none;
	}
	#nav_toc {
		background-image: url(nav_TOC.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		border-left: 2px solid white;
		width: 58px;	
	}
	.nav_arrow {
		text-decoration: none;
		width: 25px;
		display: block;
		float: left;
		border-right: 2px solid white;
		height: 25px;
	}
	.nav_arrow span {display: none;}
	
	#arr_left {
		background-image: url(nav_arrow1.gif);
		background-repeat: no-repeat;
		background-position: center top;
	}
	#arr_up {
		background-image: url(nav_arrow2.gif);
		background-repeat: no-repeat;
		background-position: center top;
	}
	#arr_right {
		background-image: url(nav_arrow3.gif);
		background-repeat: no-repeat;
		background-position: center top;
	}
	
	.nav_pdf {
		display: block;
		text-indent: 28px;
		background-image: url(nav_pdf.jpg);
		background-repeat: no-repeat;
		background-position: 5px top;
		font-size: 11px;
		height: 25px;
		color: #00406A;
	
	}
	.nav_pdf div {
		padding-top: 6px; 
	}

	/* @@@@@@@@@@@@@@@@@@ */

	.comment {
	/*	background-color:#FAFAFA; 
		border: 1px dashed #cccccc; 
		margin:1em;
		padding:1em;*/
	}

	.comm_inline {
		background-color: #FFEACB; 
		border: 1px dashed #cccccc; 
		margin:0.5em 0.5em 0.5em 0em;
		padding:0.4em;
		font-size: 90%;
	}

	.comment .button input {
		font-size: 80%;
		margin:0px;
		text-align: center;
		color: white;
		background-color: #0061A2; /*#666666; */
		border-top: 1px solid white;
		border-left: 1px solid white;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	
	}

	.comm_inline_head {
		color: #666666;
		margin-bottom: 5px;
	}

	.comment textarea {
		width: 400px;
		height: 60px;
		border: 1px solid #333333;
		display: block;
		margin-bottom: 6px;
	}


	.online_cons {
		font-size: 100%;
		font-weight: bold;
		margin-bottom: 3px;
	}

	.filter_qst {
		font-size: 90%;
		font-weight: normal;
	}

	.filter_question {
		font-weight: bold;
	}

	.auto_transl {

		border: 0.3em solid #FFFFE1;
		background-color: #FFFFE1;
	}

	.auto_trans_legend {
		float: right; 
		width: 30%; 
		background-color: #FFFFE1;
		margin:0em 1em; 
		padding: 0.6em; 
		border: 1px solid #0061A2;
	}

	.auto_transl small {
		display: block;
		border: 1px solid #0061A2;
		padding: 0.6em;
		margin-bottom: 0.5em;
		color: #003E66;
		font-weight: bold;

	}
	.comm_to_text {
		display: block;
		margin: 4px 5px 4px 0px;
		font-weight: bold;
		background-color: #999999;
		padding: 1px 4px 1px 4px;
		color: white;
		font-size: 90%;
	}

	.q_number {
		background-color: #999999;
		margin-right: 5px;
		padding: 0px 1px 0px 4px;
		color: white;
		font-size: 90%;
	}
	.question_in_comm {
		font-weight: bold;
		margin: 0px 0px 5px 0px;
		color: #444444;
	}

	.page_line {
		background-color: #999999;
		margin-right: 5px;
		padding: 0px 1px 0px 4px;
		color: white;
		font-size: 100%;
		font-weight: bold;
	}
	.pg_ln {
		font-weight: normal;
	}
	.comment_for {
		font-size: 85%;
	}

	.style_number {
		font-weight: bold;
	}



	.field th {
		text-align: left;
		width: 30%;
		font-size: 90%;
		font-weight: bold;
		color: #555555;
	}

	.field td input {
		width: 15em;
		border: 1px solid #666666;
		color: #004675;
	}

	.submition_button {
		font-size: 85%;
		margin:0px;
		padding: 1px 5px;
		text-align: center;
		color: white;
		background-color: #0061A2; /*#666666; */
		border-top: 1px solid white;
		border-left: 1px solid white;
		border-right: 1px solid black;
		border-bottom: 1px solid black;	
	}

	.user_profilesheet td{
		padding-right: 10px;
	}
	.user_profilesheet select {
		margin-bottom: 2px;
		border: 1px solid #999999;
		color: #004675;
	}
	.user_profilesheet input {
		width: 15em;
		border: 1px solid #999999;
		color: #004675;
	}
	.categrory_row {
		font-weight: bold;
		white-space: nowrap;
		color: #444444;
	}
	.categrory_row td {
		padding-top: 10px;
	}

	.subcategory_cell label {
		display: block;
		padding-top: 3px;
		margin-bottom: 6px;
		border-bottom: 1px solid white;
		font-size: 90%;
		text-indent: 20px;
		white-space: nowrap;
		color: #444444;
	}

.submeniu {
visibility: hidden;
padding: 0.5em  0.4em 0.5em  0.7em;
width: 170px;
position: absolute;
left: -200px;
top: -50px;
background-color: #FFF2DD;
border: 1px solid #CC3300;
}

.left_portlet2 {
	margin-bottom: 10px;
	background-color: #0061A2;
	border-right: 1px solid #EBA100;
	border-bottom: 1px solid #EBA100;
	color: white;
}

.left_portlet2 li {
	margin: 0 0 0 10px;
	padding: 0;
}
.left_portlet2 ul {
	margin: 2px 0px 10px 0px;
	padding: 0;
	list-style: none;
}
.left_portlet2 a {
	color: white;
	font-weight: normal
}

.left_portlet2 .left_portlet_content {
	border: 0px solid #000000;
	background-color: #0061A2;
}

.left_portlet2 .left_portlet_title {
	padding: 10px 0px 3px 0px;
	margin-left: 10px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

div.progress-container {
  border: 1px solid #ccc; 
  width: 100px; 
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  background: white;
  float: right;
}

div.progress-container div {
  background-color: #ACE97C; 
  height: 8px;
  font-size: 10%;
}

.rate-this {
	background-color:#FAFAFA; 
	margin:1em;
	padding:1em;
	font-size: 90%;
}

.rate-this input {
	font-size: 90%;
}