/* generic elements */
body {
	padding: 0 2%;
	margin: 0;
	font-size: 85%;
	font-family: Helvetica,Arial,Verdana,sans-serif,"MS sans serif";
}
select, input {
	font-size: 90%;
}
fieldset {
	border: 1px solid #cccccc;
}
fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding: 0 10px;
	color: #084173;
}
h2 {
	border-bottom: 4px solid #CCCCCC;
}
a img {
	border: none;
}
a:link {
	color: #0061a2;
}
a:visited {
	color: #8e004d;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	background-color: #fff;
	color: #000;
	line-height: 2em;
	border-left:1px solid #bbb;
	border-top:1px solid #bbb;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	padding:0.1em 0.4em;
	margin: 0em 0.3em;
}

/* select language part */
#language {
	color:#333333;
	float:right;
	margin-right:0.7em;
	position:relative;
	white-space:nowrap !important;
	float:right;
}
#language span {
	font-size:0.75em;
}
#language a {
	color:#000000;
	display:block;
	float:left;
	font-size:11px !important;
	font-weight:normal;
	height:23px;
	line-height:23px;
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	width:30px;
	background: url("bg-lang-btns.gif") no-repeat bottom left;
}

#language form {
	display:inline;
}
#language a:hover, #language a.current {
	background: url("bg-lang-btns.gif") no-repeat top left;
}

/* header */
#wrapper {
	margin: 0; padding: 0;
}
#header {
	clear: both;
	height: 102px;
        overflow: hidden;
	border-top: 1px solid #4b5257;
	background: #A5CED1 url('top_01.png') repeat-y scroll 0 0;
}
#header a {
	border: none;
}
#header a img {
	border: none;
	float: left;
}

/* Switch to/from full screen mode */
#outer_wrapper_fs {
	background-image: none;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
#outer_wrapper {
	margin: 0 auto;
	width: 100%;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	background: url(dot-bg.gif) repeat-y 17.5%;
}
#topnav li #fs_show {
	background:transparent url(misc_/Naaya/fullscreenexpand_icon.gif) no-repeat scroll left center;
	padding:3px 0.5em 1px 16px;
}
.fullscreen #left_port {
	display: none;
}
.fullscreen #middle_port {
	width: 98.2%;
	margin-left: 0.8%;
}
.fullscreen #topnav li #fs_show {
	background:transparent url(misc_/Naaya/fullscreencollapse_icon.gif) no-repeat scroll left center;
	padding:3px 0.5em 1px 16px;
}

body.fullscreen {
	padding:0 1%;
}

/* styles for the two logos */
#logo {
	margin-right: 1em;
	margin-left: 0.5em;
	vertical-align: middle;
}
#right_logo {
	float: right;
	margin-right: 1em;
	vertical-align: middle;
	height: 102px;
}

/* breadcrumb trail */
#breadcrumbtrail {
	clear:left;
	padding: 1px 0px 1px 1em;
	font-size: 0.75em;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #7d7d7d;
	border-bottom: 1px dotted rgb(143,167,113);
	background: #fff;
}
#breadcrumbtrail a {
	color: #888;
	text-decoration: none;
	font-weight:bold;
        line-height: 25px;
}
#breadcrumbtrail a:hover {
	color: black;
	text-decoration: underline;
	font-weight:bold;
}
.breadcrumbitem {
	background-image:url(arrow-normal.png);
	background-position: right center;
	background-repeat:no-repeat;
	margin-right:3px;
	padding-right:11px;
}
.breadcrumbitemlast {
}
.breadcrumbhead {
	margin-right:3px;
}
.breadcrumbtail {
	font-size:0.1px;
	width:1px;
}

/* center part and content */
#container {
	width: 100%;
	height: auto;
	margin: 0px auto;
	color: #333;
	background: url(dot-bg.gif) repeat-y 81.5%;
}
* html #container { 
	background: url(dot-bg.gif) repeat-y 82%;
}
#middle_port {
	margin: 0 0  0 0.8%;
	padding: 0;
	width: 81%;
	float: left;
}
#center_content {
	float: left;
	width: 100%;
	background: #fff;
}

#middle_port h1 {
	background: #f2f2f2;
	color: #444;
	padding: 5px 0 0 5px;
	border-bottom: 4px solid #ccc;
	font-size: 1.5em;
	font-weight: normal;
}
#middle_port a:link {
	color: #0061a2;
}
#middle_port a:hover {
	color: #000;
}
#middle_port h2 {
	font-size: 110%;
	font-weight: normal;
}
#middle_port h2, #middle_port h3, #middle_port h4 {
	padding: 0.2em 0.4em;
}
#middle_port h2 a, #middle_port h3 a, #middle_port h4 a {
	color: white;
	background-color: #767676;
}
.center_portlet_content ul {
	list-style-type: none;
	margin: 0;
	padding: 0.2em 0 0.5em 2.4em;
}
.center_portlet {
	background-color: #fafafa;
	border-top: 1px solid #b5bebe;
	border-bottom: 1px solid #b5bebe;
	margin-top: 0.5em;
}
.center_portlet .center_portlet_title {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 0.3em;
	padding-left: 0.3em;
	position: relative;
}
.center_portlet .center_portlet_content {
	position: relative;
	line-height: 1.5em;
}
.center_portlet .center_portlet_content a {
	color: blue;
}
.postedon {
	font-size: 90%;
}

/* left side and left menu */
#left_port {
	margin: 0;
	padding: 0;
	width: 17%;
	float: left;
}
.left_portlet {
	padding: 0.1em 0.4em;
}
.left_portlet .left_portlet_title {
	color:#495B6B;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:110%;
	font-style:normal;
	font-weight:bold;
	line-height:normal;
	margin:0.3em 0 0.1em 0;
	padding-top:0;
	text-align:left;
	text-decoration:none;
	border-top:1px dotted #009590;
	background: #DEEFF2 url(lnav_menu_h.gif) no-repeat scroll left top;
}
.left_portlet .left_portlet_title a {
	text-decoration: none;
	font-weight: bold;
	color: #222;
}
.left_portlet .left_portlet_content {
}

.left_portlet ul {
	border-bottom:1px dotted #009590;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0.5em;
	padding-left:0;
}
.left_portlet ul ul {
	border:medium none;
	margin:0;
}
.left_portlet ul li{
	border-top:1px dotted #009590;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:90%;
	line-height:100%;
	margin:0;
	padding:0;
	vertical-align:bottom;
}
.left_portlet ul li a {
	border:medium none;
	color:#495B6B;
	display:block;
	margin:0;
	padding:3px 6px 3px 25px;
	text-decoration:none;
	background: transparent url('lnav_menu.gif') no-repeat scroll left top;
}
.left_portlet li a:hover {
	background: #deeff2 url('lnav_menu_h.gif') no-repeat scroll left top;
	color: black;
}

/*right side - menu and content*/
#right_port {
	margin: 0;
	padding: 0;
	width: 21%;
	float: left;
}
* html #right_port { 
	margin-left: 0.7%;
}
.right_portlet {
	float: left;
	margin: 0;
	padding: 0 0 10px 10px;
	width: 100%;
}
* html .right_portlet {
	width: auto;
}
.right_portlet .right_portlet_title {
	border-bottom: 1px solid #ccc;
	background: #f3f3f3;
	padding: 0.8em 0.5em 0.8em 0.5em;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: Verdana, Arial, sans-serif;
}
.right_portlet .right_portlet_content {
}
.right_portlet ul {
	background: #fff;
	list-style-type: none;
	list-style-image: none;
	padding-left: 0;
	margin: 0;
	border-bottom: 1px dotted #ccc;
}
.right_portlet li{
	padding: 0.3em;
	background: #fff;
	color: #084173;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 90%;
	font-weight: bold;
	line-height: 100%;
	vertical-align: bottom;
	margin: 0px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #ddd;
	display: block;
}
* html .right_portlet li{
	display: inline-block; /* fix for IE peek-a-boo bug */
}
.right_portlet ul li:hover { 
	background: #f2f2f2;
}
.right_portlet ul li a {
	display:block;
	font-weight: normal;
	text-decoration: none;
	color: #44464B;
	padding: 3px 6px 3px 0;
	border: none;
	margin: 0px;
}
.right_portlet ul li a:hover {
	color: #000;
}

/* footer part */
#footer {
	font-size: 90%;
	background-color:#CEDC32;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	clear:both;
	color:black;
	margin:0 auto;
	padding:0.3em 0;
	width:100%;
}
#footer p {
	padding: 0.5em;
	margin: 0;
}
#footer p.righted {
	float: right;
}
#footer a {
	color: #333;
	padding: 0.3em;
}
#last_modified {
	margin: 1% 0% 1% 20%;
}

/* Tool ribbon start */
#toolribbon {
	height: 30px;
	width: 100%;
	font-size: 80%;
	color:#315076;
	background-color: #ffffff;
	border-bottom: 4px solid #6f7072;
}

#toolribbon label {
	display:inline-block;
	vertical-align: middle;
}

#toolribbon img {
	vertical-align:middle;
}

#toolribbon a {
	display:inline-block;
	height: 16px;
	color: #000;
	background-color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	padding: 3px 0.5em 1px 0.5em;
	border-right: 1px dotted #6f7072;
}
#toolribbon input {
	vertical-align:middle;
	margin: 0;
	padding: 0;
}
#toolribbon form {
	margin-bottom: 0;
}

#lefttools {
	float:left;
	height: 20px;
	padding: 4px 0.5em;
	text-align:left;
	vertical-align: middle;
}
#topnav {
	float:right;
	width:70%;
	height: 20px;
	padding: 4px 0.5em;
	text-align:right;
}
#topnav ul {
	padding:0;
	margin: 0.3em 10px 0 0;
	display: inline; 
	list-style-type: none;
	float: right;
}
#topnav li {
	padding: 0;
	margin: 0;
	display: inline;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
#topnav li a {
	margin: 0; padding: 0 6px 0 4px;
}
#topnav ul.site_actions {
	margin-right: 3px;
}
#left_topnav {
	float:left;
	width:27%;
	height: 20px;
	padding: 4px 0.5em;
	text-align:left;
}
#left_topnav ul {
	margin:0;
	padding: 0.3em 0 0 0;
	display: inline; 
	list-style-type: none;
	float: left;
}
#left_topnav li {
	padding: 0 0 0 0;
	margin: 0;
	display: inline;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
a#eealink {
	padding-left: 18px;
	background: url("eeaicon.gif") no-repeat left center;
}
#search {
	margin: 0.3em 10px 0 0;
	float: right;
	display: inline;
}
#search label {
	color: #333;
}
* html #search label {
	margin-top: -1em;
}
* html #search input {
	font-size: 100% !important;
}
.search_btn {
	width: 3em !important;
	height: 16px !important;
	margin-right: 0.5em;
	text-align: center;
	border: 1px solid #333;
	background:#fff;
}
#search form {
	margin:0;
}

.page_title {
	color: #feffff;
	padding-left: 25px;
	padding-top: 20px;
	font-size: 200%;
	font-weight: bold;
	font-variant: small-caps;
}
.page_subtitle {
	color: #feffff;
	padding-left: 25px;
	font-weight: bold;
	font-size: 120%;
	margin: 0;
	padding-top: 0;
}


#menunav {
	font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
	float: left;
	width:100%;
	max-height: 20%;
	padding: 0;
	background:#00446A none repeat scroll 0 0;
	border-top: 1px solid black;
	line-height: 2em;
	border-bottom: 1px solid black;
	white-space: nowrap;
}
#menunav ul {
	list-style: none;
}
#menunav li {
	float: left;
	text-transform: uppercase;
	border-right: 1px dotted #ffffff;
	color: #feffff;
	z-index: 11; /* Bug in IE6, IE7 */
}
* html #menunav li {
	width: 1.5em;
}
#menunav li a, #menunav li a:link, #menunav li a:visited {
	display: block;
	text-decoration: none;
	color: #feffff;
}
#menunav li a:hover {
	background: #fff;
	color: #000;
}
#menunav form {
    margin-bottom: 0;
}

/* start EIONET - Like dropdown menus */
#dropdowns, #dropdowns ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#dropdowns li {
	float: left;
	position: relative;
	text-transform: uppercase;
	border-right: 1px dotted #ffffff;
	/*background-color: #00446a;*/
	color: #fff;
	z-index: 11; /* Bug in IE6, IE7 */
}

#dropdowns a:link, #dropdowns a:visited {
	display: block;
	text-decoration: none;
	padding: 0 0.5em;
	/*color: #fff;*/
}

#dropdowns ul {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 0;
	background-color: #eee;
}

#dropdowns li > ul { /* For Opera and Firefox */
	top: auto;
	left: auto;
}

#dropdowns ul li {
	float: none;
	border-right: 0 none transparent;
	border-bottom: 1px dotted #000;
	background-color: #eee;
	text-transform: none;
	margin: 0;
	padding: 0;
	color: #fff;
}

#dropdowns li ul li a:link, #dropdowns li ul li a:visited {
	padding: 0.1em 0 0.1em 15px;
	color: #000;
	font-weight: normal;
	background: transparent url('arrow-normal.png') 3px center no-repeat;
}
#dropdowns li:hover ul li a:hover, #dropdowns li.over ul li a:hover {
	background-color: white;
}

#dropdowns li:hover ul, #dropdowns li.over ul {
	display: block;
}

#dropdowns li:hover ul li, #dropdowns li.over ul li {
	min-width: 20em;
}
/* End EIONET dropdown */

.page_title {
	font-size: 2em;
}
.page_subtitle {
}
.additem-left {
	background: url("arrow-right.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.additem-right {
	background: url("arrow-left.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.moveitem-up {
	background: url("arrow-up.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}
.moveitem-down {
	background: url("arrow-down.gif") no-repeat top left;
	border: none;
	width: 25px;
	height: 25px;
}

/* Anchors */
a:link {
	color: #2a6495;
}

a:visited {
	color: #8e004d;
}

a:hover {
	color: #2a6495;
/*	background-color: #ebf0e5;
	text-decoration: underline; */
}

a:active {
	color: #f5821f;
}


dt {
	font-weight: bold;
}

dd {
	line-height: 1.3em;
	margin-bottom: 0.8em;
}

abbr, acronym, .explain {
	text-decoration:none;
	border-bottom: 1px dotted black;
	color: black;
	background-color: transparent;
	cursor: help;
}

q {
	font-family: Baskerville, Georgia, serif;
	font-style: italic;
	font-size: 120%;
}

code {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 120%;
	color: black;
	background-color: white;
	padding: 0 0.1em;
}

pre {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 100%;
	padding: 1em;
	color: black;
	background-color:  #eef7f9;
	overflow: auto;
}



.cleaner {
	clear: both;
}

/* extra styles from EIONET */
/* Tables */
/* Default are layout tables. We can not really style those. It would have too many side effects */
table {
	empty-cells: show;
}

td {
	line-height: normal; 
	text-decoration: none;
}

th {
	font-weight: bold; 
	line-height: normal; 
	padding: 0.1em 0.5em;
	text-decoration: none;
}
th a, th a:link, th a:visited {
	color: black;
}

table .number {
	text-align: right;
}
table .sum {
	font-weight: bold;
}
table .center {
	text-align: center;
}


/* Tables for arranging formulars */

table.formtable {
	border: 1px solid #315076;
	border-collapse: collapse;
}

.formtable th {
	vertical-align: top;
	text-align: right;
	border: none;
	background: transparent;
}

.formtable th.scope-col { /* IE6 doesn't understand [scope="col"] */
	text-align: left;
	border-bottom: 1px dotted #315076;
}

.formtable th[scope="col"] {
	text-align: left;
	border-bottom: 1px dotted #315076;
}

.formtable td  {
	vertical-align: top;
}


/* standard figure, used for articles and pages.
   can be floated left or right with additional 
   class figure-right or figure-left
 */

.figure, .figure-plus {
  font-size: x-small;
  text-indent: 0;
}
.figure-title, .figure-nr {
 font-weight: bold;
}
.figure-image {
text-align:center;
}
.figure-source-copyright {
text-align:right;
}

.figure-plus-container {
  padding: 0 6px 6px 0;
  background: transparent url(shadow.png) no-repeat bottom right;
  margin: 10px 5px 5px 10px;
  width:33%;
}

.figure-plus {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 0 0 -6px;
  padding: 4px;
}

/* floating left or right */
.figure-right {
  float: right;
  margin-left:6px; 
}

.figure-left {
  float: left;
  margin-right:6px; 
}

/* standard elements with shadow background */
.dropshadow, .figure, .thumbnail-right {
  padding: 0 6px 6px 0;
  background: transparent url(shadow.png) no-repeat bottom right;
  margin: 10px 5px 5px 10px;
}

/* standard elements which are shadowed and therefore moved up*/
.shadowed, .figure img, .thumbnail-right img {
  display: block;
  position: relative;
  background-color: #fff;
  margin: -6px 0px 0px -6px;
  border: 1px solid #a9a9a9;
  padding: 4px;
}

/* hover effect for images inside links */
.dropshadow img a:hover, .figure img a:hover, .thumbnail-right img a:hover {
  background-color: #e0e7d7;
  border: 1px solid #b20d00;
}

img.scaled {
  width: 100%;

}


#rightcolumn.quickjumps {
	width: 140px;
	padding: 0.5em 2em;
/*
	border: 1px solid #495b6b;
	background-color : #e5e2dc; 
*/
}
.quickjumps ul {
	list-style-image: url(bullet.gif);
	list-style-type: square;
	margin-left: 0;
	padding-left: 1.5em;
}
.quickjumps li {
	font-size: 80%; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	padding-bottom: 0.4em;
}
.quickjumps a, .quickjumps a:visited {
	text-decoration: none;
	color: #024176
}
.quickjumps h2 {
	background-color : #eef7f9;
	text-align: center;
	margin-bottom: 0;
	font-size: 110%;
}
.quickjumps p {
	border-top: 1px dotted black;
	margin-bottom: 0;
	margin-top: 0.5em;
}

/* The .operations is for the buttons to the right of the page */

.operations {
        background-color: white;
	margin: 0;
}
.operations h2 {
	color: black;
        font-weight: bold;
        background-color: transparent;
	font-family: verdana, helvetica, sans-serif;
	font-size: 120%;
	padding-left: 10px;
}

.operations ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.operations li {
	font-size:.75em;
	font-family: verdana, helvetica, sans-serif;
	font-weight: bold;
	line-height: 100%;
	white-space: nowrap;
}

.operations li a {
	display:block;
	font-weight: bold;
	color: #455b6b;
	text-decoration: none;
	background: url('button_right.gif') no-repeat;
	padding: 5px 0px 0px 10px;
	border-bottom: none;
	width: 170px;
	height: 22px;
}
.operations li a:hover {
	color: #b20d00;
	background-color: transparent;
}
.operations li a:active {
	color: #b20d00;
	background: url('button_right.gif') no-repeat;
}

.operations li.help a {
	background: url('button_right.gif') no-repeat;
}
.operations li.help a:active {
	background: url('button_right.gif') no-repeat;
}

/* The .operations is for the buttons to the right of the page */

#operations {
	float:right;
	background-color: white;
	margin: 0;
}
#operations h2 {
	color: black;
        font-weight: bold;
        background-color: transparent;
	font-family: verdana, helvetica, sans-serif;
	font-size: 120%;
	padding-left: 10px;
}

#operations ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

#operations li {
	font-size:.75em;
	font-family: verdana, helvetica, sans-serif;
	font-weight: bold;
	line-height: 100%;
	white-space: nowrap;
}

#operations li a {
	display:block;
	font-weight: bold;
	color: #455b6b;
	text-decoration: none;
	background: url('button_right.gif') no-repeat;
	padding: 5px 0px 0px 10px;
	border-bottom: none;
	width: 170px;
	height: 22px;
}
#operations li a:hover {
	color: #b20d00;
	background-color: transparent;
}
#operations li a:active {
	color: #b20d00;
	background: url('button_right.gif') no-repeat;
}

#operations li.help a {
	background: url('button_right.gif') no-repeat;
}
#operations li.help a:active {
	background: url('button_right.gif') no-repeat;
}

.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
font-size: 1.1em;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(misc_/SMAP/closed.gif) no-repeat left 1px;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
padding-left: 5px;
font-size: 1em;
cursor: default;
}
