/*
<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>
*/

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
}

#header, #footer
{display: none;}

#breadcrumbtrail
{display: none;}

.nav_art
{display: none;}

#left_port
{display: none;}

.comm_but
{display: none;}

#admin_this_folder 
{display: none;}
