<html>
<body style="font:0.8em verdana,arial,sans-serif">
<p>
Hi<br />
you are receiving this mail because <strong> %(fullname)s &lt;%(from_address)s&gt;</strong>
is sending feedback about the finShare portal administrated by you at
%(url)s
</p>
<p>
The message sent was:<br />
<span style="border:2px solid #cccccc; padding: 0.4em;">
%(message)s
</span>
</p>
<p style="background-color:#ffccbb; padding: 0.4em;">
	Do not reply. <br />
	This message was generated and sent automaticaly to you.
</p>
</body>
</html>