<html>
<body style="font:0.8em verdana,arial,sans-serif">
<p>
Hi ,<br />
You are receiving this mail because <strong>%(lastname)s %(firstname)s</strong> requested an account on finShare with the following credentials:<br /><br />

Firstname:  %(firstname)s<br />
Lastname:   %(lastname)s<br />
Email:      %(email)s<br />
Username:   %(username)s<br />
Password:   %(password)s<br /><br />

Regards %(sender)s

</p>
<p style="background-color:#ffccbb; padding: 0.4em;">
	Do not reply. <br />
	This message was generated and sent automaticaly to you.
</p>
</body>
</html>