/**
	Everything whith #008DA8 (turqouise) means administration content. 
	Everything with #00549C (blue from logo) is either public or anchors.
*/


/* http://meyerweb.com/eric/tools/css/reset/      
		v2.0 | 20110126      
		License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ********* GLOBAL ********* */
body {
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #6B6B6B;
  background: #eee;
}

.hidden {
	display: none;
}

a {
	color: #00549C; 
}

a:hover,
a:visited {
	color: #00325C;
}

h1 {
	font-size: 22px;
	line-height: 30px;
	margin: 0.67em 0 0.67em 0;
}

h2 {
	font-size: 18px;
	line-height: 30px;
}

h4 {
	font-size: 12px;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #64B431;
}

ul {
	display: block;
	list-style-type: square;
	margin: 1em 0;
	padding-left: 40px;
}

i, cite, em, var, address, dfn {
	font-style: italic;
}

fieldset {
	margin: 2px 0px;
	padding: 0.35em 0.75em 0.625em;
}

ol {
	list-style-type: decimal;
	margin: 1em 0em;
	padding-left: 30px;
}

th {
	font-weight: bold;
	padding-right: 5px;
    text-align: left;
}


/* *********  LAYOUT ********* */
#header,
#content-holder {
  background: white;
  border-right: 1px solid #D1CECE;
  border-left: 1px solid #D1CECE;
}

#header {
	margin: 10px auto 0px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
}

#content-holder {
	margin: 0px auto 0px;
}

#footer {
	background: #EEE; /* customise background color HERE */
}


/* *********  HEADER ********* */
#topnav {
}

#topnav ul {
	list-style-type: none;
	margin: 0px 0px 0px 15px;
	padding: 5px 0px;
}

#topnav li {
	margin-right: 1em;
	display: inline;
}

#topnav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #888;
}

#topnav a:hover {
	color: #999;
}

#header .identity a img {
  margin: 0px 15px;
}

#menunav {
	width: 100%;
	height: 45px;
	white-space: nowrap;
  background: #0055A7;
}

#menunav ul {
	list-style: none;
	margin: 0;
	padding: 7px 0px 0px 5px;
	width: 745px;
	height: 84%;
}

#menunav li {
	float: left;
	position: relative;
    font-weight: bold;
	padding: 0 0.5em;
	z-index: 11;
}

#toptitle {
	margin: 0px 98px; /* the current logo occupies 98px width */
	padding: 0.5em;
	/*float: left;*/
}

#search {
	float: right;
	padding-right: 5px;
}

#menunav li a, 
#menunav li a:link, 
#menunav li a:visited {
	display: block;
	text-decoration: none;
	padding: 0.1em 0.5em;
	height: 2.6em;
	line-height: 2.7em;
}

#menunav li a {
	color: #fff;
}

#menunav li a:hover {
	color: #ddd;
}

.page_title {
	color: #019934;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 40px;
	text-shadow: 1px 1px 0 #ccc;
}

.page_subtitle {
	display: block;
	color: #019934;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	letter-spacing: 1px;
  margin-top: 10px;
}

#search label {
	color: #777;
}

input[name="query"] {
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #999;
  padding: 5px;
}


/* ********* CONTENT-HOLDER ********* */
#content {
	clear: both;
	overflow: hidden;
	padding-bottom: 20px;
}

.wrap {
	width: 100%;
	clear: both;
}

.error, 
.message-error,
.message-error fieldset {
	color: #F30;
}

.information, 
.message-information {
  color: #129712;
}

#center_content_holder {
	width: 989px;  /* 980px */
}

.portlet-column-left {
	width: 220px; /*230px;*/
	float: left;
	margin-left: 10px;
	margin-top: 3px; /* vertical align with the breadcrumb */
}

.portlet-column-right {
	width: 220px; /*230px;*/
	float: right;
	margin-right: 10px;
}


/* ********* PORTLETS COMMON ********* */
.left_portlet {
  background: #E5F5FC;
}

.portlet-column-right .right_portlet {
	background: #E4F2BE; 
}

.center_portlet {
	background: #eee;
}

.left_portlet_title,
.center_portlet_title,
.right_portlet_title {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
}

.left_portlet_title {
	margin: 10px 0 0;
	padding: 0px 0px 10px 10px;
	border-bottom: none;
	text-shadow: 1px 1px 0 #fff;
	color: #006600;
}

.left_portlet_content {
	padding: 0px 5px 15px 10px;
	border-top: none;
}

.center_portlet_title {
	padding: 5px;
	border-bottom: none;
	color: #AB6402;
}

.center_portlet_content {
	padding: 5px;
	border-top: none;
}

.right_portlet_title {
	margin: 10px 0 0;
	padding: 0px 0px 10px 10px;
	border-bottom: none;
	text-shadow: 1px 1px 0 #EEE;
	color: #006600;
}

.right_portlet_content {
	padding: 0px 5px 15px 10px;
	border-top: none;
}

#center_port {
	margin-bottom: 10px; /* otherwise its box-shadow, if any, is not visible */
}


/* ********* PORTLETS CONTENT ********* */
.left_portlet_content ul {
	margin: 0;
	padding-left: 18px;
}

.mainsection_title a {
	color: #008DA8;
}

.mainsection_title a {
	text-decoration: none;
  margin-left: 10px;
}

.center-and-right {
	width: 989px;
	margin-left: 0;
}

.has-left-portlets .center-and-right {
	width: 749px;  /*730*/
	margin-left: 240px;
}

#breadcrumb ul {
	display: block;
	border-bottom: 1px solid black;
	line-height: 100%;
	margin-top: 0px;
	padding: 10px 0;
}

.center-column {
	padding: 0px 10px;
	overflow: hidden;
}

.has-left-portlets .center-column,
.has-right-portlets .center-column {
	width: 730px;
}

.has-left-portlets.has-right-portlets .center-column,
.has-left-portlets.has-right-portlets #center_content {
	width: 489px; /*480px;*/
}

body #center_content {
	margin-top: 10px;
	width: 730px; 
	overflow: hidden;
}

.center_portlet_title span {
	color: #777;
}

.center_portlet_content p {
	margin-top: 0;
}


/* *********  FOOTER ********* */
.footer_menu {
	padding: 10px;
	line-height: 1;
	color: #ccc;
}

.footer_menu a {
	text-decoration: none;
	color: #060;
	margin: 0px 5px;
}

.footer_menu a:hover {
	color: #555;
}


/* ********* LOGIN PAGE ********* */
#breadcrumbtrail {
	display: block;
	border-bottom: 1px solid #ccc;
	line-height: 100%;
	margin: 0px 10px;
	padding: 10px 0px;
}

#breadcrumbtrail a {
	text-decoration: none;
	color: #777;
}

.tips_box {
	float: right;
	width: 60%;
	margin-left: 20px;
}

body .login-form .field label {
	display: inline-block;
	width: 60px;
}

/*body .login-form input[type="submit"] {
	height: 30px;
	font-size: 12px;
	line-height: 12px;
	margin: 10px 0px;
	padding: 5px 10px;
	background: #00549C;
}*/

.tips_box ul {
	display: block;
	list-style-type: disc;
	margin: 1em 0;
	padding-left: 40px;
}

/*.admin-recover-password-form input[type="submit"] {
	background: #00549C;
}*/


/* ********* ADMINISTRATION PAGE ********* */
body #right_port {
	float: right;
	margin-right: 5px;
	width: 210px; /* 230 */
	background: #eee;
	border: 1px solid #ddd;
}

#right_port .right_portlet {
	margin-top: 0;
  background: #eee;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#right_port .right_portlet_title {
	margin: 10px 0 0;
	padding: 0px 0px 5px 10px;
	background: transparent;
	border: none; /* overrides dashed border */
	border-bottom: 1px solid #777;
}

#right_port .right_portlet_content {
	padding: 0px 5px 5px 10px;
	background: transparent;
	border: none; /* overrides dashed border */
}

#right_port .right_portlet_content ul {
	list-style-type: none;
	padding: 0px 10px 0px 0px;
	margin: 12px 0px;
}

#right_port .right_portlet_content ul li {
	border-bottom: 1px solid #ccc;
}

#right_port .right_portlet_content ul li:last-of-type {
  border: none;
}

#right_port .right_portlet_content ul li a {
	text-decoration: none;
	color: #008DA8;
}

#right_port .right_portlet_content ul li a:hover {
	color: #777;
}

#right_port a {
	color: #008DA8;
}

#right_port a:visited,
#right_port a:hover {
	color: #555;
}

#center_content .admin-content {
	width: 730px;
}

.admin-content #right_port li {
	list-style: none;
}

.right_portlet_content ul {
	margin-top: 0;
	padding-left: 18px;
}

.right_portlet_content ul li strong {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 1.33em 0 0.33em;
	display: block;
}

#address_button, 
#geo_query_button, 
#pick-user-ui button {
	background: #008DA8;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	border: none;
	padding: 3px 6px;
	margin: 15px 0px 10px 7px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

form[name="frmSyncro"] table td {
	padding: 0px 5px 10px 0px;
}

.buttons {
	margin-bottom: 10px;
}

.sortable {
	background: white;
}

.datatable {
	border: 1px solid #CCC;
	border-collapse: collapse;
}

.datatable th {
	border: 1px solid #CCC;
	color: #444;
	background: #DDD;
	text-align: center;
}

legend {
	font-size: 16px;
	font-weight: bold;
	color: #555;
}

.information fieldset legend, 
.message-information fieldset legend {
	color: #5D735D;
	padding: 0.2em 0.5em;
	font-size: 1em;
}

body #admin_this_folder {
	padding: 5px;
  background: #eee;
	overflow: hidden;
	border: 1px solid #DDD;
}

#admin_this_folder, #submission {
	display: block;
	clear: both;
}

.admin-content #description,
textarea[name="google_api_keys"],
textarea[name="description"] {
	max-width: 670px;
}

form[name="frmSiteMap"] dl {
	margin-top: 20px;
}

fieldset.admin-edit-htmlportlet {
 background: #fff;
 border: none;
 padding-left: 0;
}



/**
 *ADMINISTRATION INTERFACE 
 */

/* ONE SINGLE BLOCK FOR BORDER-RADIUS  */
#right_port,
.admin-content fieldset,
 .admin-content .form-fieldset,
.admin-content ul.validation-results,
.admin-content .maintopics-drag-drop-form,
.add-object-form,
.subobjects-management-form,
.photo-upload-form,
.edit-object-form,
.forum-delete-attachments-form,
.forum-add-attachment-form,
.meeting-send-email-form,
.admin-content .translation-basket-search,
.buttons a,
.calendarbox,
.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next,
#toolbar input[type="submit"],
.marker-body,
div.boxes-right,
form fieldset,
.g-box,
.tips_box {
  border-radius: 4px;
  -moz-border-radius: 4px;
}

/* ONE SINGLE BLOCK FOR SETTING THE BACKGROUND COLOR OF BIG SECTIONS */
#right_port,
body .admin-content .left-logo,
body .admin-content .right-logo,
fieldset,
.admin-content .form-fieldset,
.admin-content .translation-basket-search,
.admin-content .maintopics-drag-drop-form,
.add-object-form,
.subobjects-management-form,
.photo-upload-form,
.forum-delete-attachments-form,
.forum-add-attachment-form,
.meeting-send-email-form,
.admin-content ul.validation-results,
#other_urls~ul li,
.tips_box {
  background: #F0F0F0;
  border: 1px solid #ccc; /* don't add form[name="frmEdit"] */
}

/* ONE SINGLE BLOCK FOR padding:5px */
body .admin-content .left-logo,
body .admin-content .right-logo,
.translate-bottom span,
.edit-holder .translate-top span,
.admin-content .translation-search,
.admin-content #admin_this_folder,
.admin-content ul.validation-results,
.add-object-form,
#calendarbox0,
.subobjects-management-form,
.meeting-send-email-form,
.edit-object-form .field,
.forum-add-attachment-form .field,
div.link-box,
div.topic-box,
#see-locations-link,
.tips_box,
dl {
  padding: 5px;
}

.admin-content .admin-logos {
  background: transparent;
  border: none;
}

.edit-holder {
  background: #DEE6FF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
	margin: 0;
}

.edit-holder p.cleaner {
	padding: 5px;
}

.admin-content select {
  width: 150px;
}

.admin-content #portlet-sortorder {
  display: none; 
  margin-bottom: 2em;
}

.admin-content .field-inline div:empty {
  clear: both;
}

.admin-content #ajax-loader,
.admin-content #description_styleselect_voiceDesc {
  display: none;
}

.admin-content #center_content img {
  text-align: center;
}

.admin-content .portlet ul {
  padding: 0;
}

.admin-content .edit-holder {
	overflow: auto; /* in order to see the horizontal scroll bar */
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
}

.admin-content #description {
  margin: 0;
  padding: 0;
}

.admin-content .error {
  margin: 10px 0px;
  font-size: 12px;
}

.admin-content .cleaner  {
  margin-top: 10px;
}

.admin-content .field label,
.admin-content .field-inline label {
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 5px;
  color: #555;
}

.admin-content .field label,
.admin-content .left-logo label {
  /*cursor: text;  otherwise the browser sets a cursor for links */
}

#admin-content form input[type="submit"] {
  margin-bottom: 5px;
}

.admin-content .field p {

  margin: 3px 0px 0px 5px;
}

.admin-content #center_content .clear:empty {
  display: none;
}

.admin-content .second_tab_set {
	border-bottom: 1px solid #008DA8;/*#039749;*/
	border-left: 1px solid #008DA8;/*#039749;*/
	border-right: 1px solid #008DA8;/*#039749;*/
  padding-bottom: 10px;
  background: #eee;
}

.admin-content #center_content h3 {
  color: #039749;
}

.admin-content #center_content .separator {
  display: none;
}

.admin-content .roles-list table {
  border: 1px solid #ddd;
}

body .admin-content .left-logo,
body .admin-content .right-logo {
  float: left !important;
  width: 98%;
  margin-bottom: 10px;
}

.admin-content .left-logo input,
.admin-content .right-logo input {
  margin-left: 0;
}

.admin-content .left-logo .delete,
.admin-content .right-logo .delete {
  margin-top: 10px;
  display: inline;
}

.admin-content #left-logo {
  display: block;
}

.admin-content .logos img {
  border: 1px solid #ddd;
  background: #fff; /* in case the logo has transparent background */
  width: auto;
  height: auto;
}

.translate-bottom {
	padding: 0px 5px 10px;
}

.translate-bottom a,
.translate-top a,
.translate-bottom a:hover,
.translate-top a:hover,
.translate-bottom a:visited,
.translate-top a:visited {
  padding: 0;
  margin: 0px 0px 0px 10px;
  height: 30px;
  color: #000;
}

.translate-bottom span,
.edit-holder .translate-top span {
  min-width: 56px;
}

.translate-bottom a span, 
.edit-holder .translate-top a span {
  display: inline-block;
  padding: 0px 2px;
}

/* admin_assignroles_html */
.admin-content .assign-form select {
  margin-left: 10px;
}

.admin-content h3 {
  margin: 0px !important;
}

.admin-content #assigned-portlets td.sort-handle { 
  margin: 5px;
  border: 1px dashed #335C9E; /* visually indicate that the cells support drag&drop */
}

.admin-content .portlet-assign-form label {
  display: inline-block;
  width: 55px;
}

.admin-content .translation-search {
  margin: 15px 0px;
	background: #ABC8E2;
}

.admin-content .pagination span {
  display: inline-block;
  margin-bottom: 6px;
}

.admin-content #jstree_container {
  margin-top: 15px;
}

/*.admin-content*/ fieldset {
  margin-top: 10px;
}

.admin-content fieldset legend {
  padding: 0px 5px;
  color: #555;
}

.admin-content #skip_notifications fieldset:nth-child(2n) {
  max-height: 70px;
}

body .admin-content #addSubscriptionForm .search fieldset {
  max-width: 400px;
}

.admin-content .field,
.admin-content .field-inline {
  margin-top: 10px;
	margin-left: 10px;
}

.admin-content label[for="notif_type"],
.admin-content label[for="lang"] {
  display: inline-block;
  width: 80px;
}

.admin-content #addSubscriptionForm input[type="submit"]{
  margin-top: 10px;
}

body .admin-content .pagination span span {
  color: #555;
  font-weight: normal;
}

/* the following two blocks should have a second selector */
.admin-content .form-fieldset legend{
  padding: 0px 5px !important;
}

.admin-content .form-fieldset pre {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 11px;
}

.admin-content #sortorder {
  min-width: 30px;

}

/* admin_topcontent_html */
.admin-content #admin_this_folder {
	margin: 10px 0px;
}

body .admin-content #toolbar {
  background: #fff;
}

/* portal_i18n/admin_basket_translations_html */
.admin-content .translation-basket-search {
  margin-bottom: 20px;
  padding: 5px 0px;
}

.admin-content .translation-basket-search label {
  width: 170px;
  margin-left: 5px;
}

.admin-content .translation-basket-search~h2 {
  border-top: 2px solid #ccc; /* separator between different categories of items */
}

/* admin_maintopics_html */
.admin-content .maintopics-drag-drop-form {
  margin: 10px 0px;
}

.admin-content .maintopics-drag-drop-form ul {
  padding-left: 10px;
  padding-top: 5px;
}

body .admin-content ul.boxy li {
  cursor: move;
  padding: 4px;
  margin-top: 3px;
  border: 1px dashed #039749; /* visually indicate that the cells support drag&drop */
  background-color: #fff;
}

.admin-content .maintopics-drag-drop-form input {
  margin-bottom: 10px;
  margin-left: 10px;
}

.admin-content .maintopics-drag-drop-form~p,
.admin-content #add-role-form p.cleaner {
  color: #039749;
}

body .admin-content blockquote {
  font-size: 11px;
  padding-left: 12px;
}

.admin-content ul.validation-results {
  margin: 0;
  list-style-type: square;
}

.admin-content .admin-users-roles-form input[type="submit"] {
  display: block;
  clear: both;
}

.admin-content .sitemap_tree {
  overflow: hidden;
}


/* ********* CALENDAR BOX ********* */
#calendar-content .calendar-top {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: 7px;
}

#calendar-content #calendar span {
	color: #444444;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	width: 28px;
	text-align: left;
}

#calendar-content #calendar .day-label {
	color: #000000;
}

#calendar-content .calendar-current-month {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 200px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
}

.calendarbox {
  position: absolute; 
  left: 752px; 
  top: 799px; 
  display: block; 
	border: 1px solid #CCC;
	background: #F3F3F3;/* same color as cells's background */
	box-shadow: -2px 2px #999;
}

body .calendar {
  padding: 5px;
}

body .calendar th {
  background: #999;/* override from common.css */
  border: none; /* override from common.css */
  font-weight: bold;
  color: #000;/* override from common.css */
}

body .calendar td {
  border: 1px solid #f3f3f3; /* override from common.css */
}

.calendarnav-previous,
.calendarnav-next {
  margin: 3px;
  text-decoration: none;
  background: #555;
  color: #eee;
  width: 16px;
  height: 16px;
  text-align: center;
  font-weight: bold;
}

.calendarnav-previous:hover,
.calendarnav-next:hover,
.calendarnav-previous:visited,
.calendarnav-next:visited {
  color: #fff;
}

.calendarnav-previous {
  float: left;
}

.calendarnav-next {
  float: right;
}

.calendar-shortcuts,
.calendar-cancel { 
  margin: 5px;
}


/* ********* SEARCH PAGE ********* */
body .searchQuery {
	margin-right: 0;
}

.tooltip {
	width: 37%;
	margin-left: 600px;
	background-color: #EEE;
	outline: 1px solid #ccc;
	padding: 5px;
	color: #555;
}

.tooltip > strong:first-of-type {
	display: block;
	color: #444;
	font-weight: bold;
	font-size: 16px;
}

.tooltip table {
	margin-top: 10px;
}

.tooltip table tr {
	display: block;
}

.tooltip table td {
	padding-left: 5px;
}

.tip_item {
	outline: 1px dotted #ccc;
	color: #777;
	display: block;
	margin-top: 15px;
	background: #fff;
}

.tip_item strong {
	color: #00BDE3;
	font-weight: bold;
}

.tooltip span {
	display: block;
	margin-top: 10px;
	color: #00BDE3;
}

.searchQuery .sortable,
.searchQuery .sortable tr,
.searchQuery .sortable th,
.searchQuery .sortable td {
	border: 1px solid #ddd;
	padding: 3px;
}

.searchQuery .sortable thead {
	background: #eee;
}

.searchQueryFilters {
	margin-top: 20px;
}

form[name="frmSearch"] div {
	border-top: 1px dotted #999;
	padding-top:10px;
}


/* ********* FIXING ********* */
.center_portlet_title a,
.right_portlet_title a,
.left_portlet_title a {
	text-decoration: none;
}

span.postedon {
	margin-left: 5px;
}

#language {
	display: inline-block;
	float: right;
	margin-top: 10px;
}

#language a {
	text-transform: uppercase;
	padding-right: 15px;
	text-decoration: none;
}

textarea {
	max-width: 700px;
}

.center-column h1 {
	clear: both;
}

.message-error,
.message {
	padding: 0px 10px;
}

form[name="csv_import"] {
	margin-top: 20px;
}

form[name="csv_import"] .field {
	margin-bottom: 25px;
}

form[name="csv_import"] input[name="template:method"] {
	margin: 0;
}

/* need selector */
body div p strong img {
	width: 100% !important;
	height: auto !important;
}

body table.talkback-section_list {
	width: 100%; /* page http://naaya-design.martini.edw.ro/ny/content/amp-2012, override from additional_style_css.css line 246 */
}

.rating {
	width: 100px;
}

span#body_parent {
	width: 100%;
	height: 100%;
	display: block;
}

div.center-column {
	overflow-x: auto;
}

#name_filter input[name="query"] {
	border: 1px solid #999;
}


/* ********* FORUM ********* */
#folderfile_list {
	border-collapse: collapse;
	margin: 5px 0px 10px 0px;
	background: white;
}

body .forum_topic {
	/*background: #D6D6D6;*/
	border: 1px solid #CCC;
}

div.floated-buttons ~p {
	clear: both;
}

body .forum_message {
  background: #F0F0F0;
  border: 1px solid #ccc;
}

body .forum_topic_author {
  border-bottom: 1px dashed #fff;
}


/* ********* PHOTO ARCHIVE ********* */
.g-box dl {
	background: white;
	border: none;
	overflow: hidden;
}

body .g-boxes {
	width: 170px;
  margin-bottom: 10px; /* white space for IE8 and above */
}

.g-boxes img {
	width: 90%;
	height: auto;
}

/*body .g-box .title,
body .g-box-button input {
	background: #fff; override from photo_archive.css line 18
}

#selection_buttons input {
	border-radius: 0;
	-moz-border-radius: 0;
}*/

body .g-album-content {
	margin-right: 180px; /* override from photo_archive.css line 123 */
}

body .g-box .title {
	border: none;
	text-transform: uppercase;
	font-weight: normal;
}

body .g-box {
	border: 2px dotted #ccc;
	margin-top: 43px;
}

body .g-box .body {
	margin: 0;
}

/*.g-box-button input[type="submit"] {
	background: #008DA8;
	border: none;
	color: #fff;
}

body #selection_buttons .action_button {
	margin-right: 1.3em;  override from photo_archive.css line 261 
}*/

body .thumbnail-layout {
	margin-right: 2px;/*1em; */ /* override from photo_archive.css line 136 */
}

body .g-main-content { /* override from photo_archive.css line 67 */
	background: white;
	border: 0;
	margin:0;
}

body .g-main-content:nth-child(even) { /* override from photo_archive.css line 67 */
	background: white;
	border: 0;
	overflow-x: auto;
	width: 540px; /*275px;*/
}

body .g-main-content fieldset {
	background: #fff;
	width: 350px;
	margin: 0;
}

body div.g-main-content dt {
	width: auto;
	text-align: left;
	padding-right: 5px;
}

body div.g-main-content dd {
	float: none;
	margin: 0;
}

.g-image-description span {
	text-align: left;
	display: block;
}

.g-main-content-buttons a {
	text-decoration: none;
}

.toolbar,
.floated-buttons {
	padding-top: 3px;
}


/* ********* MAP ********* */
.portalmap_location_filters .text_input {
	width: 260px;
}

.portalmap-map-box {
	float: left;
	width: 730px;
}


/* ********* requestrole_html ********* */
.RequestRoleForm {
	margin-top: 10px;
}

/* override from common.css */
body .addcomment, 
.logincomment, 
.deletecomment {
   background-color: #008DA8;
   cursor: pointer;
   color: white;
   border: none;
   padding: 3px 5px;
   margin-left: 7px;
}

/* the dropdown from Portlet field must be entirely visible */
form.portlet-assign-form {
 margin-bottom: 130px;
}
