[submodule "eggs/bundles"]
	path = eggs/bundles
	url = git@github.com:eaudeweb/naaya-bundles
    	branch = master
[submodule "eggs/Products.CHM2BE"]
	path = eggs/Products.CHM2BE
	url = git@github.com:eaudeweb/naaya.Products.CHM2BE.git
    	branch = master
[submodule "eggs/Products.NaayaContent.NyBlogEntry"]
	path = eggs/Products.NaayaContent.NyBlogEntry
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyBlogEntry.git
    	branch = master
[submodule "eggs/Products.NaayaContent.NyConsultation"]
	path = eggs/Products.NaayaContent.NyConsultation
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyConsultation.git
	branch = master
[submodule "eggs/Products.NaayaContent.NyPublication"]
	path = eggs/Products.NaayaContent.NyPublication
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyPublication.git
	branch = master
[submodule "eggs/Products.NaayaContent.NySimpleConsultation"]
	path = eggs/Products.NaayaContent.NySimpleConsultation
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NySimpleConsultation.git
	branch = master
[submodule "eggs/Products.NaayaContent.NyStudy"]
	path = eggs/Products.NaayaContent.NyStudy
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyStudy.git
	branch = master
[submodule "eggs/chm-be"]
	branch = master
[submodule "buildout/chm-be"]
	path = buildout/chm-be
	url = git@github.com:eaudeweb/naaya.buildout.chm-be.git
[submodule "buildout/chm-eu"]
	path = buildout/chm-eu
	url = git@github.com:eaudeweb/naaya.buildout.chm-eu.git
[submodule "eggs/chm-eu"]
	branch = master
[submodule "buildout/destinet"]
	path = buildout/destinet
	url = git@github.com:eaudeweb/naaya.buildout.destinet.git
[submodule "eggs/destinet"]
	branch = master
[submodule "buildout/eionet"]
	path = buildout/eionet
	url = git@github.com:eaudeweb/naaya.buildout.eionet.git
[submodule "eggs/eionet"]
	branch = master
