[submodule "eggs/Products.CHM2BE"]
	path = eggs/Products.CHM2BE
	url = git@github.com:eaudeweb/naaya.Products.CHM2BE.git
    	branch = master
[submodule "eggs/Products.NaayaContent.NyBlogEntry"]
	path = eggs/Products.NaayaContent.NyBlogEntry
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyBlogEntry.git
    	branch = master
[submodule "eggs/Products.NaayaContent.NyConsultation"]
	path = eggs/Products.NaayaContent.NyConsultation
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyConsultation.git
	branch = master
[submodule "eggs/Products.NaayaContent.NyPublication"]
	path = eggs/Products.NaayaContent.NyPublication
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyPublication.git
	branch = master
[submodule "eggs/Products.NaayaContent.NySimpleConsultation"]
	path = eggs/Products.NaayaContent.NySimpleConsultation
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NySimpleConsultation.git
	branch = master
[submodule "eggs/Products.NaayaContent.NyStudy"]
	path = eggs/Products.NaayaContent.NyStudy
	url = git@github.com:eaudeweb/naaya.Products.NaayaContent.NyStudy.git
	branch = master
[submodule "buildout/chm-be"]
	path = buildout/chm-be
	url = git@github.com:eaudeweb/naaya.buildout.chm-be.git
	branch = master
[submodule "buildout/chm-eu"]
	path = buildout/chm-eu
	url = git@github.com:eaudeweb/naaya.buildout.chm-eu.git
	branch = master
[submodule "buildout/destinet"]
	path = buildout/destinet
	url = git@github.com:eaudeweb/naaya.buildout.destinet.git
	branch = master
[submodule "buildout/eionet"]
	path = buildout/eionet
	url = git@github.com:eaudeweb/naaya.buildout.eionet.git
	branch = master
[submodule "buildout/enisa-privacy-forum"]
	path = buildout/enisa-privacy-forum
	url = git@github.com:eaudeweb/naaya.buildout.enisa-privacy-forum.git
	branch = master
[submodule "buildout/groupware"]
	path = buildout/groupware
	url = git@github.com:eaudeweb/naaya.buildout.groupware.git
	branch = master
[submodule "bundles/NaayaBundles-CHMBE-cop10"]
	branch = master
	path = bundles/NaayaBundles-CHMBE-cop10
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-CHMBE-cop10.git
[submodule "bundles/NaayaBundles-CHMBE-training"]
	path = bundles/NaayaBundles-CHMBE-training
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-CHMBE-training.git
	branch = master
[submodule "bundles/NaayaBundles-CHMBE"]
	path = bundles/NaayaBundles-CHMBE
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-CHMBE.git
	branch = master
[submodule "bundles/NaayaBundles-CHMEU"]
	path = bundles/NaayaBundles-CHMEU
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-CHMEU.git
	branch = master
[submodule "bundles/NaayaBundles-DESTINET"]
	path = bundles/NaayaBundles-DESTINET
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-DESTINET.git
	branch = master
[submodule "bundles/NaayaBundles-Forum"]
	path = bundles/NaayaBundles-Forum
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-Forum.git
	branch = master
[submodule "bundles/NaayaBundles-PBE"]
	path = bundles/NaayaBundles-PBE
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-PBE.git
	branch = master
[submodule "bundles/NaayaBundles-SINAnet"]
	path = bundles/NaayaBundles-SINAnet
	url = git@github.com:eaudeweb/naaya.bundles.NaayaBundles-SINAnet.git
	branch = master
[submodule "eggs/naaya.wise"]
	branch = master
	path = eggs/naaya.wise
	url = git@github.com:eaudeweb/naaya.wise.git
[submodule "eggs/naaya.updater"]
	path = eggs/naaya.updater
	url = git@github.com:eaudeweb/naaya.updater.git
	branch = master
[submodule "eggs/naaya.sql"]
	path = eggs/naaya.sql
	url = git@github.com:eaudeweb/naaya.sql.git
	branch = master
[submodule "eggs/naaya.semide"]
	path = eggs/naaya.semide
	url = git@github.com:eaudeweb/naaya.semide.git
	branch = master
[submodule "eggs/naaya.selenium"]
	path = eggs/naaya.selenium
	url = git@github.com:eaudeweb/naaya.selenium.git
	branch = master
[submodule "eggs/naaya.photoarchive"]
	branch = master
[submodule "eggs/naaya.observatory"]
	path = eggs/naaya.observatory
	url = git@github.com:eaudeweb/naaya.observatory.git
	branch = master
[submodule "eggs/naaya.monitor"]
	path = eggs/naaya.monitor
	url = git@github.com:eaudeweb/naaya.monitor.git
	branch = master
[submodule "eggs/naaya.ldapdump"]
	path = eggs/naaya.ldapdump
	url = git@github.com:eaudeweb/naaya.ldapdump.git
	branch = master
[submodule "eggs/naaya.i18n"]
	path = eggs/naaya.i18n
	url = git@github.com:eaudeweb/naaya.i18n.git
	branch = master
[submodule "eggs/naaya.gwhelp"]
	branch = master
[submodule "eggs/naaya.gwapplications"]
	path = eggs/naaya.gwapplications
	url = git@github.com:eaudeweb/naaya.gwapplications.git
	branch = master
[submodule "eggs/naaya.groupware"]
	path = eggs/naaya.groupware
	url = git@github.com:eaudeweb/naaya.groupware.git
	branch = master
[submodule "eggs/naaya.forum-publish"]
	path = eggs/naaya.forum-publish
	url = git@github.com:eaudeweb/naaya.forum-publish.git
	branch = master
[submodule "eggs/naaya.flowplayer"]
	path = eggs/naaya.flowplayer
	url = git@github.com:eaudeweb/naaya.flowplayer.git
	branch = master
[submodule "eggs/naaya.fake_envirowindows"]
	path = eggs/naaya.fake_envirowindows
	url = git@github.com:eaudeweb/naaya.fake_envirowindows.git
	branch = master
