{% extends "frame.html" %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block content %}

<form action="{% url survey:edit category.id %}" method="POST">
  <table class="account-table" style="width:100%">
    <tbody>
    {% for field in form %}
      {% if field %}
      <tr>
        <th style="width:30%">
          {{ field.label_tag }}
        </th>
        <td style="width:30%">
          {{ field }} <br />
          {{ field.errors }}
        </td>
        <td style="width:40%">
          <em>{{ field.help_text }}</em>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <input type="submit" class="primary-button" value="Save and continue" />
        </td>
      </tr>
    </tfoot>
  </table>
</form>

{% endblock %}
