<form action="{% url survey:edit category.id %}" method="POST">
  <table class="account-table" style="width:100%">
    <tbody>
      {% if category.description %}
      <tr>
        <td>{{ category.description|linebreaks }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>{{ form.comment }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input type="submit" class="primary-button" value="Save and continue" />
          <a class="cancel">Cancel</a>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
