{% load static %}

{% if survey %}
  {% url survey:edit category.id survey.id as url %}
{% else %}
  {% url survey:edit category.id as url %}
{% endif %}

<form action="{{ url }}" method="POST" style="display: none;"
      class="{% if survey %}edit-form{% endif %}">
  <table class="account-table" style="width:100%">
    <tbody>

    {% if category.description %}
      <tr>
        <td colspan="3">{{ category.description|linebreaks }}</td>
      </tr>
    {% endif %}

    {% for field in form %}
      {% if field %}
      <tr>
        <th style="width:30%">
          {{ field.label_tag }}
          {% if field.field.required %}
            <img src="{% static "images/mandatory.gif" %}" />
          {% endif %}
        </th>
        <td style="width:30%">
          {{ field }}
          {{ field.errors }}
        </td>
        <td style="width:40%">
          <em>{{ field.help_text }}</em>
        </td>
      </tr>
      {% endif %}
    {% endfor %}

    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">
          <input type="submit" class="primary-button" value="Save and continue" />
          <a class="cancel">Cancel</a>
        </td>
      </tr>
    </tfoot>
  </table>

</form>

