{% load utils %}

<div class="view-answer" style="display: none;">
  <ul class="entry">
    {% for field in form %}
      {% if field %}
      <li>
        <span class="key">{{ field.label }}:</span>
        <span class="value">
          {% if field.name == 'link' %}
            {{ survey|getattribute:field.name|urlize }}
          {% else %}
            {{ survey|getattribute:field.name|pretty_hstore }}
          {% endif %}
        </span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>