.omi{
	width: 78%;
	overflow: auto
}

.omi .button{
	margin: 1ex 1ex 1ex 0
}
.omi .label{
	margin-top: 2ex;
	margin-bottom: 0.5ex;
	font-weight: bold;
}
.omi .label + .omi .label{
	margin-top: 0
}
.omi dt{
	margin-top: 1ex
}
.omi .second_tabset_content {
	margin-top: -11px;
	padding: 1% 1% 1% 3%;
	width: 96%;
}
.omi .text{
	margin-bottom: 0.5ex
}
.omi .addcomment{
	padding: 3px
}
.omi .deletecomment{
	padding: 3px
}
.omi h2 + .omi h4{
	margin-top: -5px
}
.omi .second_tabset_content + .omi h4{
	margin-top: 3px
}
.omi table, .omi th, .omi td{
	margin: 15px 5px 15px 5px;
	border-collapse:collapse;
	padding: 10px;
	text-align: left;
}
.omi td{
	vertical-align: top;
}
.omi table.Section1{
	width: 99%;
	background: #FAFAFA;
	border:1px solid #CCC;
}
.omi table.Section1 th{
	width: 33.3%;
}
.omi table.Section2, .omi table.Section3, .omi table.Section4{
	border:1px solid #CCC;
	width: 99%;
}
.omi table.Section2 th{
	background: #FFCC99;
	width: 33.3%;
}
.omi table.Section2 td{
	width: 33.3%;
}
.omi table.Section3 th{
	background: #F0F5FB;
	width: 33.3%;
}
.omi table.Section4 th{
	background: #def2cc;
	width: 33.3%;
}
.omi table.Section1 td,table.Section1 th,
.omi table.Section2 td,table.Section2 th,
.omi table.Section3 td,table.Section3 th,
.omi table.Section4 td,table.Section4 th{
	border:1px solid #CCC;
}
.omi .centerbox{
	padding: 1em;
	min-height: 420px
}
.omi .tinymce{
	width: 99%;
	height: 222px
}