#center_content {
	width: 100%;
}

.datatable {
	border-spacing: 0px;
}

.datatable thead tr {
	background-color: #E9F7FA;
	color: #666666;
	font-weight: bold;
}

.datatable thead tr:hover {
	background-color: #E9F7FA;
}

.datatable td {
	border-right: 1px solid #DFDFDF;
}

.datatable td:last-child,
.datatable td.last-row-item {
	border-right: none;
}

dl {
	float: left;
	text-align: left;
	margin-top: 0;
}

dd.clear {
	float: none;
	margin: 0;
	clear: both;
}

dd {
	margin: 0;
	padding: 0;
	float: left;
	color: #666666;
}

dt {
	float: left;
	margin-left: 12px;
}

.margin-separator {
	margin-left: 2px;
}

#select-charts {
	margin-top: 25px;
}

#select-charts * {
	display: block;
}

#display-chart {
	margin-top: 15px;
}

form.comparison-form label {
	font-size: 14px;
}

form.comparison-form {
	margin : 15px 0;
}

form.comparison-form select {
	width: 200px;
}

form.comparison-form .form-button {
	margin-top: 10px;
}