h2 {
	line-height: 22px;
}

p.compare-indicator, p.compare-source {
	margin: 0;
}

p.compare-indicator {
	font-size: 16px;
	font-weight: bold;
	color: #00A8C7;
}

p.compare-source {
	font-size: 13px;
	color: #555555;
	font-weight: bold;
}

#center_content {
	width: 100%;
}

.center-portlet {
	margin-bottom: 30px;
}

.datatable {
	border-spacing: 0px;
}

.datatable thead tr {
	background-color: #E9F7FA;
	color: #666666;
	font-weight: bold;
}

.datatable thead tr:hover {
	background-color: #E9F7FA;
}

.datatable td {
	border-right: 1px solid #DFDFDF;
}

.datatable td:last-child,
.datatable td.last-row-item {
	border-right: none;
}

dl {
	float: left;
	text-align: left;
	margin-top: 0;
}

dd.clear {
	float: none;
	margin: 0;
	clear: both;
}

dd {
	margin: 0;
	padding: 0;
	float: left;
	color: #666666;
}

dt {
	float: left;
	margin-left: 12px;
}

.legend-title {
	color: #35A7BD;
	font-weight: bold;
}

.margin-separator {
	margin-left: 2px;
}

#select-charts {
	margin-top: 25px;
}

#select-charts * {
	display: block;
}

#display-chart {
	margin-top: 15px;
}

form.comparison-form label {
	font-size: 14px;
}

form.comparison-form {
	margin : 15px 0;
}

form.comparison-form select {
	width: 200px;
}

form.comparison-form .form-button {
	margin-top: 10px;
}

.comparison-table {
	border-bottom: 1px solid #DFDFDF;
	width: 100%;
	padding-bottom: 15px;
}

.comparison-table:hover {
	background-color: #E9F7FA;
}

.comparison-table .td-label {
	width: 80px;
}

.chart-table {
	float: left;
	width: 200px !important;
}

#chart-container {
	float: left;
	margin-left: 25px;
	margin-top: 9px;
}

.clear {
	display: block;
	clear: both;
	height: 1px;
}