{% extends "frame.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
{% endblock %}

{% block content %}

<form action="{% url survey:edit category.id %}" method="POST">
  <table class="account-table" style="width:100%">
    <thead>
      <tr>
        <th>{{ category }}</th>
      </tr>
    </thead>
    <tbody>
      {% if category.description %}
      <tr>
        <td>{{ category.description|linebreaks }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>{{ form.comment }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input type="submit" class="primary-button" value="Save and continue" />
        </td>
      </tr>
    </tfoot>
  </table>
</form>

{% endblock %}