label {
    cursor: pointer;
}

label, .td-label {
    font-weight: bold;
}

div.aoa-cf-section h3 {
    margin: 0;
    font-size: 13px;
    clear: right;
}

.filter-results h2 {
    margin-bottom: 0;
}

div.aoa-cf-section {
    padding: 10px 0;
    border-bottom: 1px solid #DFDFDF;
}

div.aoa-cf-section:hover {
    background: #F2F2F2;
}

div.filter-results {
    clear: both;
    display: block;
}

div.filter-results ul {
    margin: 0;
}

div.filter-results .buttons {
    margin: -25px 0 0;
    display: block;
    float: right;
}

#aggregator-form {
    background: #EDF8FF;
    border: 1px solid #DFDFDF;
    margin-bottom: 25px;
    padding: 10px;
}

/**
 * Messages
*/
.message img {
    position: relative;
    vertical-align: -7px;
}

p.warning {
    background: #FFF9D4;
    padding: 5px;
    text-align: center;
    border: 1px solid #DFDFDF;
    font-weight: bold;
}

p.help {
    margin: 0 0 15px 0;
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
}

/**
 * Inputs
*/

.widgetEditMode input[type="text"] {
    border: 1px solid #999999;
    padding: 3px;
    margin-top: 3px;
}

.widgetEditMode label {
    color: #333333;
    font-weight: normal;
}

.widgetEditMode .widget-title,
.widgetViewMode .widget-title {
    color: #333333;
    padding: 0;
}

.widgetEditMode .tooltips {
    color: #555555;
    font-size: 11px;
    line-height: 1.2
}

.widgetEditMode .tooltips p {
    margin-top: 0;
}
