/* IE7 hacks */
#header {
  min-height: 189px;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

#content-holder {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

#footer {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

#header #menu .wrap {
  height: 30px;
}

#header .wrap {
  height: 96px;
}

.actions {
  width: 311px;
  height: 93px;
}

.global-search {
  height: 34px;
}

.global-language {
	height: 29px;
}

.global-search-input {
  height: 22px;
  line-height: 34px;
}

.global-search-submit {
  width: 69px;
  height: 34px;
}

#breadcrumb ul li {
  display: inline;
}

.image-details {
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.mainsection_content,
ul.menu-bar.mainsections-menu ul {
  margin: 0px;
  z-index: 999;
}

body .g-album-content {
  position: static; 
}

#geo_query {
  margin-left: 10px;
}

.portlet ul {
  margin: 0;
}

body .portlet h4 {
  margin: 10px 0px 5px;
}

.mainsections-level1 ul {
  margin-left: 0px;
}

body .lof-slidecontent .preload {
  background: transparent;
}

#header .logo-holder {
  width: 659px;
}

/* the labels from Login page */
body .login-form .field label {
  display: inline;
}

.edit-holder {
  padding-bottom: 20px;
}

/* instead of the gradient, which is not supported */
body .left_portlet {
  background: url("scheme/background_left_portlet.png") repeat-y;
}

/* instead of the gradient, which is not supported */
body .portlet-column-right .right_portlet {
  background: url("scheme/background_right_portlet.png") repeat-y; 
}

body .message_top_buttons2 {
  padding-top: 0px;
}

body .message_top_buttons2 a {
  padding-bottom: 0px;
}

body .center_portlet {
  margin-bottom: 30px;
}

body .g-header-form input[type="submit"] {
  margin-bottom: 0px;
}

body .edit-holder {
  padding-bottom: 0px;
}

body .thumbnail-layout {
  margin-top: 1em;
}

body fieldset,
body .admin-content .form-fieldset {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eeeeee)";
}

.pagination span {
  padding: 3px;
}

.pagination span span {
  padding: 0px;
}

/* the current page from the pages list, inside "Translate messages" page, tab "Messages" */
body .admin-content .pagination span {
  margin-bottom: 0px;
}

span#pick-user-ui button {
  margin-bottom: 0px;
}

body #right_port {
  margin-top: 10px;
}

