.title{
    min-width: 150px;
    display: inline-block;
}
.description{
    float: left;
    width: 70%;
}
.docitem{
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
}
.search-block{
    float: left;
    padding: 0.5rem;
}
a.fancybox img{
    width: 200px;
}
