/********************
 * General
 ********************/

@font-face {
	font-family: 'Corporate';

	src: url('./++resource++Products.CHM2-www/fonts/c063026t-webfont.eot');
	src: url('./++resource++Products.CHM2-www/fonts/c063026t-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./++resource++Products.CHM2-www/fonts/c063026t-webfont.woff') format('woff'),
	     url('./++resource++Products.CHM2-www/fonts/c063026t-webfont.ttf') format('truetype'),
	     url('./++resource++Products.CHM2-www/fonts/c063026t-webfont.svg#Corporate') format('svg');

	font-weight: bold;
	font-style: italic, oblique;
}

@font-face {
	font-family: 'Corporate';

	src: url('./++resource++Products.CHM2-www/fonts/c063006t-webfont.eot');
	src: url('./++resource++Products.CHM2-www/fonts/c063006t-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./++resource++Products.CHM2-www/fonts/c063006t-webfont.woff') format('woff'),
	     url('./++resource++Products.CHM2-www/fonts/c063006t-webfont.ttf') format('truetype'),
	     url('./++resource++Products.CHM2-www/fonts/c063006t-webfont.svg#Corporate') format('svg');

	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Corporate';
	src: url('./++resource++Products.CHM2-www/fonts/c063023t-webfont.eot');
	src: url('./++resource++Products.CHM2-www/fonts/c063023t-webfont.eot?#iefix') format('embedded-o pentype'),
	     url('./++resource++Products.CHM2-www/fonts/c063023t-webfont.woff') format('woff'),
	     url('./++resource++Products.CHM2-www/fonts/c063023t-webfont.ttf') format('truetype'),
	     url('./++resource++Products.CHM2-www/fonts/c063023t-webfont.svg#Corporate') format('svg');

	font-weight: normal;
	font-style: italic, oblique;
}

@font-face {
	font-family: 'Corporate';

	src: url('./++resource++Products.CHM2-www/fonts/c063003t-webfont.eot');
	src: url('./++resource++Products.CHM2-www/fonts/c063003t-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./++resource++Products.CHM2-www/fonts/c063003t-webfont.woff') format('woff'),
	     url('./++resource++Products.CHM2-www/fonts/c063003t-webfont.ttf') format('truetype'),
	     url('./++resource++Products.CHM2-www/fonts/c063003t-webfont.svg#Corporate') format('svg');

	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Corporate', Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	line-height: 19px;
}

p {
	color: #000000;
	margin: 0;
	padding: 0;
	line-height: 19px;
}

a {
	color: #408cb4;
}

a:visited,
a:hover {
	color: #335C9E;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	font-size: 14px;
	color: #000000;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #000000;
}

h1 {
	font-size: 24px;
	line-height: 30px;
	/* TODO color */
}

h2 {
	font-size: 18px;
	line-height: 30px;
	/* TODO color */
}

h3 {
	color: #039749;
	font-size: 16px;
	line-height: 30px;
}

h4 {
	font-size: 12px;
	line-height: 20px;
}

h5 {
	font-size: 11px;
	line-height: 20px;
}

h6 {
	font-size: 11px;
	line-height: 20px;
}

legend {
	font-size: 16px;
	font-weight: bold;
	color: #454545;
}

th {
	font-weight: normal;
	background-color: #f2f2f2;
}

hr {
	height: 1px;
	color: #c0e5d1;
}

input,
textarea,
button {
	font-family: 'Corporate', Arial, Verdana, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}




/********************
 * Layout
 ********************/

/* 4-column grid
   230px per column, 20px spacing between columns
   4 * 230 + 3 * 20 = 980 */

#content {
	clear: both;
	overflow: hidden;
}

#center_content_holder {
	width: 980px;
}

.portlet-column-left {
	width: 230px;
	float: left;
	margin: -30px 0;
}

.portlet-column-right {
	width: 230px;
	float: right;
	margin: -30px 0;
}

.center-column { width: 980px; }

.has-right-portlets .center-column { width: 730px; }

.has-left-portlets .center-column { width: 730px; }

.has-right-portlets.has-left-portlets .center-column { width: 480px; }

.center-and-right { width: 980px; margin-left: 0; }

.has-left-portlets .center-and-right { width: 730px; margin-left: 250px; }

.wrap {
	width: 962px;
	margin: 0 auto;
	clear: both;
}

.portlet {
	margin: 30px 0px;
}

.center-column .portlet {
	margin: 10px 0px;
}

#right_port {
	float: right;
}

#center_content {
	overflow: auto;
}



/********************
 * Reusable bits
 ********************/

.portlet > h3 {
	margin: 0 0 10px;
	border-bottom: 1px solid #039749;
	color: #039749;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

.portlet > h3 a {
	text-decoration: none;
	color: #039749;
}

ul.menu-bar a,
ul.menu-bar a:visited {
	color: #039749;
}

.portlet ul.syndication {
	margin: -10px 0;
}

.portlet ul.syndication li {
	border-bottom: 1px solid #BFBFBF;
	padding: 10px 0;
}

.portlet ul.syndication li:last-child {
	border-bottom: none;
}

.portlet ul.syndication .publication-date {
	color: #039749;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

.portlet ul.syndication h4 {
	margin: 0;
	padding: 0;
}

.portlet ul.syndication h4 a {
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
}

.portlet ul.syndication h4 a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.portlet ul.syndication .excerpt {
	color: #444444;
}

dl {
	padding-left: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 20px;
}

pre {
	overflow-x: auto;
}

form fieldset {
	border: 1px solid #999;
	margin: 20px 0;
}

/********************
 * Content on all pages
 ********************/


#header div#logo-holder {
	margin: 15px 0;
	overflow: hidden;
}

#header .wrap #logo-holder #logo {
	margin-right: 28px;
}

#header .wrap #logo-holder #site-details #site-title {
	margin-top: 5px;
}

#header .wrap #logo-holder #site-details #site-title a {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
	text-decoration: none;
	width: 500px;
}

#header .wrap #logo-holder #site-details #site-description p {
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
}

#header div#actions {
	float: right;
}

#header .wrap #actions .right #global-actions {
	margin-right: 15px;
}

#global-actions .login-item {
	list-style: none;
}

#global-actions .login-item span {
	color: #444444;
	font-size: 12px;
	font-weight: normal;
	margin-right: 15px;
}

#global-actions a.login {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
}

#language,
#language a {
	color: #444444;
	font-size: 12px;
	line-height: 30px;
	display: inline-block;
}

#language a {
	text-transform: uppercase;
	font-weight: bold;
}

#language a.current {
	color: #039749;
}

#global-search-input {
	border: 1px solid #C0E5D1;
	padding: 4px 10px 6px 10px;
	left: 4px;
	margin: 0;
	width: 235px;
}

.search-input-button {
	font-size: 14px;
	line-height: 22px;
	border: none;
	background-color: #039749;
	color: #FEFEFE;
	font-weight: bold;
	padding: 6px 10px;
	margin: 0;
}

#menu {
	border-bottom: 1px solid #c0e5d1;
	margin-bottom: 10px;
}

#menu ul.menu-bar {
	margin-left: -10px;
	height: 30px;
	background-color: white;
}

#menu ul.menu-bar li.menu-bar-hover,
#menu ul.menu-bar li.menu-bar-hover ul {
	background-color: #CDEADB;
}

#menu ul.menu-bar li.menu-bar-hover a {
	color: #039749;
}

#menu ul.menu-bar ul {
	padding: 8px;
	z-index: 4;
}

#menu ul.menu-bar li {
	font-size: 13px;
	line-height: 30px;
	color: #444444;
	text-transform: uppercase;
	font-weight: bold;
}

#menu ul.menu-bar a.menu-bar-level1-link {
	padding: 0 10px;
}

#menu ul.menu-bar a {
	color: #000000;
}

.mainsections-menu-ribbon {
	width: 100%;
	background:#039749;
}

ul.menu-bar.mainsections-menu {
	background:#039749;
	margin-left: -11px;
	color: #fefffe;
	height: 74px;
}

ul.menu-bar.mainsections-menu a.menu-bar-level1-link {
	width: 103px;
	height: 52px;
	padding: 11px;
	color: #fefffe;
	font-weight: bold;
}

ul.menu-bar.mainsections-menu a.menu-bar-level1-link {
	text-align: center;
}

ul.menu-bar.mainsections-menu li.menu-bar-current a.menu-bar-level1-link,
ul.menu-bar.mainsections-menu li.menu-bar-hover a.menu-bar-level1-link {
	background-color: #CDEADB;
	color: #039749;
}

ul.menu-bar.mainsections-menu li.menu-bar-level1 {
	margin: 0;
}

ul.menu-bar.mainsections-menu ul {
	z-index: 4;
	padding: 0;
	background-color: #CDEADB;
	color: #039749;
	font-size: 14px;
}

ul.menu-bar.mainsections-menu ul li {
	padding: 10px 0;
	margin: 0 10px;
	border-bottom: 1px solid #86CAA6;
}

ul.menu-bar.mainsections-menu ul li:last-child {
	border-bottom: none;
}

#breadcrumb ul {
	display: block;
	border-bottom: 1px solid #000000;
	line-height: 40x;
	margin-top: 0px;
	padding: 10px 0;
}

#breadcrumb ul li {
	display: inline-block;
}

#breadcrumb ul li a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

#breadcrumb ul li a:hover {
	text-decoration: underline;
}

#center_content {
	margin-top: 10px;
}

#footer-mainsections {
	width: 100%;
	margin-top: 55px;
	background: #CDEADB;
	overflow: hidden;
	padding-top: 20px;
	word-wrap: break-word;
}

#footer-mainsections ul.mainsections-level1 {
	width: 962px;
	margin: 0 auto;
}

#footer-mainsections li.mainsections-topitem {
	float: left;
	width: 105px;
	margin-right: 20px;
}

#footer-mainsections a {
	text-decoration: none;
	font-weight: bold;
	padding: 10px 0;
	display: block;
}

#footer-mainsections ul li.mainsections-topitem > a {
	height: 50px;
}

#footer-mainsections ul li.mainsections-topitem > a,
#footer-mainsections ul ul li {
	border-bottom: 1px solid #FFFFFF;
}

#footer-mainsections ul ul li:last-child {
	border-bottom: none;
}

#footer-mainsections ul ul a {
	font-weight: normal;
}

#footer {
	clear: both;
	background: #4eb67f;
	width: 100%;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 24px;
}

#footer hr {
	background: #a7dbbf;
	height: 1px;
	width: 100%;
	border: none;
	margin: 0;
}

#footer a {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 24px;
	margin-right: 20px;
	text-decoration: none;
}

#footer acronym {
	text-decoration: none;
	border-bottom: none;
}

#footer a.go-to-top-link {
	margin-right: 0;
}

#footer-content-top a {
	font-weight: bold;
}

#fotoer-content-bottom a {
	color: #FFFFFF;
}

#footer-content-top {
	border-bottom: 1px solid #FFFFFF;
}

#footer-content-top,
#footer-content-bottom {
	padding: 20px 0;
	line-height: 1;
}




/********************
 * Specific content
 ********************/

.admin-content #right_port {
	width: 230px;
}

.admin-content #right_port a {
	color: #000;
}
 .admin-content #right_port a:visited {
	color: #555;
}

.admin-content #right_port strong {
	color: #039749;
}

.admin-content #center_content {
	width: 730px;
}

.admin-content #right_port li {
	list-style: none;
}

.folder_social {
	float: right;
	width: auto;
	display: block;
	clear: none;
}

.center-column .folder_description p {
	margin-bottom: 25px;
}

.center-column .folder_description a {
	text-decoration: underline;
	cursor: pointer;
}

.center-column .folder_description ul {
	display: block;
	margin-left: 45px;
	padding-top: 25px;
}

.center-column .folder_description ul li {
	list-style: disc;
	color: #039749;
	font-size: 16px;
	margin-bottom: 25px;
}

.center-column .folder_description ul li span {
	color: #000000;
}

#admin_this_folder,
#toolbar {
	background-color: #F0F0F0;
	padding: 10px;
	margin: 10px 0;
}

#admin_this_folder a {
	background: #4eb67f;
	border: none;
	color: #fff;
	text-decoration: none;
}

#toolbar {
   /* background: #DFF4FA;*/
}

#toolbar input {
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1px solid #CCCCCC;
	color: #454545;
}

#admin_this_folder a,
#toolbar input.action-button {
	background-color: #41A04B;
	font-family: 'Corporate', Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	color: #FFFFFF;
	border: none;
}

#admin_this_folder a:hover {
	text-decoration: none;
}

#folderfile_list {
	border-collapse: collapse;
	margin: 20px 0;
}

#folderfile_list th,
#folderfile_list td {
	font-size: 14px;
	padding: 10px;
}

#folderfile_list th {
	background-color: #D3E9F8;
	border: 0;
}

#folderfile_list th:first-child {
	border-left: none;
}

#folderfile_list td {
	border-bottom: 1px solid #e9e9e9;
}

#folderfile_list td img {
	width: 16px;
	height: 16px;
}

#folderfile_list td.checkin {
	color: #888;
}

.available_langs {
	font-size: small;
	color: #555;
}

.available_langs a {
	padding-right: 0.3em;
	padding-left: 0.3em;
	border-right: 1px solid #41ad00;
}

.available_langs a:first-child {
	border-left:1px solid #41ad00;
}


.portlet.current-mainsection h3 {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #bfbfbf;
	line-height: normal;
}

.portlet.current-mainsection ul {
	padding-left: 0;
}

.portlet.current-mainsection li {
	border-bottom: 1px solid #bfbfbf;
	padding: 10px 0;
}

.portlet.current-mainsection li a {
	text-decoration: none;
	color: #444444;
	font-family: 'CorporateSBold', Arial, Verdana, sans-serif;
}

.site-image {
	margin: 15px 0 0;
}

.portlet-pagination a.prev-link span,
.portlet-pagination a.next-link span {
	background: transparent url('sprite.png') no-repeat scroll -20px -11px;
	width: 8px;
	height: 8px;
	display: inline-block;
	vertical-align: middle;
}

.portlet-pagination a.prev-link span {
	background: transparent url('sprite.png') no-repeat scroll -31px -11px;
	margin-right: 5px;
}

.portlet-pagination a.next-link span {
	margin-left: 5px;
}

.portlet-pagination a.prev-link.disabled span {
	background-position:  -10px -11px;
}

.portlet-pagination a.next-link.disabled span {
	background-position:  -11px -19px;
}

.portlet.biodiv-news .portlet-pagination {
	border-top: 1px solid #BFBFBF;
	padding-top: 10px;
	margin-top: 10px;
}

.portlet.biodiv-news .portlet-pagination a {
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-transform: uppercase;
}

.portlet.biodiv-news .portlet-pagination a.prev-link {
	float: left;
}

.portlet.biodiv-news .portlet-pagination a.next-link {
	float: right;
}

.portlet.biodiv-news .portlet-pagination a:hover {
	cursor: pointer;
	color: #444444;
}

.portlet.biodiv-news .portlet-pagination .page-count {
	text-align: center;
	font-size: 13px;
}

.portlet.biodiv-news ul.syndication > li {
	margin: 0;
	padding: 10px 0;
	width: 100%;
	border-bottom: 1px solid #BFBFBF;
}

.portlet.biodiv-news .scroll-mask {
	width:230px;
	overflow:hidden;
	margin:0 auto;
}

.portlet.biodiv-news .scroll-panel .scroll-item {
	float: left;
	width: 230px;
}

.portlet.multimedia-box {
	overflow: hidden;
	margin-bottom: -30px;
}

.multimedia-box .multimedia-pagination a.button-back,
.multimedia-box .multimedia-pagination a.button-forward {
	background: transparent url('sprite.png') no-repeat scroll -134px -28px;
	display: inline-block;
	width: 13px;
	height: 12px;
	margin-left: 10px;
	text-decoration: none;
}

.multimedia-box .multimedia-pagination a.button-back.disabled {
	background-position: -42px -9px;
}

.multimedia-box .multimedia-pagination a.button-forward {
	background-position: -60px -9px;
}

.multimedia-box .multimedia-pagination a.button-forward.disabled {
	background-position: -152px -28px;
}

#multimedia-toggle-view {
	float: right;
}

#multimedia-toggle-view span {
	display: none;
}

#multimedia-toggle-view a#button-toggle-tiled {
	background: transparent url('sprite.png') no-repeat scroll -112px -28px;
	display: inline-block;
	width: 18px;
	height: 12px;
}

#multimedia-toggle-view a#button-toggle-tiled.selected {
	background: transparent url('sprite.png') no-repeat scroll -112px -9px;
}

#multimedia-toggle-view a#button-toggle-full {
	background: transparent url('sprite.png') no-repeat scroll -82px -9px;
	display: inline-block;
	width: 18px;
	height: 12px;
}

.multimedia-box #multimedia-toggle-view a#button-toggle-full.selected {
	background: transparent url('sprite.png') no-repeat scroll -82px -28px;
}

#multimedia-files-tiled {
	position: relative;
	width: 662px;
	margin-top: 15px;
}

.multimedia-group {
	margin: 0 -10px;
}

.multimedia-group a {
	margin: 10px;
}

.multimedia-group a.group {
	width: 230px;
	height: 260px;
	position: relative;
	color: #000000; 
}

.multimedia-group a.group .file-title {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.multimedia-group a.group img {
	margin-bottom: 11px;
	width: 230px;
	height: 200px;
}

.multimedia-group a span.video-button {
	background: transparent url('sprite.png') no-repeat scroll -11px -28px;
	font-size: 1px;
	color: #039749;
	text-indent: -9999em;
	display: inline-block;
	width: 59px;
	height: 40px;
	position: absolute;
	left: 85px;
	top: 80px;
}

#multimedia-files-full {
	margin-top: 15px;
	position: relative;
}

#multimedia-files-full div.multimedia-files {
  background-color: #000000;
  height: 421px;
  width: 630px;
}

.multimedia-file-title {
	margin-bottom: 0;
}

.multimedia-file-label,
.multimedia-file-title-holder,
.multimedia-box a.file-more {
	font-size: 14px;
	line-height: 20px;
	display: block;
}

.multimedia-file-title-holder {
	color: #000000;
}

.multimedia-box a.file-more {
	text-decoration: underline;
}

.multimedia-box a.file-more:hover {
	text-decoration: none;
	cursor: pointer;
}

.highlights-box .highlights-content {
	display: inline-block;
	position: relative;
	width: 666px;
	top: 15px;
}

.highlights-box .highlights-item {
	display: inline-block;
	margin-right: 20px;
}

.highlights-box .highlights-item .field-title {
	display: none;
}

#calendar-content .calendar-top {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: 7px;
}

#calendar-content #calendar span {
	color: #444444;
	font-size: 12px;
	line-height: 20px;
	display: inline-block;
	width: 28px;
	text-align: left;
}

#calendar-content #calendar .day-label {
	color: #000000;
}

#calendar-content .calendar-current-month {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 200px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
}

.portalmap-map-box {
	float: left;
	width: 760px;
}

.datatable {
	border: 1px solid #4CA6D6;
}

#tabbedmenu,
.tabbedmenu {
	border-bottom: 2px solid #335C9E;
}

#tabbedmenu a,
.tabbedmenu a {
	color: #335C9E;
	border: 1px solid #335C9E;
}

#tabbedmenu #currenttab a,
.tabbedmenu .currenttab a {
	background-color: #335C9E;
}

.buttons a {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	padding:0.5em 0.5em;
	margin: 0em 0.3em;
	line-height: 2em;
	font-size: 90%;
	background-color: #168130;
	color: #ffffff;
	font-weight: bold;
}

#admin_this_folder a {
	border: 1px solid #0076B3;
}

.system-msg {
	border: 1px solid black;
	padding: 1em;
	margin-bottom: 1em;
}

.error,
.message-error {
	color: #f30;
}

.error fieldset,
.message-error fieldset {
	border: 1px solid #bababa !important;
	color: #f40000;
	background-color: #fff;
}

.error fieldset legend,
.message-error fieldset legend {
	/*border: 1px solid #bababa !important;*/
	color: #f40000;
	padding: 0.2em 0.5em;
	background-color: #fff;
	font-size: 1em;
}

.information,
.message-information {
	color: #5d735d;
}

.information fieldset,
.message-information fieldset {
	border: 1px solid #3e6178 !important;
	color: #3e6178;
	background-color: #fff;
}

.information fieldset .fieldset_div ul,
.message-information fieldset .fieldset_div ul {
	margin: 0;
	padding-left: 2em;
}

.information fieldset legend,
.message-information fieldset legend {
	color: #5d735d;
	padding: 0.2em 0.5em;
	background-color: #fff;
	font-size: 1em;
}

/* tip boxes */
.tip {
	background: #FFFFDD none repeat scroll 0 0;
	border: 1px outset #999966;
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 95%;
}

.left-floated-tip {
	width: 20%;
	float: left;
	position: relative;
	background: #FFFFDD none repeat scroll 0 0;
	border: 1px outset #999966;
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 95%;
}



/* warning box for active versions of items */
.version_box {
	background-color: #f4fff4;
	color: red;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: center;
}

/* Content translation boxes */
.edit-holder {
	margin: 0;
	padding: 0;
	/*clear: left;*/
}


/* other styles */
a.skiplink {
	display: none;
}

span#submission select {
	width: 100px;
}

.translate-bottom {
	padding-bottom: 2em;
}
/*BEGIN-TINYMCE-STYLESELECT*/
.infobox {
	background: #000080;
	color: #FFFFFF;
	float: right;
}

.mainparagraph {
	background-color: #f0f0f0;
	border: 1px dotted #BED492;
	padding: 0.5em 0.7em;
}
/*END-TINYMCE-STYLESELECT*/

/* other styles */
a.skiplink {
	display: none;
}

.hidden {
	display: none;
}

.clearer,
.cleaner {
	clear:both;
}

div#name_filter,
.filters {
	float: left;
	margin: 0.5em 0.5em 0em 0em;
}

#name_filter {
	text-align: right;
}

div#role_filter {
	float: left;
	vertical-align: middle;
}

img.ajax-loader {
	vertical-align: middle;
}

.loader {
	display: none;
	font-style: italic;
	color: #346d9f;
	vertical-align: 12px;
	padding-left: 15em;
}

tr.row-odd {
	background-color: #F7F7F7;
}

.user-role-revoke {
	text-align: center;
}


.table-message,
.message-empty {
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
}

td.checkbox {
	text-align: center;
}

th.th-left {
	text-align: left;
}

/**
 * IE does no support first(last)-child
*/
td.td-center {
	text-align: center;
}

label:hover {
	cursor: pointer;
}


/* Other */

img {
	vertical-align: middle;
}

tr.tr-hover {
	padding: 0.5em;
}

tr.tr-hover:hover {
	background-color: #FFFFDD;
}

/**
 * Tip/'Note' box
*/

.tip {
	padding: 0.5em 1em !important;
	background-color: #FFFFEF !important; /* Overwrite for site update */
}

.tip p {
	margin: 0 !important;
	line-height: 1.5em;
}

.tip img {
	margin-right: 0.5em;
}


.right {
	float: right;
}
