/* This css is based on a MORE (5 for the moment) IN ONE principle*/
/******************************************/
/* Active-css:GREEN; /*BROWN*/ /* DARK GREEN*/ /* BLUE-WHITE*/ /*INDIGO*/

/* Load Naaya Content custom styles */
<span tal:replace="python:here.getLayoutTool().getNaayaContentStyles()" />

/* Required tags - to be implemented in all skins since these classes appear in the forms */

	/* right-side portlets */

	#right_port {
		margin: 1.5em 0.1em 1em 0.3em;
		width:11.5em;
		float: right;

		padding-left: 0.6em;
		background-color: #ffffff;
	}

	.right_link_portlet{
		border-top:1px solid #ffffff; /*1px solid #ffffff*/ /*1px solid #ffffff*/ /*1px solid #ffffff*/ /* 3px solid #99cc33*/
		background-color:#ecf2e1; /*#d9d8b9*/ /*#c1c19d*/ /* #f9f9f9*/ /*#eeeff0*/
		margin-bottom:1em;
	}

	.right_link_portlet .portlet-title{
		background-color:#ffffff; /*#d3e188*/ /*#7e8c37*/ /* #006cad*/ /*#879aa7*/
		background-image:none; /*url("portlet_right_bullet.gif")*/ /*url("portlet_right_bullet.gif")*/ /*url("portlet_right_bullet.gif")*/ /*none*/
		background-position:100% 5%;
		background-repeat:no-repeat;
		font-weight: bold;
		font-size: 0.9em;
		font-family: verdana, sans-serif, arial;
		color:#ff944c; /*#66732d*/ /*#cad39c*/ /* #f0f0f0*/ /*#ffffff*/
		padding: 0.4em 0.5em; /*0.7em 1.2em*/ /*0.7em 1.2em*/ /*0.7em 1.2em*/ /* 0.7em 1.2em*/
		margin: 0.7em 0.7em; /*0em*/ /*0em*/ /*0em*/ /* 0em*/
		border: 2px solid #ff9900; /*0px solid #ffffff*/ /*0px solid #ffffff*/ /*0px solid #ffffff*/ /* 0px solid #ffffff*/
		border-top-width:2px; /*0px*/ /*0px*/ /*0px*/ /* 1px*/
	}

		.right_link_portlet .content{
			padding: 0.5em 0em;
			border:0px solid #ffffff; /*0px solid #ffffff*/ /*1px solid #c1c19d*/ /* 1px solid #eeeeee*/ /*0px solid #ffffff*/
		}

		.right_link_portlet .content ul{
			padding:0em;
			margin:0em;
		}

		.right_link_portlet .content li{
			color:#336633; /*inherit*/ /*inherit*/ /* #006cad*/ /*#637785*/
			font-size: 0.9em;
			list-style-type:none;
			padding: 0.2em 0.8em;
		}

		.right_link_portlet a{
			font-size: 0.9em;
			text-align: left;
			text-decoration: underline;
			color:#336633; /*#2f2d21*/ /*#222222*/ /* #006cad*/ /*#637785*/
		}

		.right_link_portlet a:visited{
			color:#777777; /*#666666*/ /*#666666*/ /* #666666*/ /*#999999*/
		}

		.right_link_portlet a:hover{
			text-decoration: none;
		}

		.right_link_portlet .portlet-title a {
			color: #FF944C;
			text-decoration:  none; 
			font-size: 105%;
		}
		.right_link_portlet .portlet-title a:hover {

		}
		.right_link_portlet .portlet-title a:visited {
			color: #FF944C;
		}

	/* errors and messages box */
	.system-msg {
		border: 1px solid black;
		padding: 1em;
		margin-bottom: 1em;
	}

	/* Operations buttons */
	.floated-buttons {
		float: right;
		margin-right: 0.5em;
	}

	.buttons {
		font-weight: bold;
	}

	 .buttons a {
		text-decoration: none;
		background-color:#f8faf4; /*#c6c6a5*/ /*#c4c4a2*/ /* #6dabd0*/ /*#748692*/
		color:#336633; /*#343434*/ /**/ /* #ffffff*/ /*#ffffff*/
		line-height: 2em;
		border-left:2px solid #CCCCCC;  /*2px solid #ecefe2*/ /*4px solid #c4c4a2*/ /*2px solid #EEEEEE*/ /*2px solid #E0E7E9*/
		border-top:2px solid #CCCCCC; /*2px solid #ecefe2*/ /**/ /*2px solid #EEEEEE*/ /*2px solid #E0E7E9*/
		border-bottom:2px solid #8EB64E; /*2px solid #4D4D31*/ /**/ /*2px solid #2F6C91*/ /*2px solid #56656D*/
		border-right:2px solid #8EB64E; /*2px solid #4D4D31*/ /**/ /*2px solid #2F6C91*/ /*2px solid #56656D*/
		padding:0.2em 0.5em;
		margin: 0em 0.3em;
		font-size: 90%;
		font-weight: bold;
	}

	.buttons a:visited {
		color:#336633; /*#343434*/ /**/ /* #ffffff*/ /*#ffffff*/
	}

	/* folder index styles */
	#admin_this_folder{
		padding: 0.5em;
		border:1px solid #cfe0b4; /*1px solid #e4e4d6*/ /*1px solid #d5d7bf*/ /* 1px solid #ddebf4*/ /*1px solid #d2d9dd*/
		background-color:#cfe0b4; /*#e4e4d6*/ /*#d5d7bf*/ /* #ddebf4*/ /*#d2d9dd*/
		text-align: left;
		text-indent: 0.3em;
	}
	
	#admin_this_folder #submission {
		font-weight: bold;
	}
	
	#admin_this_folder a {
		text-decoration: none;
		background-color:#f8faf4; /*#c6c6a5*/ /*#c4c4a2*/ /* #6dabd0*/ /*#748692*/
		color:#336633; /*#343434*/ /**/ /* #ffffff*/ /*#ffffff*/
		font-weight: bold;
		line-height: 2em;
		border-left:2px solid #CCCCCC;  /*2px solid #ecefe2*/ /*4px solid #c4c4a2*/ /*2px solid #EEEEEE*/ /*2px solid #E0E7E9*/
		border-top:2px solid #CCCCCC; /*2px solid #ecefe2*/ /**/ /*2px solid #EEEEEE*/ /*2px solid #E0E7E9*/
		border-bottom:2px solid #8EB64E; /*2px solid #4D4D31*/ /**/ /*2px solid #2F6C91*/ /*2px solid #56656D*/
		border-right:2px solid #8EB64E; /*2px solid #4D4D31*/ /**/ /*2px solid #2F6C91*/ /*2px solid #56656D*/
		padding:2px 2px; 
		font-size: 90%;
	}

	#admin_this_folder span {
		padding:0em 0.4em;
		margin: 0em 0.3em;
	}

	#admin_this_folder img {
		vertical-align: middle;
		padding-right: 4px;
	}

	#admin_this_folder select {
		vertical-align: middle;
	}

	#toolbar{
		padding: 0.6em;
		padding-left: 0.6em;
		margin-top: 0.9em;
		background-color:#a6c574; /*#c1c19d*/ /*#7e8c37*/ /* #c2dceb*/ /*#abb8c1*/
	}

	#toolbar a{
		text-decoration: none;
	}

	#toolbar span{
		white-space: nowrap;
		font-size: 0.85em;
		font-weight: bold;
		background-color:#e6e6e6; /*#e6e6e6*/ /*#eeeeee*/ /* #e6e6e6*/ /*#e6e6e6*/
		border-top:1px solid #bebebe; /*1px solid #bebebe*/ /*1px solid #bebebe*/ /* 1px solid #bebebe*/ /*1px solid #bebebe*/
		border-left:1px solid #bebebe; /*1px solid #bebebe*/ /*1px solid #bebebe*/ /* 1px solid #bebebe*/ /*1px solid #bebebe*/
		border-bottom:1px solid #333333; /*1px solid #333333*/ /*1px solid #333333*/ /* 1px solid #303030*/ /*1px solid #333333*/
		border-right:1px solid #333333; /*1px solid #333333*/ /*1px solid #333333*/ /* 1px solid #303030*/ /*1px solid #333333*/
		margin-right: 0.4em;
		padding:0.15em;
		padding-left: 0.3em;
		color:#333333; /*#333333*/ /* #333333*/ /* #333333*/ /*#333333*/
	}
		#toolbar img{
			position: relative;
			top:1px;
		}

	div#toolbar input[type="submit"] {
		border: 1px outset white;
		font-size: x-small;
		color: white;
		background-color: #637048;
		width: 6em;
	}

	div.folderfile_container {
		margin-right:200px;
	}

	table#folderfile_list{
	/*
	<tal:block tal:condition="python: len(here.get_right_portlets_locations_objects(here)) > 0">
		width: 79%;
	</tal:block>
	<tal:block tal:condition="python: len(here.get_right_portlets_locations_objects(here)) == 0">
		width: 100%;
	</tal:block>
	*/
	}

	#folderfile_list th{
		background-color:#eeeeee; /*#d5d7be*/ /*#d5d7bf*/ /* #eeeeee*/ /*#e5e5e5*/
		padding: 0.1em;
		color:#000000; /*#000000*/ /*#000000*/ /* #303030*/ /*#000000*/
		font-size: 0.9em;
		font-weight: normal;
		border-right:1px solid #c7c7c7; /*1px solid #b9bbad*/ /*1px solid #b9b9b9*/ /* 1px solid #c7c7c7*/ /*1px solid #c2c2c2*/
	}

	#folderfile_list td{
		color:#333333; /*#333333*/ /*#333334*/ /* #999999*/ /*#333333*/
		padding: 0.4em 0.1em;
		border-bottom:1px solid #eeeeee; /*1px solid #e4e5d5*/ /*1px solid #d5d7bf*/ /* 1px solid #eeeeee*/ /*1px solid #eeeeee*/
	}

	#folderfile_list .checkbox{
		vertical-align: top;
		text-align: left;
		padding-left: 0.3em;
		padding-right: 0.3em;
	}

	#folderfile_list th.checkbox{
		vertical-align: middle;
	}

	#folderfile_list .type{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.type{
		vertical-align: middle;
	}

	#folderfile_list .title-column{
		vertical-align: middle;
		text-align: left;
	}

		td.title-column a{
			color:#336633; /*#003366*/ /*#003399*/ /* #0f75b3*/ /*#286185*/
		}
		td.title-column a:hover{
			text-decoration: none;
		}

	#folderfile_list th.title-column{
		vertical-align: middle;
		padding-left: 0.3em;
	}

	#folderfile_list .checkin{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.checkin{
		vertical-align: middle;
	}

	#folderfile_list .checkout{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.checkout{
		vertical-align: middle;
	}

	#folderfile_list .edit{
		vertical-align: top;
		text-align: center;
	}
	#folderfile_list th.edit{
		vertical-align: middle;
	}
	/* Object language availability */

	.available_langs {
		font-size: x-small;
	}

	.available_langs a{
		border-right: 1px solid #0F75B3;
		padding-right: 0.3em;
		padding-left: 0.3em;
	}

	.available_langs a:first-child {
		border-left:1px solid #0F75B3;
	}
	/*______- sortables columns -_____ */


	/* -------ASC SORT--------- */
	.sort_asc_th {
		padding: 0em;
		background-color: #DEECF4;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
	}

		.sort_asc_th img {
			display: none;
		}

	.sort_asc_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;
		background-image: url('sort_asc.gif');
		background-repeat: no-repeat;
		background-position: right center;
	}

	/* ----------DESC SORT---------- */
	.sort_desc_th {
		padding: 0em;
		background-color: #DEECF4;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
		font-weight: normal;
	}

		.sort_desc_th img {
			display: none;
		}

	.sort_desc_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;	
		background-image: url('sort_desc.gif');
		background-repeat: no-repeat;
		background-position: right center;
	}

	/* -----------SORTABLE------------- */
	.sort_th {
		padding: 0em;
		background-color: #DEECF4;
		vertical-align: middle;
		color: #6d6d6d;
		text-align: left;
		text-indent: 1em;
		border-top: 2px solid white;
		border-right: 1px solid white;
		border-left: 1px solid white;
		border-bottom: 2px solid white;
	}

	.sort_th a {
		background-color: #DEECF4;
		display: block;
		width: 100%;
		padding: 0.6em 0em;
		vertical-align: middle;
		text-decoration: none;
		font-weight: bold;
		color: #1578B0;
	}

	/* Tabbed menus  */
	#tabbedmenu {
		float:left;
		width:100%;
		border-bottom: thin solid #E3E2D3;
		font-size: 1em;
		line-height:normal;
		margin-bottom: 1em;
	}
	#tabbedmenu ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
	}
	#tabbedmenu li {
		float:left;
		background:url("tableft.gif") no-repeat left top;
		margin:0;
		padding:0 0 0 9px;
		white-space: nowrap;
	}
	#tabbedmenu a {
		display:block;
		text-decoration: none;
		font-weight: bold;
		color: black;
		background:url("tabright.gif") no-repeat right top;
		padding:5px 15px 4px 6px;
	}
	#tabbedmenu #currenttab {
		background-image:url("tableft_on.gif");
	}
	#tabbedmenu #currenttab a {
		text-decoration: none;
		font-weight: bold;
		background-image:url("tabright_on.gif");
		padding-bottom: 5px;
	}
	#tabbedmenu #currenttab span {
		display:block;
		text-decoration: none;
		font-weight: bold;
		background:url("tabright_on.gif") no-repeat right top;
		padding:5px 15px 4px 6px;
	}

	/* warning box for active versions of items */
	.version_box {
		background-color: #f4fff4;
		color: red;
		padding: 1em;
		float: right;
		border: 1px solid black;
		width: 200px;
		text-align: center;
	}

	/* Content translation boxes */
	.edit-holder {
		margin: 1.5em 0 0 0;
	}
	.translate {
		background: #fff;
		color: #333;
		font-size: 95%;
		font-weight: normal;
		font-family:Arial, Helvetica, sans-serif;
		line-height: 2.3em;
	}
	*html .translate {
		padding: 0;
	}
	*:first-child+html .translate {
		padding: 0;
	}
	.translate span {
		padding: 0.5em;
	}
	*html .translate span {
		padding: 0;
	}
	*:first-child+html .translate span {
		padding: 0;
	}
	.translate a {
		color: #000;
		background: #def2cc;
		text-decoration: none;
		font-weight: bold;
		padding: 0.5em;
		margin: 0 0 0 0.7em;
	}
	.translate .current {
		margin: 0 0 0 0.7em;
		padding: 0.5em;
		display: inline;
		background: #def2ff;
	}
	.translate .current span {
		color: #444444;
		font-weight: normal;
		padding: 0 3px 0 3px;
	}
	.translate a:hover {
		background: #def299;
		color: #666666;
	}
	.translate_bar_right {
		display: inline;
		float: right;
		width: 30em;
		text-align: right;
		position: relative;
		margin: 1em;
		font-size: 95%;
	}

.edit_right_box {
	clear: both;
	background-color: #f4fff4;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: right;
	margin: 0.5em 1em 0.5em 0;
}

.edit_right_box p {
	font-size: 90%;
	text-align: justify;
	border-top: 1px dotted #000;
	padding-top: 0.5em;
}

	/* styles for forms */
	.field {
		margin: 1em;
	}

	.field-inline {
		margin: 1em 0 0 1em;
	}

	.field label {
		display: block;
		font-weight: bold;
		margin-bottom: 0.3em;
	}

	.field-inline label {
		font-weight: bold;
		margin-bottom: 0.3em;
	}

	.field .invisible {
		display: none;
	}

	.field-inline .invisible {
		display: none;
	}

	/*EPOZ widget*/
	body.visualFontSizeCorrection { /*do not display bg-image in EPOZ*/
		background-image: none;
		background-color: transparent;
		font-size: 80%;
	}

	/*	EPOZ buttons	*/
	.epoz_button_strikethrough {display:none;}
	.epoz_button_subscript {display:none;}
	.epoz_button_superscript {display:none;}
	.epoz_button_unformat {display:none;}
	.epoz_button_anchor {display:none;}
	.epoz_button_undo {display:none;}
	.epoz_button_redo {display:none;}

	/*  Comment box form */
	.comment_box {
		background-color:#FAFAFA; 
		border: 1px dashed #cccccc; 
		margin:1em;
		padding:1em;
		}

	.deletecomment {
		font-size: 90%;
		float:right;
		background-color:#EBEBEB;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-right: 3px;
		padding-left: 18px;
		border-top:1px solid #eeeeee;
		border-left:1px solid #eeeeee;
		border-bottom:1px solid #777777;
		border-right:1px solid #777777;
		color:#666666;
		text-decoration: none;
		background-image: url(trash.gif);
		background-repeat: no-repeat;
		background-position: left center;

		margin-bottom: 0.5em;
		/*text-indent: 17px;*/
	}

	.addcomment {
		font-size: 90%;
		background-color:#EBEBEB;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-right: 3px;
		padding-left: 18px;
		border-top:1px solid #eeeeee;
		border-left:1px solid #eeeeee;
		border-bottom:1px solid #777777;
		border-right:1px solid #777777;
		color:#666666;
		text-decoration: none;
		background-image: url(addcomment.gif);
		background-repeat: no-repeat;
		background-position: left center;
		margin-bottom: 0.5em;
	}

	.logincomment {
		font-size: 90%;
		background-color:#EBEBEB;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-right: 3px;
		padding-left: 18px;
		border-top:1px solid #eeeeee;
		border-left:1px solid #eeeeee;
		border-bottom:1px solid #777777;
		border-right:1px solid #777777;
		color:#666666;
		text-decoration: none;
		background-image: url(logintoadd.gif);
		background-repeat: no-repeat;
		background-position: left center;
		margin-bottom: 0.5em;
	}

	.commentbox_title {
		font-weight: bold;
		font-size: 110%;
		/*text-indent: 17px;*/
		padding-left: 17px;
		background-image: url(comment.gif);
		background-repeat: no-repeat;
		background-position: left center;
		
	}

	.commentbox_content {
		color:#666666; 
		font-size: 80%;
	}

	.commentbox_add {
		margin: 1em;
		/*padding-left:1em;*/
	}

	.hr_addcomment {
		border-top: 1px solid #eaeaea; 
		border-bottom:1px solid white;
	}

	.hr_inside_comment {
		border-top: 1px solid #eaeaea; 
		border-bottom:1px solid white; 
		margin-top:0.5em;
	}

/* +++++++++++++++++++++++  modified on febr 19 2006 +++++++++++++++++*/

	.tabs_admin {
		float:left;
		width:100%;
		/* border-bottom: thin solid #E3E2D3; */
		font-size: 1em;
		line-height:normal;
		margin-bottom: 1em;
		font-size: 80%;
	}

	.tabs_admin ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
	}

	.tabs_admin li {
		float: left;
	/*	background: url("tableft.gif") no-repeat left top;*/
		margin: 0 0 0 5px;
		padding: 0 0 0 9px;
		white-space: nowrap;
		border-top: 1px solid #879AA7; /* custom-color-border*/
		border-left: 1px solid #879AA7; /* custom-color-border*/
		border-right: 1px solid #879AA7; /* custom-color-border*/
	}


	.tabs_admin a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #637785; /* custom-color-a.font */
/*		background: url("tabright.gif") no-repeat right top;*/
		padding: 5px 15px 4px 6px;
	}

	.tabs_admin .currenttab {
	/*	background-image: url("tableft_on.gif");*/
		background-color: #879AA7; /* custom-color-border*/ /*#F6F6F7;*/
	}
	.tabs_admin .currenttab a {
		text-decoration: none;
		font-weight: bold;
	/*	background-image: url("tabright_on.gif"); padding-bottom: 5px;*/
		color: white;
	}

	.tabs_admin .currenttab span {
		display: block;
		text-decoration: none;
		font-weight: bold;
	/*	background: url("tabright_on.gif") no-repeat right top; padding: 5px 15px 4px 6px;*/
	}


	.tabs_admin a:visited {
		color: #637785; /* custom-color-a.font */
	}
	.tabs_admin .currenttab a:visited {
		color: white;
	}
/*  ++++++++++++++++++++++++++++++++++++++++++ */

	.tabs_firstlevel {
		float:left;
		width:100%;
	/*	border-bottom: thin solid #E3E2D3; */
		border-bottom: 1px solid #879AA7; /* custom-color-border*/
		font-size: 1em;
		line-height:normal;
		margin-bottom: 1em;
		font-size: 80%;
	}

	.tabs_firstlevel ul {
		margin:0;
		padding:10px 10px 0;
		list-style:none;
	}

	.tabs_firstlevel li {
		float: left;
	/*	background: url("tableft.gif") no-repeat left top;*/
		margin: 0 0 0 5px;
		padding: 0 0 0 9px;
		white-space: nowrap;
		border-top: 1px solid #879AA7; /* custom-color-border*/
		border-left: 1px solid #879AA7; /* custom-color-border*/
		border-right: 1px solid #879AA7; /* custom-color-border*/
	}


	.tabs_firstlevel a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #637785; /* custom-color-a.font */
/*		background: url("tabright.gif") no-repeat right top;*/
		padding: 5px 15px 4px 6px;
	}

	.tabs_firstlevel .currenttab {
	/*	background-image: url("tableft_on.gif");*/
		background-color: #879AA7; /* custom-color-border*/ /*#F6F6F7;*/
	}
	.tabs_firstlevel .currenttab a {
		text-decoration: none;
		font-weight: bold;
	/*	background-image: url("tabright_on.gif"); padding-bottom: 5px;*/
		color: white;
	}

	.tabs_firstlevel .currenttab span {
		display: block;
		text-decoration: none;
		font-weight: bold;
	/*	background: url("tabright_on.gif") no-repeat right top; padding: 5px 15px 4px 6px;*/
	}


	.tabs_firstlevel a:visited {
		color: #637785; /* custom-color-a.font */
	}
	.tabs_firstlevel .currenttab a:visited {
		color: white;
	}
/*  ++++++++++++++++++++++++++++++++++++++++++ */
.hr_invisible {
	clear: both; 
	border: 1px solid white;
}

.second_tab_set {
/*	background-color: red; */
	margin-right: 10px; 
/*	border-right: 1px solid green; */
	padding:0;
}
.second_tab_set .tabs_admin {
	background-color: white; 
	padding: 0; 
	margin: 0;
	border-bottom: 1px solid #879AA7; /* custom-color-border*/
	/*#776655; under tabs line !!! */

}

.second_tab_set .tabs_admin ul {
	background-color: white; 
	padding: 0; 
	margin: 0;
}

.second_tabset_content {
	background-color: #F6F6F7; /* custom-color-mainbackground*/
	
	/*	background-color: #F0F0F0;  border: 2px solid blue; border: 1px solid #776655;*/
	padding: 0px 10px 10px 10px;
	
	border-top-width: 0.01em;
}

.second_tabset_content h2 {
	clear: both;
	margin: 0px;
	padding-top: 15px;
}

.role_name_row label {
	vertical-align: middle;
	display: block;
	margin-top: 2px;
}

.role_name_row input {
	border: 1px solid #666666;
	font-size: 110%;
	margin-bottom: 14px;
}

.submission_button {
	margin-top: 20px;
	padding: 1px 2px 0px 2px;
	background-color: #8194A0;  /* custom-color-submit */
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #637785; /* custom-color-a.font */
	border-bottom: 1px solid #637785; /* custom-color-a.font */
	font-size: 100%;
	color: white;
}

/* +++++++++++++++++++++++ END  modified on febr 19 2006 +++++++++++++++++*/

/* SORTABLE TABLES second, to be merged with the existing one */
.sortable {
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 1px outset #fff;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

/* +++++++++ modified on february 21 USERS-ROLES listing #############*/
.roles_per_folder {
	
}
.roles_per_folder ul {
	margin: 0 0 0 1px;
	padding: 0px 3px 0px 3px;
	list-style: none;
	color: #555555;
	border: 1px solid #97A7B0;
}

.roles_per_folder li {
	margin: 3px 0 3px 0px;
	background-color: #eaeaea; 

	padding: 4px;
	
}

.folder_of_roles {
	display: inline; 

}

.list_of_roles {
	display: inline; 

}
/* +++++++++ END modified on february 21 USERS-ROLES listing #############*/

/* END STYLE */

/* Pop-ups epoz*/

.pick_pop_up {
	font-family: Verdana, Arial;
	font-size: 70%;
	color: #333333;
}

.pick_pop_up	a {
	color: #286185;
}

.pick_pop_up h1 {
	margin-top: 0.8em;
	position: relative;
	color:#8da559; /*#ff8800*/ /*#7e8c37*/ /*#7e8c37*/ /* #ff9900*/	
	color: #666666;	
	font-family: arial, sans-serif;
	font-size: 1.9em;
	font-weight: bold;
}

.pick_pop_up input {
	font-size: 100%;
	/*height: 1.8em;*/
	vertical-align: middle;
}

.pick_pop_up table {
	font-size: 100%;
	
}
.pick_pop_up table img {
	border: 3px solid #eaeaea;
}
.pick_pop_up th {
	text-align: left;
	color: #333333;
	font-weight: normal;
	background-color: #eaeaea;
	padding-right: 20px;
	border-bottom: 5px solid white;
}
.pick_pop_up td {
	padding-right: 20px;
}
/* END Pop-ups epoz*/

/* Thesaurus style */

.h2term {
	font-family: Arial, Verdana;
	/*color: #FF9900;*/
	margin-bottom: 20px;  
}

.bar {
	background-color: #EFF6FA;
	color: #006CAE;
	text-align: center;
	font-weight: bold;
	padding: 3px 0px;
	margin: 10px 0px;
font-size: 85%;
}
.item_term {
	margin-bottom: 10px;
font-size: 80%;
}
.item_term a {
	font-weight: bold;
	color: #005A91;
}
.tab_term {
	font-size: 90%;
	color: #333333;
	mergin-bottom: 10px;
}
.tab_term td {
	vertical-align: middle!important;
border-bottom: 1px solid white!important;

}
.th_cat {
	vertical-align: middle!important;
	width: 100px;
	text-align: left;
	font-weight: normal;
background-color: white;
color: #333333;
}

/* Feeds */
div.xmlExportButtons {
  padding-top: 1em;
}

div.xmlExportButtons a {
  border: 1px outset #ff6600;
  background: #fff;
  color: #f60;
  font: bold 85% 'Lucida Grande', Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.1em 0.5em 0.2em 2em;
  margin: 0 0.1em 0 0.1em;
}

div.xmlExportButtons a.pdf {
  background-image: url("images/pdf.gif");
  background-position: left center;
  background-repeat: no-repeat;
}

div.xmlExportButtons a.xml {
  background-image: url("misc_/NaayaCore/xml.png");
  background-position: left center;
  background-repeat: no-repeat;
}

/* Object language availability */

.available_langs {
	font-size: x-small;
}

.available_langs a{
	border-right: 1px solid #0F75B3;
	padding-right: 0.3em;
	padding-left: 0.3em;
}

.available_langs a:first-child {
	border-left:1px solid #0F75B3;
}

 /* CALENDARS & CLOCKS */ 
 .calendarbox, .clockbox { 
 	margin:5px auto; 
	font-size:11px; 
	width:16em; 
	text-align:center; 
	background:white; 
	position:relative; 
	border: 1px solid #ccc;
 } 
 .clockbox { 
 	width:9em; 
 } 
 .calendar { 
 	margin:0; padding: 0; 
 } 
 .calendar table { 
 	margin:0; padding:0; 
	border-collapse:collapse; 
	background:white; 
	width:99%; 
 } 
 .calendar caption, .calendarbox h2 { 
	 margin: 0; 
	 font-size:11px; 
	 text-align:center; 
	 border-top:none; 
 } 
 .calendar th { 
	 font-size:10px; 
	 color:#666; 
	 padding:2px 3px; 
	 text-align:center; 
	 background:#e1e1e1 url(misc_/Naaya/nav-bg.gif) 0 50% repeat-x; 
	 border-bottom:1px solid #ddd; 
 } 
 .calendar td { 
	 font-size:11px; 
	 text-align: center; 
	 padding: 0; 
	 border-top:1px solid #eee; 
	 border-bottom:none; 
 } 
 .calendar td.selected a { 
	 background: #C9DBED; 
 } 
 .calendar td.nonday { 
	 background:#efefef; 
 }
 .calendar td.today a { 
	 background:#ffc; 
 } 
 .calendar td a, .timelist a { 
	 display: block; 
	 font-weight:bold; 
	 padding:4px; 
	 text-decoration: none; 
	 color:#444; 
 } 
 .calendar td a:hover, .timelist a:hover { 
	 background: #5b80b2; 
	 color:white; 
 } 
 .calendar td a:active, .timelist a:active { 
	 background: #036; 
	 color:white; 
 } 
 .calendarnav { 
	 font-size:10px; 
	 text-align: center; 
	 color:#ccc; margin:0; 
	 padding:1px 3px; 
 } 
 .calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { 
 	color: #999; 
	text-decoration: none;
	font-weight: bold;
	padding: 3px;
 } 
 .calendar-shortcuts { 
 	background:white; 
	font-size:10px; 
	line-height:11px; 
	border-top:1px solid #eee; 
	padding:3px 0 4px; 
	color:#ccc; 
 } 
 .calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { 
	 display:block; 
	 position:absolute; 
	 font-weight:bold; 
	 font-size:12px; 
	 background:#C9DBED url(misc_/Naaya/default-bg.gif) bottom left repeat-x; 
	 padding:1px 4px 2px 4px; 
	 color:white; 
	 text-decoration: none;
 } 
 .calendarnav-previous:hover, .calendarnav-next:hover { 
	 background:#036; 
 } 
 .calendarnav-previous { 
	 top:0; left:0; 
 } 
 .calendarnav-next { 
	 top:0; right:0; 
 } 
 .calendar-cancel { 
	 margin:0 !important; 
	 padding: 4px 0;
	 color: #000 !important; 
	 font-size:10px; 
	 background:#e1e1e1; 
	 border-top:1px solid #ddd; 
 } 
 .calendar-cancel a { 
	 padding:2px; color:#999; 
 } 
 ul.timelist, .timelist li { 
 	list-style-type:none; 
	margin:0; padding:0; 
 } 
 .timelist a { 
	 padding:2px; 
 } 
 .vDateField { 
	 margin-left:4px; 
 }
/* Map styles */
div.marker {
	display: none;
}
div.marker-body {
	width: 290px;
	margin-top: 0;
}
div.marker-more {
	padding: 10px 5px 5px 30px;	/* T   R   B   L */
}
div.marker-body h3 {
	font-weight: bold;
	font-size: 1em;
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
}
.map-button {
	font-size: x-small;
	color: white;
	border: 1px outset white;
	background-color: #637048;
	margin-top: 1em;
	padding: 0.3em 0.2em;
}
#record_counter_message {
	font-size: x-small;
}

/* FORUM STYLES */


.forum_message_top a {
    margin-right: 0px;
    padding: 0px 2px 0px 3px;
    text-decoration: none;
    color: white;
    background-color: #638FBC;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #416B96;
    border-bottom: 1px solid #416B96;
    position: relative;
}

.forum_message_top a:visited {
    color: white;
}
.message_top_buttons {
    float: right;
    margin-top: 2px;
    position: relative;
}

.message_top_buttons2 {
    padding: 2px;
}

.forum_topic {
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    padding: 5px;
    color: #333333;
}
/*
.forum_topic a {
    color: #006CAD;
}

.forum_message a:visited {
    color: #006CAD;
}
*/
.forum_topic_top {
    background-color: #eeeeee;
    padding: 2px 5px 6px 2px;
    font-size: 90%;
}

.forum_topic_author {
    padding: 10px 0 5px 4px;
    border-bottom: 1px dashed #dddddd;
    font-size: 90%;
}

.forum_topic_content {
    margin-top: 10px;
}

.forum_topic_bottom {
    padding:5px;
    border-top: 1px dashed #dddddd;
    font-size: 90%;
}

.forum_messages_slot {
    margin-top: 15px;
}

.forum_message {
    margin-bottom:5px;
    background-color: #F7F7F7;
}
/*
.forum_message a {
    color: #006CAD;
}

.forum_message a:visited {
    color: #006CAD;
}
*/
.forum_message_top {
    background-color:#E9E9E9;
    border-bottom: 1px solid #E4E4E4;
    padding: 2px;
    font-size: 90%;
    color: #006CAD;
    position: relative;
}

.forum_message_top a {
    color: white;
}
.forum_message_top a:visited {
    color: white;
}

.forum_message_top img {
    margin-right: 3px;
    border-left: 3px solid #E4E4E4;
}

.forum_message_author {
    padding:5px;
    border-bottom:1px dashed #E4E4E4;
    font-size: 90%;
    color: #444444;
    }

.forum_message_description {
    padding: 5px;
    color: #111111;
}

.forum_message_bottom {
    padding:5px;
    border-top:1px dashed #E4E4E4;
    color: #666666;
    font-size: 90%;
}
