/* This css is based on a MORE (5 for the moment) IN ONE principle*/
/******************************************/
/* Active-css:BROWN; /* DARK GREEN*/ /* BLUE-WHITE*/ /*INDIGO*/ /*GREEN*/

	body{
	}

	th{
		background-color:#d5d7be; /*#d5d7bf*/ /*#6dabd0*/ /* #e5e5e5*/ /* #cfe0b4*/
		color:#333333; /* #333333*/ /*#ffffff*/ /*#333333*/ /*#333333*/
		padding: 0.3em 0.2em;
		border-right: 1px solid #ddebf4;
	}

	a.skiplink {
		display: none;
	}
	#nav1{
		display: none;
	}
	#nav2{
		display: none;
	}

	#log_lang {
		display: none;
	}

	#banner_logo{
		border:1px solid #eeeeee;
		margin-bottom: 1em;
		clear: both;
	}
	#logo {
		float: left;
	}

	#logo img{
		height: 3em;
		margin-right: 0.6em;
	}

	#banner{
		margin-left:0em;
	}
		#banner_image{
		display: none;
	}

	#site-title{
		font-size: 1.3em;
		color:#000000;
		font-weight:bold;
	}
	#site-subtitle{
		font-size: 0.9em;
		position:relative;
		left:0;
		color:#000000;
		font-weight:bold;
		padding-bottom: 1em;
	}

	#user_id{
		display: none;
	}

	#language{
		display: none;
	}

	td#center_cell {
		border:none;
		padding: 0em;
		background-color: #ffffff;
	}

	#content{
		clear: both;
		margin-right: 1em;
		padding-right:0em;
		background-color: #ffffff;
	}

	#content_table{
		margin-right:0.0em;
	}

	#location-bar{
		display: none;
	}

	#content_info{
		font-size:0.8em;
		border: 0em;
		padding: 0em;
		background-color:#ffffff;
	}

	td#left_cell1{
	}

	td#left_cell2{
	}
		#search{
		display:none;
		}

		.portlet_folder{
		display:none;
		}

	td#right_cell2{
	}

		#right_location{
		display:none;
		}

	#copyright{
		background-color:#ffffff;
		color:#666666;
		font-size:0.7em;
		padding:5em 0em 0.6em 0em;
	}
			

	#footer{
		display:none;
	}
