{% load utils %}
{% load static %}

{% if category_e %}
  {% assign category_e as category %}
{% endif %}

<div class="preview-container">
  <div class="answer">

    <div class="icon">
      <img src="{% static "images/ok.png" %}" />
    </div>

    <div class="response">
      <a data-href="{% url survey:view category.id survey.id %}"
               class="preview">{{ survey.title }}</a>
    </div>

    <div class="author">
      (answered by 
      {% if survey.user == request.user %}you{% else %}
        {{ survey.user }}
      {% endif %} on {{ survey.date|date:"l, jS" }} of {{survey.date|date:"N"}}, at {{survey.date|date:"H:i" }})
    </div>
  </div>

  <div class="hide-answer" style="display: none;">[ hide ]</div>
</div>
