{% load utils %}

{% if category_e %}
  {% assign category_e as category %}
{% endif %}

<div class="preview-container">
  <table cellpadding="0" cellspacing="0" class="datatable preview-table">

    <tbody>

      <tr>
        <th>
          <a data-href="{% url survey:view category.id survey.id %}"
             class="preview">{{ survey.title }}</a>
        </th>
        <td>answered by <span class="answer-author">
        {% if survey.user == request.user %} you {% else %}
        {{ survey.user }}
      {% endif %}</span></td>
      </tr>

    </tbody>

  </table>

  <div class="hide-preview" style="display: none;">[ hide ]</div>
</div>

