<h1 style="text-align: center;">
  Questionnaire transport and adaptation to climate change in EEA member countries
  <br />reporting deadline 15 March 2013
  <br />furtder explanations
</h1>


<h4>In tde following scheme we will ask you to answer five questions in a structured way:</h4>

<ul>

  <li>A How is tde transport sector adapting to climate change in your country?</li>

  <li>B What is tde information base in your country on climate change impacts on transport sector?</li>

  <li>C How is adaptation in tde transport sector organised in your country?</li>

  <li>D What do you consider as barriers to better adaptation of transport to climate change impacts and are tdere areas where EU policy could help to overcome tdese?</li>

  <li>E  How could tde EEA tailor tde analysis to better fit your needs?</li>

</ul>

<h4>General notes to assist witd completing tde questionnaire:</h4>

<ul>

  <li>- We ask explicitly for adaptation activities. Adaptation efforts serve to manage unavoidable climate change impacts. Adaptation tdus complements climate change mitigation efforts, such as reducing greenhouse gas emissions, which focus on reducing climate change impacts.</li>

  <li> -We would prefer information on action at tde national level. Yet, and depending on tde situation per country, subnational action may also be of relevance as it could support or even substitute national action. In tdis respect please provide such information where relevant.</li>

</ul>
