{% extends 'frame.html' %}


{% block content %}

{% include 'overview/header.html' %}

<h4 style="margin: 0; padding: 0;">Please indicate the contact details of the person who has completed this questionnaire.</h4>
<p>(Note, additional contact names can be provided at the end of the questionnaire)

<form action="" method="POST">

  <table cellspacing="0" cellpadding="0">

    <tbody>
      <tr>
        <td style="width: 120px;">{{ form.first_name.label_tag }}</td>
        <td>
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </td>
      </tr>

      <tr>
        <td>{{ form.last_name.label_tag }}</td>
        <td>
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </td>
      </tr>

      <tr>
        <td>{{ form.country.label_tag }}</td>
        <td>
          {{ form.country }}
          {{ form.country.errors }}
        </td>
      </tr>

      <tr>
        <td>{{ form.affiliation.label_tag }}</td>
        <td>
          {{ form.affiliation }}
          {{ form.affiliation.errors }}
        </td>
      </tr>

      <tr>
        <td>{{ form.position.label_tag }}</td>
        <td>
          {{ form.position }}
          {{ form.position.errors }}
        </td>
      </tr>

      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>
          {{ form.email }}
          {{ form.email.errors }}
        </td>
      </tr>

      <tr>
        <td>{{ form.phone.label_tag }}</td>
        <td>
          {{ form.phone }}
          {{ form.phone.errors }}
        </td>
      </tr>

    </tbody>

  </table>

  <div>
    <button type="submit">Save</button>
  </div>

</form>

{% endblock %}