{%- macro css_link(filename, media) -%}
  <link rel="stylesheet" href="{{ url_for('static', filename=filename) }}"
        {% if media %}media="{{ media }}"{% endif %} />
{%- endmacro %}

{% macro script_src(filename) -%}
<script src="{{ url_for('static', filename=filename) }}"></script>
{%- endmacro %}

{% macro eea_theme_image_and_link(name, label) %}
  <a href="http://www.eea.europa.eu/themes/{{ name }}" rel="external">
      <img src="{{ url_for('static', filename='themes/%s-40.png' % name) }}">
      {{ label }}
  </a>
{% endmacro %}
