{% extends "frame.html" %}
{%- from 'bits.html' import css_link, script_src -%}

{% block head %}
    {{ css_link('bootstrap/css/bootstrap.css') }}
    {{ css_link('bootstrap/css/bootstrap-responsive.css') }}

    {{ css_link('css/bootstrap-ui/jquery-ui-1.8.16.custom.css') }}
    {{ css_link('css/bootstrap-ui/jquery.ui.1.8.16.ie.css') }}
    {{ css_link('css/style.css') }}
    <title>{% block title %}SERIS{% endblock %}</title>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block messages %}
    <div class="messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock messages %}

{% block seris_content %}

    {{ script_src("js/lib/jquery-1.7.1.min.js") }}
    {{ script_src("js/lib/jquery-ui-1.8.18.custom.min.js") }}
    {{ script_src("js/main.js") }}

    <script>var app = {};</script>

    {% block scripts %}
    {% endblock %}

{% endblock %}
