{% extends "frame.html" %}
{%- from 'bits.html' import css_link, script_src -%}

{% block head %}
    <!--{{ css_link('bootstrap/css/bootstrap.css') }}
    {{ css_link('bootstrap/css/bootstrap-responsive.css') }}

    {{ css_link('css/bootstrap-ui/jquery-ui-1.8.16.custom.css') }}
    {{ css_link('css/bootstrap-ui/jquery.ui.1.8.16.ie.css') }}-->
    {{ css_link('css/style.css') }}
    <title>{% block title %}SERIS{% endblock %}</title>

    <script>var app = {};</script>

    {% block scripts %} {% endblock %}

    {% block extra_head %}{% endblock %}
{% endblock %}

{% block messages %}
    <script type="text/javascript">
      $(document).ready(function(){
        //Overwrite the came_from value for a correct redirect
        $('a[href^="http://projects.eionet.europa.eu/seris-revision/login_html?came_from"]')
            .attr('href', 'http://projects.eionet.europa.eu/seris-revision/login/login_form?disable_cookie_login__=1&came_from='+$(location).attr('href'));
        $('a[href^="http://forum.eionet.europa.eu/nrc-state-environment/login_html?came_from"]')
            .attr('href', 'http://forum.eionet.europa.eu/nrc-state-environment/login/login_form?disable_cookie_login__=1&came_from='+$(location).attr('href'));
        if (location.host.indexOf('forum') == 0){
          $('.breadcrumbitemlast a').attr('href', '/nrc-state-environment/seris');
        }
        else {
          $('.breadcrumbitemlast a').attr('href', '/seris-revision/seris');
        }
      });
    </script>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock messages %}

{% block seris_content %}


{% endblock %}
