{% extends 'layout.html' %}
{% block scripts %}

    {{ script_src("js/main.js") }}
    {{ script_src("js/edit.js") }}
    {#{ script_src("js/chosen/chosen.jquery.min.js") }#}
    {{ script_src("js/select2/select2.min.js") }}

    <script type="text/javascript">
        jQuery(document).ready(function(){
            //$('.chzn-select').chosen();
            $('.chzn-select').select2();
        });
    </script>

{% endblock %}

{% block extra_head %}
    {#{ css_link('css/chosen/chosen.css') }#}
    {{ css_link('js/select2/select2.css') }}
{% endblock %}

{% block seris_content %}

<div class="report-actions">
    [<a href="{{url_for('views.report_list')}}">
        Back to reports list
    </a>]
    {% if report_id %}
        [<a href="{{url_for('views.report_view',
            report_id=report_id)}}">
            View Report
        </a>]
    {% endif %}
</div>

{% if report_id %}
    <h1>Edit report</h1>
    {% set link = url_for('views.report_edit', report_id=report_id) %}
{% else %}
    <h1>Add report</h1>
    {% set link = url_for('views.report_edit') %}
{% endif %}

{% set cover = report_schema['header']['soer_cover'] %}
{% if (not cover.is_empty) %}
  {% set url = url_for('views.download', db_id=cover.u) %}
  <a href="{{ url }}"><img src="{{ url }}" class="report-header_soer_cover" height="160"></a>
{% endif %}

<form action="{{ link }}" method="post" enctype="multipart/form-data">
  {{ mk.widget(report_schema) }}
  {{ mk.widget(seris_review_schema) }}
  <div>
    <input class="primary-button" type="submit" name="btnSave" value="Save report" />
  </div>
</form>


{% endblock seris_content %}
