{%- macro input(mk, field) %}
  {{ field.value }}
{% endmacro -%}

{% macro hidden(mk, field) %}
  {{ mk.input(field, type="hidden") }}
{% endmacro %}

{%- macro textarea(mk, field) %}
  <div>{{ field.value }}</div>
{% endmacro -%}

{%- macro select(mk, field) %}
  {% set value_label = (field.properties.value_labels[field.value]
     if field.properties.value_labels else field.value) %}
  {{ value_label }}
{% endmacro -%}

{% macro chosen_select(mk, field) %}
    {{ select(mk, field) }}
{% endmacro %}

{%- macro checkbox(mk, field) %}
  {% if field.value %}
    <i class="icon-ok"></i>
  {% else %}
    <i class="icon-remove"></i>
  {% endif %}
{% endmacro -%}

{% macro file(mk, field) %}
  {% if (not field.is_empty) %}
    {% set url = url_for('views.download', db_id=field.u) %}
    {% if field.properties['widget_image'] %}
      <img src="{{ url }}">
    {% else %}
      <a href="{{ url }}" rel="nofollow">download</a>
    {% endif %}
  {% endif %}
{% endmacro %}

{%- macro date(mk, field) %}
  {{ field.value or "" }}
{% endmacro -%}

{% macro topics_radioselect(mk, field) %}
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
      if field.properties.value_labels else value) %}
  <td>
  {{ mk.input(field, type='radio', value=value, disabled='true') }}
  </td>
  {% endfor %}
{% endmacro %}

{% macro topics_columns(mk, schema) %}
      {% set field = schema['focus'] %}
      {{ mk.widget(field) }}
      {% set field = schema['indicators'] %}
      {{ mk.widget(field) }}
  </tr> {# closes the row of the CommonTopicsDict #}
{% endmacro %}

{% macro topics_subgroup(mk, schema) %}
  </tr>
  <tr>
  {%- for name in mk.children_order(schema) %}
    <td>
        {% set field = schema[name] %}
        {{ field.label }}
    </td>
  {{ mk.widget(field) }}
  {% endfor -%}
  </tr>
{% endmacro %}

{% macro topics_group(mk, group) %}
    <table class="topics-table">
        <tr>
            <th></th>
            <th colspan="4" class="focus-column">
                Focus
            </th>
            <th colspan="4" class="indicators-column">
                Indicators
            </th>
        </tr>
        <tr>
            <td></td>
            <td class="radio">Major,</td>
            <td class="radio"> some,</td>
            <td class="radio"> minor,</td>
            <td class="radio"> none</td>

            <td class="radio">Several,</td>
            <td class="radio"> some,</td>
            <td class="radio"> few,</td>
            <td class="radio"> none</td>
        </tr>
    <tbody>
    {%- for name in mk.children_order(group) %}
    <tr>
      <td colspan="9" class="topics-group {{ error_cls }}">
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
      </td>
      <td>
        {{ mk.widget(field) }}
        <span class="controls">
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
        </span>
      </td>
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_group(mk, group) %}
    <table class="indicators-table">
        <thead>
            <tr>
                <th></th>
                <th class="radio">Most (>50%)</th>
                <th class="radio">Some (<50%)</th>
                <th class="radio">None</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {%- for name in mk.children_order(group) %}
    <tr>
      <td class="indicators-group {{ error_cls }}">
    {% if name not in "evaluation_method" %}
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
        {{ mk.widget(field) }}
        <span class="controls">
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
        </span>
        {% if name not in "to_evaluate" %}
          </td>
        </tr>
        {% else %}
        </td>
        <td>
            {% set field = group["evaluation_method"] %}
            {% set error_cls = 'error' if field.errors else '' %}
            {{ mk.label(field, class='control-label', contents=field.label) }}
            <div>
                {{ mk.widget(field) }}
            </div>
            <div class="controls">
              {% for message in field.errors %}
                <span class="help-inline">{{ message }}</span>
              {% endfor %}
            </div>
            </td>
        </tr>
        {% endif %}
    {% endif %}
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <td>{{ mk.input(field, type='radio', value=value, disabled='true') }}</td>
      {% endfor %}
{% endmacro %}

{% macro checkbox(mk, field) %}
  {{ mk.input(field, type="checkbox") }}
{% endmacro %}

{% macro subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <div class="subgroup">
        {% set field = schema[name] %}
        {{ field.label }}
        <div class="controls">
            {{ mk.widget(field) }}
        </div>
    </div>
  {% endfor -%}
{% endmacro %}

{% macro group(mk, group) %}
    {%- for name in mk.children_order(group) %}
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
      <div class="control-group {{ error_cls }}">
        {{ mk.label(field, class='control-label', contents=field.label) }}
          <div class="controls">
              {{ mk.widget(field) }}
          </div>
      </div>
    {%- endfor %}
{% endmacro %}

{% macro schema(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
      {% if name != "report_id" %}
        {% set field = schema[name] %}
        <div class="section"><h3>{{ field.label }}</h3></div>
        <div>{{ mk.widget(field) }} </div>
      {% endif %}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}

{% macro options_with_labels(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    {{ field.label }} {{ mk.widget(field) }}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}
