{% macro input(mk, field) %}
  {{ mk.input(field) }}
{% endmacro %}

{% macro select(mk, field) %}
  {{ mk.select.open(field, class=field.properties.css_class) }}
  {{ mk.option(field, value="", contents="--") }}
  
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
  {{ mk.option(field, value=value, contents=value_label) }}
  {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}

{% macro radioselect(mk, field) %}
  
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
  {{ mk.input(field, type='radio', value=value) }}
  {% endfor %}

{% endmacro %}

{% macro checkbox(mk, field) %}
  {{ mk.input(field, type="checkbox") }}
{% endmacro %}

{% macro group(mk, group) %}
  <table>
    <tbody>
    {%- for name in mk.children_order(group) %}
    <tr> 
      <td class="control-group {{ error_cls }}">
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
      </td>
      <td>
        {{ mk.widget(field) }}
        <div class="controls">
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
        </div>
      </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro schema(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    <fieldset>
      {{ field.label }} {{ mk.widget(field) }}
     </fieldset>
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}
