{%- from 'bits.html' import eea_theme_image_and_link -%}

{%- macro input(mk, field) %}
  {{ field.u }}
{% endmacro -%}

{% macro hidden(mk, field) %}
  {{ mk.input(field, type="hidden") }}
{% endmacro %}

{%- macro textarea(mk, field) %}
  <div>{{ field.value }}</div>
{% endmacro -%}

{%- macro select(mk, field) %}
  {% set value_label = (field.properties.value_labels[field.value]
     if field.properties.value_labels else field.u) %}
  {{ value_label }}
{% endmacro -%}

{% macro chosen_select(mk, field) %}
  {% set value_labels = field.member_schema.properties.get('value_labels') %}
  {% for v in field.value %}
    {{ value_labels[v] if value_labels else v }}
    {%- if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro %}

{%- macro checkbox(mk, field) %}
  {% if field.value %}
    <i class="icon-ok"></i>
  {% else %}
    <i class="icon-remove"></i>
  {% endif %}
{% endmacro -%}

{% macro file(mk, field) %}
  {% if (not field.is_empty) %}
    {% set url = url_for('views.download', db_id=field.u) %}
    {% if field.properties['widget_image'] %}
      <img src="{{ url }}" width="120" height="160">
    {% else %}
      <a href="{{ url }}" rel="nofollow">download</a>
    {% endif %}
  {% endif %}
{% endmacro %}

{%- macro date(mk, field) %}
  {{ field.value or "" }}
{% endmacro -%}

{% macro radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <span> 
              {{ mk.input(field, type='radio', value=value) }}
              {{ value }}
          <span>
      {% endfor %}
{% endmacro %}

{% macro topics_radioselect(mk, field) %}
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
      if field.properties.value_labels else value) %}
      <td class={{field.properties.css_class}}>
      {{ mk.input(field, type='radio', value=value) }}
      </td>
  {% endfor %}
  {% if field.properties.add_empty_td %}
    <td class="empty"></td>
  {% endif %}
{% endmacro %}

{% macro topics_columns(mk, schema) %}
  {% set field = schema['focus'] %}
  {{ mk.widget(field) }}
  {% set field = schema['indicators'] %}
  {{ mk.widget(field) }}
  </tr> {# closes the row of the CommonTopicsDict #}
{% endmacro %}

{% macro topics_subgroup(mk, schema) %}
<tr>
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    {% if not field.properties.get('extra_topic') %}
    <td>
      {% if field.properties.get('eea_theme_link') %}
        {{ eea_theme_image_and_link(field.name, field.label) }}
      {% else %}
            {{ field.label }}
      {% endif %}
    </td>
    {% endif %}
    {% if field.properties.get('extra_topic') %}
        {% if schema['extra_topic']['extra_topic_input'].value %}
            <td>{{ mk.widget(field) }}</td>
        {% endif %}
    {% else %}
        {{ mk.widget(field) }}
    {% endif %}
  {% endfor -%}
</tr>
{% endmacro %}

{% macro topics_group(mk, group) %}
    <table class="topics-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="4" class="focus-column">
                    Focus
                </th>
                <th></th>
                <th colspan="4" class="indicators-column">
                    Indicators
                </th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="focus-column">Major</td>
            <td class="focus-column">Some</td>
            <td class="focus-column">Minor</td>
            <td class="focus-column">None</td>
            <td></td>
            <td class="indicators-column">Several</td>
            <td class="indicators-column">Some</td>
            <td class="indicators-column">Few</td>
            <td class="indicators-column">None</td>
        </tr>
    {%- for name in mk.children_order(group) %}
        {% set field = group[name] %}
    <tr class="topics-group {{ error_cls }}">
        <td colspan="10">
            {% set error_cls = 'error' if field.errors else '' %}
            {{ mk.label(field, class='control-label', contents=field.label) }}
        </td>
    </tr>
        {{ mk.widget(field) }}
        <span class="controls">
            {% for message in field.errors %}
                <span class="help-inline">{{ message }}</span>
            {% endfor %}
        </span>
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_group(mk, group) %}
    <table class="indicators-table">
        <thead>
            <tr>
                <th>{{group.label}}</th>
                <th class="radio">Most (>50%)</th>
                <th class="radio">Some (<50%)</th>
                <th class="radio">None</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {%- for name in mk.children_order(group) %}
    {% if name not in "evaluation_method" %}
    <tr>
      <td class="indicators-group {{ error_cls }}">
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
        {{ mk.widget(field) }}
        <span class="controls">
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
        </span>
        {% if name not in "to_evaluate" %}
          </td>
        </tr>
        {% else %}
        </td>
        <td>
            {% set field = group["evaluation_method"] %}
            {% set error_cls = 'error' if field.errors else '' %}
            {{ mk.label(field, class='control-label', contents=field.label) }}
            {{ mk.widget(field) }}
            {% for message in field.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </td>
    </tr>
        {% endif %}
    {% endif %}
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <td>{{ mk.input(field, type='radio', value=value) }}</td>
      {% endfor %}
{% endmacro %}

{% macro checkbox(mk, field) %}
  {{ mk.input(field, type="checkbox") }}
{% endmacro %}

{% macro subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <div class="subgroup">
        {% set field = schema[name] %}
        {{ field.label }}
        <div class="controls">
            {{ mk.widget(field) }}
        </div>
    </div>
  {% endfor -%}
{% endmacro %}

{% macro reference_group(mk, schema) %}
  <table>
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    <tr>
        <td>{{ field.label }}</td>
        <td>{{ mk.widget(field) }}</td>
        <td class="helptext">{{ field.properties.get('help') }}</td>
    </tr>
  {% endfor -%}
  </table>
{% endmacro %}


{% macro group(mk, group) %}
    {% set reversed_list = [] %}
    {% set hidden_list = [] %}
    {% set hidden_label_list = [] %}
    {%- for name in mk.children_order(group) %}
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {% if field.properties.get('field_type')=="hidden" %}
            {% do hidden_list.append(name) %}
        {% endif %}
        {% if field.properties.get('hidden_label') %}
            {% do hidden_label_list.append(name) %}
        {% endif %}
        {% if field.properties.get('reversed') %}
            {% do reversed_list.append(name) %}
        {% endif %}
        {% if name not in hidden_list %}
            <div class="field {{ error_cls }}">
            {% if not name in reversed_list %}  
                {% if not name in hidden_label_list %}
                    {{ mk.label(field, class='control-label', contents=field.label) }}
                {% endif %}
              <div class="controls">
                      {{ mk.widget(field) }}
                  {% for message in field.errors %}
                  <span class="help-inline">{{ message }}</span>
                  {% endfor %}
              </div>
            {% endif %}
            {% if name in reversed_list %}
               {{ mk.widget(field) }}
               {{ mk.label(field, class='control-label', contents=field.label) }}
            {% endif %}
            </div>
        {% endif %}
    {%- endfor %}
{% endmacro %}

{% macro schema(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
      {% if name != "report_id" %}
        {% set field = schema[name] %}
        {% if field.label %}
        <div class="section">
            <h3>{{ field.label }}</h3>
        </div>
        {% endif %}
        <div>{{ mk.widget(field) }} </div>
      {% endif %}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}

{% macro options_with_labels(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    {{ field.label }} {{ mk.widget(field) }}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}
