/* INSTEAD OF IE7 HACKS */

#header {
  height: 136px;
}

#header #menu .wrap {
  height: 30px;
}

#header .wrap {
  height: 96px;
}

.actions {
  width: 311px;
  height: 93px;
}

.global-search {
  height: 34px;
}

.global-language {
  height: 29px;
}

.global-search-input {
  height: 22px;
  line-height: 34px;
}

.global-search-submit {
  width: 69px;
  height: 34px;
}

#breadcrumb ul li {
  display: inline;
}

.image-details {
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.mainsection_content,
ul.menu-bar.mainsections-menu ul {
  margin: 0px;
  z-index: 999;
}

body .g-album-content {
  position: static; 
}

#geo_query {
  margin-left: 10px;
}

.portlet ul {
  margin: 0;
}

body .portlet h4 {
  margin: 10px 0px 5px;
}

.mainsections-level1 ul {
  margin-left: 0px;
}

body .lof-slidecontent .preload {
  background: transparent;
}

#header .logo-holder {
  width: 659px;
}

.global-search-submit {
 width: auto;
 height: 24px;
}

body #footer-content-top a.right {
 float: none;
}

body #breadcrumb ul {
 line-height: 115%;
 padding-top: 5px;
 padding-bottom: 5px;
}
