div.consultation_right_box {
	float: right;
	width: 15%;
	border: 1px solid black;
	padding: 0.5em;
	background-color:#FAFAFA;
}

a.consultation-button {
	display: block;
	border: 1px outset black;
	padding: 0.3em;
	background-color: #EDE9E3;
	text-decoration: none;
	text-align: center;
	margin-top: 0.1em;
	color: #042D5D;

}

a.consultation-special-button {
	display: block;
	border: 1px outset black;
	padding: 0.3em;
	background-color: #D2DFFF;
	text-decoration: none;
	text-align: center;
	margin-top: 0.5em;
	color: #042D5D;
}

div.consultation_right_box a, div.consultation_right_box a:visited { color: #042D5D; }

fieldset.consultation-comments {
	width: 80%;
	border: 1px solid black;

}

span.consultation_day_counter {
	color: blue;
	font-weight: bold;
}

div.talkback-comment_floating_box {
	position: absolute;
	width: 600px;
	max-height: 500px;
	overflow: hidden;
	background-color: white;
	border: 2px solid green;
	padding: 10px;
}

a.talkback-comment_close_box {
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 20px;
	background-color: white;
	padding: 3px;
}

div.talkback-js_comment_window {
	overflow: auto;
	width: 600px;
	max-height: 500px;
}

p.talkback-cannot_comment {
	margin-top: 1.5em;
}
