Flask==0.8
Flask-Script==0.3.3
Jinja2==2.6
Werkzeug==0.8.3
argparse==1.2.1
htables==0.5.1
blinker==1.2
flatland==dev
requests==0.11.1
simplejson==2.5.0
path.py==2.2.2
supervisor==3.0a12
psycopg2==2.4.5
rdflib==4.0.1
