#src_list, #over_list, #out_list {width:280px;}
.mceActionPanel {margin-top:7px;}
.alignPreview {border:1px solid #000; width:140px; height:140px; overflow:hidden; padding:5px;}
.checkbox {border:0;}
#prev {margin:0; border:1px solid #000; width:428px; height:150px; overflow:auto;}
#align, #classlist {width:150px;}
#width, #height {vertical-align:middle; width:50px; text-align:center;}
#vspace, #hspace, #border {vertical-align:middle; width:30px; text-align:center;}
#class_list {width:180px;}
input {width: 280px;}
#constrain, #onmousemovecheck {width:auto;}
#id, #dir, #lang, #usemap, #longdesc {width:200px;}

#fe_preview input { width: 5em; }
#fe_preview ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}
#fe_preview li { margin: .5em 0 0 0; }
.cleaner {
	clear: both;
}
.propfield {
	width: 10em;
	float: left;
}

#browse_panel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#browse_panel .selected {
	font-weight: bold;
    background: #919B9C;
    color: white;
}

#browse_panel .selected:hover {
    color: black;
}

#browse_panel .thumbnail {
	border: 1px solid black;
	width: 120px;
	height: 90px;
}

#source {
    float: left;
    width: 30%;
}

#source li {
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}
#source li:last-child {
    border-bottom: 1px solid #C0C0C0;
}

#source li a {
   text-decoration: none; 
   width: 100%;
}
#source li a {
    display: block;
    width: 100%;
}
#source li a:hover {
    background: #F0F0EE;
    color: black;
}


#browser {
    margin-left: 35%;
    width: 62%;
    border: 1px solid #C0C0C0;
    height: 100%;
    padding: .1em;
}

.tip {
	background: #FFFFDD none repeat scroll 0 0;
	border: 1px outset #999966;
	margin-top: 1em;
	padding: 0.5em 1em;
}


/* for select image size */
.g-boxes {
  float: left;
  width: 20em;
}

.g-box {
  margin-top: 0.5em;
  border-color: #DEDEDE;
  border-style: none solid solid;
  border-width: 1px;
}

.g-box a{
  text-decoration: none;
}

.g-box .title {
  border-bottom: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  background: #d5dde1;
  font-size: 120%;
  font-weight: bold;
  padding: 0.5em;
}

.g-box .body {
  margin: 0.5em 0;
}

* html .g-box .body dd {
  margin-left: 0.1em;
}

.g-image-holder {
	text-align: center;
	vertical-align: middle;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

