{% extends 'layout.html' %}
{% block action_buttons %}

<div class="report-actions">
	[<a href="{{ url_for('views.report_edit') }}">
		Add Report
	</a>]
</div>
<hr/>

{% endblock %}

{% block seris_content %}

{% if report_list %}
<div class="reports-listing">
{% if country %}
	<h1>Reports for {{ country }}:</h1>
{% else %}
	<h1>Reports:</h1>
{% endif %}
<table class="table table-bordered table-striped report-listing">
	<thead>
		<th>Name</th>
		<th>Coverage</th>
		<th>Extended content information</th>
		<th>Published on</th>
		<th>Factsheet prepared by</th>
		<th>Prepared on</th>
	</thead>
	<tbody>
	{% for report in report_list %}
		<tr>
			<td>
			<a href="{{url_for('views.report_view', report_id=report['id'])}}">
				{{ report['data']['details']['original_name'] }}
			</a>
			</td>
			<td>
				{{ ', '.join(report['data']['header']['country'].value) }}
			</td>
			<td>{{ report['extended_info'] }}</td>
			<td>{{ report['data']['details']['date_of_publication'] }}</td>
			<td>{{ report['data']['header']['uploader'] }}</td>
			<td>{{ report['data']['header']['upload_date'] }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% else %}
	{% if country %}
		<p>No reports for {{ country }} yet. Click
			<a href="{{url_for('views.report_edit')}}">here</a> to add a new report.</p>
	{% else %}
		<p>No reports yet. Click <a href="{{url_for('views.report_edit')}}">here</a>
		 to add a new report.</p>
	{% endif %}
{% endif %}

{% endblock %}

{% block scripts %}
{{ css_link('lib/datatables/jquery.dataTables.css') }}
{{ script_src('lib/datatables/jquery.dataTables.min.js') }}
<script>
$(document).ready(function() {
	$('.report-listing').dataTable({
		'aaSorting': [[0, "asc"]],
		'sPaginationType': 'full_numbers',
		"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		"iDisplayLength": 25
	});
});
</script>
{% endblock %}
