{% extends 'layout.html' %}

{% block seris_content %}

<div class="report-content">
    <div class="report-actions">
        [<a href="{{url_for('views.report_list')}}">
            Back to reports list
        </a>]
        [<a href="{{url_for('views.report_edit',
            report_id=report['id'])}}">
            Edit Report
        </a>]
    </div>
    <hr/>

    {% set cover = report['data']['header']['soer_cover'] %}
    {% if (not cover.is_empty) %}
      {% set url = url_for('views.download', db_id=cover.u) %}
      <img src="{{ url }}" class="report-header_soer_cover" width="120" height="160">
    {% endif %}

    <h1>{{ ', '.join(report['data']['header']['country'].value) }}</h1>
    <h2>{{ report['data']['details']['english_name'].value or
           report['data']['details']['original_name'].value }}</h2>

    <p class="report-header_upload_date">
      <strong>This fact-sheet was prepared on</strong>:
      {{ report['data']['header']['upload_date'] }}
    </p>

    <p class="report-header_uploader">
      <strong>This fact-sheet was prepared by</strong>:
      {{ report['data']['header']['uploader'] }}
    </p>

    {{ mk.widget(report['data']) }}
    {% if report['seris_reviews'] %}
        {{ mk.widget(report['seris_reviews'][0]['data']) }}
    {% endif %}
</div>

<form action="{{url_for('views.report_delete', report_id=report['id'])}}" method="POST">
    <input class="primary-button" type="submit" value="Delete Report" />
</form>

{% endblock %}

{% block scripts %}
	{{ script_src("js/main.js") }}
{% endblock %}
