{% extends 'layout.html' %}
{% block scripts %}

    {{ script_src("js/main.js") }}
    {{ script_src("js/edit.js") }}
    {{ script_src("js/chosen/chosen.jquery.min.js") }}

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#country_sel").data("placeholder","Select countries...").chosen();
            jQuery("#lang_of_pub_sel").data("placeholder","Select languages...").chosen();
        });
    </script>

{% endblock %}

{% block extra_head %}
    {{ css_link('css/chosen/chosen.css') }}
{% endblock %}

{% block seris_content %}

<div>
    [<a href="{{url_for('views.report_list')}}">
        Back to reports list
    </a>]
</div>

{% if report_id %}
    <h1>Edit report</h1>
    {% set link = url_for('views.report_edit', report_id=report_id) %}
{% else %}
    <h1>Add report</h1>
    {% set link = url_for('views.report_edit') %}
{% endif %}

<form action="{{ link }}" method="post" enctype=multipart/form-data>
  {{ mk.widget(report_schema) }}
  {{ mk.widget(seris_review_schema) }}
  <div>
    <input class="primary-button" type="submit" name="btnSave" value="Save report" />
  </div>
</form>


{% endblock seris_content %}
