{% extends 'layout.html' %}

{% block seris_content %}

<div>
    [<a href="{{url_for('views.report_edit')}}">
        Add Report
    </a>]
</div>
<hr/>
{% if report_list %}
<div>
<h2>Reports:</h2>
<ul>
{% for report in report_list %}
    <li>
        <a href="{{url_for('views.seris_review_list', report_id=report['id'])}}">
            ID: {{ report['id'] }} {{ report['data']['details']['original_name'] }}
        </a>
    </li>
{% endfor %}
</ul>
</div>
{% else %}
<p>No reports yet. Click  
<a href="{{url_for('views.report_edit')}}">here</a>
 to add a new report.</p>
{% endif %}

{% endblock %}
