{% extends 'layout.html' %}

{% block seris_content %}

<h1>Report {{report['id']}}</h1>
{{ mk.widget(report['data']) }}
<div>
    <a href="{{url_for('views.seris_review_add',
        report_id=report['id'])}}">
        Add Review
    </a>
</div>
<ul>
{% for review in report['seris_reviews'] %}
    <li>
      <a href="{{ url_for('views.seris_review_view',
                          report_id=review['data']['report_id'],
                          seris_review_id=review['id']) }}">
          Review {{review['id']}}
      </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
