{%- from 'bits.html' import eea_theme_image_and_link -%}

{%- macro input(mk, field) %}
  {% if not field.value == '' %}
    {{ field.u }}
  {% else %}
    {{ '\u002d'  }}
  {% endif %}
{% endmacro -%}

{% macro hidden(mk, field) %}
  {{ mk.input(field, type="hidden") }}
{% endmacro %}

{%- macro textarea(mk, field) %}
    <div class="textarea">
         {%- if field.value == '' -%}
             {{ '\u002d' }}
         {%- else -%}
            {{ field.u }}
         {%- endif -%}
    </div>
{% endmacro -%}

{%- macro select(mk, field) %}
  {% set value_label = (field.properties.value_labels[field.value]
     if field.properties.value_labels else field.u) %}
         {{ value_label }}
{% endmacro -%}

{% macro multiple_select(mk, field) %}
  {% set value_labels = field.member_schema.properties.get('value_labels') %}
  {% for v in field.value %}
    {{ value_labels[v] if value_labels else v }}
    {%- if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro %}

{% macro file(mk, field) %}
  {% if (not field.is_empty) %}
    {% set url = url_for('views.download', db_id=field.u) %}
    {% if field.properties['widget_image'] %}
      <a href="{{ url }}"><img src="{{ url }}" height="160"></a>
    {% else %}
      <a href="{{ url }}" rel="nofollow">download</a>
    {% endif %}
  {% endif %}
{% endmacro %}

{%- macro date(mk, field) %}
  {{ field.value or "" }}
{% endmacro -%}

{%- macro url(mk, field) %}
    {{ field.value|urlize(trim_url_limit=80, nofollow=False) }}
{% endmacro -%}

{% macro radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          {% if value == field.value %}
             {{ value }}
          {% endif %}
      {% endfor %}
      {% if not field.value in field.valid_values %}
          {{ '\u002d'  }}
      {% endif %}
{% endmacro %}

{% macro topics_radioselect(mk, field) %}
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
      if field.properties.value_labels else value) %}
      <td class={{field.properties.css_class}}>
             {% if value == field.value %}
                 {{ '\u2714'  }}
             {% else %}
                 {{ '\u002d'  }}
             {% endif %}
      </td>
  {% endfor %}
  {% if field.properties.add_empty_td %}
    <td class="empty"></td>
  {% endif %}
{% endmacro %}

{% macro topics_columns(mk, schema) %}
  {% set field = schema['focus'] %}
  {{ mk.widget(field) }}
  {% set field = schema['indicators'] %}
  {{ mk.widget(field) }}
{% endmacro %}

{% macro topics_subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <tr>
    {% set field = schema[name] %}
    {% if not field.properties.get('extra_topic') %}
        <td>
          {% if field.properties.get('eea_theme_link') %}
            {{ eea_theme_image_and_link(field.name, field.label) }}
          {% else %}
                {{ field.label }}
          {% endif %}
        </td>
        {{ mk.widget(field) }}
    {% else %}
        {% if schema['extra_topic']['extra_topic_input'].value %}
            <td>{{ mk.widget(field) }}</td>
        {% endif %}
    {% endif %}
    </tr>
  {% endfor -%}
{% endmacro %}

{% macro topics_group(mk, group) %}
    <table class="topics-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="4" class="focus-column">
                    Focus
                </th>
                <th></th>
                <th colspan="4" class="indicators-column">
                    Indicators
                </th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="focus-column">Major<br/>(chapter)</td>
            <td class="focus-column">Some<br/>(section(s))</td>
            <td class="focus-column">Minor<br/>(ocasionally mentioned)</td>
            <td class="focus-column">None</td>
            <td></td>
            <td class="indicators-column">Several<br/>(>5)</td>
            <td class="indicators-column">Some<br/>(3-5)</td>
            <td class="indicators-column">Few<br/>(1-2)</td>
            <td class="indicators-column">None<br/>(0)</td>
        </tr>
    {%- for name in mk.children_order(group) %}
        {% set field = group[name] %}
    <tr class="topics-group">
        <td colspan="10">
            {{ mk.label(field, class='control-label', contents=field.label) }}
        </td>
    </tr>
        {{ mk.widget(field) }}
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_group(mk, group) %}
    <table class="indicators-table">
        <thead>
            <tr>
                <th>{{group.label}}</th>
                <th class="radio">Primarily (>50%)</th>
                <th class="radio">Ocasionally (<50%)</th>
                <th class="radio">None</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {%- for name in mk.children_order(group) %}
    {% if name not in "evaluation_method" %}
    <tr>
      <td class="indicators-group">
        {% set field = group[name] %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
        {{ mk.widget(field, group=group, name=name) }}
      </td>
    </tr>
    {% endif %}
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_radioselect(mk, field, group, name) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <td>
            {% if value == field.value %}
              {% if name in "to_evaluate" and group["evaluation_method"].value %}
                {{ field.parent['evaluation_method'] }}
              {% else %}
                {{ '\u2714'  }}
              {% endif %}
            {% else %}
               {{ '\u002d'  }}
            {% endif %}
          </td>
      {% endfor %}
{% endmacro %}

{% macro checkbox(mk, field) %}
    {% if field.value == True %}
        Yes
    {% elif field.value == False %}
        No
    {% else %}
        {{ '\u002d' }}
    {% endif %}
{% endmacro %}

{% macro registration_checkbox(mk, field) %}
{% endmacro %}

{% macro subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <div class="subgroup">
        {% set field = schema[name] %}
        {{ field.label }}
        <div class="controls">
            {{ mk.widget(field) }}
        </div>
    </div>
  {% endfor -%}
{% endmacro %}

{% macro reference_group(mk, schema) %}
  <table>
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    <tr>
        <td>{{ field.label }}</td>
        <td>{{ mk.widget(field) }}</td>
        <td class="helptext">{{ field.properties.get('help') }}</td>
    </tr>
  {% endfor -%}
  </table>
{% endmacro %}


{% macro group(mk, group) %}
    {% set hidden_list = [] %}
    {% set hidden_label_list = [] %}
    {% set boolean_list = [] %}

    {%- for name in mk.children_order(group) %}

        {% set field = group[name] %}

        {% if field.properties.get('hidden_label') %}
            {% do hidden_label_list.append(name) %}
        {% endif %}

        {% if (not field.value or field.value == '') and field.properties.get('hide_if_empty') %}
            {% do hidden_list.append(name) %}
        {% endif %}

        {% if not name in hidden_list %} 
            {% if not name=='other_radio' %}
            <div class="field">
                {% if not name in hidden_label_list %}
                    {{ mk.label(field, class='control-label', contents=field.label) }}
                {% endif %}
              <div class="controls">
                  {% if field.value or
                        (field.value is undefined and name in boolean_list) %}
                      {{ mk.widget(field) }}
                  {% else %}
                      {{ '\u002d' }}
                  {% endif %}
              </div>
            </div>
            {% else %}
               {{ mk.widget(field) }}
            {% endif %}
        {% endif %}

    {%- endfor %}
{% endmacro %}

{% macro schema(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
      {% if name not in ['header', 'report_id'] %}
        {% set field = schema[name] %}
        {% if field.label %}
        <div class="section">
            <h3>{{ field.label }}</h3>
        </div>
        {% endif %}
        <div>{{ mk.widget(field) }} </div>
      {% endif %}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}

{% macro availability_section(mk, schema) %}
  {% set paper_or_web = schema['paper_or_web'] %}
  {% set url = schema['url'] %}
  {% set registration_required = schema['registration_required'] %}
  {% set costs = schema['costs'] %}
  <div class="field-inline">
		<ul class="no-indent-list">
			{%- if paper_or_web.value
				or not paper_or_web.properties.get('hide_if_empty') -%}
				<li>{{ mk.widget(paper_or_web) }}
						{%- if paper_or_web.value == 'web' -%}
							{{ '\u002d' }} {{ mk.widget(url) }}
						{% endif -%}
				</li>
			{% endif -%}
				{% if registration_required.value %}
					<li>registration required</li>
				{% endif %}
			{%- if costs.value or not costs.properties.get('hide_if_empty') -%}
				<li>{{ mk.widget(costs) }}</li>
			{% endif -%}
			{# {{ field.label }} #}
			{%- if paper_or_web.value != 'web' and url -%}
				<li>
						URL: {{ mk.widget(url) }}
				</li>
			{% endif -%}
		</ul>
  </div>
{% endmacro %}
