{% macro input(mk, field) %}
  {{ mk.input(field, class=field.properties.get('css_class'),
                      type=field.properties.get('field_type'))}}
{% endmacro %}

{% macro textarea(mk, field) %}
  {{ mk.textarea(field, class=field.properties.css_class) }}
{% endmacro %}

{% macro select(mk, field) %}
  {{ mk.select.open(field, class=field.properties.css_class,
  id=field.properties.field_id) }}
  {{ mk.option(field, value="", contents="--") }}
  
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
  {{ mk.option(field, value=value, contents=value_label) }}
  {% endfor %}
  {{ mk.select.close() }}
{% endmacro %}

{% macro chosen_select(mk, field) %}
  {{ mk.select.open(field, class=field.properties.css_class,
                         id=field.properties.field_id,
                         multiple="",
                         tabindex="-1") }}
  {{ mk.option(field, value="") }}
  
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
  {{ mk.option(field, value=value, contents=value_label) }}
  {% endfor %}
  {{ mk.select.close() }}
{% endmacro %}

{% macro topics_radioselect(mk, field) %}
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
      if field.properties.value_labels else value) %}
      <td class={{field.properties.css_class}}>
      {{ mk.input(field, type='radio', value=value) }}
      </td>
  {% endfor %}
  {% if field.properties.add_empty_td %}
    <td class="empty"></td>
  {% endif %}
{% endmacro %}

{% macro indicators_radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <td>{{ mk.input(field, type='radio', value=value) }}</td>
      {% endfor %}
{% endmacro %}

{% macro radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <span> 
              {{ mk.input(field, type='radio', value=value) }}
              {{ value }}
          <span>
      {% endfor %}
{% endmacro %}

{% macro checkbox(mk, field) %}
  {{ mk.input(field, type="checkbox") }}
{% endmacro %}

{% macro file(mk, field) %}
  {{ mk.input(field, type="file",
              name='%s-data' % field.flattened_name()) }}
{% endmacro %}

{% macro subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <div class="subgroup">
        {% set field = schema[name] %}
        {{ field.label }}
        <div class="controls">
            {{ mk.widget(field) }}
        </div>
    </div>
  {% endfor -%}
{% endmacro %}


{% macro group(mk, group) %}
    {%- for name in mk.children_order(group) %}
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
      <div class="field {{ error_cls }}">
        {% if not name=='indicators_usage' %}  
        {{ mk.label(field, class='control-label', contents=field.label) }}
        {% endif %}
          <div class="controls">
              {{ mk.widget(field) }}
              {% for message in field.errors %}
              <span class="help-inline">{{ message }}</span>
              {% endfor %}
          </div>
      </div>
    {%- endfor %}
{% endmacro %}

{% macro schema(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
    {% if not name in ["report_id"] %}
        {% set field = schema[name] %}
        <div class="section">
            {% if field.label %}
            <h3>{{ field.label }}</h3>
            {% endif %}
        </div>
        <div>{{ mk.widget(field) }} </div>
    {% endif %}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}

{% macro topics_columns(mk, schema) %}
      {% set field = schema['focus'] %}
      {{ mk.widget(field) }}
      {% set field = schema['indicators'] %}
      {{ mk.widget(field) }}
  </tr> {# closes the row of the CommonTopicsDict #}
{% endmacro %}

{% macro topics_subgroup(mk, schema) %}
<tr>
  {%- for name in mk.children_order(schema) %}
    <td>
        {% set field = schema[name] %}
        {{ field.label }}
    </td>
  {{ mk.widget(field) }}
  {% endfor -%}
</tr>
{% endmacro %}

{% macro topics_group(mk, group) %}
    <table class="topics-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="4" class="focus-column">
                    Focus
                </th>
                <th></th>
                <th colspan="4" class="indicators-column">
                    Indicators
                </th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="focus-column">Major</td>
            <td class="focus-column">Some</td>
            <td class="focus-column">Minor</td>
            <td class="focus-column">None</td>
            <td></td>
            <td class="indicators-column">Several</td>
            <td class="indicators-column">Some</td>
            <td class="indicators-column">Few</td>
            <td class="indicators-column">None</td>
        </tr>
    {%- for name in mk.children_order(group) %}
    <tr class="topics-group {{ error_cls }}">
        <td colspan="10">
            {% set field = group[name] %}
            {% set error_cls = 'error' if field.errors else '' %}
            {{ mk.label(field, class='control-label', contents=field.label) }}
        </td>
    </tr>
        {{ mk.widget(field) }}
        <span class="controls">
            {% for message in field.errors %}
                <span class="help-inline">{{ message }}</span>
            {% endfor %}
        </span>
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_group(mk, group) %}
    <table class="indicators-table">
        <thead>
            <tr>
                <th>{{group.label}}</th>
                <th class="radio">Most (>50%)</th>
                <th class="radio">Some (<50%)</th>
                <th class="radio">None</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {%- for name in mk.children_order(group) %}
    <tr>
      <td class="indicators-group {{ error_cls }}">
    {% if name not in "evaluation_method" %}
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
        {{ mk.widget(field) }}
        <span class="controls">
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
        </span>
        {% if name not in "to_evaluate" %}
          </td>
        </tr>
        {% else %}
        </td>
        <td>
            {% set field = group["evaluation_method"] %}
            {% set error_cls = 'error' if field.errors else '' %}
            {{ mk.label(field, class='control-label', contents=field.label) }}
            <div>
                {{ mk.widget(field) }}
            </div>
            <div class="controls">
              {% for message in field.errors %}
                <span class="help-inline">{{ message }}</span>
              {% endfor %}
            </div>
            </td>
        </tr>
        {% endif %}
    {% endif %}
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro options_with_labels(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    <div class="field-inline">
        {{ mk.widget(field) }}
        {{ field.label }}
    </div>
  {% endfor -%}
{% endmacro %}
