{%- from 'bits.html' import eea_theme_image_and_link -%}

{% macro input(mk, field) %}
  {{ mk.input(field, class=field.properties.get('css_class'),
                      type=field.properties.get('field_type'))}}
{% endmacro %}

{% macro url(mk, field) %}
  {{ mk.input(field, class=field.properties.get('css_class'),
                      type=field.properties.get('field_type'))}}
{% endmacro %}

{% macro textarea(mk, field) %}
  {{ mk.textarea(field, class=field.properties.css_class) }}
{% endmacro %}

{% macro select(mk, field) %}
  {% set attr = {
        'data-placeholder': field.properties.get('placeholder'),
      } %}
  {%- if field.properties.widget_chosen -%}
    {%- do attr.update({'class': 'chzn-select'}) -%}
  {%- endif -%}
  {{ mk.select.open(field,  class=field.properties.get('css_class'), **attr) }}

    {{ mk.option(field, value="", contents="") }}

    {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
      if field.properties.value_labels else value) %}
      {{ mk.option(field, value=value, contents=value_label) }}
    {% endfor %}

  {{ mk.select.close() }}
{% endmacro %}

{% macro if_yes_select(mk, field) %}
  {{ select(mk, field) }}
{% endmacro %}

{% macro multiple_select(mk, field) %}
  {% set member = field.member_schema %}
  {% set attr = {
        'tabindex': '-1',
        'data-placeholder': field.properties.get('placeholder'),
        'multiple': 'multiple',
      } %}
  {%- if field.properties.widget_chosen -%}
    {%- do attr.update({'class': 'chzn-select'}) -%}
  {%- endif -%}
  {{ mk.select.open(field, class=field.properties.get('css_class'), **attr) }}

    {% for value in member.valid_values %}
      {% set value_label = (member.properties.value_labels[value]
      if member.properties.value_labels else value) %}
      <option value="{{ value }}"
        {%- if value in field.value %} selected{% endif %}>
        {{- value_label }}</option>
    {% endfor %}
  {{ mk.select.close() }}

  {% if field.properties.get('help') %}
  <span class="helptext">{{ field.properties.get('help') }}</span>
  {% endif %}
{% endmacro %}

{% macro topics_radioselect(mk, field) %}
  {% for value in field.valid_values %}
      {% set value_label = (field.properties.value_labels[value]
      if field.properties.value_labels else value) %}
      <td class={{field.properties.css_class}}>
      {{ mk.input(field, type='radio', value=value) }}
      </td>
  {% endfor %}
  {% if field.properties.add_empty_td %}
    <td class="empty"></td>
  {% endif %}
{% endmacro %}

{% macro indicators_radioselect(mk, field) %}
      {% for value in field.valid_values %}
          {% set value_label = (field.properties.value_labels[value]
          if field.properties.value_labels else value) %}
          <td>{{ mk.input(field, type='radio', value=value) }}</td>
      {% endfor %}
{% endmacro %}

{% macro radioselect(mk, field) %}
    {% set error_cls = 'error' if field.errors else '' %}
    {% for value in field.valid_values %}
        {% set value_label = (field.properties.value_labels[value]
        if field.properties.value_labels else value) %}
        {{ mk.input(field, type='radio', value=value) }}
        {{ value }}
    {% endfor %}
{% endmacro %}

{% macro checkbox(mk, field) %}
  {{ mk.input(field, type="checkbox") }}
{% endmacro %}

{% macro registration_checkbox(mk, field) %}
  {{ checkbox(mk, field) }}
{% endmacro %}

{% macro file(mk, field) %}
  {{ mk.input(field, type="file",
              name='%s-data' % field.flattened_name()) }}
{% endmacro %}

{% macro subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <div class="subgroup">
        {% set field = schema[name] %}
        {{ field.label }}
        <div class="controls">
            {{ mk.widget(field) }}
        </div>
    </div>
  {% endfor -%}
{% endmacro %}

{% macro reference_group(mk, schema) %}
  <table class="reference_table">
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    <tr>
        <td>{{ mk.label(field, contents=field.label) }}</td>
        <td>{{ mk.label.open(field) }}{{ mk.widget(field) }}{{ mk.label.close()}}</td>
        <td class="helptext">{{ field.properties.get('help') }}</td>
    </tr>
  {% endfor -%}
  </table>
{% endmacro %}


{% macro group(mk, group) %}
    {% set reversed_list = [] %}
    {% set hidden_list = [] %}
    {% set hidden_label_list = [] %}
    {%- for name in mk.children_order(group) %}

        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}

        {% if field.properties.get('field_type')=="hidden" %}
            {% do hidden_list.append(name) %}
        {% endif %}
        {% if field.properties.get('hidden_label') %}
            {% do hidden_label_list.append(name) %}
        {% endif %}
        {% if field.properties.get('reversed') %}
            {% do reversed_list.append(name) %}
        {% endif %}

        {% if name not in hidden_list and not name=='other_radio' %}
        <div class="field {{ error_cls }}">
            {% if not name in reversed_list %}  
                {% if not name in hidden_label_list %}
                    {{ mk.label(field, class='control-label', contents=field.label) }}
                {% endif %}
              <div class="controls">
                  {{ mk.widget(field) }}
                  {% for message in field.errors %}
                  <span class="help-newline">{{ message }}</span>
                  {% endfor %}
              </div>
            {% else %}
               {{ mk.widget(field) }}
               {{ mk.label(field, class='control-label', contents=field.label) }}
            {% endif %}
        </div>
        {% elif name=='other_radio' %}
                  {{ mk.widget(field) }}
        {% endif %}

    {%- endfor %}
{% endmacro %}

{% macro schema(mk, schema) %}
  {%- do mk.begin(auto_domid=true, auto_for=true) %}
  {%- for name in mk.children_order(schema) %}
    {% if not name=="report_id" %}
        {% set field = schema[name] %}
        {% if field.label %}
        <div class="section">
            <h3>{{ field.label }}</h3>
        </div>
        {% endif %}
        <div>{{ mk.widget(field) }} </div>
    {% endif %}
  {% endfor -%}
  {% do mk.end() -%}
{% endmacro %}

{% macro topics_columns(mk, schema) %}
  {% set field = schema['focus'] %}
  {{ mk.widget(field) }}
  {% set field = schema['indicators'] %}
  {{ mk.widget(field) }}
{% endmacro %}

{% macro topics_subgroup(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    <tr>
    {% set field = schema[name] %}
    {% if not field.properties.get('extra_topic') %}
        <td>
          {% if field.properties.get('eea_theme_link') %}
            {{ eea_theme_image_and_link(field.name, field.label) }}
          {% else %}
            {{ field.label }}
          {% endif %}
        </td>
        {{ mk.widget(field) }}
    {% else %}
        <td>{{ mk.widget(field) }}</td>
    {% endif %}
    </tr>
  {% endfor -%}
{% endmacro %}

{% macro topics_group(mk, group) %}
    <table class="topics-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="4" class="focus-column">
                    Focus
                </th>
                <th></th>
                <th colspan="4" class="indicators-column">
                    Indicators
                </th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="focus-column">Major<br/>(chapter)</td>
            <td class="focus-column">Some<br/>(section(s))</td>
            <td class="focus-column">Minor<br/>(ocasionally mentioned)</td>
            <td class="focus-column">None</td>
            <td></td>
            <td class="indicators-column">Several<br/>(>5)</td>
            <td class="indicators-column">Some<br/>(3-5)</td>
            <td class="indicators-column">Few<br/>(1-2)</td>
            <td class="indicators-column">None<br/>(0)</td>
        </tr>
    {%- for name in mk.children_order(group) %}
    <tr class="topics-group {{ error_cls }}">
        <td colspan="10">
            {% set field = group[name] %}
            {% set error_cls = 'error' if field.errors else '' %}
            {% if not name in extra_topic_list %}
                {{ field.label }}
            {% endif %}
        </td>
    </tr>
        {{ mk.widget(field) }}
        <span class="controls">
            {% for message in field.errors %}
                <span class="help-newline">{{ message }}</span>
            {% endfor %}
        </span>
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro indicators_group(mk, group) %}
    <table class="indicators-table">
        <thead>
            <tr>
                <th>{{group.label}}</th>
                <th class="radio">Primarily (>50%)</th>
                <th class="radio">Ocasionally (<50%)</th>
                <th class="radio">None</th>
                <th rowspan="4"></th>
            </tr>
        </thead>
    <tbody>
    {%- for name in mk.children_order(group) %}
    {% if name not in "evaluation_method" %}
    <tr>
      <td class="indicators-group {{ error_cls }}">
        {% set field = group[name] %}
        {% set error_cls = 'error' if field.errors else '' %}
        {{ mk.label(field, class='control-label', contents=field.label) }}
        {{ mk.widget(field) }}
        <span class="controls">
          {% for message in field.errors %}
            <span class="help-inline">{{ message }}</span>
          {% endfor %}
        </span>
        {% if name not in "to_evaluate" %}
          </td>
        </tr>
        {% else %}
        </td>
        <td>
            {% set field = group["evaluation_method"] %}
            {% set error_cls = 'error' if field.errors else '' %}
            {{ mk.label(field, class='control-label', contents=field.label) }}
            {{ mk.widget(field) }}
            {% for message in field.errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </td>
    </tr>
        {% endif %}
    {% endif %}
    {%- endfor %}
    </tbody>
    </table>
{% endmacro %}

{% macro availability_section(mk, schema) %}
  {%- for name in mk.children_order(schema) %}
    {% set field = schema[name] %}
    {% set error_cls = 'error' if field.errors else '' %}
    <div class="field-inline {{ error_cls }}">
        {{ mk.widget(field) }}
        {{ field.label }}
				{% for message in field.errors %}
					<span class="help-inline">{{ message }}</span>
				{% endfor %}
    </div>
  {% endfor -%}
{% endmacro %}
