.description 
{
 color: #8DA559;
 font-size: 100%;
 padding-bottom: 1em;
}

.boxes-right 
{
 float: right;
 width: 20em;
}

.box 
{
 margin-bottom: 1em;
 border-color: #DEDEDE;
 border-style: solid;
 border-width: 1px;
}

.link-box 
{
 margin-bottom: 1em;
}

.gray
{
 color: gray;
 font-weight: bold;
 font-size: 80%;
}

.textarea_message
{
 margin-top: -6px;
 color: gray;
 font-style: italic;
 font-size: 80%;
}

.link-box a 
{
 font-weight: bold;
 display: block;
 margin: 0 0 1em 0;
 }

.topic-box ul li a 
{
 text-decoration: none;
 }

.topic-box li
{
 display: block;
 list-style-type: none;
 margin: 0 0 0.5em 0;
 }

.topic-box ul
{
padding-left: 0;
 } 
 
.box .minimap 
{
 margin: -0.5em;
}

.box .body 
{
 margin: 0.5em;
}

.main-content 
{
 margin: 0.5em 0 0.5em 0;
 padding-right: 21em;
}

.main-content ul 
{
 margin-top: -0.5em;
 padding-left: 2.5em;
}

.main-content a 
{
 text-decoration: None;
}

.picture
{
	float: left;
	margin-right: 0.5em;	
}

td#center_cell {
padding-bottom: 1em;
}

.footer_link
{
	font-weight: bold;
	margin-top: 5em;
}

.form-errors
{
	color: red;
}

.label
{
	width: 33%;
	font-weight: bold;
}

.fieldset_edit
{
	border: 1px solid #BBC6CD;
	margin:2em 0 0 1em;
	width:70%;
}

/* CSS for JCROP */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
