{% extends "frame.html" %}
{% load utils %}

{% block content %}

<table cellpadding="0" cellspacing="0" class="datatable">

  <tbody>

    {% if form.responsible_for %}
    <tr>
      <th style="text-align: left; width: 220px;">
        {{ form.responsible_for.label }}</th>
      <td>{{ survey.responsible_for }}</td>
    </tr>
    {% endif %}

    <tr>
      <th style="text-align: left; width: 220px;">Name</th>
      <td>{{ survey.title }}</td>
    </tr>

    <tr>
      <th style="text-align: left; width: 220px;">Website</th>
      <td>{{ survey.link }}</td>
    </tr>

  </tbody>

</table>

{% endblock %}