a.box_link, input.box_input, h2.box_h2, h3.box_h3 {
    margin: 0;
    padding: 0;
    font-size: 12px !important;
    font-family: sans-serif !important;
    color: #FFFFFF !important;
    line-height: 12px !important;
}

div.clear {
    clear: both;
}

span.close {
    position: absolute !important;
    float: right;
    right: 1em;
    top: 0.9em;
}

h2.box_h2 {
    position: relative !important;
    left: 1em;
    top: 0.9em !important;
    width: 100% !important;
    background: none !important;
    color: #FFFFFF !important;
    border: none !important;
}

a.box_link {
    color: #2D2D2D !important;
    text-decoration: none !important;
}

a.box_link:hover {
    text-decoration: underline;
}

a.box_link, input.box_input {
    outline-style: none;
    -moz-outline-style: none;
    -webkit-outline-style: none;
}

/**
 * END
*/

/**
 * Start Rate Box Stylesheet
*/

div.rate_item, div.vote_item {
    float: left;
}

div#rate {
    float: left;
}

p.type {
    color: #FFFFFF;
    position: relative;
    /*top: 1em;*/
    font-size: 0.85em; font-weight: bold; font-style: italic;
}

div#vote {
    float: right;
}

div.vote_item {
    margin-right: 0.4em;
}

div.vote_item small {
    color: #FFFFFF;
    position: relative;
    top: 0.3em;
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1em;
}

textarea#comment-val {
    background: #333333;
    width: 415px;
    height: 90px;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-style: italic;
    padding: 1em;
    font-size: 1em;
    font-family: sans-serif;
}

div#buttons {
    float: right;
}

input#submit, input#reset {
    background: transparent url("../images/btn_bg.png") repeat-x 50% 50%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    height: 30px;
    padding-left: 1em;
    padding-right: 1em;
}

input.rate-check:hover, img.rate-img:hover, img.vote-img:hover {
    cursor: pointer;
}

img.rate-img, img.vote-img {
    clear: both;
}

/**
 * BOX2
*/

div#box_2 {
    background: #5c5c5c url('../images/c.png') repeat-x top center;
    height: auto;
    width: 300px;
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px 15px #2c2c2c;
    -moz-box-shadow: 2px 2px 15px #2c2c2c; /*border-radius: 5px; padding: 5px 5px 5px 15px;*/
    -webkit-box-shadow: 2px 2px 15px #2c2c2c;
}

/*#box_2_title {*/
/*    font-size: 1.1em;*/
/*    background: none;*/
/*    color: #FFFFFF;*/
/*    border: none;*/
/*    font-family: sans-serif;*/
/*    position: absolute;*/
/*    top: 0.6em;*/
/*    left: -0.5em;*/
/*}*/

div#box_2_top_bar {
    position: relative;
    left: 1em;
    float: left;
}

div#box_2_buttons {
    float: right;
    position: relative;
    top: 0.5em;
    right: 1.3em;
}

div#box_content {
    position: relative;
    left: 1em;
}

div#comments, #comments ul li a {
    padding-bottom: 2em;
    margin-top: 1em;
    color: #FFFFFF !important;
}

div#comments h3 {
    padding-left: 0 !important;
    font-size: 1em;
    font-style: italic;
}

div#comments ul {
    max-height: 4.5em;
    width: 248px;
    overflow: auto;
}

div#comments ul li {
    list-style: none;
}

#comments ul li p {
    font-size: 0.8em;
    padding-right: 1em;
    color: #FFFFFF;
}

/*#box_2 span.close {*/
/*    position: relative;*/
/*    top: 0.7em;*/
/*    left: 25em;*/
/*    float: right;*/
/*}*/

/**
 * BOX3
*/

div#box_3 {
    background: #5c5c5c url('../images/c.png') repeat-x top center;
    height: 280px;
    width: 458px;
    margin: 0;
    padding: 0;
    padding-bottom: 2em !important;
    padding-right: 0.6em !important;
    box-shadow: 2px 2px 15px #2c2c2c;
    -moz-box-shadow: 2px 2px 15px #2c2c2c; /*border-radius: 5px; padding: 5px 5px 5px 15px;*/
    -webkit-box-shadow: 2px 2px 15px #2c2c2c;
}

/*#box_3_title {*/
/*    font-size: 1.1em;*/
/*    background: none !important;*/
/*    border: none !important;*/
/*    color: #FFFFFF !important;*/
/*    position: relative;*/
/*    top: 0.9em;*/
/*}*/

div#box_3_top_bar {
    position: relative;
    left: 1em;
    float: left;
}

div#box_3_buttons {
    float: right;
    position: relative;
    top: 0.5em;
    right: 2.5em;
}

div#box_content {
    position: relative;
    left: 1em;
}

/*#box_3 span.close {*/
/*    position: absolute;*/
/*    top: 1em;*/
/*    left: 39em;*/
/*    float: right;*/
/*}*/

div#rate-items {
    float: left;
}

div#vote-items {
    float: right;
    position: relative;
    right: 2em;
}

#votes-legend {
    float: left;
}

#rates-legend {
    float: right;
}

#votes-legend strong {
    float: left;
    margin-top:  1.5em;
}

#votes-legend span {
    float: left;
    text-align: center;
    margin-left: 1em;
}

#rates-legend strong {
    float: left;
    margin-top:  1.5em;
}

#rates-legend span {
    float: right;
    text-align: center;
    margin-left: 1em;
}

#votes-legend, #rates-legend img {
    /*margin-bottom: -1em;*/
}

h2.legend-heading {
    padding: 0.5em;
}
