p.type {
    position: relative;
    top: -0.5em;
}

#vote-items {
    position: relative !important;
    top: -5.5em !important;
}

#comment-val {
    position: relative !important;
    top: -5.5em !important;
}

div#box_3_buttons {
    position: relative !important;
    top: -5.5em !important;
}
