#mask {
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;
	top:0;
	left:0;
	width:100%;
}

#slideshow_container {
	position:absolute;
	display:none;
	z-index:9999;
	height:480px;
	width:480px;
}