/* Photo style f0f5fb*/
.g-boxes {
  float: right;
  width: 20em;
}

.g-box {
  margin-top: 0.5em;
  border-color: #DEDEDE;
  border-style: none solid solid;
  border-width: 1px;
}

.g-box a{
  text-decoration: none;
}

.g-box .title {
  border-bottom: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  background: #d5dde1;
  font-size: 120%;
  font-weight: bold;
  padding: 0.5em;
}

.g-box .body {
  margin: 0.5em 0;
}

.g-box .body dt {
  font-weight: bold;
  margin: 0 0 0.5em 1em;
}
* html .g-box .body dd {
  margin-left: 0.1em;
}
*:first-child+html .g-box .body dd {
  margin-left: 0.1em;
}
.g-box .body dd {
  margin-left: 1em;
}

.g-box-button {
  text-align: center;
}

/*.g-box-button input {
background: #d5dde1;
border: 2px solid #D5DDE1;
color: #333333;
margin: 0.5em 0.3em 0.5em 0;
padding: 0.1em 0.5em;
  height: 2em;
  width: 12em;
}*/

.g-image-holder a {
  vertical-align: middle;
}

.g-image-holder img {
  vertical-align: middle;
}

.g-main-content {
  margin: 0.5em 22em 0 0;
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  padding:0.5em;
  color:#3E5976;
}

.g-main-content-text {
  text-align: center;
}

.g-main-content-buttons {
  padding-top: 1em;
}

.g-main-content a {
  text-decoration: none;
}

.photo_links a{
  width: 8em;
  display: block;
  float: left;
  color: #3E5976;
}
.photo_links dd{
  padding: 0 0 0.5em 0;
}
.photo_links{
  padding: 0 0 0.5em 0;
}
.g-image-description{
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.5em 0;
}
.g-image-link input{
  font-size: 90%;
}
.photo-details .body dd {
  margin-left: 2em;
}

/* Photo album style */

.g-header {
  display: block;
}

.g-header-form {
  font-size: 1.2em;
  margin-top: 0.7em;
  float: right;
}

.g-album-content {
  margin-right: 22.5em;
  height: 100%;
}

#selection_buttons {
  width: auto;
}

/*#selection_buttons input {
	cursor: pointer;
}*/

.thumbnail-layout {
  float:left;
  margin: 0.5em 0.5em 1em 0;
  width: 10em;
  position: relative;
}

.image-holder {
  background: transparent url(/++resource++naaya.photoarchive/photo_background.png) no-repeat scroll left center;
  height: 120px;
  width: 120px;
  margin-bottom: 0.4em;
}

.image-holder:hover {
  background: transparent url(/++resource++naaya.photoarchive/photo_background_hover.png) no-repeat scroll left center;
}
.image-holder a {
  text-decoration: none;
}

.image-holder img {
  padding: 8px;
}

.image-details {
  clear: both;
  height: 15px;
  overflow: hidden;
  text-align: center;
  font-size: 90%;
  width: 115px;
  position: absolute;
  left: 0px;
}

.image-details-hover {
  overflow: visible;
  height: auto;
  background-color: #f3fafd;
  border: 1px solid #000;
}

.image-details-hover input {
  display: none;
}

.image-details label {
  vertical-align: top;
  margin-top: 0.1em;
}

.image-details input {
  vertical-align: top;
  margin-top: 0em;
}

.album-details {
  font-size: 85%;
}

.album-cover {
  text-align: center;
  padding: 1em 0 0 0;
}
.toolbar input, .toolbar button, .toolbar span {
  white-space: nowrap;
  font-size: 0.85em;
  font-weight: bold;
  background: #fff;
  border-left:1px solid #bbb;
  border-top:1px solid #bbb;
  border-bottom:1px solid #666;
  border-right:1px solid #666;
  padding: 0.2em;
  color: #333333;
}

.toolbar input:hover, .toolbar button:hover, .toolbar span:hover {
  border-left:1px solid #6791c3;
  border-top:1px solid #6791c3;
  border-bottom:1px solid #34649b;
  border-right:1px solid #34649b;
  color: #4e7cb0;
}


/* Photo gallery style */

.gallery-albums {
}

.album-thumbnail {
  float:left;
  margin-right: 1em;
  margin-top: 1em;
  width: 240px;
}

.album-image-holder {
  background:transparent url(/++resource++naaya.photoarchive/album_background.gif) no-repeat scroll left center;
  height:240px;
  width:240px;
}

.album-image-holder img {
  padding: 20px;
}
.album-image-holder a {
  text-decoration: none;
}

.album-image-details {
  clear: both;
  height: 3em;
  overflow: hidden;
  margin-top: 0.5em;
  text-align: center;
  font-size: 90%;
}

#select_all {
  display: none;
}

/*#selection_buttons .action_button {
  background: #d5dde1;
  border: 1px solid #b0b0b0;
  color: #333333;
  margin: 0.5em 0.3em 0.5em 0;
  padding: 0.1em 0.2em;
  float: left;
  font-size: 90%;
}*/

.album-public {
  color: green;
}

.album-private {
  color: red;
}

.paginator {
  text-align: center;
  padding-top: 1em;
}

.paginator a {
  color: #3E5976;
  font-size: 1.2em;
  text-decoration: none;
}

.paginator a:hover {
  color: #000;
  text-decoration: underline;
}

.paginator-head {
  font-weight: bold;
}

.paginator-pages span {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
}

fieldset {
	border-width: thin;
	border-style: dashed;
	border-color: #D5DDE1;
	color: #336399;
}
fieldset dl {
	position:relative;
	margin-top: -0.3em;
	color: #3E5976;
}
fieldset dt {
	float:left;
	clear:left;
	font-weight: bold;
	text-align: right;
	width: 15em
}
fieldset dd {
	float: left;
	margin-left: 0.5em;
	width: 35em;
}


.paginator label {
	vertical-align: middle;
}

body .fancybox-title-outside-wrap {
  margin-top: -4px;
  color: #686565;
  background: #F9F9F9;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px 16px;
}

