/* IE6-specific CSS rules */

body {
   behavior: url("csshover.htc");
}
#logos .first-logo {
	margin-right: 2em !important;
}
#search #query {
	margin-top: 0.4em;
}
#search form {
	margin-right: 0.2em;
}
#search form label {
	position: relative;
	top: -4px;
}
#language {
	margin-right: 0.35em;
}
.right_link_portlet {
	padding-left: 2em;
}
#center_cell {
	padding-right: 2em;
}
#linkgroups li:hover div.dropdown {
	display: block !important;
}