.hidden {
  display: none;
}

.left {
  float: left;
}

input.input-text {
  border: 1px solid #BABBB8;
  height: 20px;
  font-size: 13px;
  padding-left: 5px;
}

input.input-text:focus {
  background-color: #FFFBE5;
  color: #000000;
  font-style: normal;
}

input.button {
  cursor: pointer;
  border: none;
  background-color: #437384;
  font-size: 13px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #FFFFFF; 
  font-weight: bold;
  padding: 2px;
}

.fields-separator {
  clear: both;
  display: block;
  height: 1px;
  margin: 5px 0;
}

select.input-select {
  border: 1px solid #BABBB8;
  background-color: #FFFFFF;
  height: 20px;
  font-size: 13px;
  width: 180px;
}

label {
  vertical-align: middle;
}

.loading-animation {
  margin: 15px 0 0 15px;
}

#aoa-search-map {
  width: 1000px;
  margin-left: 1em;
}

div#filters {
  width: 650px;
  float: left;
  border: 1px solid #DFDFDF;
}

div#filters-form-holder {
  border-bottom: 1px solid #BABBB8;
  padding: 10px;
}

div#filters-debug {
  height: 148px;
  width: 650px;
  position: absolute;
  top: 50;
  overflow: auto;
}

div#countries-map {
  height: 400px;
}

div#countries-map .olControlLayerSwitcher {
  width: auto;
}

div#countries-map .olControlLayerSwitcher .layersDiv {
  padding-right: 1em;
}

div#countries-map .olControlLayerSwitcher .minimizeDiv {
  display: none;
}

div#results {
  width: 347px;
  height: 480px;
  float: right;
  border: 1px solid #DFDFDF;
  border-left: none;
  overflow-y: auto;
}

div#results ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 16px;
  margin: 15px;
  padding-left: 0;
}

div#results ul li {
  margin: 5px 0;
}

div#results ul li a {
}

div#results ul li:hover {
  background: #DFDFDF;
}

div#document-info {
  display: none;
}

.template {
  display: none;
}
