.column-left
{
	float: left;
	width:25em;
	width:
}

.column-right
{
	margin-left:26em;
}

.select{
	width: 15%;
	vertical-align: middle !important;
	text-align: left !important;
}
.checkbox{
	vertical-align: top;
}
.list_title{
	vertical-align: top;
}
ul.infofolder li{
	margin-left: -2em
}
.header{
	vertical-align: middle !important;
	text-align: left !important;
}
/* pagination items */
.pagination {
	padding: 1em;
}
.pagination span a {
	border: 1px solid #c8dcf2;
	line-height: 18px;
	padding: 3px 5px 3px 5px;
	background: #f0f5fb;
	color: #333;
	text-decoration: none;
}
.pagination span span {
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
	color: #36669d;
}
.bold {
	font-weight: bold;
	font-size: 1.2em;
}
.url:visited {
	color:#008000;
	text-decoration:underline;
}
.url {
	color:#0000CC;
	text-decoration:underline !important;
}
.categories {
	float: left; 
	margin-right: 1em; 
	width: 48%; 
}
.details {
	float: left; 
	width: 48%; 
}
.label{
	font-weight: bold;
	white-space:nowrap;
}
.highlabel{
	font-weight: bold;
	white-space:nowrap;
	line-height: 2em;
}
.categories span{
	line-height: 2em;
}
.form-errors{
	color: #FF3300
}
