.help-text{
	font-style: italic;
	width: 560px;
}
label{
	font-weight: bold;
	color: #84AF4D;
}
div.study-topic{
	margin: 10px 0;
	padding: 5px;
	border: solid 1px #84AF4D;
}
label.heading{
	font-size: 1.2em;
	display: block;
	margin: 0 0 0.5em 0;
}