p.type {
	position: relative !important;
	float: left !important;
}

span#close {
position: relative;
left: 0;
bottom: 0;
}

h2#title {
position: absolute;
top: 0.5em;
float: left;
}

div#top_center {
padding-bottom: 0.4em;
margin-bottom: 0 !important;
}

div#left_bar, div#right_bar, div#center {
	margin-top: -2.5em;
}
