<h1>A. How is the transport sector adapting to climate change in your country?</h1>

<p>Please fill in the fields below which are relevant for your country. Leave blank any fields not relevant.  You can add as many initiatives or actions per category as needed except for the national strategy and the national action plan. If you have more than one entry per category, please, create a new entry by clicking “add”.</p>
<p>Note that certain information, such as information on national strategies, can also be obtained via the <a href="#">Climate ADAPT</a> website.</p>