{% extends "frame.html" %}
{% load utils %}

{% block content %}

<table cellpadding="0" cellspacing="0" class="datatable">

  <tbody>

    {% if form.status %}
    <tr>
      <th style="text-align: left; width: 220px;">
        {{ form.status.label }}</th>
      <td>{{ survey.status }}</td>
    </tr>
    {% endif %}

    <tr>
      <th style="text-align: left; width: 220px;">
        {{ form.title.label }}</th>
      <td>{{ survey.title }}</td>
    </tr>

    {% if form.focus %}
    <tr>
      <th style="text-align: left;">
        {{ form.focus.label }}
      </th>
      <td>{{ survey.focus }}</td>
    </tr>
    {% endif %}

    {% if form.english_title %}
    <tr>
      <th style="text-align: left;">
        {{ form.english_title.label }}
      </th>
      <td>{{ survey.english_title }}</td>
    </tr>
    {% endif %}

    <tr>
      <th style="text-align: left;">
        {{ form.year.label }}</th>
      <td>{{ survey.year }}</td>
    </tr>

    <tr>
      <th style="text-align: left;">
        {{ form.parts_considered.label }}</th>
      <td>{{ survey.parts_considered|pretty_hstore }}</td>
    </tr>

    <tr>
      <th style="text-align: left;">
         {{ form.transport_modes.label }}</th>
      <td>{{ survey.transport_modes|pretty_hstore }}</td>
    </tr>

    <tr>
      <th style="text-align: left;">
        {{ form.climate_change_impacts.label }}</th>
      <td>{{ survey.climate_change_impacts|pretty_hstore }}</td>
    </tr>

    <tr>
      <th style="text-align: left;">
        {{ form.responsible_organisation.label }}</th>
      <td>{{ survey.responsible_organisation }}</td>
    </tr>

    {% if form.contact %}
    <tr>
      <th style="text-align: left;">
        {{ form.contact.label }}</th>
      <td>{{ survey.contact }}</td>
    </tr>
    {% endif %}

    <tr>
      <th style="text-align: left;">
        {{ form.link.label }}</th>
      <td>{{ survey.link }}</td>
    </tr>

  </tbody>

</table>

{% endblock %}