{% extends "frame.html" %}

{% block content %}

<form action="{% url survey:edit category.id %}" method="POST">

  <table cellpadding="0" cellspacing="0" class="datatable">

    <tbody>

      {% if form.status %}
      <tr>
        <th style="text-align: left; width: 220px;">{{ form.status.label_tag }}</th>
        <td>
          {{ form.status }}
          {{ form.status.errors }}
        </td>
      </tr>
      {% endif %}

      <tr>
        <th style="text-align: left;">{{ form.title.label_tag }}</th>
        <td>
          {{ form.title }}
          {{ form.title.errors }}
        </td>
      </tr>

      {% if form.focus %}
      <tr>
        <th style="text-align: left;">{{ form.title.label_tag }}</th>
        <td>
          {{ form.title }}
          {{ form.title.errors }}
        </td>
      </tr>
      {% endif %}

      <tr>
        <th style="text-align: left;">{{ form.english_title.label_tag }}</th>
        <td>
          {{ form.english_title }}
          {{ form.english_title.errors }}
        </td>
      </tr>

      <tr>
        <th style="text-align: left;">{{ form.year.label_tag }}</th>
        <td>
          {{ form.year }}
          {{ form.year.errors }}
        </td>
      </tr>

      <tr>
        <th style="text-align: left;">{{ form.parts_considered.label_tag }}</th>
        <td>
          {{ form.parts_considered }}
          {{ form.parts_considered.errors }}
        </td>
      </tr>

      <tr>
        <th style="text-align: left;">{{ form.transport_modes.label_tag }}</th>
        <td>
          {{ form.transport_modes }}
          {{ form.transport_modes.errors }}
        </td>
      </tr>

      <tr>
        <th style="text-align: left;">{{ form.climate_change_impacts.label_tag }}</th>
        <td>
          {{ form.climate_change_impacts }}
          {{ form.climate_change_impacts.errors }}
        </td>
      </tr>

      <tr>
        <th style="text-align: left;">{{ form.responsible_organisation.label_tag }}</th>
        <td>
          {{ form.responsible_organisation }}
          {{ form.responsible_organisation.errors }}
        </td>
      </tr>

      <tr>
        <th style="text-align: left;">{{ form.link.label_tag }}</th>
        <td>
          {{ form.link }}
          {{ form.link.errors }}
        </td>
      </tr>

    </tbody>

  </table>

  <button type="submit">Submit</button>

</form>

{% endblock %}
