{% load utils %}


{% include "section_b/header.html" %}

{% for category in categories_section_b %}
  <div class="answers-container">

    <h3>{{ category }}</h3>

    {% assign sections|get_answers:category as answers %}
    {% assign sections|get_answers_for_user:category as user_answers %}

    {% if not category.for_user %}
      <div id="section-b-answers-{{ category.id }}">
      {% for survey in answers %}
        {% include "section_a/preview.html" %}
      {% endfor %}
      </div>
    {% else %}
      <div id="section-b-user-answers-{{ category.id }}">
        {% for survey in user_answers %}
          {% include "section_b/preview_comment.html" %}
        {% endfor %}
      </div>
      {% if not user_answers %}
        <a data-href="{% url survey:edit category.id %}"
           class="add" data-target="#section-b-user-answers-{{ category.id }}"
           data-closetext="Close"
           data-opentext="Add comment">
           [ Add comment ]</a>
      {% endif %}
    {% endif %}

    {% if category.multiple_answers or not answers %}
      {% if not category.for_user %}
        <a data-href="{% url survey:edit category.id %}"
           class="add"
           data-target="#section-b-answers-{{ category.id }}"
           data-multiple="{{ category.multiple_answers|lower }}"
           data-closetext="[Close]"
           data-opentext="[ Add ]">[ Add ]</a>
      {% endif %}
    {% endif %}

    <div class="add-container" style="display: none;"></div>
  </div>
{% endfor %}
