a {
    cursor: pointer;
}

#sidebar-port.sidebar {
    background: #fff2a8;
    margin: 26px 0 0 5px;
    padding: 10px;
    float: right;
    width: 160px;
}
#sidebar-port.sidebar textarea {
    font-size: 11px;
    width: 100%;
}
#sidebar-port.sidebar .message-published {
    height: 103px;
}
#sidebar-port.sidebar .message-published a {
    font-size: 11px;
    color: #DA4F49;
}
#sidebar-port.sidebar .publish-buttons .publish {
    background-color: #49AFCD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #359cba;
    border-right: 1px solid #359cba;
    padding: 4px;
    color: #fff;
}

#sidebar-port.sidebar .publish-buttons {
    margin-top: 10px;
}
#sidebar-port.sidebar .publish-buttons a {
    margin-right: 5px;
    font-size: 11px;
}
#sidebar-port.sidebar .message-published .remove {
    display: none;
}
#sidebar-port.sidebar .message-published:hover .remove {
    display: inline;
}
#message-published-list,
#message-published-list li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar-port.sidebar .doc-author-list,
#sidebar-port.sidebar .doc-author-list li {
    list-style-type: square;
    font-size: 13px;
    padding: 0;
    margin: 0 0 0 10px;
}
#sidebar-port.sidebar .doc-author-list li {
    height: 20px;
}
#sidebar-port.sidebar .doc-author-list li:last-child {
    padding: 0;
}
#sidebar-port.sidebar .doc-author-list li.hover {
    font-weight: bold;
}
#sidebar-port.sidebar .doc-author-list span {
    color: #333;
}

#middle_port.sidebar-fix {
    width: 65%;
}

#middle_port .forum_topic p::selection,
#middle_port .forum_message p::selection {
    background: #fff2a8;
}
#middle_port .forum_topic p::-moz-selection,
#middle_port .forum_message p::-moz-selection {
    background: #fff2a8;
}
#middle_port .doc-content {
    margin-bottom: 10px;
    font-size: 14px;
}

#forum-preview-save-dialog button {
    padding: 0px!important;
    font-size: 10px!important;
    position: relative;
    top: -2px;
    *top: 2px;
}


.author {
    color: #666;
}

.forum-preview-buttons {
    border: 1px solid #eee;
    background: #FAFAFA;
    padding: 10px;
}
.forum-preview-buttons a {
    text-decoration: none;
    border-color: #bbb #666 #666 #bbb;
    border-style: solid;
    font-weight: bold;
    margin-right: 5px;
    border-width: 1px;
    background: #fff;
    cursor: pointer;
    font-size: 12px;
    color: #0061A2;
    padding: 4px;
}
.preview-actions {
    margin-top: 5px;
}
.preview-remove {
    color: #DA4F49;
    font-size: 11px;
}
.preview-remove:hover {
    text-decoration: underline;
}

