.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

input.input-text {
  border: 1px solid #BABBB8;
  height: 20px;
  font-size: 13px;
  padding-left: 5px;
}

input.input-text:focus {
  background-color: #FFF7D3;
  color: #000000;
  font-style: normal;
}

input.button {
  cursor: pointer;
  border: none;
  background-color: #437384;
  font-size: 13px;
  color: #FFFFFF; 
  font-weight: bold;
  padding: 2px;
}

input.button:hover {
  background-color: #5C95A8;
}

input.button.reset {
  background-color: #737373;
}

input.button.reset:hover {
  background-color: #959595;
}

.fields-separator {
  clear: both;
  display: block;
  height: 1px;
  margin: 5px 0;
}

select.input-select {
  border: 1px solid #BABBB8;
  background-color: #FFFFFF;
  height: 25px;
  font-size: 13px;
  width: 180px;
  padding: 2px;
}

label {
  vertical-align: middle;
}

.loading-animation {
  margin: 15px 0 0 15px;
}

#aoa-search-map {
  width: 1000px;
  margin-left: 1em;
}

div#filters {
  width: 650px;
  float: left;
  border: 1px solid #DFDFDF;
}

div#filters-form-holder {
  border-bottom: 1px solid #BABBB8;
  padding: 10px;
}

div#filters-debug {
  height: 148px;
  width: 650px;
  position: absolute;
  top: 50;
  overflow: auto;
}

div#countries-map {
  height: 400px;
}

div#countries-map .olControlLayerSwitcher {
  width: auto;
}

div#countries-map .olControlLayerSwitcher .layersDiv {
  padding-right: 1em;
}

div#countries-map .olControlLayerSwitcher .minimizeDiv {
  display: none;
}

div#results {
  width: 347px;
  height: 517px;
  float: right;
  border: 1px solid #DFDFDF;
  border-left: none;
  overflow-y: auto;
}

div#results ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 16px;
  margin: 15px 10px;
  padding-left: 0;
}

div#results ul li {
  margin: 0;
  padding: 7px;
  border-bottom: 1px solid #DFDFDF;
}

div#results ul li a,
.ui-widget-content a {
  font-size: 12px;
  line-height: 1.2;
  color: #44464B !important;
}

div#results ul li a:hover,
.ui-widget-content a:hover {
  color: #000000 !important;
  text-decoration: none;
}

div#results ul li:hover {
  background: #F9F9F9;
}

div#document-info {
  display: none;
}

.template {
  display: none;
}

#filters-form .input-select {
  margin-right: 20px;
}

.document .title {
  font-weight: bold;
  text-decoration: none;
}

.template-section {
  border-top: 1px solid #D3D3D3;
  clear: both;
  overflow: hidden;
  padding: 5px 0;
  font-size: 11px;
  line-height: 1.1;
}

.template-section:first-child {
  border: none;
}

.template-subsection {
  font-size: 11px;
  color: #555555;
  line-height: 1.2;
  overflow: hidden;
  clear: both;
}

.inline-block {
  float: left;
  position: relative;
  display: inline-block;
}

.label {
  font-weight: bold;
}

.toggle-icon.expanded {
  background-position: -10px 0;
}

.toggle-icon.collapsed {
  background-position: 6px 0;
}

.toggle-icon {
  background: transparent url("toggle-icons.png") no-repeat scroll;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  vertical-align: top;
  float: right;
  cursor: pointer;
}

#document-map {
  width: 300px;
  height: 200px;
  border: 2px solid #888;
  float: right;
  background: #eee;
}

div.document-info {
  padding-left: 20px;
}

div.country-info-box { /* translucent yellow */
  background: #F9F9F9;
  background: #F9F9F9;
  opacity: 0.9;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffff00, endColorstr=#99ffff00);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffff00, endColorstr=#99ffff00)";
}

div.country-info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  font-size: 20px;
  padding: 5px;
}
