<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.7&appid=%s"></script>
<script type="text/javascript">
    var lat = %s;
    var lon = %s;
    var address = "%s";
    var zoom = %s;
    var all_map_types = %s;
    var default_map_type = %s;
    var dom_element = document.getElementById('%s');
    var center_point = new YGeoPoint(lat, lon);

    // convert map types from strings to objects
    for (var i=0;i<all_map_types.length;i++) {
        all_map_types[i] = eval(all_map_types[i])
    }
    mapEl = new YMap(dom_element);
    mapEl.addTypeControl(mapType=all_map_types);
    mapEl.setMapType(default_map_type);
    if (lat !=0 && lon !=0) {
        mapEl.addOverlay(new YMarker(center_point));
        mapEl.drawZoomAndCenter(center_point);
    }
    else {
        centerMapToLocation(address);
        mapEl.setZoomLevel(14);
    }


/////////////////////////////////////////
// functions used for object edit pages//
/////////////////////////////////////////

    function centerMapToLocation(address, callback) {
        mapEl.drawZoomAndCenter(address);
        YEvent.Capture(mapEl, mapEl.getEventsList().endMapDraw, function(){
            mapEl.removeMarkersAll();
            var map_center = mapEl.getCenterLatLon();
            var center_location = new YGeoPoint(map_center.Lat, map_center.Lon);
            mapEl.addOverlay(new YMarker(center_location));
            if (callback) {
                callback(center_location.Lat, center_location.Lon);
            }
        });
    }

    function centerMapToCoordinates(lat, lon) {
            var point = new YGeoPoint(lat, lon);
            mapEl.removeMarkersAll();
            mapEl.addOverlay(new YMarker(point));
            mapEl.drawZoomAndCenter(point);
        }

    function enableMouseMarkers(callback) {
        YEvent.Capture(mapEl, EventsList.MouseClick, function(_e, _c){
            var mapCoordCenter = mapEl.convertLatLonXY(mapEl.getCenterLatLon());
            mapEl.removeMarkersAll();
            var currentGeoPoint = new YGeoPoint( _c.Lat, _c.Lon );
            mapEl.addMarker(currentGeoPoint);
            callback(currentGeoPoint.Lat, currentGeoPoint.Lon);
        });
    }

    function addAdditionalMapControls() {
        mapEl.addZoomLong();
        mapEl.addPanControl();
    }
    // needed for Google Maps because of display: none bug
    // not needed here but placed to preserve map independent functionality
    function fixMapDisplay(){return;}
</script>
