body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-color: #FFFFFF;
	margin: 0; padding: 0;
}

/* general items */
a img {
	border: none;
}
a:visited {
	color: #000066;
}
p {
	line-height: 1.5;
	margin-top: 0.2em;
}
dt {
	font-weight: bold;
}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] {
	background-color: #FFFFFF;
	color: #000000;
	border-left:1px solid #BBBBBB;
	border-top:1px solid #BBBBBB;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	padding: 0.1em 0.4em;
	/*margin: 0em 0.3em;*/
	font-size: 12px;
	line-height: 12px;
	vertical-align: 2px;
}

hr {
	clear: both;
}

/* containers */
#outer_wrapper {
	margin: 0; padding: 0;
}
#wrapper {
	margin: 0; padding: 0;
}
#container {
	height: auto;
	margin: 0;
	color: #333;
}

/* header */
#header {
    overflow: hidden;
	padding: 0;
	margin: 0;
}
#header img {
	margin: 0;
	padding:5px 0 0 10px;
}

/* center content */
#middle_port {
	margin: 0 0  0 0.8%;
	padding: 0 0 10px 0;
	width: 81%;
	float: left;
	font-size: 90%;
}
* html #middle_port {
	height: 580px;
}
#middle_port dt {
	padding: 0.3em 0;
}
#center_content {
	white-space: normal;
	float: left;
	background: #fff;
	overflow-x: auto;
	width: 99%;
}
.center_portlet {
	margin-bottom: 10px;
}
.center_portlet .center_portlet_title {
	background: #f0f5fb;
	color:#4e7cb0;
	border-bottom: 3px solid #bacee7;
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 1.2em;
	line-height: 2;
	padding-left:0.3em;
}
.center_portlet .center_portlet_content {
	line-height: 1.3;
	font-size: 0.9em;
}
.center_portlet .center_portlet_content ul {
	list-style-type: none;
	list-style-image: none;
	padding-left: 0;
	margin: 0;
}
.center_portlet .center_portlet_content ul li {
	padding: 0.3em 0;
	margin: 0.2em 0;
}

/* left column */
#left_port {
	margin: 0;
	padding: 0;
	width: 17%;
	float: left;
}
.left_portlet {
	padding: 5px 5px 0 5px;
	margin: 0 5px 5px 5px;
	background: 0;
	border: 1px solid #ccc;
}
.left_portlet .left_portlet_title {
	border-bottom: 1px solid #dce8f6;
	background: #f0f5fb;
	padding: 0.8em 0.5em 0.8em 0.5em;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}
.left_portlet .left_portlet_title span, .left_portlet .left_portlet_title a {
	font-family:Arial,Verdana,sans-serif;
	font-size:1.1em;
	font-weight:bold;
}
.left_portlet .left_portlet_title a {
	text-decoration: none;
	font-weight: bold;
	color: #222;
}
.left_portlet .left_portlet_content ul li img{
	float: left;
	margin: 0 10px 0 0;
}
.left_portlet .left_portlet_content {
	padding: 0 0.2em 0.2em 0.2em;
}
.left_portlet ul {
	background:  #f0f5fb;
	list-style-type: none;
	list-style-image: none;
	padding-left: 0;
	margin: 0 0 5px 0;
}
.left_portlet ul li{
	display: block;
	width: 98%;
	padding: 0.3em;
	color: #084173;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 1.3;
	vertical-align: bottom;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #dce8f6;
	display: inline-block; /* fix for IE peek-a-boo bug */
}
.left_portlet ul li:hover {
	background: #fff;
}
.left_portlet ul li a {
	font-weight: normal;
	text-decoration: underline;
	color: #44464B;
	padding: 3px 6px 3px 0;
	border: none;
	margin: 0px;
}
.left_portlet ul li a:hover {
	color: #354b64;
	text-decoration: underline;
}

/**
 * Main sections
*/
.expand-toggle{
	float: right !important;
	vertical-align: middle;
	cursor: pointer;
}

/* right column */
#right_port {
	float: left;
	width: 20%;
	margin: 0 0 10px 0.8%;
	background: #ffffff;
	white-space: normal;
}

.right_portlet {
	float: left;
	margin: 0 0 5px 0;
	padding: 0 7px 7px 7px;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	overflow-x: auto;
}
.right_portlet .right_portlet_title {
	background: #f0f5fb;
	padding: 0.8em 0.5em 0.2em 0.5em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: Arial ,Verdana , sans-serif;
	font-weight: bold;
	margin-top: 7px;
}
.right_portlet .right_portlet_title a {
	text-decoration: none;
	color: #222;
}
.right_portlet .right_portlet_content {
	font-size: 85%;
	background: #f0f5fb;
}
* html .right_portlet {
	width: auto;
}
.right_portlet ul {
	background: #fff;
	list-style-type: none;
	list-style-image: none;
	padding-left: 0;
	margin: 0;
}
.right_portlet ul li{
	padding: 0.3em;
	background: #f0f5fb;
	color: #084173;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 100%;
	vertical-align: bottom;
	margin: 0;
	display: block;
}
* html .right_portlet li{
	display: inline-block; /* fix for IE peek-a-boo bug */
}
.right_portlet ul li strong{
	line-height:1.1;
	padding: 0 0 0 0.5em;
	font-size: 110%;
}
.right_portlet ul li:hover {
	background: #fff;
}
.right_portlet ul li a {
	font-weight: normal;
	text-decoration: underline;
	color: #44464B;
	padding: 0 6px 3px 20px;
	border: none;
	margin: 0 0 0px 0;
	line-height: 1.6;
}
.right_portlet ul li a:hover {
	color: #000;
}
.right_portlet ul li img {
	float: left;
	position: relative;
	top: 4px;
}
.right_portlet .right_portlet_content ul li span.postedon {
	font-size: 0.9em;
}

/* footer */
#footer {
	margin: 1em 0 1em 0;
	clear: both;
	vertical-align: middle;
	padding: 1.6em;
	background: #f0f5fb;
	border-top: 1px solid #9abee9;
	border-bottom: 1px solid #9abee9;
	font-size: 0.9em;
}
#poweredby {
	float: right;
	display: block;
	width: 85px;
	height: 49px;
	text-indent: -9999px;
	background: url(misc_/Naaya/powered.gif) no-repeat;
	position: relative;
	bottom: 16px;
}
* html #footer {
	padding: 0.5em 1em 1em 1em;
}
.footer_menu {
	margin: 0; padding: 0;
}
.footer_menu a {
	color: #09243c;
	text-decoration: none;
	padding: 0 10px 0 5px;
	font-size: 0.9em;
}
.footer_menu a:hover {
	color: #44464B;
	text-decoration: underline;
}

/* site title and subtitle */
#toptitle {
	margin: 0 1.5em;
	padding: 0.5em;
	font-family: "Trebuchet MS";
	float: left;
}
.page_title {
	color: #ffffff;
	font-size:1.6em;
	font-weight:bold;
	line-height:2em;
}
.page_subtitle {
	color: #ffffff;
	font-size:1.2em;
	font-weight:bold;
	line-height:1.4em;
}

/* change language links */
#language {
    float:right;
    margin-right: 0.7em;
    white-space: nowrap !important;
    color: #333;
    /*padding: 0.3em 0.2em 0 0;*/
    position: relative;
    padding-top: 0.1em;
}
#language span {
    font-size:0.75em;
}
#language a {
    display: block;
    width: 31px;
    height: 23px;
    line-height: 23px;
    font-size: 11px !important;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-weight: normal;
    float: left;
}
#language form{
    display:inline;
}

/* topmost links list(s) */
#topnav {
	margin: 0; padding: 0 0 0 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	line-height: 1em;
}
#topnav ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
#topnav li {
	margin-right: 1em;
	padding:0;
	display: inline;
}
#topnav li a, #topnav a {
	text-transform: uppercase;
	line-height: 2.9em;
	color: #333;
	text-decoration: none;
}
#topnav li a:hover {
	text-decoration: underline;
	color: #354b64;
}
* html #topnav li a, #topnav a {
	zoom: 1;
}

/* main navigation menu */
#menunav {
	width: 100%;
	height: 3.8em;
	padding: 2px 0 0 0;
	white-space: nowrap;
	font-size: 0.8em;
}
#menunav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#menunav li {
	float: left;
	position: relative;
	text-transform: uppercase;
	padding: 0 0.5em;
	color: #feffff;
	z-index: 11; /* Bug in IE6, IE7 */
}
* html #menunav li {
	width: 1.5em;
}
#menunav li a, #menunav li a:link, #menunav li a:visited {
	display: block;
	text-decoration: none;
	padding: 0.1em 0.5em;
	color: #09243c;
	height: 2.6em;
	line-height: 2.7em;
}
* html #menunav li a {
	font-size: 0.95em;
}

/* search box */
#search {
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}
#search input {
	border: 1px solid #b4d0ef;
	color: #555;
	width: 13em;
}

#breadcrumbtrail {
	clear: both;
	line-height: 2em;
	overflow: hidden;
}
#breadcrumbtrail a {
	font-size: 0.85em;
	text-decoration: none;
	color:#3e5976;
}
#breadcrumbtrail a:hover {
	text-decoration: underline;
	color: #000;
}

/* content items */

/* headings */
h1, h2, h3, h4 {
	font-family: "Trebuchet MS";
	font-weight: normal;
	margin: 0 0 0.5em 0;
	color:#4e7cb0;
	white-space: nowrap;
}
h1 {
	background: #f0f5fb;
	border-bottom: 4px solid #bacee7;
	font-size: 1.6em;
	line-height:1.6;
	padding:0.3em 0 0.3em 0.3em;
}
h2 {
	font-size: 1.3em;
	padding-left:0.5em;
	font-weight: bold;
	margin: 1em 0;
	color: #333;
	background: #f0f5fb;
	border-bottom: 3px solid #bacee7;
}

h3 {
	line-height: normal;
	font-size: 1.4em;
	color: #333333;
	margin-left: 0 !important;
}

/* Media file style sheet */
.flvPlayerBroken {
  width: 450px;
  overflow: auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 107%;
  font-weight: bold;
  padding: 150px 0 150px 0;
}

.flvPlayerNotReady {
  width: 450px;
  overflow: auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 107%;
  font-weight: bold;
  padding: 150px 0 150px 0;
}

.flashPlayerNotInstalled {
  width: 450px;
  overflow: auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 107%;
  font-weight: bold;
  padding: 150px 0 150px 0;
}

.skiplink {
	display: none;
}
.cleaner {
	clear: both;
}

/*	editor style	*/
.mceEditor {
	width: 600px;
	height: 250px;
}
.mceEditor-small {
	width: 300px;
	height: 150px;
}
.mceEditor-big {
	width: 700px;
	height: 400px;
}
.mceStatusbarPathText { visibility: hidden; }

#addrole-form {
	clear: left;
	padding: 1em;
}

/**
 * Google translate Widget
*/
#google_translate_element{
	display: none;
	border:1px solid #CCCCCC;
	padding:1px 4px 0 5px;
	position:absolute;
	right:5px;
	top:30px;
	background: #FFF;
}

a.goog-logo-link{
	background-image: none !important;
}

.naaya-openlayers .olControlAttribution {
	bottom: 5px;
}

.naaya-openlayers .olControlZoomPanel {
	top: 14px;
}

.naaya-openlayers .olControlZoomPanel .olControlZoomInItemInactive {
	width: 36px;
	height: 36px;
	background: url(www/zoom-in.png) no-repeat;
}

.naaya-openlayers .olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	display: none;
}

.naaya-openlayers .olControlZoomPanel .olControlZoomOutItemInactive {
	top: 38px;
	width: 36px;
	height: 36px;
	background: url(www/zoom-out.png) no-repeat;
}
