<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>
/* Required tags - to be implemented in all skins since these classes appear in the forms */

	/* errors and messages box */
	.system-msg {
	border: 1px solid black;
	padding: 1em;
	margin-bottom: 1em;
	}

	/* Operations buttons */
	.floated-buttons {
	float: left;
	margin-left: 0.5em;
	}

	.buttons a{
	font-weight: bold;
	}

	.buttons a:visited {
	color:white;
	}

	.buttons a {
	padding: 0.2em 0.4em;
	line-height:2em;;
	text-decoration: none;
	background-color: #638fbc;
	color: #ffffff;
	border-left:2px solid #EEEEEE;
	border-top:2px solid #EEEEEE;
	border-bottom:2px solid #2F6C91;
	border-right:2px solid #2F6C91;
	font-size: 90%;
	font-weight: bold;
	white-space: nowrap;
	}


	/* folder index styles */
	#admin_this_folder{
	padding: 0.5em;
	margin: 1em 0em;
	border: 1px solid #B7D2E6;
	background-color: #B7D2E6;
	text-align: left;
	text-indent: 0.3em;
	}
	
	#admin_this_folder #submission {
	font-weight: bold;
	}
	
	#admin_this_folder a,input.administrative-button,button.administrative-button {
	text-decoration: none;
	background-color: #638fbc;
	color: #ffffff;
	font-weight: normal;
	border-left:2px solid #EEEEEE;
	border-top:2px solid #EEEEEE;
	border-bottom:2px solid #2F6C91;
	border-right:2px solid #2F6C91;
	}

	#admin_this_folder a {
	line-height: 2em;
	padding:2px 0px; 
	font-size: 90%;
	}

	#admin_this_folder span {
	padding:0em 0.4em;
	margin: 0em 0.3em;
	white-space:nowrap;
	}

	#admin_this_folder img {
	vertical-align: middle;
	padding-right: 4px;
	}

	#admin_this_folder select {
	vertical-align: middle;
	}

	#toolbar{
	padding: 0.6em;
	padding-left: 0.6em;
	margin-top: 0.9em;
	background-color: #b7d2e7;
	}

	#toolbar a{
	text-decoration: none;
	}

	#toolbar input,#toolbar button,#toolbar span{
	white-space: nowrap;
	font-size: 0.85em;
	font-weight: bold;
	background-color: #e6e6e6;
	border-top: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-bottom: 1px solid #303030;
	border-right: 1px solid #303030;
	margin-right: 0.4em;
	padding:0.15em;
	padding-left: 0.3em;
	color: #333333;
	}
	#toolbar img{
	position: relative;
	top:1px;
	}

	table#folderfile_list{
	width: 98%;
	}

	#folderfile_list th{
	background-color: #eeeeee;
	padding: 0.1em;
	color: #303030;
	font-size: 0.9em;
	font-weight: normal;
	border-right: 1px solid #c7c7c7;
	}

	#folderfile_list td{
	color: #999999;
	padding: 0.4em 0.1em;
	border-bottom: 1px solid #eeeeee;
	}

	#folderfile_list .checkbox{
	vertical-align: top;
	text-align: left;
	padding-left: 0.3em;
	padding-right: 0.3em;
	}

	#folderfile_list th.checkbox{
	vertical-align: middle;
	}

	#folderfile_list .type{
	vertical-align: top;
	text-align: center;
	width: 0.5em;
	}

	#folderfile_list .type img{
	margin-top: 4px;
	}

	#folderfile_list th.type{
	vertical-align: middle;
	width: 0.5em;
	}

	#folderfile_list .title-column{
	vertical-align: middle;
	text-align: right;
	}

	td.title-column a{
	color: #0f75b3;
	}
	td.title-column a:hover{
	text-decoration: none;
	}

	#folderfile_list th.title-column{
	vertical-align: middle;
	padding-left: 0.3em;
	}

	#folderfile_list .checkin{
	vertical-align: top;
	text-align: center;
	}
	#folderfile_list th.checkin{
	vertical-align: middle;
	}

	#folderfile_list .checkout{
	vertical-align: top;
	text-align: center;
	}
	#folderfile_list th.checkout{
	vertical-align: middle;
	}

	#folderfile_list .edit{
	vertical-align: top;
	text-align: center;
	}
	#folderfile_list th.edit{
	vertical-align: middle;
	}
	
	/* Tabbed menus  */

	#tabbedmenu {
	float: left;
	width:100%;
	border-bottom: thin solid #E3E2D3;
	font-size: 1.1em;
	line-height:normal;
	margin-bottom: 1em;
	}

	#tabbedmenu ul {
	overflow:hidden;
	margin:0;
	padding:10px 10px 0;
	list-style:none;
	}
	#tabbedmenu li {
	float: left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;

	padding:0 0 0 9px;
	white-space: nowrap;
	}
	#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	}
	#tabbedmenu #currenttab {
	background-image:url("tableft_on.gif");
	}
	#tabbedmenu #currenttab a {
	text-decoration: none;
	font-weight: bold;
	background-image:url("tabright_on.gif");
	padding-bottom: 5px;
	}
	#tabbedmenu #currenttab span {
	display:block;
	text-decoration: none;
	font-weight: bold;
	background:url("tabright_on.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	}

	/* warning box for active versions of items */
	.version_box {
	background-color: #f4fff4;
	color: red;
	padding: 1em;
	float: right;
	border: 1px solid black;
	width: 200px;
	text-align: center;
	}

	/* Content translation boxes */
	.translate {
	width: 90%;
	padding:  4px 3px 4px 32px;
	margin: 2em 2%;
	background-color: #e8e8e8;
	color: #666666;
	font-size: 85%;
	font-weight: bold;
	line-height: 1.8em;
	background-image: url(translate.gif);
	background-repeat: no-repeat;
	background-position: left top;
	}

	.translate a {
	background-color: #888888;
	border: 2px solid #888888;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 4px;
	margin: 2px 0px 2px 1px;
	}

	.translate a:visited {
	color: white;
	}


	.translate .current {
	background-color: white;
	color: #444444;
	font-weight: bold;
	border-bottom: 2px solid #888888;
	border-left: 2px solid #888888;
	border-right: 2px solid #888888;
	border-top: 2px solid white;
	}

	.translate .current:visited {
	color: #444444;
	}

	.translate a:hover {
	background-color: #CCCCCC;
	color: #444444;
	}

	/* styles for forms */
	.field {
	margin-top: 1em;
	}

	.field-inline {
	margin-top: 1em;
	}

	.field label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	}

	.field-inline label {
	font-weight: bold;
	margin-bottom: 0.3em;
	}


	.field .invisible {
	display: none;
	}

	.field-inline .invisible {
	display: none;
	}

	/*	EPOZ buttons	*/
	.epoz_button_strikethrough {display:none;}
	.epoz_button_subscript {display:none;}
	.epoz_button_superscript {display:none;}
	.epoz_button_unformat {display:none;}
	.epoz_button_undo {display:none;}
	.epoz_button_redo {display:none;}

	/*  Comment box form */
	.comment_box {
	background-color:#FAFAFA; 
	border: 1px dashed #cccccc; 
	margin:1em;
	padding:1em;
	}

	.deletecomment {
	font-size: 90%;
	float:right;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	margin-bottom: 0.5em;
	/*text-indent: 17px;*/
	}

	.addcomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;
	margin-bottom: 0.5em;
	}

	.logincomment {
	font-size: 90%;
	background-color:#EBEBEB;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	padding-left: 18px;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-bottom:1px solid #777777;
	border-right:1px solid #777777;
	color:#666666;
	text-decoration: none;

	margin-bottom: 0.5em;
	}

	.commentbox_title {
	font-weight: bold;
	font-size: 110%;
	/*text-indent: 17px;*/
	padding-left: 17px;

	
	}

	.commentbox_content {
	color:#666666; 
	font-size: 80%;
	}

	.commentbox_add {
	margin: 1em;
	/*padding-left:1em;*/
	}

	.hr_addcomment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white;
	}

	.hr_inside_comment {
	border-top: 1px solid #eaeaea; 
	border-bottom:1px solid white; 
	margin-top:0.5em;
	}
	.idented_block {
	margin-right: 20px;
	}

.pick_pop_up {
	font-family:'Arabic Transparent',Verdana, arial, sans-serif;
	font-size: 80%;
}

.pick_pop_up h1 { 
	font-family: 'Arabic Transparent', Arial, Helvetica, sans-serif;
	color: #557595; 
	font-weight: bold;
	font-size: 190%;
}

.pick_pop_up p { 
background-color: #f0f0f0;
padding: 10px;
color: #444444; 
font-size: 90%;
}

.pick_pop_up td {
	padding: 1px;
}

.pick_pop_up table a {
	color: #3C6691;
}

.expand_collapse_row td {
	background-color: #F9F9F9;
	border-bottom: 3px solid white;
}

.expand_collapse_letter div {
	margin-right: 5px;
	color: #3C6691; 
	font-weight: bold;
	text-transform: capitalize;
	font-weight: 110%;
}

/* SORTABLE TABLES */
.sortable {
	font-size: 0.9em;
	line-height:normal;
}
.sortable th {
	background: #ccc;
	border: 1px outset #fff;
	margin:0;
	padding:0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: normal;
	color: black;
	padding:1px 0.5em;
}

.sortable th a:hover {
	color:white;
	background: #aaa;
}
.sortable tbody tr.zebraeven {
	background-color: white;
}

/*	TABLES WITH DUPLICATES	*/
tr.duplicate {
	color: #ff0000;
}
tr.duplicate a {
	color: #ff0000;
}
tr.not-duplicate {
}

/*	FORUM STYLE	*/
.forum_message_top a {
	margin-right: 0px;
	padding: 0px 2px 0px 3px;
	text-decoration: none;
	color: white;
	background-color: #638FBC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #416B96;
	border-bottom: 1px solid #416B96;
	position: relative;
}

.forum_message_top a:visited {
	color: white;
}
.message_top_buttons {
	float: right;
	margin-top: 2px;
	position: relative;
}

.message_top_buttons2 {
	padding: 5px;
}

.message_top_buttons2 .buttons {
	padding: 1px 3px;
}

.forum_topic {
	margin-bottom: 15px;
	border: 1px solid #eeeeee;
	padding: 5px;
	color: #333333;
}

.forum_topic a {
	color: #416B96;
}

.forum_message a:visited {
	color: #416B96;
}
.forum_topic_top {
	background-color: #eeeeee;
	padding: 2px 5px 6px 2px;
	font-size: 90%;
}

.forum_topic_author {
	padding: 10px 0 5px 4px;
	border-bottom: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_topic_content {
	margin-top: 10px;
}

.forum_topic_bottom {
	padding:5px;
	border-top: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_messages_slot {
	margin-top: 15px;
}

.forum_message {
	margin-bottom:5px;
	background-color: #F7F7F7;
}

.forum_message a {
	color: #416B96;
}

.forum_message a:visited {
	color: #416B96;
}

.forum_message_top {
	background-color:#E9E9E9;
	border-bottom: 1px solid #E4E4E4;
	padding: 2px;
	font-size: 90%;
	color: #416B96;
	position: relative;
}

.forum_message_top a {
	color: white;
}
.forum_message_top a:visited {
	color: white;
}

.forum_message_top img {
	margin-right: 3px;
	border-left: 3px solid #E4E4E4;
}

.forum_message_author {
	padding:5px;
	border-bottom:1px dashed #E4E4E4;
	font-size: 90%;
	color: #444444;
	}

.forum_message_description {
	padding: 5px;
	color: #111111;
}

.forum_message_bottom {
	padding:5px;
	border-top: 1px dashed #E4E4E4;;
	color: #666666;
	font-size: 90%;
}
/*	END FORUM STYLE	*/

/* END STYLE */
