<span tal:replace="python:request.RESPONSE.setHeader('content-type', 'text/css')"/>

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background: #ccc;
}

/* Page structure*/
#wrap {
  margin: 0 auto 7px auto;
  position: relative;
}
#header {
  background-color: #00AFCE;
  top: 0;
  left: 0;
  color: #333;
  height: 3.5em;
  padding: 10px 0 0 0;
  border-bottom: 1px solid black;
}

#content {
  color: #333;
  position: relative;
  background-color: white;
  left: 0;

}
#footer {
  clear: both;
  color: #333;
  border-top: 2px solid #666;
  background: #ccc;
  width:100%;
}

/* Site title */
#title_content a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

#title_content a:hover {
  text-decoration: underline;
}

/* Login area */
#log {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

#log div {
  float: left;
}

#connexion {
  padding-left: 10px;
}

#connexion:before {
  content:"[ ";
}

#connexion:after {
  content:" ]";
}

/* Languages */
#language {
  position:absolute;
  right:0;
  top:3.2em;
  color:white;
  font-size:9px;
  font-family: Verdana, Arial, "Sans serif";
}

#language form {
  display:inline;
}

input.langButton {
  background:transparent;
  border:1px solid white;
  height:16px;
  color:#999;
  font-size:1em;
  padding:0;
  margin:5px 1px 0 0;
  font-weight:bold;
  cursor:pointer;
  text-transform: uppercase;
  color:white;
}

.en .en, .fr-BE .fr-BE, .nl-BE .nl-BE {
  background:#039;
}

/* Back to public site buttons */
.backSite {
  width:20em;
  margin-left:1em;
  background:#ccc;
}

.backSite a {
  text-decoration:none;
  color:white;
  font-weight:bold;
  display:block;
  padding:2px;
  text-align:center;
}

.backSite {
  border:1px solid black;
  border-bottom:1px solid #ccc;
}

.backSite.top {
  background:#00AFCE;
  border-top:none;
  position:absolute;
  top:0;
  right:1em;
  border-bottom:1px solid black;
}

.backSite-bottom {
  background-color: white;
}

.floated-buttons {
  position:relative;
}

.floated-buttons a {
  position:absolute;
  top:0;
  right:1em;
  border:2px solid #666;
  display:block;
  text-align:center;
  width:10em;
  border-top:none;
  text-decoration:none;
  background:#ccc;
  font-weight:bold;
  color:#666;
}

.floated-buttons a:hover {
  background:white;
}

.floated-buttons a:visited {
  color: #000;
}

/* Subtitle (based on page type) and menu */
.right_link_portlet {
  width:100%;
  background:#ccc;
  display:inline;
}

#right_port {
  float: none;
  width: 100%;
  margin: 0;
}

#content h1 {
  clear: left;
  font-size: 150%;
  background: #ccc;
  color: #666;
  padding: 0.5em 0.5em 1em 0.5em;
  border-bottom: 2px solid #666;
  margin: 0;
}

#content p {
  margin: 3em 0.5em 0.5em 0.5em;
}

#content form p {
  margin: 0.5em;
}

#content form {
  margin: 0.5em;
  border: 2px solid #EEE;
}

#content form .field {
  padding-left: 1em;
}

#content form .field-inline {
  padding-left: 1em;
}

.translate {
  margin: 0;
  background-color: #EEE; 
}

/* Drop-down menu */
.right_link_portlet a:visited {
  color: #FFF;
}

.right_link_portlet ul {
  padding: 0;
  margin: auto;
  list-style: none;
  line-height: 1;
} /* all lists */

.right_link_portlet ul a,.right_link_portlet ul strong {
  display: block;
  text-decoration:none;
  color:white;
  padding:2px 3px;
  font-size:1.2em;
}

.right_link_portlet ul ul strong {
  background:#666 url(http://www.biodiv.be/portal_layout/littlemouse/littlemouse/fleche_droite.png) no-repeat right center;
}

.right_link_portlet ul li {
  float: left;
  margin:0 0 1px 3px;
  display:block;
  background:#666;
  color:white;
  font-size:90%;
} /* all list items */

.right_link_portlet ul li ul {
  position: absolute;
  background: transparent;
  width: 11em;
  display:block;
  left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */ 
} /* second-level lists */

.right_link_portlet ul li ul ul {
  margin: -1em 0 0 10em;
} /* third-and-above-level lists */

.right_link_portlet li li {
  border:1px solid black;
  display:block;
  width:11em;
}

.right_link_portlet ul li:hover ul ul, .right_link_portlet ul li.sfhover ul ul {
  left: -999em;
}

.right_link_portlet ul li:hover ul, .right_link_portlet ul li li:hover ul, .right_link_portlet ul li.sfhover ul, .right_link_portlet ul li li.sfhover ul {
  left: auto;
} /* lists nested under hovered list items */

.right_link_portlet a:hover,.right_link_portlet strong:hover {
  background:black;
}

.right_link_portlet .content {
  border: none;
}

/* Administration content */
#content_info {
  padding-left:1em;
}

h1 {
  clear: left;
  margin-top:4em;
  margin-bottom:1em;
  padding-top:.5em;
  font-size:150%;
}

h2 {
  font-size:125%;
  margin-bottom:.5em;
  font-weight:bold;
}

/* Common content */
p {
  margin-bottom:.8em;
}

tr {
  border-bottom:1px solid #ccc;
}

th {
  background:#eaeaea;
}

td a, th a {
  text-decoration:none;
  color:black;
}

th a {
  font-weight:bold;
}

form.clearer,p.clearer,fieldset.clearer {
  display:block;
  clear:both;
  padding-top:1em;
}

/* Add and edit pages */

/* translations */
.top_translate,.bottom_translate {
  width:790px;
  margin:0 5px;
  position:relative;
  height:2em;
  border-left:1px solid #E5EAF0;
  border-right:1px solid #E5EAF0;
}

.top_translate {
  border-top:1px solid #E5EAF0;
}

.bottom_translate {
  border-bottom:1px solid #E5EAF0;
}

.top_translate a,.bottom_translate a {
  display:block;
  float:left;
  padding: .5em 0;
  width:263px;
  text-align:center;
  border-left:1px solid #E5EAF0;
}

a#top_en,a#bottom_en {
  border-left:none;
}

.top_translate strong a {
  width:262px;
  background:#E5EAF0;
  border-bottom-color:#E5EAF0;
}

.bottom_translate strong a {
  width:262px;
  background:#E5EAF0;
  border-top-color:#E5EAF0;
}

#formEdit .translate li {
  background:white;
  display:block;
  position:absolute;
}

#formEdit .translate li a {
  text-align:center;
  display:block;
  padding:.5em 0;
  text-decoration:none;
  color:black;
}

#formEdit .translate li.curr_lang a {
  font-weight:bold;
  background:#E5EAF0;
}

#formEdit .en{
  width:33%;
  left:0;
}

#formEdit .fr-BE {
  width:34%;
  left:33%;
  border-left:1px solid #E5EAF0;
}

#formEdit .nl-BE {
  width:33%;
  right:0;
  border-left:1px solid #E5EAF0;
}

/* Add and edit forms */
#frmEdit,#frmAdd {
  clear:both;
  padding:.5em 0;
  width:780px;
  margin:0 5px;
  background:#E5EAF0;
  border-bottom:1px solid #E5EAF0;
  border-left:1px solid #E5EAF0;
  border-right:1px solid #E5EAF0;
  padding:5px;
}

#frmEdit {
  padding:2.5em 0;
}

#frmEdit iframe {
  width:750px!important;
  background:white;
  padding:5px;
}

#frmEdit .epoz_button_help {
  margin-right:20px!important;
}

#frmEdit label {
  font-weight:bold;
  margin:.5em 0;
  display:block;
  text-decoration:underline;
}

#frmEdit .field{
  margin-top:1em;
  margin:0 .5em;
}

#frmEdit label.invisible {
  display:none;
}

/* Add and edit content */
#edit #content {
  padding-bottom:20px;
}

#edit #content_info {
  width:98%;
  margin:1.5em auto;
}

#formEdit{
  background:#E5EAF0;
  width:100%;
  position:relative;
  border:1px solid #E5EAF0;
}

#formEdit .bottom li {
  bottom:0;
}

#formEdit .top li {
  top:0;
}

/* footer */

.bottom a {
  padding: 0.5em 1em;
}

.horizlist {
  margin: 0.5em;
}
#edit {
  padding: 10px 0;
}

/* Stuff to hide */
#leftcolumn,#banner_image,#logo,#site-subtitle,#nav2,
.skiplink,.portlet-title,
#frmEdit label.invisible,
#tabbedmenu, .tabs_firstlevel, .hr_invisible,.tabs_admin,
.edit #leftcolumn, .edit #linkgroups, .edit #search,
.add #leftcolumn, .add #linkgroups, .add #search {display:none;}

.edit_right_box {
  position: relative;
  padding-top: 0px;
  margin-top: 1em;
  width: 230px;
}

.translate_bar_right {
  position: relative;
}
