#center_content { width: 100% !important; overflow-x: visible !important;}

.skiplink {
	display: none;
}

#language {
	display: none;
}

#header {
	border: 1px solid #cccccc;
	position: relative;
	padding: 10px;
}

#header img {
	margin-left: 1%;
}

#toolribbon, #breadcrumbtrail {
	display: none;
}

#middle_port {
	margin: 1% 0%;
}

#left_port {
	display: none;
}

#right_port {
	display: none;
}

#footer {
	display: none;
}

#toptitle {
	margin-left: 20%;
	margin-top: 0.5em;
}
	
#last_modified {
	margin: 1% 0% 1% 0%;
}

#topnav {
	display: none;
}

#menunav {
	display: none;
}

#tabbedmenu {
	display: none;
}

.page_title {}
.page_subtitle {}

.b_download { display: none; }

/* Data tables */
.sortable, .datatable {
	font-family: Verdana, Avenir, Helvetica, sans-serif; 
	font-size: 10pt; 
	margin: 1em 0.5em;
	border-collapse: collapse;
	border-top:    1.5pt solid black;
	border-bottom: 1.5pt solid black;
	empty-cells: show;
}

.sortable td, .datatable td {
	border-bottom: 1pt solid black;
	padding: 0.3em;
}

.sortable th, .datatable th {
	color: black;
	font-weight: bold; 
	text-align: center;
	border-bottom: 2pt solid black;
	padding: 0.3em;
}

.sortable th.scope-row, .datatable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: left;
	border-bottom: 1pt solid black;
}

.sortable th[scope="row"], .datatable th[scope="row"] {
	text-align: left;
	border-bottom: 1pt solid black;
}

table .number {
	text-align: right;
}

table .center {
	text-align: center;
}

table .sum {
	font-weight: bold;
}

/* Data tables */
.datatable caption {
	font-weight: bold;
}
.datatable th {
	text-align: center;
	background-color: #f6f6f6;
	font-weight: bold;
/*	border-top:    1px solid white;*/
	border-bottom: 2px solid white;
}
.datatable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: right;
	vertical-align:top;
}
.datatable th[scope="row"] {
	text-align: right;
	vertical-align:top;
}

.datatable td, .datatable th  {
	margin:0;
	padding: 0.3em;
	vertical-align: top;
}
.datatable td {
/*	border-top:    2px solid #f6f6f6;*/
	border-bottom: 2px solid #f6f6f6;
}
/*
.datatable tr.zebraeven {
	background-color: #f6f6f6;
}
*/
/*
.datatable tr:hover, .datatable tr:hover th {
	background-color: #e4f1bc;
}
*/
table.datatable {
	border: 1px solid #b6b6b6;
	color: #666666;
	margin: 1em 0em;
}