/* IE 9 HACKS */

#footer {
  margin-bottom: 40px;
}

body .image-details {
  height: 20px;
}

body .image-details label {
  background: #fff;
  display: inline-block;
}

body .thumbnail-layout {
  margin-top: 1em;
}