.hidden{
    display: none;
}


/**
 * Account Datatable
*/

table.account-datatable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #D6D6D6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

table.account-datatable tr,
table.account-datatable td {
	padding: 0.5em;
}

table.account-datatable tr td div.arrow {
    width: 10px;
    display: inline-block;
    height: 16px;
    padding: 0;
    margin: 0;
    background: transparent url('++resource++naaya.groupware.profileoverview/arrows.gif') no-repeat -4px 0px;
}

table.account-datatable tr.expanded td div.arrow {
    background-position: -20px 0px;
}

table.account-datatable tr td div.arrow_placeholder{
    width: 10px;
    display: inline-block;
    height: 16px;
}

table.account-datatable tr.top{
        display: table-row;
}

table.account-datatable tbody td {
	border: 1px solid #D6D6D6;
}

table.account-datatable thead {
	background-color: #F2F2F2 !important;
	color: #666666 !important;
	padding: 0.5em !important;
	/* Mozilla: */
	background: -moz-linear-gradient(top, #EFEFEF, #e8eaeb);
	/* Chrome, Safari:*/
	background: -webkit-gradient(linear,
		left top, left bottom, from(#F7F7F7), to(#E4E5E5));
	/* MSIE */
	filter: progid:DXImageTransform.Microsoft.Gradient(
		StartColorStr='#F7F7F7', EndColorStr='#E4E5E5', GradientType=0);
	-moz-box-shadow: 0 1px 2px #999999;
	-webkit-box-shadow: 0px 1px 2px #999999;
	
	/* text shadow - needed for Internet explorer */
	height: 1em;
	filter: Shadow(Color=#EFEFEF, 
				   Direction=135, 
				   Strength=5);
	/* Needed for Gecko */
	line-height: 2em;
	white-space: nowrap;
	text-shadow: #FFFFFF 0px 1px 0px;
	font-weight: bold;
}

/*f8 -> f6*/

table.account-datatable thead td {
	text-align: left;
}

table.account-datatable tr.odd {
	background-color: #F0F0F0 !important;
	color: #333333 !important;
	padding: 0.5em !important;
	/* Mozilla: */
	background: -moz-linear-gradient(top, #FCFCFC, #F6F6F6);
	/* Chrome, Safari:*/
	background: -webkit-gradient(linear,
		left top, left bottom, from(#FCFCFC), to(#F6F6F6));
	/* MSIE */
	filter: progid:DXImageTransform.Microsoft.Gradient(
		StartColorStr='#FCFCFC', EndColorStr='#F6F6F6', GradientType=0);
}

table.account-datatable tr.even {
	background-color: #FFFFFF;
}


/* custom for profile overview */

/* ig list */
div.see_more{
    text-align: right;
    font-size: 11px;
}

div.notif_type_label{
    font-size: 10px;
    display: inline-block;
    height: 21px;
    color: white;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.instant{
    background-color: #AA0000;
}

div.daily{
    background-color: #660000;
}

div.weekly{
    background-color: #006600;
}

div.monthly{
    background-color: #000066;
}

div.administrative{
    color: black;
    background-color: yellow;
}
