/* forum styles */

.forum_message_top a {
	margin-right: 0px;
	padding: 0px 2px 0px 3px;
	text-decoration: none;
	color: white;
	background-color: #638FBC;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #416B96;
	border-bottom: 1px solid #416B96;
	position: relative;
}

.forum_message_top a:visited {
	color: white;
}
.message_top_buttons {
	float: right;
	margin-top: 2px;
	position: relative;
}

.message_top_buttons a, .message_top_buttons a:visited {
	padding: 0.1em 0.5em 0.1em 0.5em;
	color: white !important;
}

.message_top_buttons2 {
	padding: 0.7em;
}

.message_top_buttons2 a, .message_top_buttons2 a:visited {
	padding: 0.2em 1em 0.2em 1em;
	color: white !important;
}

.forum_topic {
	margin-bottom: 1.5em;
	border: 1px solid #447385; /*#8ca981;*/
	padding: 5px;
	color: #333333;
	background-color: #eeece9;
}

.forum_topic a {
	color: #416B96;
}

.forum_message a:visited {
	color: #416B96;
}
.forum_topic_top {
	background-color: #eeeeee;
	padding: 2px 5px 6px 2px;
	font-size: 90%;
}

.forum_topic_author {
	padding: 10px 0 5px 4px;
	border-bottom: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_topic_content {
	margin-top: 10px;
}

.forum_topic_bottom {
	padding:5px;
	border-top: 1px dashed #dddddd;
	font-size: 90%;
}

.forum_messages_slot {
	margin-top: 15px;
}

.forum_message {
	margin-bottom:5px;
	background-color: #F7F7F7;
}

.forum_message a {
	color: #416B96;
}

.forum_message a:visited {
	color: #416B96;
}

.forum_message_top {
	background-color:#E9E9E9;
	border-bottom: 1px solid #E4E4E4;
	padding: 2px;
	font-size: 90%;
	color: #416B96;
	position: relative;
}

.forum_message_top a {
	color: white;
}
.forum_message_top a:visited {
	color: white;
}

.forum_message_top img {
	margin-right: 3px;
	border-left: 3px solid #E4E4E4;
}

.forum_message_author {
	padding:5px;
	border-bottom:1px dashed #E4E4E4;
	font-size: 90%;
	color: #444444;
	}

.forum_message_description {
	padding: 5px;
	color: #111111;
}

.forum_message_bottom {
	padding:5px;
	border-top: 1px dashed #E4E4E4;
	color: #666666;
	font-size: 90%;
}

/* end forum styles */
